{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Handy-Nummer editieren{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: 'Handy-Nummer editieren' },
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                Handy-Nummer editieren
            </h1>
        </div>
    </div>

    <div class="row">
        {% if app.getUser().phoneNumberVerified %}
        <div class="col-md-12">
            {% else %}
            <div class="col-md-8">
                {% endif %}
                {{ form_start(phoneNumberForm) }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3{% if form_errors(phoneNumberForm.phoneNumber) %} has-error has-feedback{% endif %}">
                            <label class="form-label" for="">Deine Handy-Nummer:</label>
                            {{ form_widget(phoneNumberForm.phoneNumber, { 'attr' : { 'class': 'form-control' } }) }}

                            {% if form_errors(phoneNumberForm.phoneNumber) %}
                                <div class="invalid-feedback d-block">
                                    {{ form_errors(phoneNumberForm.phoneNumber) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success float-end">
                            Speichern
                        </button>
                    </div>
                </div>
                {{ form_end(phoneNumberForm) }}
            </div>

            {% if not app.getUser().phoneNumberVerified %}
                <div class="col-md-4">
                    {{ form_start(verificationForm) }}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3{% if form_errors(verificationForm.verificationNumber) %} has-error has-feedback{% endif %}">
                                <label class="form-label" for="">Dein Verifikationscode:</label>
                                {{ form_widget(verificationForm.verificationNumber, { 'attr' : { 'class': 'form-control', 'maxlength': 6 } }) }}

                                {% if form_errors(verificationForm.verificationNumber) %}
                                    <div class="invalid-feedback d-block">
                                        {{ form_errors(verificationForm.verificationNumber) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success float-end">
                                Überprüfen
                            </button>
                        </div>
                    </div>
                    {{ form_end(verificationForm) }}
                </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}
