{% extends 'Template/StandardTemplate.html.twig' %}

{% set bootstrap4 = true %}

{% import 'Help/_macro.html.twig' as categoryMacro %}

{% block title %}{{ mainCategory.title }}{% endblock %}

{% block breadcrumb %}
    <li class="active">
        {{ mainCategory.title }}
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>
                    {{ mainCategory.title }}
                </h1>

                {% if mainCategory.intro %}
                    <p class="lead">
                        {{ mainCategory.intro }}
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-8 offset-2">
                {{ categoryMacro.renderCategory(mainCategory) }}
            </div>
        </div>
    </div>
{% endblock %}
