{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Kennwort ändern{% endblock %}

{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block breadcrumb %}
    {{ bootstrap.breadcrumb_item('Dein Benutzerkonto', path('criticalmass_user_usermanagement')) }}
    {{ bootstrap.breadcrumb_item('Kennwort ändern', '', true) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h2>
                    Kennwort ändern
                </h2>

                <p class="lead">
                    Ändere hier dein Kennwort. Ein sicheres Kennwort besteht, wie dir sicher schon auf Dutzenden Webseiten erklärt wurde, aus Groß- und Kleinbuchstaben mit ein paar eingestreuten Ziffern und Sonderzeichen.
                </p>
            </div>
        </div>

        {% if app.user.oauthAccount %}
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="alert alert-info" role="alert">
                        Du kannst dein Kennwort nicht ändern, weil du dich über ein soziales Netzwerk bei
                        criticalmass.in anmeldest.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 text-center">
                    <a class="btn btn-secondary" href="{{ path('criticalmass_user_usermanagement') }}">
                        Zurück
                    </a>
                </div>
            </div>
        {% else %}

            {{ form_start(form) }}

            {{ form_errors(form) }}

            <div class="row">
                <div class="col-12 col-md-4 offset-md-2">
                    <div class="card">
                        <div class="card-header">
                            Dein aktuelles Kennwort
                        </div>
                        <div class="card-body form-group">
                            <label class="control-label" for="fos_user_change_password_form[current_password]">
                                Dein aktuelles Kennwort:
                            </label>

                            {{ form_widget(form.current_password, { attr: { class: 'form-control' } }) }}

                            <p>
                                Falls du dein Kennwort vergessen haben solltest, kannst du dir <a href="{{ path('fos_user_resetting_request') }}">ein neues zusenden lassen</a>.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Dein neues Kennwort
                        </div>
                        <div class="card-body form-group">
                            <label class="control-label" for="fos_user_change_password_form[new][first]">
                                Dein neues Kennwort:
                            </label>

                            {{ form_widget(form.plainPassword.first, { attr: { class: 'form-control' } }) }}

                            <label class="control-label" for="fos_user_change_password_form[new][second]">
                                Gleich noch einmal:
                            </label>

                            {{ form_widget(form.plainPassword.second, { attr: { class: 'form-control' } }) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 form-group">
                    <div class="btn-group pull-right">
                        <a class="btn btn-secondary" href="{{ path('criticalmass_user_usermanagement') }}">
                            Abbrechen
                        </a>

                        <button type="submit" class="btn btn-primary">
                            <i class="far fa-user-lock"></i>
                            Kennwort ändern
                        </button>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}
