{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'calendar.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.active('calendar.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    {% set month = calendr_month(dateTime|date('Y'), dateTime|date('m')) %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ 'calendar.heading'|trans }}
                </h1>

                <p class="lead">
                    {{ 'calendar.lead'|trans }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h3>
                    {{ dateTime|format_date('MMMM YYYY') }}
                </h3>
            </div>
        </div>

        {% include('Calendar/_pagination.html.twig') with { 'previousMonth': previousMonth, 'nextMonth': nextMonth } %}

        <div class="row">
            <div class="col-md-12">
                <table id="calendar"
                       class="calendar"
                       data-controller="calendar">

                    <thead>
                    <tr>
                        <th width="14%">{{ 'calendar.monday'|trans }}</th>
                        <th width="14%">{{ 'calendar.tuesday'|trans }}</th>
                        <th width="14%">{{ 'calendar.wednesday'|trans }}</th>
                        <th width="14%">{{ 'calendar.thursday'|trans }}</th>
                        <th width="14%">{{ 'calendar.friday'|trans }}</th>
                        <th width="14%">{{ 'calendar.saturday'|trans }}</th>
                        <th width="14%">{{ 'calendar.sunday'|trans }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for week in month %}
                        <tr>
                            {% for day in week %}
                                {% if month.includes(day) %}
                                    <td class="day">
                                        <div class="day-number">
                                            {{ day.format('d') }}
                                        </div>

                                        <ul class="ride-list list-unstyled"
                                            data-calendar-target="rideList">
                                            {% for event in calendr_events(day) %}
                                                {% set ride = event.ride %}
                                                {% include 'Common/Ride/simple_city_time_list_item.html.twig'
                                                    with { ride: ride } %}
                                            {% endfor %}
                                        </ul>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

        {% include('Calendar/_pagination.html.twig') with { 'previousMonth': previousMonth, 'nextMonth': nextMonth } %}
    </div>
{% endblock %}
