{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Chat{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if app.getUser() %}
                <h1>
                    Hej {{ app.getUser().username }}!
                </h1>
                <p class="lead">
                    Gerade unterwegs? Unterhalte dich mit anderen Teilnehmern deiner Masse.
                </p>
                {% elseif anonymousName %}
                <h1>
                    Hej {{ anonymousName.name }}!
                </h1>
                <p class="lead">
                    Gerade unterwegs? Unterhalte dich mit anderen Teilnehmern deiner Masse. Falls dir dein automatisch gewählter Chat-Name nicht gefällt, kannst du dich <a href="{{ path('fos_user_registration_register') }}">registrieren</a> und dir einen schöneren Namen aussuchen.
                </p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <ul id="messages" class="list-unstyled">
                {% for post in recentMessages %}
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=64" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ post.user.username }}</h4>
                                {{ post.message }}
                                <small style="display: block;">{{ post.dateTime|date('d.m.Y H:i:s') }}&nbsp;Uhr</small>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>

            <div class="col-md-4">
                <form class="form-inline" action="">
                    <div class="form-group">
                        <input id="m" class="form-control" autocomplete="off" />
                        <button class="btn btn-success">
                            Absenden
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        CriticalMass.loadModule('ChatPage', null, null, function(chatPage) {
            {% if app.getUser() %}
            chatPage.setUserToken('{{ app.getUser().token }}');
            {% else %}
            chatPage.setAnonymousNameId(3);
            {% endif %}

            chatPage.startChat();
        });
    </script>
{% endblock %}
