{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Chat{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {% if app.getUser() %}
                <h1>
                    Hej {{ app.getUser().username }}!
                </h1>
                <p class="lead">
                    Gerade unterwegs? Unterhalte dich mit anderen Teilnehmern deiner Masse.
                </p>
                {% elseif anonymousName %}
                <h1>
                    Hej {{ anonymousName.name }}!
                </h1>
                <p class="lead">
                    Gerade unterwegs? Unterhalte dich mit anderen Teilnehmern deiner Masse. Falls dir dein automatisch gewählter Chat-Name nicht gefällt, kannst du dich <a href="{{ path('fos_user_registration_register') }}">registrieren</a> und dir einen schöneren Namen aussuchen.
                </p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form class="" action="">
                    <div class="form-group">
                        <input id="m" class="form-control" autocomplete="off" placeholder="Deine Nachricht…" />
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ul id="messages" class="list-unstyled">
                {% for post in recentMessages %}
                    {% if post.user %}
                        {% set username = post.user.username %}
                        {% set gravatarUrl = gravatarUrl(post.user) %}
                    {% else %}
                        {% set username = post.anonymousName.name %}
                        {% set gravatarUrl = 'http://www.gravatar.com/avatar/?d=identicon&s=64' %}
                    {% endif %}

                    <li class="margin-bottom-medium">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object img-circle" src="{{ gravatarUrl }}" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ username }}</h4>
                                {{ post.message }}
                                <small style="display: block;">{{ post.dateTime|date('d.m.Y H:i:s') }}&nbsp;Uhr</small>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        CriticalMass.loadModule('ChatPage', null, null, function(chatPage) {
            {% if app.getUser() %}
            chatPage.setUserToken('{{ app.getUser().token }}');
            {% else %}
            chatPage.setAnonymousNameId({{ anonymousName.id }});
            {% endif %}

            chatPage.startChat();
        });
    </script>
{% endblock %}
