{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Login{% endblock %}

{% block breadcrumb %}
    <li class="active">Login</li>
{% endblock %}

{% block content %}
    <div class="container">
        {% if error %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="alert alert-danger alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Einloggen und losfahren!</h1>

                <p class="lead">
                    Hier kannst du dich mit deinem criticalmass.in-Benutzerkonto einloggen. Gültig sind alle
                    Benutzerkonten, die seit Anfang 2013 registriert worden sind. Falls du dein Kennwort vergessen hast,
                    kannst du dir <a href="{{ path('fos_user_resetting_request') }}">ein neues zusenden lassen</a>. Und
                    falls du noch kein Benutzerkonto hast, kannst du dich <a
                            href="{{ path('fos_user_registration_register') }}">hier registrieren</a>.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Soziale Netzwerke
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p>
                                    Logge dich über eines dieser sozialen Netzwerke ein &mdash; es dauert nur einen
                                    Klick!
                                </p>

                                <div class="btn-group" role="group" aria-label="...">
                                    <a class="btn btn-default" style="background-color: rgb(60, 90, 150); color: white;"
                                       href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}"
                                       title="Sign in with Facebook">
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        Facebook
                                    </a>
                                    <a class="btn btn-default" style="background-color: rgb(249, 77, 31); color: white;"
                                       href="{{ path('hwi_oauth_service_redirect', {'service': 'strava' }) }}"
                                       title="Sign in with Strava">
                                        <i class="fab fa-strava" aria-hidden="true"></i>
                                        Strava
                                    </a>
                                    <a class="btn btn-default"
                                       style="background-color: rgb(57, 201, 214); color: white;"
                                       href="{{ path('hwi_oauth_service_redirect', {'service': 'runkeeper' }) }}"
                                       title="Sign in with Runkeeper">
                                        <i class="fab fa-runkeeper" aria-hidden="true"></i>
                                        Runkeeper
                                    </a>
                                    <a class="btn btn-default"
                                       style="background-color: rgb(29, 161, 242); color: white;"
                                       href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}"
                                       title="Sign in with Twitter">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                        Twitter
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        E-Mail-Adresse
                    </div>
                    <div class="panel-body">
                        <form action="{{ path("fos_user_security_check") }}" method="post" role="form"
                              class="form-horizontal">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                            <div class="row">
                                <div class="col-md-12">
                                    <label for="username" class="control-label">
                                        Dein Benutzername:
                                    </label>
                                    <input type="text" class="form-control" id="username" name="_username"
                                           value="{{ last_username }}"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label for="password" class="control-label">
                                        Dein Kennwort:
                                    </label>
                                    <input type="password" class="form-control" id="password" name="_password"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="checkbox control-group">
                                        <label for="remember_me">
                                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                            eingeloggt bleiben
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button type="submit" id="_submit" name="_submit" class="btn btn-primary">
                                        <i class="far fa-bicycle"></i>
                                        Einloggen
                                    </button>
                                </div>
                            </div>

                            <div class="row margin-top-medium">
                                <div class="col-md-12 text-center">
                                    <a href="{{ path('fos_user_resetting_request') }}">
                                        Kennwort vergessen?
                                    </a>
                                    <a href="{{ path('fos_user_registration_register') }}">
                                        Oder jetzt registrieren?
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
