<div class="card border-0 shadow-sm mb-3">
    <div class="card-body">
        <div class="row">
            {{ include('Timeline/_includes/user_column.html.twig') }}

            <div class="col-9 col-md-10">
                <p class="mb-2">
                    <strong>{{ item.user.username }}</strong>
                    hat eine Stadt editiert:
                </p>

                <h5 class="mb-3">
                    <a href="{{ object_path(item.city) }}" class="text-decoration-none">
                        {{ item.cityName }}
                    </a>
                </h5>

                {% if item.city.latitude and item.city.longitude %}
                    <div class="rounded overflow-hidden"
                         id="map-{{ item.uniqId }}"
                         data-controller="map--map"
                         style="height: 150px;"
                         data-map--map-center-latitude-value="{{ item.city.latitude }}"
                         data-map--map-center-longitude-value="{{ item.city.longitude }}"
                         data-map--map-zoom-value="13"
                         data-map--map-lock-map-value="true"
                         data-map--map-marker-latitude-value="{{ item.city.latitude }}"
                         data-map--map-marker-longitude-value="{{ item.city.longitude }}"
                         data-map--map-marker-type-value="city"
                         data-map--map-vector-value="false">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
