<div class="card border-0 shadow-sm mb-3">
    <div class="card-body">
        <div class="row">
            {{ include('Timeline/_includes/user_column.html.twig') }}

            <div class="col-9 col-md-10">
                <p class="mb-2">
                    <strong>{{ item.user.username }}</strong>
                    hat {{ item.postList|length }} Fotos kommentiert:
                </p>

                <h5 class="mb-3">
                    <a href="{{ object_path(item.ride) }}" class="text-decoration-none">
                        {{ item.ride.title }}
                    </a>
                </h5>

                {% for post in item.postList %}
                    <div class="row g-3 mb-3">
                        <div class="col-md-4">
                            <a href="{{ object_path(post.photo) }}#post-{{ post.id }}">
                                <img src="{{ vich_uploader_asset(post.photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}" class="img-fluid rounded" alt="" />
                            </a>
                        </div>

                        <div class="col-md-8">
                            <p class="mb-0">
                                {{ post.message|markdown }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
