<div class="card border-0 shadow-sm mb-3 timeline-item-ride{% if not item.rideEnabled %}--disabled{% endif %}">
    <div class="card-body">
        <div class="row">
            {{ include('Timeline/_includes/user_column.html.twig') }}

            <div class="col-9 col-md-10">
                <p class="mb-2">
                    <strong>{{ item.user.username }}</strong>
                    schätzt, dass {{ item.estimatedParticipants }} Radfahrer an
                    <strong>
                        <a href="{{ object_path(item.ride) }}">
                            {{ item.rideTitle }}
                        </a>
                    </strong>
                    teilgenommen haben.
                </p>

                <div class="text-center">
                    <div class="flipcounter">
                        {% set counter = item.estimatedParticipants %}

                        {% if counter < 1000 %}
                            {% set counter = 0 ~ counter %}
                        {% endif %}

                        {% if counter < 100 %}
                            {% set counter = 0 ~ counter %}
                        {% endif %}

                        {% if counter < 10 %}
                            {% set counter = 0 ~ counter %}
                        {% endif %}

                        <div class="flipbreak"></div>
                        <div class="digit">{{ counter[0:1] }}</div>
                        <div class="digit">{{ counter[1:1] }}</div>
                        <div class="digit">{{ counter[2:1] }}</div>
                        <div class="digit">{{ counter[3:1] }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
