<div class="row margin-bottom-medium timeline-item-ride{% if not item.rideEnabled %}--disabled{% endif %}">
    {{ include('Timeline/_includes/user_column.html.twig') }}

    <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
        <div class="row">
            <div class="col-md-12">
                <strong>
                    {{ item.user.username }}
                </strong>
                {{ 'timeline.photo_uploaded'|trans({ '%count%': item.counter }) }}
                <strong class="ride-title">
                    <a href="{{ object_path(item.ride) }}">
                        {{ item.ride.title }}
                    </a>
                </strong>
                {{ 'timeline.photo_uploaded_suffix'|trans }}
            </div>
        </div>

        <div class="row">
            {% for previewPhoto in item.previewPhotoList %}
            <div class="col-md-4">
                <a href="{{ object_path(previewPhoto) }}">
                    <img src="{{ vich_uploader_asset(previewPhoto, 'imageFile')|imagine_filter('gallery_photo_thumb') }}" class="img-responsive thumbnail" />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
