<div class="row margin-bottom-medium">
    {{ include('Timeline/_includes/user_column.html.twig') }}

    <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
        <div class="row">
            <div class="col-md-12">
                <strong>
                    {{ item.user.username }}
                </strong>
                hat eine Tour editiert:
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="{{ objectPath(item.ride) }}">
                    <h4>
                        {{ item.rideTitle }}
                    </h4>
                </a>
            </div>
        </div>

        {% if item.ride.latitude and item.ride.longitude %}
        <div class="row">
            <div class="col-md-12">
                <div id="map-{{ item.uniqId }}" style="height: 150px;"
                     data-map-center-latitude="{{ item.ride.latitude }}"
                     data-map-center-longitude="{{ item.ride.longitude }}"
                     data-map-zoomlevel="13"
                     data-lock-map="true"
                     data-map-marker-latitude="{{ item.ride.latitude }}"
                     data-map-marker-longitude="{{ item.ride.longitude }}"
                     data-map-marker-color="red"
                     data-map-marker-icon="fa-bicycle"
                     data-map-marker-shape="circle"
                ></div>
            </div>
        </div>

        <script type="text/javascript">
            CriticalMass.loadModule('AutoMap', 'map-{{ item.uniqId }}');
        </script>
        {% endif %}
    </div>
</div>
