<div class="row margin-bottom-medium timeline-item-ride{% if not item.enabled %}--disabled{% endif %}">
    {{ include('Timeline/_includes/user_column.html.twig') }}

    <div class="col-9 col-sm-9 col-md-10 col-lg-10">
        <div class="row">
            <div class="col-12">
                <strong>
                    {{ item.user.username }}
                </strong>
                hat eine Tour editiert:
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <a href="{{ object_path(item.ride) }}">
                    <h4>
                        {{ item.rideTitle }}
                    </h4>
                </a>
            </div>
        </div>

        {% if item.ride.latitude and item.ride.longitude %}
            <div class="row">
                <div class="col-12">
                    <div
                            id="map-{{ item.uniqId }}"
                            class="map timeline-item-ride-map"
                            data-controller="map--map"
                            style="height: 150px;"
                            data-map--map-center-latitude-value="{{ item.ride.latitude }}"
                            data-map--map-center-longitude-value="{{ item.ride.longitude }}"
                            data-map--map-zoom-value="13"
                            data-map--map-lock-map-value="true"
                            data-map--map-marker-latitude-value="{{ item.ride.latitude }}"
                            data-map--map-marker-longitude-value="{{ item.ride.longitude }}"
                            data-map--map-marker-type-value="ride">
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
