<div class="card border-0 shadow-sm mb-3">
    <div class="card-body">
        <div class="row">
            {{ include('Timeline/_includes/social_feed_item_column.html.twig') }}

            <div class="col-9 col-md-10">
                {% if item.feedItem.title %}
                    <h5 class="mb-2">
                        <a href="{{ item.feedItem.permalink }}" class="text-decoration-none">
                            {{ item.feedItem.title }}
                        </a>
                    </h5>
                {% endif %}

                <p class="text-muted mb-0">
                    <a href="{{ item.feedItem.permalink }}" class="text-decoration-none">
                        {{ item.feedItem.text|striptags|trim_intro }}
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
