<div class="card border-0 shadow-sm mb-3">
    <div class="card-body">
        <div class="row">
            {{ include('Timeline/_includes/social_feed_item_column.html.twig') }}

            {% set city = item.socialNetworkFeedItem.socialNetworkProfile.city %}

            {% if city == null %}
                {% set city = item.socialNetworkFeedItem.socialNetworkProfile.ride.city %}
            {% endif %}

            {% if item.socialNetworkFeedItem.socialNetworkProfile.network == 'twitter' %}
                <div class="col-9 col-md-10">
                    <p class="mb-2">
                        <a href="{{ object_path(city) }}">
                            <strong>{{ city.title }}</strong>
                        </a>
                        hat getwittert:
                    </p>

                    <p class="text-muted mb-0">
                        <a href="{{ item.socialNetworkFeedItem.permalink }}" class="text-decoration-none">
                            {{ item.socialNetworkFeedItem.text }}
                        </a>
                    </p>
                </div>
            {% endif %}

            {% if item.socialNetworkFeedItem.socialNetworkProfile.network == 'homepage' %}
                <div class="col-9 col-md-10">
                    <p class="mb-2">
                        <a href="{{ object_path(city) }}">
                            <strong>{{ city.title }}</strong>
                        </a>
                        hat gebloggt:
                    </p>

                    <h5 class="mb-2">
                        <a href="{{ item.socialNetworkFeedItem.permalink }}" class="text-decoration-none">
                            {{ item.socialNetworkFeedItem.title }}
                        </a>
                    </h5>

                    <p class="text-muted mb-0">
                        {{ item.socialNetworkFeedItem.text|trim_intro }}
                    </p>
                </div>
            {% endif %}

            {% if item.socialNetworkFeedItem.socialNetworkProfile.network == 'instagram_profile' %}
                <div class="col-9 col-md-10">
                    <p class="mb-2">
                        <a href="{{ object_path(city) }}">
                            <strong>{{ city.title }}</strong>
                        </a>
                        hat etwas auf Instagram veröffentlicht:
                    </p>

                    <p class="text-muted mb-0">
                        <a href="{{ item.socialNetworkFeedItem.permalink }}" class="text-decoration-none">
                            {{ item.socialNetworkFeedItem.text }}
                        </a>
                    </p>
                </div>
            {% endif %}

            {% if item.socialNetworkFeedItem.socialNetworkProfile.network == 'mastodon' %}
                <div class="col-9 col-md-10">
                    <p class="mb-2">
                        <a href="{{ object_path(city) }}">
                            <strong>{{ city.title }}</strong>
                        </a>
                        hat etwas auf Mastodon veröffentlicht:
                    </p>

                    <p class="text-muted mb-0">
                        <a href="{{ item.socialNetworkFeedItem.permalink }}" class="text-decoration-none">
                            {{ item.socialNetworkFeedItem.text|striptags }}
                        </a>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
