{% set titleHtml %}
    <div class="d-flex flex-wrap align-items-center gap-2">
        <span><strong>{{ item.user.username }}</strong> hat ein neues Diskussionsthema begonnen</span>
    </div>
{% endset %}

{% set bodyHtml %}
    <a class="text-decoration-none" href="{{ object_path(item.thread) }}">
        <h4 class="h5 mb-2 mt-2">{{ item.title }}</h4>
    </a>

    <p class="mb-0">{{ item.text|slice(0, 140)|markdown }}…</p>
{% endset %}

<div class="row mb-4">
    {{ include('Timeline/_includes/user_column.html.twig') }}

    <div class="col-9 col-md-10">
        {{ include('Timeline/_includes/timeline_card.html.twig', {
            type: 'thread-post',
            icon: 'far fa-comments',
            titleHtml: titleHtml,
            bodyHtml: bodyHtml
        }) }}
    </div>
</div>
