<!DOCTYPE html>
<html lang="en">
<head>
    {% include('CalderaCriticalmassSiteBundle:Template:Includes/_meta.html.twig') %}

    <title>{% block title %}{% endblock %} — criticalmass.in</title>

    <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/criticalmass.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/external/leaflet/leaflet-0.7.7.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/external/leaflet/extramarkers.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/external/fontawesome/fa-4.6.3.css') }}" />

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script src="{{ asset('bundles/calderacriticalmasssite/js/external/requirejs/require.js') }}"></script>
    <script src="{{ asset('bundles/calderacriticalmasssite/js/CriticalMass.js') }}"></script>

    {% block additionalHeaderElements %}{% endblock %}
</head>

<body class="{% block bodyClass %}{% endblock %}">
    {% if not app.user %}
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    {{ render(controller('CalderaCriticalmassSiteBundle:Security:loginFormModal' )) }}
                </div>
            </div>
        </div>
    {% endif %}

    {% block masterContent %}{% endblock %}

    <script src="{{ asset('bundles/calderacriticalmasssite/js/external/jquery/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('bundles/calderacriticalmasssite/js/external/bootstrap3/bootstrap.min.js') }}"></script>

    {% block additionalFooterElements %}{% endblock %}
</body>
</html>
