<nav id="navigation" class="navbar navbar-default">
    {% if fullscreen is defined and fullscreen == true %}
    <div class="container-fluid">
    {% else %}
    <div class="container">
    {% endif %}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a class="navbar-brand" href="{{ path('caldera_criticalmass_frontpage') }}">
                {% trans %}criticalmass.logoname{% endtrans %}
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="fa fa-map-marker"></i>
                        {% trans %}criticalmass.navigation.live.live{% endtrans %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('caldera_criticalmass_live') }}">
                                {% trans %}criticalmass.navigation.live.map{% endtrans %}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('caldera_criticalmass_content_display', { slug: 'glympse' }) }}">
                                {% trans %}criticalmass.navigation.live.glympse{% endtrans %}
                            </a>
                        </li>

                        <li>
                            <a href="{{ path('caldera_criticalmass_content_display', { slug: 'critical-maps' }) }}">
                                {% trans %}criticalmass.navigation.live.criticalmaps{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="fa fa-bicycle"></i>
                        {% trans %}criticalmass.navigation.criticalmass.criticalmass{% endtrans %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('caldera_criticalmass_desktop_city_list') }}">
                                {% trans %}criticalmass.navigation.cities.list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('caldera_criticalmass_region_world') }}">
                                {% trans %}criticalmass.navigation.cities.directory{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('caldera_criticalmass_calendar') }}">
                                {% trans %}criticalmass.navigation.cities.calendar{% endtrans %}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('caldera_criticalmass_content_display', { slug: 'what-is-the-mass' }) }}">
                                {% trans %}criticalmass.navigation.criticalmass.about{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('caldera_criticalmass_content_display', { slug: 'faq' }) }}">
                                {% trans %}criticalmass.navigation.criticalmass.faq{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('caldera_criticalmass_content_display', { slug: 'tipps-und-tricks' }) }}">
                                {% trans %}criticalmass.navigation.criticalmass.tips{% endtrans %}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('caldera_criticalmass_content_display', { slug: 'about-us/caldera' }) }}">
                                {% trans %}criticalmass.navigation.criticalmass.about-us{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('caldera_criticalmass_content_display', { slug: 'caldera-faq' }) }}">
                                {% trans %}criticalmass.navigation.criticalmass.caldera-faq{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="{{ path('caldera_criticalmass_statistic_overview') }}" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bar-chart"></i>
                        Statistik
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('caldera_criticalmass_statistic_overview') }}">
                                Übersicht
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('caldera_criticalmass_statistic_facebook') }}">
                                facebook-Statistiken
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="{{ path('caldera_criticalmass_board_overview') }}" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-comments"></i>
                        Community
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('caldera_criticalmass_board_overview') }}">
                                Diskussionen
                            </a>
                        </li>
                    </ul>
                </li>

                {% if app.getUser() %}

                <li class="dropdown">
                    <a href="{{ path('fos_user_security_login') }}" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        {% trans %}criticalmass.navigation.account.account{% endtrans %}
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('caldera_criticalmass_track_list') }}">
                                {% trans %}criticalmass.navigation.account.tracks{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('caldera_criticalmass_api_app_list') }}">
                                {% trans %}criticalmass.navigation.account.apps{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('caldera_criticalmass_photo_user_list') }}">
                                {% trans %}criticalmass.navigation.account.photos{% endtrans %}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                {% trans %}criticalmass.navigation.account.logout{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="{{ path('fos_user_security_login') }}">
                        <i class="fa fa-user"></i>
                        {% trans %}criticalmass.navigation.account.login{% endtrans %}
                    </a>
                </li>
                {% endif %}
            </ul>

            <form class="navbar-form navbar-right" role="search" action="{{ path('caldera_criticalmass_search_query') }}">
                <div class="form-group">
                    <input id="search-input" type="text" class="form-control" placeholder="{% trans %}criticalmass.navigation.search.search{% endtrans %}" name="query" />
                </div>
                <button type="submit" class="btn btn-success">
                    {% trans %}criticalmass.navigation.search.search{% endtrans %}
                </button>
            </form>
        </div>
    </div>
</nav>

<script type="text/javascript">
    CriticalMass.loadModule('Search', '#search-input');
</script>
