{% set city_slug = ride.city.mainSlugString %}

{% if ride.slug %}
    {% set ride_identifier = ride.slug %}
{% else %}
    {% set ride_identifier = ride.dateTime|date('Y-m-d') %}
{% endif %}

<div role="tabpanel" class="tab-pane" id="corona">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Corona-Check-In
            </h3>

            <p>
                Um im Fall des Falles eine datenschutzkonforme Kontaktverfolgung zu ermöglichen, kannst du den folgenden
                QR-Code mit der <a href="https://www.coronawarn.app/" title="zur Homepage der Corona-Warn-App">Corona-Warn-App</a>
                scannen.
            </p>

            <p>
                Am besten funktioniert es, wenn du diesen QR-Code von einem Computerbildschirm oder von einem anderen
                Smartphone scannst. Du kannst bei neueren Versionen der Corona-Warn-App den Code auch <a
                        href="https://corona-qr.criticalmass.in/{{ city_slug }}/{{ ride_identifier }}"
                        title="QR-Code herunterladen">herunterladen</a> und manuell im Check-In-Prozess öffnen.
            </p>

            <p class="text-center">
                <img src="https://corona-qr.criticalmass.in/{{ city_slug }}/{{ ride_identifier }}"
                     alt="QR-Code für den Check-In mit der Corona-Warn-App"/>
            </p>

            <p class="text-center">
                <a href="https://www.coronawarn.app/" title="zur Homepage der Corona-Warn-App">
                    <img src="{{ asset('/images/corona/cwa-small.png') }}"
                         alt="Logo der deutschen Corona-Warn-App"/>
                </a>
            </p>

            <p class="text-center">Mit der <a href="https://www.coronawarn.app/"
                          title="zur Homepage der Corona-Warn-App">Corona-Warn-App</a> kannst du helfen, die
                Verbreitung des Coronavirus zu bekämpfen.
            </p>
        </div>
    </div>
</div>
