<div role="tabpanel" class="tab-pane active" id="details">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right" style="margin-top: 16px;">
            {% if app.user %}
                <a class="btn btn-success" href="{{ objectPath(ride, 'caldera_criticalmass_ride_edit') }}" title="Tour bearbeiten">
                    <i class="fa fa-cogs"></i>
                    Tour editieren
                </a>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ objectPath(ride, 'criticalmass_socialnetwork_ride_list') }}">
                            soziale Netzwerke verwalten
                        </a>
                    </li>

                    <li>
                        <a href="{{ objectPath(ride, 'caldera_criticalmass_ride_socialpreview') }}">
                            Vorschau für soziale Netzwerke
                        </a>
                    </li>

                    {% if ride.enabled %}

                    <li class="divider">

                    </li>

                    <li>
                        <a href="#" data-toggle="modal" data-target="#disable-modal">
                            diese Tour deaktivieren
                        </a>
                    </li>
                    {% endif %}
                </ul>
            {% else %}
                <span class="btn btn-success modal-hint" data-modal-hint-title="{{ 'hint_modal.ride.edit_button.title'|trans }}" data-modal-hint-text="{{ 'hint_modal.ride.edit_button.text'|trans({'%city%': ride.city.city, '%dateTime%': ride.dateTime|date('d.m.Y')}) }}" data-hint-modal-size="md">
                    <i class="fa fa-cogs"></i> Tour editieren
                </span>
            {% endif %}
            </div>

            <h3>
                {{ ride.title }}
            </h3>
        </div>
    </div>

    {% include 'Ride/Includes/_disable.html.twig' with { 'ride': ride, 'disableForm': disableForm } %}

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-push-8">
            <div class="row">
                <div class="col-md-12">
                    {% include 'Ride/Includes/_live.html.twig' with { 'ride': ride } %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% include 'Ride/Includes/_rideDetails.html.twig' with { 'ride': ride, 'weatherForecast': weatherForecast, 'location': location } %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% include 'Ride/Includes/_socialMedia.html.twig' with { 'ride': ride } %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% include 'Ride/Includes/_statistic.html.twig' with { 'ride': ride } %}
                </div>
            </div>
        </div>

        {% if ride.description and ride.enabled %}
            <div itemprop="description" class="col-xs-12 col-sm-8 col-sm-pull-4">
                {{ ride.description|markdown }}
            </div>
        {% elseif ride.enabled %}
            <div class="col-xs-12 col-sm-8 col-sm-pull-4">
                <div class="alert alert-info">
                    <strong>Huch?</strong>
                    Schade, bislang hat noch niemand Informationen über diese Tour hinterlegt. Wenn du Lust und Zeit
                    hast, kannst du {{ ride.title }} <a href="{{ objectPath(ride, 'caldera_criticalmass_ride_edit') }}">hier editieren</a>:

                    <ul>
                        <li>
                            Gibt es ein Motto für diese Tour?
                        </li>

                        <li>
                            Gibt es irgendwelche Neuigkeiten oder Termine für den Radverkehr?
                        </li>

                        <li>
                            Oder, auch immer ganz wichtig: Wie wird das Wetter?
                        </li>
                    </ul>

                    <p class="text-center margin-top-medium">
                        <a href="{{ objectPath(ride, 'caldera_criticalmass_ride_edit') }}"
                           class="btn btn-primary btn-lg">
                            Tour editieren
                        </a>
                    </p>
                </div>
            </div>
        {% else %}
            <div class="col-xs-12 col-sm-8 col-sm-pull-4">
                <div class="alert alert-warning" id="ride-disabled-reason">
                    <p>
                        <strong>
                            Diese Tour wurde als abgesagt markiert:
                        </strong>
                    </p>

                    <p>
                    {% if ride.disabledReason == 'DUPLICATE'|enum_constant('RideDisabledReasonType') %}
                        Diese Tour ist ein Duplikat einer anderen Tour dieses Monats.
                    {% endif %}

                    {% if ride.disabledReason == 'WRONG_WEBSITE_HANDLING'|enum_constant('RideDisabledReasonType') %}
                        Diese Tour wurde mit falschen Daten angelegt.
                    {% endif %}

                    {% if ride.disabledReason == 'WRONG_AUTO_GNERATION'|enum_constant('RideDisabledReasonType') %}
                        Diese Tour wurde fehlerhafterweise automatisch generiert.
                    {% endif %}

                    {% if ride.disabledReason == 'CANCELLED_WEATHER'|enum_constant('RideDisabledReasonType') %}
                        Diese Tour wurde witterungsbedingt abgesagt.
                    {% endif %}

                    {% if ride.disabledReason == 'CANCELLED_PARTICIPANTS'|enum_constant('RideDisabledReasonType') %}
                        Diese Tour fand aufgrund geringer Teilnehmerzahlen nicht statt.
                    {% endif %}

                    {% if ride.disabledReason == 'CANCELLED_AUTHORITIES'|enum_constant('RideDisabledReasonType') %}
                        Diese Tour wurde von der Polizei oder anderen Behörden untersagt.
                    {% endif %}

                    {% if ride.disabledReason == 'CANCELLED'|enum_constant('RideDisabledReasonType') %}
                        Diese Tour wurde abgesagt.
                    {% endif %}
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
</div>
