<div role="tabpanel" class="tab-pane active" id="details">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right" style="margin-top: 16px;">
            {% if app.user %}
                <a class="btn btn-success" href="{{ objectPath(ride, 'caldera_criticalmass_ride_edit') }}" title="Tour bearbeiten">
                    <i class="fa fa-cogs"></i>
                    Tour editieren
                </a>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ objectPath(ride, 'criticalmass_socialnetwork_ride_list') }}">
                            soziale Netzwerke verwalten
                        </a>
                    </li>

                    <li>
                        <a href="{{ objectPath(ride, 'caldera_criticalmass_ride_socialpreview') }}">
                            Vorschau f端r soziale Netzwerke
                        </a>
                    </li>
                </ul>
            {% else %}
                <span class="btn btn-success modal-hint" data-modal-hint-title="{{ 'hint_modal.ride.edit_button.title'|trans }}" data-modal-hint-text="{{ 'hint_modal.ride.edit_button.text'|trans({'%city%': ride.city.city, '%dateTime%': ride.dateTime|date('d.m.Y')}) }}" data-hint-modal-size="md">
                    <i class="fa fa-cogs"></i> Tour editieren
                </span>
            {% endif %}
            </div>

            <h3>
                {{ ride.title }}
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-push-8">
            <div class="row">
                <div class="col-md-12">
                    {% include 'Ride/Includes/_live.html.twig' with { 'ride': ride } %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% include 'Ride/Includes/_rideDetails.html.twig' with { 'ride': ride, 'weatherForecast': weatherForecast, 'location': location } %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% include 'Ride/Includes/_socialMedia.html.twig' with { 'ride': ride } %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% include 'Ride/Includes/_statistic.html.twig' with { 'ride': ride } %}
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-sm-pull-4">
            {% if ride.description %}
                {{ ride.description|markdown }}
            {% else %}
                <div class="alert alert-info">
                    <strong>Huch?</strong>
                    Schade, bislang hat noch niemand Informationen 端ber diese Tour hinterlegt. Wenn du Lust und Zeit
                    hast, kannst du {{ ride.title }} <a href="{{ objectPath(ride, 'caldera_criticalmass_ride_edit') }}">hier editieren</a>:

                    <ul>
                        <li>
                            Gibt es ein Motto f端r diese Tour?
                        </li>

                        <li>
                            Gibt es irgendwelche Neuigkeiten oder Termine f端r den Radverkehr?
                        </li>

                        <li>
                            Oder, auch immer ganz wichtig: Wie wird das Wetter?
                        </li>
                    </ul>

                    <p class="text-center margin-top-medium">
                        <a href="{{ objectPath(ride, 'caldera_criticalmass_ride_edit') }}"
                           class="btn btn-primary btn-lg">
                            Tour editieren
                        </a>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
