{% if dateTime > ride.getDateTime() %}
    {% set pastRide = true %}
{% else %}
    {% set pastRide = false %}
{% endif %}

{% if pastRide and app.user %}
    {% set photoUploadEnabled = true %}
{% else %}
    {% set photoUploadEnabled = false %}
{% endif %}

<div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
    <div class="row">
        <div class="col-md-12">
            {% if app.user %}
                <div class="btn-group float-end mt-3">
                    <a class="btn btn-success"
                       href="{{ object_path(ride, 'caldera_criticalmass_gallery_photos_upload_ride') }}"
                       title="Fotos hochladen">
                        <i class="far fa-camera"></i>
                        Fotos hochladen
                    </a>
                </div>
            {% endif %}

            <h3>Galerie</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if photos|length == 0 and photoUploadEnabled %}
                <div class="alert alert-info" role="alert">
                    <strong>Schade!</strong> Bislang hat noch niemand Fotos von dieser Tour hochgeladen &mdash;
                    <a href="{{ object_path(ride, 'caldera_criticalmass_gallery_photos_upload_ride') }}"
                       title="Fotos hochladen">
                        Du kannst noch immer der Erste sein
                    </a>.
                </div>
            {% elseif photos|length == 0 %}
                <div class="alert alert-info" role="alert">
                    <strong>Schade!</strong> Bislang hat noch niemand Fotos von dieser Tour hochgeladen. Als
                    <a href="{{ path('login') }}">angemeldeter Nutzer</a> könntest du hier der Erste sein.
                </div>
            {% else %}
                <div class="row photo-list">
                    {% for photo in photos %}
                        <div class="col-6 col-sm-4 col-md-3">
                            <div class="photo margin-bottom-medium text-center">
                                <a href="{{ object_path(photo) }}">
                                    <img src="#"
                                         data-src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}"
                                         alt=""
                                         class="img-fluid" />
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
