<div role="tabpanel" class="tab-pane" id="minimass">
    <div class="row">
        <div class="col-md-12">
            {% if app.getUser() %}
                <div class="btn-group pull-right" style="margin-top: 16px;">
                    <a class="btn btn-success" href="{{ object_path(ride, 'caldera_criticalmass_subride_add') }}" title="Mini-Mass anlegen">
                        <i class="far fa-map-marker"></i>
                        Mini-Mass eintragen
                    </a>
                </div>
            {% endif %}
            <h3>Mini-Masses zu dieser Tour</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if subrides|length > 0 %}
                {% set subrideNumber = 0 %}
                {% for subride in subrides %}
                    <div class="media subride col-md-4 no-margin-top margin-bottom-medium">
                        {% if app.getUser() %}
                            <a href="{{ object_path(subride, 'caldera_criticalmass_subride_edit') }}" class="edit-subride pull-right btn btn-default btn-xs">
                                <i class="far fa-wrench"></i>
                            </a>
                        {% endif %}

                        <a class="pull-left subride-link" href="#" data-subride-id="{{ subride.id }}">
                            <img class="media-object"
                                 src="/bundles/caldera/images/marker/marker-green.png" alt="...">
                        </a>

                        <div class="media-body">
                            <h5 class="media-heading">{{ subride.getDateTime().format('H.i') }}
                                Uhr: {{ subride.getTitle() }}</h5>
                            <p>{{ subride.getDescription()|nl2br }}</p>
                        </div>
                    </div>
                    {% set subrideNumber = subrideNumber + 1 %}
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col-md-12">
                        {% if app.getUser() %}
                            <div class="alert alert-info" role="alert">
                                <strong>Schade!</strong> Bislang hat noch niemand eine Mini-Mass für diese Tour erstellt &mdash; <a href="{{ object_path(ride, 'caldera_criticalmass_subride_add') }}" title="Mini-Mass anlegen">Du kannst noch immer der Erste sein</a> oder die <a href="{{ object_path(ride, 'caldera_criticalmass_subride_preparecopy') }}">Mini-Masses der letzten Tour kopieren</a>.
                            </div>
                        {% else %}
                            <div class="alert alert-info" role="alert"><strong>Schade!</strong> Bislang hat noch niemand
                                eine Mini-Mass für diese Tour erstellt. Als <a
                                        href="{{ path('login') }}">angemeldeter Nutzer</a> könntest du
                                hier der Erste sein.
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
