<div role="tabpanel" class="tab-pane fade" id="minimass" aria-labelledby="minimass-tab">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="mb-0">
            <i class="far fa-map-marker-alt text-muted me-2"></i>
            {{ 'ride.tabs.subrides.heading'|trans }}
        </h4>
        {% if app.getUser() %}
            <a class="btn btn-outline-primary btn-sm" href="{{ object_path(ride, 'caldera_criticalmass_subride_add') }}" title="{{ 'ride.tabs.subrides.add_title'|trans }}">
                <i class="far fa-plus me-1"></i>{{ 'ride.tabs.subrides.add_button'|trans }}
            </a>
        {% endif %}
    </div>

    {% if subrides|length > 0 %}
        <div class="row g-3">
            {% for subride in subrides %}
                <div class="col-md-6 col-lg-4">
                    <div class="card h-100 border-0 bg-light">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <a class="subride-link" href="#" data-subride-id="{{ subride.id }}">
                                        <img src="/bundles/caldera/images/marker/marker-green.png" alt="Marker" width="25">
                                    </a>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <div class="d-flex justify-content-between align-items-start">
                                        <h6 class="card-title mb-1">{{ subride.getTitle() }}</h6>
                                        {% if app.getUser() %}
                                            <a href="{{ object_path(subride, 'caldera_criticalmass_subride_edit') }}" class="btn btn-sm btn-link text-muted p-0" title="{{ 'common.edit'|trans }}">
                                                <i class="far fa-edit"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <p class="text-muted small mb-2">
                                        <i class="far fa-clock me-1"></i>{{ subride.getDateTime().format('H:i') }} {{ 'ride.tabs.subrides.time_suffix'|trans }}
                                    </p>
                                    {% if subride.getDescription() %}
                                        <p class="card-text small mb-0">{{ subride.getDescription()|nl2br }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="card bg-light border-0">
            <div class="card-body text-center py-5">
                <i class="far fa-map-marker-alt fa-3x text-muted mb-3"></i>
                <h5>{{ 'ride.tabs.subrides.empty_heading'|trans }}</h5>
                {% if app.getUser() %}
                    <p class="text-muted mb-3">
                        {{ 'ride.tabs.subrides.empty_user_text'|trans }}
                    </p>
                    <div class="btn-group">
                        <a href="{{ object_path(ride, 'caldera_criticalmass_subride_add') }}" class="btn btn-primary" title="{{ 'ride.tabs.subrides.add_title'|trans }}">
                            <i class="far fa-plus me-1"></i>{{ 'ride.tabs.subrides.add_new'|trans }}
                        </a>
                        <a href="{{ object_path(ride, 'caldera_criticalmass_subride_preparecopy') }}" class="btn btn-outline-secondary">
                            <i class="far fa-copy me-1"></i>{{ 'ride.tabs.subrides.copy_from_last'|trans }}
                        </a>
                    </div>
                {% else %}
                    <p class="text-muted mb-0">
                        {{ 'ride.tabs.subrides.empty_login_hint'|trans({'%login_url%': path('login')})|raw }}
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
