{% if bikeright_visible %}

    <div class="panel panel-bikeright">
        <div class="panel-body">
            <p>
                <small class="pull-right">
                    Anzeige
                </small>
            </p>


            <a href="https://bikeright.de/">
                <img class="media-object" src="{{ asset('/bundles/app/images/bikeright/logo.png') }}" alt="..."
                     style="width: 273px; height 51px; margin: 0 auto; clear: both;"/>
            </a>

            <h3 class="h5 text-center">
                Die neue Online-Rechtsberatung für Radfahrer
            </h3>

            <div class="media">
                <div class="media-left">
                    <a href="https://bikeright.de/">
                        <img class="media-object" src="{{ asset('/bundles/app/images/bikeright/help.png') }}" alt="..."
                             style="width: 50px; height: 50px;"/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Fahrradunfall gehabt?
                    </h4>

                    <p>
                        Unsere Anwälte beraten und vertreten euch kostenfrei!
                    </p>

                    <p>
                        <a href="https://bikeright.de/" class="btn btn-bikeright">
                            Zur Website
                        </a>
                    </p>
                </div>
            </div>

            <div class="media">
                <div class="media-left">
                    <a href="{{ path('criticalmass_user_bikeright_view') }}">
                        <img class="media-object" src="{{ asset('/bundles/app/images/bikeright/questionmark.png') }}"
                             alt="..." style="width: 50px; height: 50px;"/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Fragen zum Fahrradrecht?
                    </h4>

                    <p>
                        Ab sofort erhalten Community-Mitglieder kostenfreie Rechtsberatung bikeright.de!
                    </p>

                    <p>
                        <a href="{{ path('criticalmass_user_bikeright_view') }}" class="btn btn-bikeright">
                            Jetzt Rabatt-Code anfordern
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
