<div id="frontpage-carousel" class="carousel slide" data-interval="4000" data-ride="carousel">
    <div class="carousel-inner">
        {% for frontpageTeaser in frontpageTeaserList %}
        <div class="item{% if loop.first %} active{% endif %}" style="background-image: url({{ vich_uploader_asset(frontpageTeaser, 'imageFile')|imagine_filter('gallery_photo_blurred') }})">
            <div class="carousel-caption">
                <h2>
                    {{ frontpageTeaser.headline }}
                </h2>

                <p class="lead">
                    {{ frontpageTeaser.text }}
                </p>

                <div class="btn-group" role="group">
                    {% for button in frontpageTeaser.buttons %}
                    <a class="btn {{ button.class }}" role="button"
                       href="{{ button.link }}">
                        <i class="fa {{ button.icon }}"></i>
                        {{ button.caption }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <a class="left carousel-control" href="#frontpage-carousel" data-slide="prev"></a>
    <a class="right carousel-control" href="#frontpage-carousel" data-slide="next"></a>
</div>