{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}criticalmass.in{% endblock %}

{% block breadcrumb %}
    <li class="active">Startseite</li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {{ include('AppBundle:Frontpage:_carousel.html.twig') }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="no-margin-top">
                            Hej, wir fahren Fahrrad!
                        </h1>

                        <p class="lead">
                            In fast jeder großen Stadt treffen sich am letzten Freitag im Monat Radfahrer zu einer
                            gemeinsamen Ausfahrt. Sei mit dabei und schau dir an, was es alles zu entdecken gibt.
                        </p>
                    </div>
                </div>

                <div class="row hidden-xs hidden-sm">
                    <div class="col-md-12">
                        {{ timelineContent|raw }}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Bald unterwegs
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            {% for rideDate, rides in rideList %}
                                <li>
                                    <h4>
                                        {{ rideDate|date('d. F Y') }}
                                    </h4>

                                    <ul>
                                        {% for ride in rides %}
                                            <li>
                                                <a href="{{ objectPath(ride) }}">
                                                    {{ ride.getFancyTitle() }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
