{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}criticalmass.in-Blog{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_frontpage') }}">criticalmass.in</a></li>
            <li class="active">criticalmass.in-Blog</li>
        </ol>
        
        {% for article in articles %}
            <div class="row">
                <div class="col-md-3">
                    <div class="text-center">
                        <img class="img-circle" src="{{ gravatarUrl(article.user, 200) }}" />
                    </div>

                    <div class="">
                        <dl>
                            <dt>veröffentlicht:</dt>
                            <dd>{{ article.dateTime.format('d.m.Y H:i') }} Uhr</dd>
                        </dl>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{{ article.getTitle() }}</h2>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            {{ article.getText()|markdown }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}