{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'gdpr.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.active('gdpr.title'|trans) }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>
                {{ 'gdpr.title'|trans }}
            </h2>

            <p class="lead">
                {{ 'gdpr.lead'|trans }}
            </p>

            <p>
                {{ 'gdpr.intro'|trans|raw }}
            </p>

            <a name="dein-profil"></a>
            <h3>
                {{ 'gdpr.section_profile'|trans }}
            </h3>

            <p>
                {{ 'gdpr.profile_intro'|trans }}
            </p>

            <ul>
                <li>{{ 'gdpr.profile_username'|trans }}</li>
                <li>{{ 'gdpr.profile_email'|trans }}</li>
                <li>{{ 'gdpr.profile_password'|trans }}</li>
                <li>{{ 'gdpr.profile_last_login'|trans }}</li>
                <li>{{ 'gdpr.profile_color'|trans }}</li>
                <li>{{ 'gdpr.profile_photo'|trans }}</li>
                <li>{{ 'gdpr.profile_social_login'|trans }}</li>
            </ul>

            <p>
                {{ 'gdpr.profile_username_info'|trans }}
            </p>

            <p>
                {{ 'gdpr.profile_email_info'|trans }}
            </p>

            <p>
                {{ 'gdpr.profile_password_info'|trans }}
            </p>

            <a name="login-soziale-netzwerke"></a>
            <h3>
                {{ 'gdpr.section_social_login'|trans }}
            </h3>

            <p>
                {{ 'gdpr.social_login_intro'|trans }}
            </p>

            <p>
                {{ 'gdpr.social_login_delete'|trans }}
            </p>

            <h4>
                {{ 'gdpr.section_facebook'|trans }}
            </h4>

            <p>
                {{ 'gdpr.facebook_provider'|trans|raw }}
            </p>

            <p>
                {{ 'gdpr.facebook_data_intro'|trans }}
            </p>

            <ul>
                <li>{{ 'gdpr.facebook_data_id'|trans }}</li>
                <li>{{ 'gdpr.facebook_data_name'|trans }}</li>
                <li>{{ 'gdpr.facebook_data_email'|trans }}</li>
            </ul>

            <h4>
                {{ 'gdpr.section_strava'|trans }}
            </h4>

            <p>
                {{ 'gdpr.strava_provider'|trans|raw }}
            </p>

            <ul>
                <li>{{ 'gdpr.strava_data_id'|trans }}</li>
                <li>{{ 'gdpr.strava_data_name'|trans }}</li>
                <li>{{ 'gdpr.strava_data_email'|trans }}</li>
            </ul>

            <a name="fotos"></a>
            <h3>
                {{ 'gdpr.section_photos'|trans }}
            </h3>

            <p>
                {{ 'gdpr.photos_intro'|trans }}
            </p>

            <p>
                {{ 'gdpr.photos_gps'|trans }}
            </p>

            <p>
                {{ 'gdpr.photos_legal'|trans|raw }}
            </p>

            <p>
                {{ 'gdpr.photos_manage'|trans({'%photo_list_url%': path('caldera_criticalmass_photo_user_list')})|raw }}
            </p>

            <p>
                {{ 'gdpr.photos_tracking'|trans }}
            </p>

            <a name="tracks"></a>
            <h3>
                {{ 'gdpr.section_tracks'|trans }}
            </h3>

            <p>
                {{ 'gdpr.tracks_intro'|trans }}
            </p>

            <p>
                {{ 'gdpr.tracks_usage'|trans }}
            </p>

            <p>
                {{ 'gdpr.tracks_strava'|trans }}
            </p>

            <p>
                {{ 'gdpr.tracks_manage'|trans({'%track_list_url%': path('caldera_criticalmass_track_list')})|raw }}
            </p>

            <a name="staedte-touren-zubringertouren"></a>
            <h3>
                {{ 'gdpr.section_cities_rides'|trans }}
            </h3>

            <p>
                {{ 'gdpr.cities_rides_intro'|trans }}
            </p>

            <p>
                {{ 'gdpr.cities_rides_history'|trans }}
            </p>

            <p>
                {{ 'gdpr.cities_rides_delete'|trans }}
            </p>

            <p>
                {{ 'gdpr.cities_rides_tracking'|trans }}
            </p>

            <a name="teilnahmen"></a>
            <h3>
                {{ 'gdpr.section_participation'|trans }}
            </h3>

            <p>
                {{ 'gdpr.participation_intro'|trans({'%participation_url%': path('criticalmass_user_participation_list')})|raw }}
            </p>

            <p>
                {{ 'gdpr.participation_reminders'|trans }}
            </p>

            <p>
                {{ 'gdpr.participation_manage'|trans({'%participation_url%': path('criticalmass_user_participation_list')})|raw }}
            </p>

            <a name="statistiken"></a>
            <h3>
                {{ 'gdpr.section_statistics'|trans }}
            </h3>

            <p>
                {{ 'gdpr.statistics_intro'|trans }}
            </p>

            <p>
                {{ 'gdpr.statistics_estimates'|trans }}
            </p>

            <p>
                {{ 'gdpr.statistics_api'|trans|raw }}
            </p>

            <p>
                {{ 'gdpr.statistics_tracks'|trans }}
            </p>

            <a name="diskussionsforum"></a>
            <h3>
                {{ 'gdpr.section_forum'|trans }}
            </h3>

            <p>
                {{ 'gdpr.forum_intro'|trans }}
            </p>

            <p>
                {{ 'gdpr.forum_profile'|trans }}
            </p>

            <p>
                {{ 'gdpr.forum_location'|trans }}
            </p>

            <p>
                {{ 'gdpr.forum_delete'|trans }}
            </p>

            <p>
                {{ 'gdpr.forum_timeline'|trans }}
            </p>

            <p>
                {{ 'gdpr.forum_tracking'|trans }}
            </p>

            <a name="landkarten"></a>
            <h3>
                {{ 'gdpr.section_maps'|trans }}
            </h3>

            <p>
                {{ 'gdpr.maps_intro'|trans|raw }}
            </p>

            <p>
                {{ 'gdpr.maps_tiles'|trans }}
            </p>

            <p>
                {{ 'gdpr.maps_provider'|trans|raw }}
            </p>

            <p>
                {{ 'gdpr.maps_privacy'|trans }}
            </p>

            <p>
                {{ 'gdpr.maps_proxy'|trans|raw }}
            </p>

            <a name="verschluesselung"></a>
            <h3>
                {{ 'gdpr.section_encryption'|trans }}
            </h3>

            <p>
                {{ 'gdpr.encryption_intro'|trans|raw }}
            </p>

            <p>
                {{ 'gdpr.encryption_bcrypt'|trans|raw }}
            </p>

            <p>
                {{ 'gdpr.encryption_hash'|trans }}
            </p>

            <a name="cookies"></a>
            <h3>
                {{ 'gdpr.section_cookies'|trans }}
            </h3>

            <p>
                {{ 'gdpr.cookies_intro'|trans }}
            </p>

            <a name="tracking"></a>
            <h3>
                {{ 'gdpr.section_tracking'|trans }}
            </h3>

            <p>
                {{ 'gdpr.tracking_intro'|trans|raw }}
            </p>

            <p>
                {{ 'gdpr.tracking_optout'|trans|raw }}
            </p>

            <iframe style="border: 0; height: 200px; width: 100%;" src="https://piwik.caldera.cc/index.php?module=CoreAdminHome&action=optOut&language=de&backgroundColor=ffffff&fontColor=000000&fontSize=16px&fontFamily=%22Helvetica%20Neue%22%2C%20Helvetica%2C%20Arial%2C%20sans-serif"></iframe>
        </div>

        <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a href="#dein-profil">{{ 'gdpr.nav_profile'|trans }}</a></li>
                <li role="presentation"><a href="#login-soziale-netzwerke">{{ 'gdpr.nav_social_login'|trans }}</a></li>
                <li role="presentation"><a href="#fotos">{{ 'gdpr.nav_photos'|trans }}</a></li>
                <li role="presentation"><a href="#tracks">{{ 'gdpr.nav_tracks'|trans }}</a></li>
                <li role="presentation"><a href="#staedte-touren-zubringertouren">{{ 'gdpr.nav_cities_rides'|trans }}</a></li>
                <li role="presentation"><a href="#teilnahmen">{{ 'gdpr.nav_participation'|trans }}</a></li>
                <li role="presentation"><a href="#statistiken">{{ 'gdpr.nav_statistics'|trans }}</a></li>
                <li role="presentation"><a href="#diskussionsforum">{{ 'gdpr.nav_forum'|trans }}</a></li>
                <li role="presentation"><a href="#landkarten">{{ 'gdpr.nav_maps'|trans }}</a></li>
                <li role="presentation"><a href="#werbung">{{ 'gdpr.nav_advertising'|trans }}</a></li>
                <li role="presentation"><a href="#verschluesselung">{{ 'gdpr.nav_encryption'|trans }}</a></li>
                <li role="presentation"><a href="#cookies">{{ 'gdpr.nav_cookies'|trans }}</a></li>
                <li role="presentation"><a href="#tracking">{{ 'gdpr.nav_tracking'|trans }}</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
