{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'impress.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.active('impress.title'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>
                    {{ 'impress.title'|trans }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ 'impress.responsibility.heading'|trans }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            {{ 'impress.responsibility.paragraph1'|trans }}
                        </p>

                        <p>
                            {{ 'impress.responsibility.paragraph2'|trans }}
                        </p>

                        <p>
                            {{ 'impress.responsibility.paragraph3'|trans }}
                        </p>

                        <p>
                            {{ 'impress.responsibility.paragraph4'|trans }}
                        </p>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ 'impress.external_content.heading'|trans }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            {{ 'impress.external_content.paragraph1'|trans }}
                        </p>

                        <p>
                            {{ 'impress.external_content.paragraph2'|trans }}
                        </p>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ 'impress.no_responsibility.heading'|trans }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            {{ 'impress.no_responsibility.paragraph1'|trans }}
                        </p>

                        <p>
                            {{ 'impress.no_responsibility.paragraph2'|trans }}
                        </p>

                        <p>
                            {{ 'impress.no_responsibility.paragraph3'|trans }}
                        </p>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ 'impress.impress.heading'|trans }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            {{ 'impress.impress.legal_notice'|trans }}
                        </p>

                        <p>
                            {{ 'impress.impress.address'|trans|raw }}
                        </p>

                        <p>
                            {{ 'impress.impress.contact'|trans|raw }}
                        </p>

                        <p>
                            <strong>
                                {{ 'impress.impress.contact_warning'|trans }}
                            </strong>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ 'impress.contact.heading'|trans }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <h4>
                            {{ 'impress.contact.support.heading'|trans }}
                        </h4>

                        <p>
                            {{ 'impress.contact.support.text'|trans|raw }}
                        </p>

                        <h4>
                            {{ 'impress.contact.city_data.heading'|trans }}
                        </h4>

                        <p>
                            {{ 'impress.contact.city_data.text'|trans|raw }}
                        </p>

                        <h4>
                            {{ 'impress.contact.feedback.heading'|trans }}
                        </h4>

                        <p>
                            {{ 'impress.contact.feedback.text'|trans({'%city_list_url%': path('caldera_criticalmass_city_list'), '%board_url%': path('caldera_criticalmass_board_overview')})|raw }}
                        </p>

                        <h4>
                            {{ 'impress.contact.press.heading'|trans }}
                        </h4>

                        <p>
                            {{ 'impress.contact.press.text'|trans({'%city_list_url%': path('caldera_criticalmass_city_list')})|raw }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
