{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Impressum
    </li>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row justify-content-center mb-4">
            <div class="col-md-10">
                <h2>Impressum</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="card card-default">
                    <div class="card-heading">
                        <h3 class="card-title">
                            Verantwortlichkeit für lokale Critical-Mass-Gruppen
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Die Website criticalmass.in ist ein rein informatorisches Projekt.
                        </p>

                        <p>
                            Wir organisieren, veranstalten, betreiben, administrieren und moderieren keine lokalen Critical-Mass-Gruppen, Facebook-Seiten, Instagram-Accounts, Telegram-Kanäle oder sonstige Social-Media-Präsenzen.
                        </p>

                        <p>
                            Alle Einträge zu Städten, Touren oder Gruppen dienen ausschließlich der Übersicht und werden größtenteils von Nutzer*innen selbst gepflegt.
                        </p>

                        <p>
                            Für Inhalte, Fotos, Videos oder Beiträge einzelner Städte oder deren Social-Media-Kanäle sind wir nicht verantwortlich und haben keinen administrativen Zugriff.
                        </p>
                    </div>
                </div>

                <div class="card shadow-sm">
                    <div class="panel-header">
                        <h3 class="card-title h5 mb-0">
                            Externe Inhalte und Links
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Die auf criticalmass.in verlinkten Websites, Social-Media-Kanäle und externen Inhalte werden weder betrieben noch kontrolliert. Für deren Inhalte sind ausschließlich die jeweiligen Betreiber verantwortlich.
                        </p>

                        <p>
                            Wir machen uns fremde Inhalte nicht zu eigen und haben keinen Einfluss auf deren Veröffentlichung, Löschung oder rechtlichen Status.
                        </p>
                    </div>
                </div>

                <div class="card shadow-sm">
                    <div class="card-header">
                        <h3 class="card-title h5 mb-0">
                            Keine Verantwortlichkeit für Inhalte verlinkter Social-Media-Seiten
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Bitte beachten Sie, dass wir in keiner Form Betreiber oder Verantwortlicher externern Social-Media-Angebote von Critical-Mass-Radtouren sind sind.
                        </p>

                        <p>
                            Wir haben keinen Zugriff auf dort veröffentlichte Inhalte und können diese nicht entfernen, nicht bearbeiten und nicht moderieren.
                        </p>

                        <p>
                            Bitte wenden Sie sich bei rechtlichen Anliegen direkt an die jeweiligen Seitenbetreiber der lokalen Gruppe.
                        </p>
                    </div>
                </div>

                <div class="card shadow-sm">
                    <div class="card-header">
                        <h3 class="card-title ht mb-0">
                            Impressum
                        </h3>
                    </div>
                    <div class="card-body">
                        <p class="mb-2">
                            Angaben nach § 5 TMG:
                        </p>

                        <p>
                            {{ impress_property('firstName') }} {{ impress_property('lastName') }}<br>
                            {{ impress_property('street') }} {{ impress_property('houseNumber') }}<br>
                            {{ impress_property('zipCode') }} {{ impress_property('city') }}
                        </p>

                        <p>
                            Telefon: {{ impress_property('phoneNumber') }}<br>
                            E-Mail:
                            <a href="mailto:malte@caldera.cc">malte@caldera.cc</a>
                        </p>

                        <p class="fw-bold">
                            Bitte beachte, dass diese Kontaktdaten nicht für Support- oder Presseanfragen vorgesehen sind.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-5 mb-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h3 class="card-title h5 mb-0">Kontakt</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="h6">Supportanfragen</h4>
                        <p>
                            Wenn du Probleme bei der Bedienung dieser Internetseite oder einen Fehler gefunden hast,
                            schreibe bitte eine Mail an
                            <a href="mailto:criticalmass@caldera.cc">criticalmass@caldera.cc</a>
                            oder eröffne ein Ticket
                            <a href="https://github.com/calderacc/criticalmass-in/issues">in unserem Repository</a>.
                        </p>

                        <h4 class="h6">Korrektur von Städtedaten</h4>
                        <p>
                            Fehler in Städten oder Touren kannst du mit einem kostenlosen Benutzerkonto selbst korrigieren.
                            Wenn du Probleme hast, melde dich unter
                            <a href="mailto:criticalmass@caldera.cc">criticalmass@caldera.cc</a>.
                        </p>

                        <h4 class="h6">Rückmeldungen & Kommentare zur Critical Mass</h4>
                        <p>
                            Deine Erfahrungen gehören am besten in die Kommentare unter der jeweiligen Tour oder in soziale
                            Netzwerke. Alternativ kannst du auch das
                            <a href="{{ path('caldera_criticalmass_board_overview') }}">Diskussionsforum</a> nutzen.
                        </p>

                        <h4 class="h6">Presseanfragen</h4>
                        <p>
                            Wir beantworten nur allgemeine Fragen zur Critical Mass.
                            Für Details zu einzelnen Städten suche bitte in der
                            <a href="{{ path('caldera_criticalmass_city_list') }}">Städteliste</a>
                            nach Ansprechpartnern in sozialen Netzwerken.
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
