{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'privacy.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.active('privacy.title'|trans) }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>
                {{ 'privacy.title'|trans }}
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>
                {{ 'privacy.intro'|trans }}
            </p>

            <h3>
                {{ 'privacy.responsible.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.responsible.address'|trans|raw }}
            </p>

            <p>
                {{ 'privacy.responsible.contact'|trans|raw }}
            </p>

            <h3>
                {{ 'privacy.data_types.heading'|trans }}
            </h3>

            <ul>
                <li>
                    {{ 'privacy.data_types.inventory'|trans }}
                </li>
                <li>
                    {{ 'privacy.data_types.contact'|trans }}
                </li>
                <li>
                    {{ 'privacy.data_types.content'|trans }}
                </li>
                <li>
                    {{ 'privacy.data_types.usage'|trans }}
                </li>
                <li>
                    {{ 'privacy.data_types.meta'|trans }}
                </li>
            </ul>

            <h3>
                {{ 'privacy.affected_persons.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.affected_persons.text'|trans }}
            </p>

            <h3>
                {{ 'privacy.purpose.heading'|trans }}
            </h3>

            <ul>
                <li>
                    {{ 'privacy.purpose.provision'|trans }}
                </li>
                <li>
                    {{ 'privacy.purpose.contact_requests'|trans }}
                </li>
                <li>
                    {{ 'privacy.purpose.security'|trans }}
                </li>
                <li>
                    {{ 'privacy.purpose.marketing'|trans }}
                </li>
            </ul>

            <h3>
                {{ 'privacy.terminology.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.terminology.personal_data'|trans }}
            </p>

            <p>
                {{ 'privacy.terminology.processing'|trans }}
            </p>

            <p>
                {{ 'privacy.terminology.responsible'|trans }}
            </p>

            <h3>
                {{ 'privacy.legal_basis.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.legal_basis.text'|trans }}
            </p>

            <h3>
                {{ 'privacy.processors.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.processors.paragraph1'|trans }}
            </p>

            <p>
                {{ 'privacy.processors.paragraph2'|trans }}
            </p>

            <h3>
                {{ 'privacy.third_countries.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.third_countries.text'|trans }}
            </p>

            <h3>
                {{ 'privacy.rights.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.rights.paragraph1'|trans }}
            </p>

            <p>
                {{ 'privacy.rights.paragraph2'|trans }}
            </p>

            <p>
                {{ 'privacy.rights.paragraph3'|trans }}
            </p>

            <p>
                {{ 'privacy.rights.paragraph4'|trans }}
            </p>

            <p>
                {{ 'privacy.rights.paragraph5'|trans }}
            </p>

            <h3>
                {{ 'privacy.revocation.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.revocation.text'|trans }}
            </p>

            <h3>
                {{ 'privacy.objection.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.objection.text'|trans }}
            </p>

            <h3>
                {{ 'privacy.cookies.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.cookies.paragraph1'|trans }}
            </p>

            <p>
                {{ 'privacy.cookies.paragraph2'|trans }}
            </p>

            <p>
                {{ 'privacy.cookies.paragraph3'|trans }}
            </p>

            <p>
                {{ 'privacy.cookies.paragraph4'|trans|raw }}
            </p>

            <h3>
                {{ 'privacy.deletion.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.deletion.paragraph1'|trans }}
            </p>

            <p>
                {{ 'privacy.deletion.paragraph2'|trans }}
            </p>

            <p>
                {{ 'privacy.deletion.paragraph3'|trans }}
            </p>

            <h3>
                {{ 'privacy.hosting.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.hosting.paragraph1'|trans }}
            </p>

            <p>
                {{ 'privacy.hosting.paragraph2'|trans }}
            </p>

            <h3>
                {{ 'privacy.logfiles.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.logfiles.paragraph1'|trans }}
            </p>

            <p>
                {{ 'privacy.logfiles.paragraph2'|trans }}
            </p>

            <h3>
                {{ 'privacy.registration.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.registration.paragraph1'|trans }}
            </p>

            <p>
                {{ 'privacy.registration.paragraph2'|trans }}
            </p>

            <h3>
                {{ 'privacy.contact.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.contact.paragraph1'|trans }}
            </p>

            <p>
                {{ 'privacy.contact.paragraph2'|trans }}
            </p>

            <h3>
                {{ 'privacy.comments.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.comments.text'|trans }}
            </p>

            <h3>
                {{ 'privacy.comment_subscriptions.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.comment_subscriptions.text'|trans }}
            </p>

            <h3>
                {{ 'privacy.newsletter.heading'|trans }}
            </h3>

            <p>
                {{ 'privacy.newsletter.intro'|trans }}
            </p>


            <p>
                {{ 'privacy.newsletter.content'|trans }}
            </p>

            <p>
                {{ 'privacy.newsletter.double_opt_in'|trans }}
            </p>

            <p>
                {{ 'privacy.newsletter.registration_data'|trans }}
            </p>

            <p>
                {{ 'privacy.newsletter.germany'|trans }}
            </p>

            <p>
                {{ 'privacy.newsletter.logging'|trans }}
            </p>

            <p>
                {{ 'privacy.newsletter.cancellation'|trans }}
            </p>

            <p>
                {{ 'privacy.creator_credit'|trans|raw }}
            </p>
        </div>
    </div>
</div>
{% endblock %}
