{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% if subride %}
    {% set title = 'subride.edit_title'|trans %}
{% else %}
    {% set title = 'subride.create_title'|trans %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('ride.management.breadcrumb_city_list'|trans, path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(ride.city.city, object_path(ride.city)) }}
    {{ breadcrumb.item(ride.title, object_path(ride)) }}
    {% if subride %}
        {{ breadcrumb.active('subride.edit_title'|trans) }}
    {% else %}
        {{ breadcrumb.active('subride.create_title'|trans) }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ title }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ 'subride.intro'|trans }}
                </p>
            </div>
        </div>

        {{ include('Flash/_flash.html.twig') }}

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                <div id="map"
                     class="map"
                     data-controller="map--map"
                     style="height: 250px;"
                     data-map--map-center-latitude-value="{{ ride.latitude }}"
                     data-map--map-center-longitude-value="{{ ride.longitude }}"
                     data-map--map-zoom-value="10"
                     data-map--map-marker-draggable-value="true"
                     data-map--map-marker-type-value="subride"
                     data-map--map-marker-latitude-target-value="subride_latitude"
                     data-map--map-marker-longitude-target-value="subride_longitude">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            {{ 'subride.section_data'|trans }}
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.title) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="title">{{ 'subride.label_title'|trans }}</label>
                            {{ form_widget(form.title, { 'attr' : { 'class': 'form-control' } }) }}
                            <p class="help-block">{{ 'subride.help_title'|trans }}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="description">{{ 'subride.label_description'|trans }}</label>
                            {{ form_widget(form.description, { 'attr' : { 'class': 'form-control' } }) }}
                            <p class="help-block">{{ 'subride.help_description'|trans }}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.location) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="description">{{ 'subride.label_location'|trans }}</label>
                            {{ form_widget(form.location, { 'attr' : { 'class': 'form-control' } }) }}
                            <p class="help-block">{{ 'subride.help_location'|trans }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            {{ 'subride.section_datetime'|trans }}
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="description">{{ 'subride.label_date'|trans }}</label>
                            <div class="form-control">{{ ride.getDateTime().format('d. F Y') }}</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="description">{{ 'subride.label_time'|trans }}</label>
                            {{ form_widget(form.time, { 'attr' : { 'class': 'form-control' } }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="btn-group pull-right">
                        <a href="{{ object_path(ride) }}" class="btn btn-secondary">
                            {{ 'common.cancel'|trans }}
                        </a>
                        <button type="submit" class="btn btn-success">
                            {{ 'common.save'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {{ form_widget(form.latitude) }}
        {{ form_widget(form.longitude) }}
        {{ form_widget(form._token) }}

        </form>
    </div>
{% endblock %}
