{% extends 'Template/StandardTemplate.html.twig' %}

{% if subride %}
    {% set title = 'Mini-Mass editieren' %}
{% else %}
    {% set title = 'Mini-Mass hinzufügen' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>

    <li>
        <a href="{{ object_path(ride.city) }}">
            {{ ride.city.city }}
        </a>
    </li>

    <li>
        <a href="{{ object_path(ride) }}">
            {{ ride.title }}
        </a>
    </li>
    {% if subride %}
        <li class="active">
            Mini-Mass editieren
        </li>
    {% else %}
        <li class="active">
            Mini-Mass hinzufügen
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ title }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    Eine Mini Mass ist eine gemeinsame Radtour zur eigentlichen Critical Mass. Das Prinzip der Mini Mass
                    stammt aus größeren Städten, in denen sich Radfahrer der einzelnen Stadtteile zu einer gemeinsamen
                    Radtour verabredet haben, um nicht alleine zur „großen Masse“ fahren zu müssen.
                </p>
            </div>
        </div>

        {{ include('Flash/_flash.html.twig') }}

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 250px;"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            Daten der Mini-Mass
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.title) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="title">Titel:</label>
                            {{ form_widget(form.title, { 'attr' : { 'class': 'form-control' } }) }}
                            <p class="help-block">Gib deiner Mini-Mass einen Namen. Er muss noch nicht einmal
                                aussagekräftig
                                sein — Hauptsache man weiß, worum es geht.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="description">Beschreibung:</label>
                            {{ form_widget(form.description, { 'attr' : { 'class': 'form-control' } }) }}
                            <p class="help-block">Hier ist Platz für eine grobe Beschreibung der Mini-Mass. Lege hier
                                zum
                                Beispiel eine ungefähre Route fest.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.location) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="description">Treffpunkt:</label>
                            {{ form_widget(form.location, { 'attr' : { 'class': 'form-control' } }) }}
                            <p class="help-block">Wo trefft ihr euch? Vergiss nicht, den Treffpunkt oben auf der Karte
                                zu
                                markieren.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            Datum und Uhrzeit
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="description">Datum:</label>
                            <div class="form-control">{{ ride.getDateTime().format('d. F Y') }}</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="description">Uhrzeit:</label>
                            {{ form_widget(form.time, { 'attr' : { 'class': 'form-control' } }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="btn-group pull-right">
                        <a href="{{ object_path(ride) }}" class="btn btn-default">
                            Abbrechen
                        </a>
                        <button type="submit" class="btn btn-success">
                            Speichern
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {{ form_widget(form.latitude) }}
        {{ form_widget(form.longitude) }}
        {{ form_widget(form._token) }}

        </form>
    </div>

    <script type="text/javascript">
        CriticalMass.loadModule('EditSubridePage', null, null, function (page) {
            page.addRide('{{ ride|serialize|raw|e('js') }}');
            page.addCity('{{ city|serialize|raw|e('js') }}');
            page.init();
        });
    </script>
{% endblock %}
