<div class="btn-group pull-right">
    <button type="button" class="btn btn-secondary btn-xs dropdown-toggle"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ 'common.edit'|trans }}
    </button>
    <ul class="dropdown-menu">
        {% if track.source == constant('TRACK_SOURCE_DRAW', track) %}
            <li>
                <a href="{{ object_path(track, 'caldera_criticalmass_track_edit') }}">
                    <i class="far fa-pencil"></i>
                    {{ 'track.menu.edit'|trans }}
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ object_path(track, 'caldera_criticalmass_track_download') }}">
                    <i class="far fa-download"></i>
                    {{ 'track.menu.download'|trans }}
                </a>
            </li>
            {% if track.enabled %}
                <li>
                    <a href="{{ object_path(track, 'caldera_criticalmass_track_toggle') }}">
                        <i class="far fa-eye-slash"></i>
                        {{ 'track.menu.deactivate'|trans }}
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ object_path(track, 'caldera_criticalmass_track_toggle') }}">
                        <i class="far fa-eye"></i>
                        {{ 'track.menu.activate'|trans }}
                    </a>
                </li>
            {% endif %}

            <li><hr class="dropdown-divider"></li>

            {% if not track.isReviewed %}
                <li>
                    <a href="{{ object_path(track, 'caldera_criticalmass_track_approve') }}">
                        <i class="far fa-check"></i>
                        {{ 'track.menu.approve'|trans }}
                    </a>
                </li>
            {% endif %}

            <li>
                <a href="{{ object_path(track, 'caldera_criticalmass_track_range') }}">
                    <i class="far fa-cut"></i>
                    {{ 'track.menu.trim'|trans }}
                </a>
            </li>

            <li>
                <a href="{{ object_path(track, 'caldera_criticalmass_track_time') }}">
                    <i class="far fa-clock"></i>
                    {{ 'track.menu.adjust_time'|trans }}
                </a>
            </li>

        {% endif %}
        <li>
            <a href="{{ path('caldera_criticalmass_rest_track_delete', { id: track.id }) }}"
                   data-controller="delete-modal"
                   data-action="click->delete-modal#open"
                   data-delete-modal-title-value="{{ 'track.menu.delete_title'|trans }}"
                   data-delete-modal-text-value="{{ 'track.menu.delete_confirm'|trans({ '%city%': track.ride.city.title, '%date%': track.ride.dateTime|date('d.m.Y') }) }}">
                <i class="far fa-trash-alt"></i>
                {{ 'common.delete'|trans }}
            </a>
        </li>
    </ul>
</div>
