<div class="btn-group float-end">
    <button type="button"
            class="btn btn-secondary btn-sm dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        Bearbeiten
    </button>

    <ul class="dropdown-menu">

        {% if track.source == constant('TRACK_SOURCE_DRAW', track) %}
            <li>
                <a class="dropdown-item"
                   href="{{ object_path(track, 'caldera_criticalmass_track_edit') }}">
                    <i class="far fa-pencil"></i>
                    Track editieren
                </a>
            </li>
        {% else %}

            <li>
                <a class="dropdown-item"
                   href="{{ object_path(track, 'caldera_criticalmass_track_download') }}">
                    <i class="far fa-download"></i>
                    Herunterladen
                </a>
            </li>

            {% if track.enabled %}
                <li>
                    <a class="dropdown-item"
                       href="{{ object_path(track, 'caldera_criticalmass_track_toggle') }}">
                        <i class="far fa-eye-slash"></i>
                        Deaktivieren
                    </a>
                </li>
            {% else %}
                <li>
                    <a class="dropdown-item"
                       href="{{ object_path(track, 'caldera_criticalmass_track_toggle') }}">
                        <i class="far fa-eye"></i>
                        Aktivieren
                    </a>
                </li>
            {% endif %}

            <li><hr class="dropdown-divider"></li>

            {% if not track.isReviewed %}
                <li>
                    <a class="dropdown-item"
                       href="{{ object_path(track, 'caldera_criticalmass_track_approve') }}">
                        <i class="far fa-check"></i>
                        Bestätigen
                    </a>
                </li>
            {% endif %}

            <li>
                <a class="dropdown-item"
                   href="{{ object_path(track, 'caldera_criticalmass_track_range') }}">
                    <i class="far fa-cut"></i>
                    Beschneiden
                </a>
            </li>

            <li>
                <a class="dropdown-item"
                   href="{{ object_path(track, 'caldera_criticalmass_track_time') }}">
                    <i class="far fa-clock"></i>
                    Zeit anpassen
                </a>
            </li>

        {% endif %}

        <li><hr class="dropdown-divider"></li>

        <li>
            <a class="dropdown-item delete-protection"
               href="{{ path('caldera_criticalmass_rest_track_delete', { id: track.id }) }}"
               data-delete-modal-title="Track löschen"
               data-delete-modal-text="Möchtest du diesen Track von der <strong>{{ track.ride.city.title }}</strong> vom <strong>{{ track.ride.dateTime|date('d.m.Y') }}</strong> wirklich löschen?">
                <i class="far fa-trash-alt"></i>
                Löschen
            </a>
        </li>

    </ul>
</div>
