<div class="btn-group pull-right">
    <button type="button" class="btn btn-secondary btn-xs dropdown-toggle"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Bearbeiten    </button>
    <ul class="dropdown-menu">
        {% if track.source == constant('TRACK_SOURCE_DRAW', track) %}
            <li>
                <a href="{{ object_path(track, 'caldera_criticalmass_track_edit') }}">
                    <i class="far fa-pencil"></i>
                    Track editieren
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ object_path(track, 'caldera_criticalmass_track_download') }}">
                    <i class="far fa-download"></i>
                    Herunterladen
                </a>
            </li>
            {% if track.enabled %}
                <li>
                    <form method="post" action="{{ object_path(track, 'caldera_criticalmass_track_toggle') }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('track_toggle_' ~ track.id) }}">
                        <button type="submit" class="dropdown-item">
                            <i class="far fa-eye-slash"></i>
                            Deaktivieren
                        </button>
                    </form>
                </li>
            {% else %}
                <li>
                    <form method="post" action="{{ object_path(track, 'caldera_criticalmass_track_toggle') }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('track_toggle_' ~ track.id) }}">
                        <button type="submit" class="dropdown-item">
                            <i class="far fa-eye"></i>
                            Aktivieren
                        </button>
                    </form>
                </li>
            {% endif %}

            <li><hr class="dropdown-divider"></li>

            {% if not track.isReviewed %}
                <li>
                    <a href="{{ object_path(track, 'caldera_criticalmass_track_approve') }}">
                        <i class="far fa-check"></i>
                        Bestätigen
                    </a>
                </li>
            {% endif %}

            <li>
                <a href="{{ object_path(track, 'caldera_criticalmass_track_range') }}">
                    <i class="far fa-cut"></i>
                    Beschneiden
                </a>
            </li>

            <li>
                <a href="{{ object_path(track, 'caldera_criticalmass_track_time') }}">
                    <i class="far fa-clock"></i>
                    Zeit anpassen
                </a>
            </li>

        {% endif %}
        <li>
            <a href="{{ path('caldera_criticalmass_rest_track_delete', { id: track.id }) }}"
                   data-controller="delete-modal"
                   data-action="click->delete-modal#open"
                   data-delete-modal-title-value="Track löschen"
                   data-delete-modal-text-value="Möchtest du diesen Track von der {{ track.ride.city.title }} vom {{ track.ride.dateTime|date('d.m.Y') }} wirklich löschen?">
                <i class="far fa-trash-alt"></i>
                Löschen
            </a>
        </li>
    </ul>
</div>