{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'track.draw_page.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Dein Benutzerkonto', path('criticalmass_user_usermanagement')) }}
    {{ breadcrumb.active('Deine Tracks') }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 400px;">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form method="post"
                      action="{{ object_path(track, 'caldera_criticalmass_track_draw') }}">
                    <input type="hidden" id="polyline" name="polyline"/>
                    <input type="hidden" id="geojson" name="geojson"/>

                    <button type="submit" id="save-track" class="btn btn-secondary">
                        {{ 'track.draw_page.form.submit.caption'|trans }}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
