{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'track.list_page.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Dein Benutzerkonto', path('criticalmass_user_usermanagement')) }}
    {{ breadcrumb.active('track.list_page.title'|trans) }}
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ 'track.list_page.heading'|trans }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                    {{ 'track.list_page.intro'|trans }}
                </p>

                <p>
                    {{ 'track.list_page.add_hint'|trans }}
                </p>
            </div>
        </div>

        <div class="row">
            {% for track in pagination %}
                {% include('Track/_track_list_item.html.twig') with { 'track': track, 'show_user': false } %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'track.list_page.delete_modal.title'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span id="trackIdLabel"></span>
                    <p>{{ 'track.list_page.delete_modal.confirm'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group" aria-label="...">
                        <a id="deleteButton" href="#" class="btn btn-success">{{ 'track.list_page.delete_modal.yes'|trans }}</a>
                        <button id="cancelButton" class="btn btn-secondary">{{ 'track.list_page.delete_modal.no'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
