{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'track.range_page.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Dein Benutzerkonto', path('criticalmass_user_usermanagement')) }}
    {{ breadcrumb.item('track.list_page.title'|trans, path('caldera_criticalmass_track_list')) }}
    {{ breadcrumb.active('track.range_page.title'|trans) }}
{% endblock %}

{% block content %}
    <div class="container" id="track-range-page">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    {{ 'track.range_page.title'|trans }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>{{ 'track.range_page.intro'|trans }}</p>

                <p>
                    {{ 'track.range_page.disclaimer'|trans }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="map-range"
                     class="map"
                     data-controller="map--track-range-map"
                     data-map--lock-map="true"
                     style="height: 50vh;">
                </div>
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-12">
                <input id="slider" type="text" value="" style="width: 100%;"/>
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-12">
                <input type="hidden" id="track_range_latLngList" value="{{ latLngList }}" />
                {{ form_start(form) }}
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button class="btn btn-success" type="submit">
                        {{ 'track.range_page.form.submit'|trans }}
                    </button>
                    <a class="btn btn-secondary" href="{{ path('caldera_criticalmass_track_list') }}">
                        {{ 'track.range_page.form.cancel'|trans }}
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
