{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Track beschneiden{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li>
        <a href="{{ path('caldera_criticalmass_track_list') }}">
            Deine Tracks
        </a>
    </li>

    <li class="active">
        Track beschneiden
    </li>
{% endblock %}

{% block content %}
    <div class="container" id="track-range-page">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Track beschneiden
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>Weniger ist manchmal mehr. Hier kannst du Anfang und Ende deiner Tour festlegen, falls du
                    versehentlich zu viel aufgezeichnet hast und nicht möchtest, dass dir jemand nach Hause folgt.</p>

                <p>
                    Das Beschneiden beschädigt deinen Track nicht, du kannst den für andere Nutzer sichtbaren Bereich
                    jederzeit wieder ändern.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="map-range"
                     class="map"
                     data-lock-map="true"
                     data-map-marker-clickable="false"
                     style="height: 50vh;">
                </div>
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-12">
                <input id="slider" type="text" value="" style="width: 100%;"/>
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-12">
                <input type="hidden" id="track_range_latLngList" value="{{ latLngList }}" />
                {{ form_start(form) }}
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button class="btn btn-success" type="submit">
                        Speichern
                    </button>
                    <a class="btn btn-default" href="{{ path('caldera_criticalmass_track_list') }}">
                        Abbrechen
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
