{% extends 'Template/StandardTemplate.html.twig' %}

{% set bootstrap4 = true %}

{% block title %}Track-Zeitstempel anpassen{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li>
        <a href="{{ path('caldera_criticalmass_track_list') }}">
            Deine Tracks
        </a>
    </li>

    <li class="active">
        Track-Zeitstempel anpassen
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Track-Zeitstempel anpassen
                </h2>

                <p class="lead">
                    Falls dein Aufzeichnungsgerät aus irgendeinem Grunde eine falsche Uhrzeit bei deinem GPX-Track angegeben haben sollte, kannst du hier den Start-Zeitpunkt deines Tracks verschieben.
                </p>
            </div>
        </div>

        {{ form_start(form) }}

        <div class="row">
            <div class="col-12 col-md-5 offset-md-1">
                <div class="card">
                    <div class="card-header">
                        Alte Uhrzeit
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label" for="">
                                        Datum:
                                    </label>
                                    <input class="form-control" type="text" disabled="disabled" value="{{ track.startDate.format('d.m.Y') }}" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label" for="">
                                        Uhrzeit:
                                    </label>
                                    <input class="form-control" type="text" disabled="disabled" value="{{ track.startDate.format('H:i') }}" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label" for="">
                                        Zeitzone:
                                    </label>
                                    <input class="form-control" type="text" disabled="disabled" value="{{ track.ride.city.timezone }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-5">
                <div class="card">
                    <div class="card-header">
                        Neue Uhrzeit
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group{% if form_errors(form.startDate) %} has-error has-feedback{% endif %}">
                                    <label class="control-label" for="">Datum:</label>
                                    {{ form_widget(form.startDate, { 'attr' : { 'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group{% if form_errors(form.startTime) %} has-error has-feedback{% endif %}">
                                    <label class="control-label" for="">Uhrzeit:</label>
                                    {{ form_widget(form.startTime, { 'attr' : { 'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label" for="">Zeitzone:</label>
                                    <input class="form-control" type="text" disabled="disabled" value="{{ track.ride.city.timezone }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12 text-center">
                <div class="btn-group">
                    <a href="{{ path('caldera_criticalmass_track_list') }}" class="btn btn-secondary">
                        Abbrechen
                    </a>
                    <button type="submit" class="btn btn-primary">
                        Speichern
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
