{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'track.time_title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('track.breadcrumb_account'|trans, path('criticalmass_user_usermanagement')) }}
    {{ breadcrumb.item('track.breadcrumb_tracks'|trans, path('caldera_criticalmass_track_list')) }}
    {{ breadcrumb.active('track.time_title'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ 'track.time_title'|trans }}
                </h1>

                <p class="lead">
                    {{ 'track.time_lead'|trans }}
                </p>
            </div>
        </div>

        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ 'track.time_old'|trans }}
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="">{{ 'track.time_label_date'|trans }}</label>
                                    <input class="form-control" type="text" disabled="disabled"
                                           value="{{ track.startDate.format('d.m.Y') }}"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="">{{ 'track.time_label_time'|trans }}</label>
                                    <input class="form-control" type="text" disabled="disabled"
                                           value="{{ track.startDate.format('H:i') }}"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="">{{ 'track.time_label_timezone'|trans }}</label>
                                    <input class="form-control" type="text" disabled="disabled"
                                           value="{{ track.ride.city.timezone }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ 'track.time_new'|trans }}
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group{% if form_errors(form.startDate) %} has-error has-feedback{% endif %}">
                                    <label class="control-label" for="">{{ 'track.time_label_date'|trans }}</label>
                                    {{ form_widget(form.startDate, { 'attr' : { 'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group{% if form_errors(form.startTime) %} has-error has-feedback{% endif %}">
                                    <label class="control-label" for="">{{ 'track.time_label_time'|trans }}</label>
                                    {{ form_widget(form.startTime, { 'attr' : { 'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="">{{ 'track.time_label_timezone'|trans }}</label>
                                    <input class="form-control" type="text" disabled="disabled"
                                           value="{{ track.ride.city.timezone }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="btn-group">
                    <a href="{{ path('caldera_criticalmass_track_list') }}" class="btn btn-secondary">
                        {{ 'common.cancel'|trans }}
                    </a>
                    <button type="submit" class="btn btn-success">
                        {{ 'common.save'|trans }}
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
