{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}Zeit anpassen{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Dein Benutzerkonto', path('criticalmass_user_usermanagement')) }}
    {{ breadcrumb.item('Deine Tracks', path('caldera_criticalmass_track_list')) }}
    {{ breadcrumb.active('Zeit anpassen') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Zeit anpassen
                </h1>

                <p class="lead">
                    Falls dein Aufzeichnungsgerät aus irgendeinem Grunde eine falsche Uhrzeit bei deinem GPX-Track
                    angegeben haben sollte, kannst du hier den Start-Zeitpunkt deines Tracks verschieben.
                </p>
            </div>
        </div>

        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Alte Uhrzeit
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="">Datum:</label>
                                    <input class="form-control" type="text" disabled="disabled"
                                           value="{{ track.startDate.format('d.m.Y') }}"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="">Uhrzeit:</label>
                                    <input class="form-control" type="text" disabled="disabled"
                                           value="{{ track.startDate.format('H:i') }}"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="">Zeitzone:</label>
                                    <input class="form-control" type="text" disabled="disabled"
                                           value="{{ track.ride.city.timezone }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Neue Uhrzeit
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group{% if form_errors(form.startDate) %} has-error has-feedback{% endif %}">
                                    <label class="control-label" for="">Datum:</label>
                                    {{ form_widget(form.startDate, { 'attr' : { 'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group{% if form_errors(form.startTime) %} has-error has-feedback{% endif %}">
                                    <label class="control-label" for="">Uhrzeit:</label>
                                    {{ form_widget(form.startTime, { 'attr' : { 'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="">Zeitzone:</label>
                                    <input class="form-control" type="text" disabled="disabled"
                                           value="{{ track.ride.city.timezone }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="btn-group">
                    <a href="{{ path('caldera_criticalmass_track_list') }}" class="btn btn-default">
                        Abbrechen
                    </a>
                    <button type="submit" class="btn btn-success">
                        Speichern
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
