{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'track.upload.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('city.list.title'|trans, path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(ride.city.city, object_path(ride.city)) }}
    {{ breadcrumb.item(ride.title, object_path(ride)) }}
    {{ breadcrumb.active('track.upload.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-offset-md-3">
                <h2>
                    {{ 'track.upload.heading'|trans }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-offset-md-3">
                <p>
                    {{ 'track.upload.intro'|trans({ '%city%': ride.city.title, '%date%': ride.dateTime|date('d.m.Y', ride.city.timezone) }) }}
                </p>
            </div>
        </div>

        {{ form_start(form, {'attr': {'role': 'form', 'id': 'track-upload-form'}}) }}

        <div class="row">
            <div class="col-md-6 col-offset-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ 'track.upload.panel_title'|trans }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% if errorMessage %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-danger" role="alert">
                                        <strong>{{ 'track.upload.error'|trans }}</strong>
                                        {{ errorMessage }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">{{ 'track.upload.file_label'|trans }}</label>
                                    {{ form_widget(form.trackFile, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-offset-md-3">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="submit" class="btn btn-success"
                        data-controller="submit-disabler"
                        data-action="click->submit-disabler#disable"
                        data-submit-disabler-message-value="{{ 'common.please_wait'|trans }}">
                        {{ 'track.upload.submit'|trans }}
                    </button>
                    <a href="{{ object_path(ride) }}" class="btn btn-secondary">
                        {{ 'common.cancel'|trans }}
                    </a>
                </div>
            </div>
        </div>

        {{ form_end(form) }}

    </div>
{% endblock %}
