{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Gpx-Datei hochladen{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>
    <li>
        <a href="{{ object_path(ride.city) }}">
            {{ ride.city.city }}
        </a>
    </li>
    <li>
        <a href="{{ object_path(ride) }}">
            {{ ride.title }}
        </a>
    </li>
    <li class="active">
        Track hochladen
    </li>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>
                    Gpx-Datei hochladen
                </h2>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6 offset-md-3">
                <p>
                    Wenn du deine Fahrt bei der <strong>{{ ride.city.title }}</strong> am
                    <strong>{{ ride.dateTime|date('d.m.Y', ride.city.timezone) }}</strong> aufgezeichnet hast, kannst du
                    hier deinen Track als GPX-Datei hochladen.
                </p>
            </div>
        </div>

        {{ form_start(form, {'attr': {'role': 'form', 'id': 'track-upload-form'}}) }}

        <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h5 mb-0">
                            Gpx-Datei hochladen
                        </h3>
                    </div>
                    <div class="card-body">
                        {% if errorMessage %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Hochladen fehlgeschlagen :(</strong>
                                        {{ errorMessage }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="mb-3">
                            <label class="form-label">Datei:</label>
                            {{ form_widget(form.trackFile, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6 offset-md-3">
                <div class="btn-group float-end" role="group" aria-label="Track-Aktionen">
                    <button type="submit"
                            class="btn btn-success disable-after-submit"
                            data-disabled-message="Bitte warten…">
                        Track hochladen
                    </button>
                    <a href="{{ object_path(ride) }}" class="btn btn-secondary">
                        Abbrechen
                    </a>
                </div>
            </div>
        </div>

        {{ form_end(form) }}

    </div>
{% endblock %}
