{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}Gpx-Datei hochladen{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Städteliste', path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(ride.city.city, object_path(ride.city)) }}
    {{ breadcrumb.item(ride.title, object_path(ride)) }}
    {{ breadcrumb.active('Track hochladen') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-offset-md-3">
                <h2>
                    Gpx-Datei hochladen
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-offset-md-3">
                <p>
                    Wenn du deine Fahrt bei der <strong>{{ ride.city.title }}</strong> am
                    <strong>{{ ride.dateTime|date('d.m.Y', ride.city.timezone) }}</strong> aufgezeichnet hast, kannst du
                    hier
                    deinen Track als GPX-Datei hochladen.
                </p>
            </div>
        </div>

        {{ form_start(form, {'attr': {'role': 'form', 'id': 'track-upload-form'}}) }}

        <div class="row">
            <div class="col-md-6 col-offset-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Gpx-Datei hochladen
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% if errorMessage %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert alert-danger" role="alert">
                                        <strong>Hochladen fehlgeschlagen :(</strong>
                                        {{ errorMessage }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Datei:</label>
                                    {{ form_widget(form.trackFile, {'attr': {'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-offset-md-3">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="submit" class="btn btn-success"
                        data-controller="submit-disabler"
                        data-action="click->submit-disabler#disable"
                        data-submit-disabler-message-value="Bitte warten…">
                        Track hochladen
                    </button>
                    <a href="{{ object_path(ride) }}" class="btn btn-secondary">
                        Abbrechen
                    </a>
                </div>
            </div>
        </div>

        {{ form_end(form) }}

    </div>
{% endblock %}
