{% extends 'Template/StandardTemplate.html.twig' %}

{% set bootstrap4 = true %}

{% block title %}Deine Tracks{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li>
        <a href="{{ path('caldera_criticalmass_track_list') }}">
            Deine Tracks
        </a>
    </li>

    <li class="active">
        Track anzeigen
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    {{ track.ride.title }}
                </h2>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <div id="map" style="height: 350px;"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-3">
                <dl>
                    <dt>
                        Tour:
                    </dt>
                    <dd>
                        <a href="{{ objectPath(track.ride) }}">
                            {{ track.ride.title }}
                        </a>
                    </dd>
                </dl>
            </div>

            <div class="col-2">
                <dl>
                    <dt>
                        Datum:
                    </dt>
                    <dd>
                        {{ track.ride.dateTime|date('d.m.Y H:i', track.ride.city.timezone) }}&nbsp;Uhr
                    </dd>
                </dl>
            </div>

            <div class="col-3">
                <dl>
                    <dt>
                        Treffpunkt:
                    </dt>
                    <dd>
                        {% if track.ride.getHasLocation and track.ride.location %}
                            {{ track.ride.location }}
                        {% else %}
                            nicht bekannt
                        {% endif %}
                    </dd>
                </dl>
            </div>

            <div class="col-2">
                <dl>
                    <dt>
                        Distanz:
                    </dt>
                    <dd>
                        {{ track.distance|round(2) }}&nbsp;km
                    </dd>
                </dl>
            </div>

            <div class="col-2">
                <dl>
                    <dt>
                        Dauer:
                    </dt>
                    <dd>
                        {{ human_duration(track.getDurationInSeconds()) }}
                    </dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <nav aria-label="Track navigation" class="text-center m-4">
                    <ul class="pagination justify-content-center">
                        {% if previousTrack %}
                            <li class="page-item">
                                <a class="page-link" href="{{ objectPath(previousTrack) }}">
                                    &larr; Voriger Track
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">
                                    &larr; Voriger Track
                                </a>
                            </li>
                        {% endif %}

                        {% if nextTrack %}
                            <li class="page-item">
                                <a class="page-link" href="{{ objectPath(nextTrack) }}">
                                    Nächster Track &rarr;
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">
                                    Nächster Track &rarr;
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <script>
        CriticalMass.loadModule('TrackViewPage', null, null, function (viewPage) {
            viewPage.addTrack('{{ track|serialize|raw|e('js') }}');

            viewPage.focus();
        });
    </script>
{% endblock %}
