{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'track.view_page.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('profile.account'|trans, path('criticalmass_user_usermanagement')) }}
    {{ breadcrumb.item('track.list_page.title'|trans, path('caldera_criticalmass_track_list')) }}
    {{ breadcrumb.active('track.view_page.title'|trans) }}
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                {% if track.getRide().getTitle() %}
                    <h1>{{ track.getRide().getTitle() }}</h1>
                {% else %}
                    <h1>{{ track.getRide().getCity().getTitle() }}</h1>
                {% endif %}
            </div>
        </div>

        {% if not track.reviewed %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <div class="btn-group pull-right">
                            <a class="btn btn-success"
                               href="{{ object_path(track, 'caldera_criticalmass_track_range') }}">
                                <i class="far fa-cut"></i>&nbsp;{{ 'track.view_page.trim_button'|trans }}
                            </a>
                            <a class="btn btn-secondary"
                               href="{{ object_path(track, 'caldera_criticalmass_track_approve') }}">
                                <i class="far fa-check"></i>&nbsp;{{ 'track.view_page.approve_button'|trans }}
                            </a>
                        </div>

                        <strong>
                            {{ 'track.view_page.not_reviewed_alert'|trans }}
                        </strong>
                        <br/>
                        {{ 'track.view_page.not_reviewed_hint'|trans({'%range_url%': object_path(track, 'caldera_criticalmass_track_range')})|raw }}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <div
                        id="map"
                        class="map"
                        style="height: 350px;"
                        data-controller="map--map"
                        data-map--map-polyline-value="{{ track.polyline }}"
                        data-map--map-polyline-color-value="{{ track.user.color }}"
                ></div>
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-3">
                <dl>
                    <dt>
                        {{ 'track.properties.ride'|trans }}
                    </dt>
                    <dd>
                        <a href="{{ object_path(track.ride) }}">
                            {{ track.ride.title }}
                        </a>
                    </dd>
                </dl>
            </div>

            <div class="col-md-2">
                <dl>
                    <dt>
                        {{ 'track.properties.date'|trans }}
                    </dt>
                    <dd>
                        {{ track.ride.dateTime|date('d.m.Y H:i', track.ride.city.timezone) }}&nbsp;{{ 'common.time_suffix'|trans }}
                    </dd>
                </dl>
            </div>

            <div class="col-md-3">
                <dl>
                    <dt>
                        {{ 'track.properties.ride_location'|trans }}
                    </dt>
                    <dd>
                        {% if track.ride.location and track.ride.latitude and track.ride.longitude %}
                            {{ track.ride.location }}
                        {% else %}
                            {{ 'track.properties.ride_location_unknown'|trans }}
                        {% endif %}
                    </dd>
                </dl>
            </div>

            <div class="col-md-2">
                <dl>
                    <dt>
                        {{ 'track.properties.distance'|trans }}
                    </dt>
                    <dd>
                        {{ track.distance|number_format(2) }}&nbsp;km
                    </dd>
                </dl>
            </div>

            <div class="col-md-2">
                <dl>
                    <dt>
                        {{ 'track.properties.duration'|trans }}
                    </dt>
                    <dd>
                        {{ human_duration(track.getDurationInSeconds()) }}
                    </dd>
                </dl>
            </div>
        </div>

        {% set previous_track = previous_entity(track) %}
        {% set next_track = next_entity(track) %}
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="Track Navigation">
                    <ul class="pagination justify-content-between">
                        <li class="page-item{% if not previous_track %} disabled{% endif %}">
                            <a class="page-link" href="{% if previous_track %}{{ object_path(previous_track) }}{% else %}#{% endif %}">
                                &larr; {{ 'track.previous'|trans }}
                            </a>
                        </li>

                        <li class="page-item{% if not next_track %} disabled{% endif %}">
                            <a class="page-link" href="{% if next_track %}{{ object_path(next_track) }}{% else %}#{% endif %}">
                                {{ 'track.next'|trans }} &rarr;
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
