{% extends 'Template/StandardTemplate.html.twig' %}{% block title %}Deine Tracks{% endblock %}

{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block breadcrumb %}
    {{ bootstrap.breadcrumb_item('Dein Benutzerkonto', path('criticalmass_user_usermanagement')) }}
    {{ bootstrap.breadcrumb_item('Deine Tracks', path('caldera_criticalmass_track_list')) }}
    {{ bootstrap.breadcrumb_item('Track anzeigen', '', true) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    {{ track.ride.title }}
                </h2>
            </div>
        </div>

        {% if not track.reviewed %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <div class="btn-group pull-right">
                            <a class="btn btn-success"
                               href="{{ objectPath(track, 'caldera_criticalmass_track_range') }}">
                                <i class="far fa-cut"></i>&nbsp;Track beschneiden
                            </a>
                            <a class="btn btn-default"
                               href="{{ objectPath(track, 'caldera_criticalmass_track_approve') }}">
                                <i class="far fa-check"></i>&nbsp;Track bestätigen
                            </a>
                        </div>

                        <strong>
                            Dein Track wurde noch nicht bestätigt!
                        </strong>
                        <br/>
                        Bitte bestägtige, dass dein Track nur den tatsächlichen Routenverlauf der Critical Mass abbildet
                        und etwaige An- und Abfahrten nicht enthalten sind. Du kannst deinen Track <a
                                href="{{ objectPath(track, 'caldera_criticalmass_track_range') }}">ganz einfach online
                            beschneiden</a>.
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row mt-2">
            <div class="col-12">
                <div id="map" style="height: 350px;"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-3">
                <dl>
                    <dt>
                        Tour:
                    </dt>
                    <dd>
                        <a href="{{ objectPath(track.ride) }}">
                            {{ track.ride.title }}
                        </a>
                    </dd>
                </dl>
            </div>

            <div class="col-2">
                <dl>
                    <dt>
                        Datum:
                    </dt>
                    <dd>
                        {{ track.ride.dateTime|date('d.m.Y H:i', track.ride.city.timezone) }}&nbsp;Uhr
                    </dd>
                </dl>
            </div>

            <div class="col-3">
                <dl>
                    <dt>
                        Treffpunkt:
                    </dt>
                    <dd>
                        {% if track.ride.location and track.ride.latitude and track.ride.longitude %}
                            {{ track.ride.location }}
                        {% else %}
                            nicht bekannt
                        {% endif %}
                    </dd>
                </dl>
            </div>

            <div class="col-2">
                <dl>
                    <dt>
                        Distanz:
                    </dt>
                    <dd>
                        {{ track.distance|number_format(2) }}&nbsp;km
                    </dd>
                </dl>
            </div>

            <div class="col-2">
                <dl>
                    <dt>
                        Dauer:
                    </dt>
                    <dd>
                        {{ human_duration(track.getDurationInSeconds()) }}
                    </dd>
                </dl>
            </div>
        </div>

        {% set previous_track = previous_entity(track) %}
        {% set next_track = next_entity(track) %}
        <div class="row">
            <div class="col-12">
                <nav aria-label="Track navigation" class="text-center m-4">
                    <ul class="pagination justify-content-center">
                        {% if previous_track %}
                            <li class="page-item">
                                <a class="page-link" href="{{ objectPath(previous_track) }}">
                                    &larr; Voriger Track
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">
                                    &larr; Voriger Track
                                </a>
                            </li>
                        {% endif %}

                        {% if next_track %}
                            <li class="page-item">
                                <a class="page-link" href="{{ objectPath(next_track) }}">
                                    Nächster Track &rarr;
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">
                                    Nächster Track &rarr;
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <script>
        CriticalMass.loadModule('TrackViewPage', null, null, function (viewPage) {
            viewPage.addTrack('{{ track|serialize|raw|e('js') }}');

            viewPage.focus();
        });
    </script>
{% endblock %}
