{% extends 'Template/StandardTemplate.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>

    {% if profileAbleType == 'city' %}
        <li>
            <a href="{{ object_path(profileAble) }}">
                {{ profileAble.city }}
            </a>
        </li>

        <li>
            <a href="{{ object_path(profileAble, 'criticalmass_socialnetwork_city_list') }}">
                Soziale Netzwerke
            </a>
        </li>
    {% endif %}

    {% if profileAbleType == 'ride' %}
        <li>
            <a href="{{ object_path(profileAble.city) }}">
                {{ profileAble.city.city }}
            </a>
        </li>

        <li>
            <a href="{{ object_path(profileAble) }}">
                {{ profileAble.title }}
            </a>
        </li>

        <li>
            <a href="{{ object_path(profileAble, 'criticalmass_socialnetwork_ride_list') }}">
                Soziale Netzwerke
            </a>
        </li>
    {% endif %}

    <li class="active">
        Soziales Netzwerk editieren
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>
                    Soziales Netzwerk editieren
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                {{ form_start(form) }}

                <div class="mb-3">
                    <label class="form-label">Adresse:</label>
                    {{ form_widget(form.identifier, { attr : { class: 'form-control' } }) }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Soziales Netzwerk:</label>
                    {{ form_widget(form.network, { attr : { class: 'form-control' } }) }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Hauptkonto:</label>
                    {{ form_widget(form.mainNetwork, { attr : { class: 'form-control' } }) }}
                    <div class="form-text">
                        Handelt es sich bei diesem Konto um das Hauptkonto in diesem Netzwerk?
                    </div>
                </div>

                <div class="mt-3">
                    <div class="d-flex justify-content-end">
                        {% set cancel_path = object_path(profileAble, 'criticalmass_socialnetwork_' ~ profileAbleType ~ '_list') %}
                        <a href="{{ cancel_path }}" class="btn btn-secondary me-2">
                            Abbrechen
                        </a>

                        <button type="submit" class="btn btn-primary">
                            Speichern
                        </button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
