{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block breadcrumb %}
    {{ breadcrumb.item('city.breadcrumb_city_list'|trans, path('caldera_criticalmass_city_list')) }}
    {% if profileAbleType == 'city' %}
        {{ breadcrumb.item(profileAble.city, object_path(profileAble)) }}
        {{ breadcrumb.item('social_network.breadcrumb'|trans, object_path(profileAble, 'criticalmass_socialnetwork_city_list')) }}
    {% endif %}
    {% if profileAbleType == 'ride' %}
        {{ breadcrumb.item(profileAble.city.city, object_path(profileAble.city)) }}
        {{ breadcrumb.item(profileAble.title, object_path(profileAble)) }}
        {{ breadcrumb.item('social_network.breadcrumb'|trans, object_path(profileAble, 'criticalmass_socialnetwork_ride_list')) }}
    {% endif %}
    {{ breadcrumb.active('social_network.edit_title'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>
                    {{ 'social_network.edit_title'|trans }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {{ form_start(form) }}

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="control-label" for="">{{ 'social_network.label_address'|trans }}</label>
                        {{ form_widget(form.identifier, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="control-label" for="">{{ 'social_network.label_social_network'|trans }}</label>
                        {{ form_widget(form.network, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="control-label" for="">{{ 'social_network.label_main_account'|trans }}</label>
                        {{ form_widget(form.mainNetwork, { 'attr' : { 'class': 'form-control'} }) }}
                        <p class="help-block">
                            {{ 'social_network.help_main_account'|trans }}
                        </p>
                    </div>
                </div>

                <div class="row">
                     <div class="col-md-12 form-group">
                         <div class="btn-group pull-right">
                             {% set cancel_path = object_path(profileAble, 'criticalmass_socialnetwork_' ~ profileAbleType ~ '_list') %}
                             <a href="{{ cancel_path }}" class="btn btn-secondary">
                                 {{ 'common.cancel'|trans }}
                             </a>

                             <button type="submit" class="btn btn-primary">
                                 {{ 'common.save'|trans }}
                             </button>
                         </div>
                     </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
