{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block breadcrumb %}
    {% if profileAbleType == 'city' %}
        {{ breadcrumb.item(profileAble.city, object_path(profileAble)) }}
        {{ breadcrumb.active('Soziale Netzwerke') }}
    {% endif %}
    {% if profileAbleType == 'ride' %}
        {{ breadcrumb.item(profileAble.city.city, object_path(profileAble.city)) }}
        {{ breadcrumb.item(profileAble.title, object_path(profileAble)) }}
        {{ breadcrumb.active('Soziale Netzwerke') }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">

        {{ include('Flash/_flash.html.twig') }}

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#profile-add-modal">
                    <i class="far fa-plus me-1"></i>
                    Profil ergänzen
                </button>

                <h2>
                    Soziale Netzwerke
                </h2>

                {% if profileAbleType == 'city' %}
                    <p class="lead">
                        Die folgende Liste enthält Konten in sozialen Netzwerken und Links zu Webseiten, die mit der Critical Mass in <strong>{{ profileAble.city }}</strong> in Verbindung stehen.
                    </p>
                {% endif %}

                {% if profileAbleType == 'ride' %}
                    <p class="lead">
                        Die folgende Liste enthält Konten in sozialen Netzwerken und Links zu Webseiten, die zu der Tour am <strong>{{ profileAble.dateTime|date('d.m.Y') }}</strong> in Verbindung stehen.
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Netzwerk
                            </th>
                            <th>
                                Benutzername
                            </th>
                            <th>
                                Verwaltung
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for profile in list %}
                        {% set network = getNetwork(profile.network) %}

                        <tr>
                            <td class="text-center"{% if network %} style="background-color: {{ network.backgroundColor }}; color: {{ network.textColor }};"{% endif %}>
                                <i class="{{ network ? network.icon : 'far fa-globe' }}"></i>
                            </td>
                            <td>
                                {{ network ? network.name : profile.network }}
                            </td>
                            <td>
                                <a href="{{ profile.identifier }}">
                                    {{ profile.identifier }}
                                </a>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ path('criticalmass_socialnetwork_edit', { id: profile.id }) }}" class="btn btn-secondary btn-sm">
                                        <i class="far fa-pencil"></i>
                                    </a>
                                    <form method="post" action="{{ path('criticalmass_socialnetwork_disable', { id: profile.id }) }}" class="d-inline">
                                        <input type="hidden" name="_token" value="{{ csrf_token('socialnetwork_disable_' ~ profile.id) }}">
                                        <button type="submit" class="btn btn-secondary btn-sm">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                        {% if list|length == 0 %}
                            <tr>
                                <td colspan="4">
                                    <div class="text-center py-4">
                                        <i class="far fa-share-alt fa-2x text-muted mb-3 d-block"></i>
                                        <p class="text-muted mb-0">
                                            {% if profileAbleType == 'ride' %}
                                            Schade, zu dieser Tour wurden noch keine sozialen Netzwerke gespeichert.
                                            {% else %}
                                            Schade, zu dieser Stadt wurden noch keine sozialen Netzwerke gespeichert.
                                            {% endif %}
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if profileAbleType == 'ride' %}
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    Die Profile der übergeordneten Stadt {{ profileAble.city.city }} werden getrennt von dieser Liste verwaltet:<br />
                    <a class="btn btn-secondary mt-2" href="{{ object_path(profileAble.city, 'criticalmass_socialnetwork_city_list') }}">Profile der Stadt verwalten</a>
                </p>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="modal fade" id="profile-add-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                {{ form_start(addProfileForm) }}
                <div class="modal-header border-0">
                    <h5 class="modal-title">
                        <i class="far fa-plus text-primary me-2"></i>
                        Profil ergänzen
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Kopiere einfach den Link zu einem Profil aus einem sozialen Netzwerk hier hinein!
                    </p>
                    <div class="mb-3">
                        <label class="form-label" for="identifier">
                            Link zum Profil:
                        </label>
                        {{ form_widget(addProfileForm.identifier, { 'attr' : { 'class': 'form-control' } }) }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="identifier">
                            Netzwerk:
                        </label>
                        {{ form_widget(addProfileForm.network, { 'attr' : { 'class': 'form-control' } }) }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="mainNetwork">
                            Hauptprofil:
                        </label>
                        {{ form_widget(addProfileForm.mainNetwork, { 'attr' : { 'class': 'form-control' } }) }}
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                        Abbrechen
                    </button>
                    <button type="submit" class="btn btn-success">
                        <i class="far fa-save me-1"></i>
                        Speichern
                    </button>
                </div>
                {{ form_end(addProfileForm) }}
            </div>
        </div>
    </div>
{% endblock %}
