{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block breadcrumb %}
    {{ breadcrumb.item('city.breadcrumb_city_list'|trans, path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(city.city, object_path(city)) }}
    {{ breadcrumb.active('social_network.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        {{ include('City/Includes/_tabs.html.twig', { tab: 'socialnetwork_city_list_items' }) }}

        <div class="row">
            <div class="col-md-12">
                {% if itemList|length == 0 %}
                    <div class="alert alert-info">
                        <p>
                            {{ 'social_network.items_empty'|trans({'%city_title%': city.title}) }}
                        </p>

                        <p>
                            {{ 'social_network.items_empty_hint'|trans({'%city_name%': city.city, '%social_network_url%': object_path(city, 'criticalmass_socialnetwork_city_list')})|raw }}
                        </p>
                    </div>
                {% endif %}

                {% for item in itemList %}
                    <div class="row margin-bottom-medium">
                        <div class="col-md-3 text-center">
                            <p>
                                <i class="fab fa-3x {{ network_icon(item.socialNetworkProfile.network) }}"></i>
                            </p>

                            <a href="{{ item.permalink }}">
                                <time title="{{ item.dateTime|date('d.m.Y H:i') }} {{ 'common.time_suffix'|trans }}">
                                    {{ item.dateTime|time_ago_in_words }}
                                </time>
                            </a>
                        </div>
                        <div class="col-md-9">
                            <h3 class="no-margin-top">
                                <a href="{{ item.permalink }}">
                                    {{ item.title }}
                                </a>
                            </h3>

                            <p>
                                {{ item.text|trim_intro }}
                            </p>

                            <p class="text-right">
                                <a href="{{ item.permalink }}" title="{{ 'social_network.read_more'|trans }}" class="btn btn-primary">
                                    <i class="far fa-hand-point-right"></i>
                                    {{ 'social_network.read_more'|trans }}
                                </a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
