{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block breadcrumb %}
    {{ breadcrumb.item('city.breadcrumb_city_list'|trans, path('caldera_criticalmass_city_list')) }}
    {% if profileAbleType == 'city' %}
        {{ breadcrumb.item(profileAble.city, object_path(profileAble)) }}
        {{ breadcrumb.active('social_network.breadcrumb'|trans) }}
    {% endif %}
    {% if profileAbleType == 'ride' %}
        {{ breadcrumb.item(profileAble.city.city, object_path(profileAble.city)) }}
        {{ breadcrumb.item(profileAble.title, object_path(profileAble)) }}
        {{ breadcrumb.active('social_network.breadcrumb'|trans) }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">

        {{ include('Flash/_flash.html.twig') }}

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success pull-right" data-bs-toggle="modal" data-bs-target="#profile-add-modal">
                    <i class="far fa-plus"></i>
                    {{ 'social_network.add_profile'|trans }}
                </button>

                <h2>
                    {{ 'social_network.breadcrumb'|trans }}
                </h2>

                {% if profileAbleType == 'city' %}
                    <p class="lead">
                        {{ 'social_network.list_lead_city'|trans({'%city_name%': profileAble.city}) }}
                    </p>
                {% endif %}

                {% if profileAbleType == 'ride' %}
                    <p class="lead">
                        {{ 'social_network.list_lead_ride'|trans({'%ride_date%': profileAble.dateTime|date('d.m.Y')}) }}
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                {{ 'social_network.col_network'|trans }}
                            </th>
                            <th>
                                {{ 'social_network.col_username'|trans }}
                            </th>
                            <th>
                                {{ 'social_network.col_management'|trans }}
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for profile in list %}
                        {% set network = getNetwork(profile.network) %}

                        <tr>
                            <td class="text-center" style="background-color: {{ network.backgroundColor }}; color: {{ network.textColor }};">
                                <i class="{{ network.icon }}"></i>
                            </td>
                            <td>
                                {{ network.name }}
                            </td>
                            <td>
                                <a href="{{ profile.identifier }}">
                                    {{ profile.identifier }}
                                </a>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ path('criticalmass_socialnetwork_edit', { id: profile.id }) }}" class="btn btn-secondary btn-xs">
                                        <i class="far fa-pencil"></i>
                                    </a>
                                    <a href="{{ path('criticalmass_socialnetwork_disable', { id: profile.id }) }}" class="btn btn-secondary btn-xs">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                        {% if list|length == 0 %}
                            <tr>
                                <td colspan="4">
                                    <div class="alert alert-info">
                                        {% if profileAbleType == 'ride' %}
                                        {{ 'social_network.empty_ride'|trans }}
                                        {% else %}
                                        {{ 'social_network.empty_city'|trans }}
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if profileAbleType == 'ride' %}
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    {{ 'social_network.parent_city_info'|trans({'%city_name%': profileAble.city.city}) }}<br />
                    <a class="btn btn-secondary margin-top-small" href="{{ object_path(profileAble.city, 'criticalmass_socialnetwork_city_list') }}">{{ 'social_network.manage_city_profiles'|trans }}</a>
                </p>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="modal fade" id="profile-add-modal" tabindex="-1" role="dialog" aria-labelledby="profile-add-modal-label">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                {{ form_start(addProfileForm) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="profile-add-modal-label">
                        {{ 'social_network.add_profile'|trans }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        {{ 'social_network.add_profile_info'|trans }}
                    </p>
                    <div class="form-group">
                        <label class="control-label" for="identifier">
                            {{ 'social_network.label_profile_link'|trans }}
                        </label>
                        {{ form_widget(addProfileForm.identifier, { 'attr' : { 'class': 'form-control' } }) }}
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="identifier">
                            {{ 'social_network.label_network'|trans }}
                        </label>
                        {{ form_widget(addProfileForm.network, { 'attr' : { 'class': 'form-control' } }) }}
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="mainNetwork">
                            {{ 'social_network.label_main_profile'|trans }}
                        </label>
                        {{ form_widget(addProfileForm.mainNetwork, { 'attr' : { 'class': 'form-control' } }) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            {{ 'common.cancel'|trans }}
                        </button>
                        <button type="submit" class="btn btn-success">
                            {{ 'common.save'|trans }}
                        </button>
                    </div>
                </div>
                {{ form_end(addProfileForm) }}
            </div>
        </div>
    </div>
{% endblock %}
