{% extends 'Template/StandardTemplate.html.twig' %}{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block breadcrumb %}
    {% if profileAbleType == 'city' %}
        {{ bootstrap.breadcrumb_item('Städteliste', 'caldera_criticalmass_city_list') }}
        {{ bootstrap.breadcrumb_item(profileAble.city, objectPath(profileAble)) }}
        {{ bootstrap.breadcrumb_item('Soziale Netzwerke', '', true) }}
    {% endif %}

    {% if profileAbleType == 'ride' %}
        {{ bootstrap.breadcrumb_item('Städteliste', 'caldera_criticalmass_city_list') }}
        {{ bootstrap.breadcrumb_item(profileAble.city.city, objectPath(profileAble.city)) }}
        {{ bootstrap.breadcrumb_item(profileAble.title, objectPath(profileAble)) }}
        {{ bootstrap.breadcrumb_item('Soziale Netzwerke', '', true) }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">

        {{ include('Flash/_flash.html.twig') }}

        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#profile-add-modal">
                    <i class="far fa-plus"></i>
                    Profil ergänzen
                </button>

                <h2>
                    Soziale Netzwerke
                </h2>

                {% if profileAbleType == 'city' %}
                    <p class="lead">
                        Die folgende Liste enthält Konten in sozialen Netzwerken und Links zu Webseiten, die mit der Critical Mass in <strong>{{ profileAble.city }}</strong> in Verbindung stehen.
                    </p>
                {% endif %}

                {% if profileAbleType == 'ride' %}
                    <p class="lead">
                        Die folgende Liste enthält Konten in sozialen Netzwerken und Links zu Webseiten, die zu der Tour am <strong>{{ profileAble.dateTime|date('d.m.Y') }}</strong> in Verbindung stehen.
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Netzwerk
                            </th>
                            <th>
                                Benutzername
                            </th>
                            <th>
                                Verwaltung
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for profile in list %}
                        {% set network = getNetwork(profile.network) %}

                        <tr>
                            <td class="text-center" style="background-color: {{ network.backgroundColor }}; color: {{ network.textColor }};">
                                <i class="{{ network.icon }}"></i>
                            </td>
                            <td>
                                {{ network.name }}
                            </td>
                            <td>
                                <a href="{{ profile.identifier }}">
                                    {{ profile.identifier }}
                                </a>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ path('criticalmass_socialnetwork_edit', { profileId: profile.id }) }}" class="btn btn-secondary btn-xs">
                                        <i class="far fa-pencil"></i>
                                    </a>
                                    <a href="{{ path('criticalmass_socialnetwork_disable', { profileId: profile.id }) }}" class="btn btn-secondary btn-xs">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                        {% if list|length == 0 %}
                            <tr>
                                <td colspan="4">
                                    <div class="alert alert-info">
                                        {% if profileAbleType == 'ride' %}
                                        Schade, zu dieser Tour wurden noch keine sozialen Netzwerke gespeichert.
                                        {% else %}
                                        Schade, zu dieser Stadt wurden noch keine sozialen Netzwerke gespeichert.
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if profileAbleType == 'ride' %}
        <div class="row">
            <div class="col-12">
                <p class="text-center">
                    Die Profile der übergeordneten Stadt {{ profileAble.city.city }} werden getrennt von dieser Liste verwaltet:<br />
                    <a class="btn btn-secondary mt-1" href="{{ object_path(profileAble.city, 'criticalmass_socialnetwork_city_list') }}">Profile der Stadt verwalten</a>
                </p>
            </div>
        </div>
        {% endif %}
    </div>

    {% set modal_content %}
        <p>
            Kopiere einfach den Link zu einem Profil aus einem sozialen Netzwerk hier hinein!
        </p>
        <div class="form-group">
            <label class="control-label" for="identifier">
                Link zum Profil:
            </label>
            {{ form_widget(addProfileForm.identifier, { 'attr' : { 'class': 'form-control' } }) }}
        </div>

                    <div class="form-group">
                        <label class="control-label" for="identifier">
                            Netzwerk:
                        </label>
                        {{ form_widget(addProfileForm.network, { 'attr' : { 'class': 'form-control' } }) }}
                    </div>

        <div class="form-group">
            <label class="control-label" for="mainNetwork">
                Hauptprofil:
            </label>
            {{ form_widget(addProfileForm.mainNetwork, { 'attr' : { 'class': 'form-control' } }) }}
        </div>
    {% endset %}

    {% set modal_pre_content %}
        {{ form_start(addProfileForm) }}
    {% endset %}

    {% set modal_post_content %}
        {{ form_end(addProfileForm) }}
    {% endset %}

    {% set button_list = [
        { caption: 'Abbrechen', href: null, attr: { 'data-dismiss': 'modal' }, class: 'btn-secondary' },
        { caption: 'Speichern', href: null, attr: { 'type': 'submit' }, class: 'btn-primary' }
    ] %}

    {{ bootstrap.modal('profile-add-modal', 'Profil ergänzen', modal_content, { pre_content: modal_pre_content, post_content: modal_post_content }, button_list) }}

{% endblock %}
