{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Statistiken{% endblock %}

{% block content %}
    {% javascripts
    '@CalderaCriticalmassStatisticBundle/Resources/public/js/Chartjs/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <div class="container">
        <h1>Critical Mass Deutschland im {{ currentMonth.format('F Y') }}</h1>

        <canvas id="myChart" width="1000" height="400"></canvas>

        <script>
            var data = [
                    {% for rides2 in rides %}
                    {% for ride in rides2 %}
                    {
                        label: "{{ ride.getCity().getCity() }}",
                        color: "rgba({{ ride.getCity().getColorRed() }}, {{ ride.getCity().getColorGreen() }}, {{ ride.getCity().getColorBlue() }}, 0.2)",
                        highlight: "rgba({{ ride.getCity().getColorRed() }}, {{ ride.getCity().getColorGreen() }}, {{ ride.getCity().getColorBlue() }}, 1)",
                        value: {{ ride.getEstimatedParticipants() }}
                    },
                    {% endfor %}
                    {% endfor %}
                ];

            window.onload = function() {
                var ctx = $("#myChart").get(0).getContext("2d");
                var myLineChart = new Chart(ctx).Pie(data);
            }
        </script>
        <ul class="pager">
            {% if previousMonth %}
                <li class="previous"><a href="{{ path('caldera_criticalmass_statistic_ride_participants', { year: previousMonth.format('Y'), month: previousMonth.format('m') }) }}">{{ previousMonth.format('F Y') }}</a></li>
            {% endif %}

            {% if nextMonth %}
                <li class="next"><a href="{{ path('caldera_criticalmass_statistic_ride_participants', { year: nextMonth.format('Y'), month: nextMonth.format('m') }) }}">{{ nextMonth.format('F Y') }}</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}