{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Kennwort vergessen?{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Kennwort vergessen?
    </li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>
                Kennwort vergessen?
            </h2>

            <p class="lead">
                Keine Panik: Wenn du dein Kennwort vergessen hast, kannst du dir hier ganz unkompliziert ein neues generieren lassen. Bitte gib in das folgende Eingabefeld deinen Benutzernamen ein und wir schicken dir eine Mail mit weiteren Informationen zum Zurücksetzen deines Kennwortes.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Kennwort zurücksetzen
                </div>
                <div class="panel-body">
                    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label" for="fos_user_change_password_form[new][first]">
                                Dein neues Kennwort:
                            </label>
                            {{ form_widget(form.plainPassword.first, { attr: { class: 'form-control' } }) }}
                        </div>
                    </div>

                    <div class="row margin-top-medium">
                        <div class="col-md-12">
                            <label class="control-label" for="fos_user_change_password_form[new][second]">
                                Gleich noch einmal:
                            </label>
                            {{ form_widget(form.plainPassword.second, { attr: { class: 'form-control' } }) }}
                        </div>
                    </div>

                    <div class="row margin-top-medium">
                        <div class="col-md-12 text-center">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary">
                                    Speichern
                                </button>
                                <a href="{{ path('caldera_criticalmass_frontpage') }}" class="btn btn-default">
                                    Abbrechen
                                </a>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
