<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutModalLabel">{{ 'modal.about.title'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'common.close'|trans }}"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="aboutTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#aboutTabsAbout" type="button" role="tab" aria-controls="aboutTabsAbout" aria-selected="true">
                            <i class="fa fa-info-circle"></i>&nbsp;{{ 'modal.about.tab_about'|trans }}
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#aboutTabsContact" type="button" role="tab" aria-controls="aboutTabsContact" aria-selected="false">
                            <i class="fa fa-envelope"></i>&nbsp;{{ 'modal.about.tab_contact'|trans }}
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="impress-tab" data-bs-toggle="tab" data-bs-target="#aboutTabsImpress" type="button" role="tab" aria-controls="aboutTabsImpress" aria-selected="false">
                            <i class="fa fa-exclamation-circle"></i>&nbsp;{{ 'modal.about.tab_impress'|trans }}
                        </button>
                    </li>
                </ul>
                <div class="tab-content pt-3" id="aboutTabsContent">
                    <div id="aboutTabsAbout" class="tab-pane fade show active" role="tabpanel" aria-labelledby="about-tab">
                        <div class="jumbotron"
                             style="background-image: url(https://www.criticalmass.cm/images/header/about-us-hamburg.jpg); background-position: bottom left; text-align: right; height: 150px; padding-top: 16px;">
                            <h2 style="color: white; text-shadow: black 0 0 3px;">{{ 'modal.about.jumbotron_heading'|trans }}</h2>
                            <p style="color: white; text-shadow: black 0 0 3px;">{{ 'modal.about.jumbotron_sub'|trans }}</p>
                        </div>

                        <p>{{ 'modal.about.about_text'|trans }}</p>
                    </div>

                    <div id="aboutTabsImpress" class="tab-pane fade" role="tabpanel" aria-labelledby="impress-tab">
                        <p>{{ 'modal.about.impress_intro'|trans }}</p>
                        <p>{{ 'modal.about.impress_address'|trans|raw }}</p>
                        <p><i class="fa fa-envelope"></i> <a href="mailto:criticalmass@caldera.cc">criticalmass@caldera.cc</a><br/><i
                                    class="fa fa-phone"></i> 0700 11 864 833</p>
                        <p>{{ 'modal.about.impress_request'|trans }}</p>
                    </div>

                    <div id="aboutTabsContact" class="tab-pane fade" role="tabpanel" aria-labelledby="contact-tab">
                        <p>{{ 'modal.about.contact_text'|trans|raw }}</p>
                        <p>{{ 'modal.about.contact_ride_data'|trans|raw }}</p>
                        <p>{{ 'modal.about.contact_bugs'|trans|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
