<div class="modal fade" id="cityInfoModal" tabindex="-1" aria-labelledby="cityModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cityModalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="cityModalBody">
                <div id="cityModalTabNextRideKnown">
                    <div class="jumbotron" id="cityModalTabNextRideJumbotron">
                        <h2 id="cityModalTabNextRideJumbotronTitle" style="color: white; text-shadow: black 0 0 3px;">
                            Hello, world!</h2>
                    </div>

                    <h2 id="cityModalTabNextRideTitle"></h2>
                    <p id="cityModalTabNextRideDescription"></p>

                    <div class="row">
                        <div class="col-md-6"><strong>{{ 'modal.city.date'|trans }}</strong></div>
                        <div class="col-md-6" id="cityModalTabNextRideDate"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6"><strong>{{ 'modal.city.time'|trans }}</strong></div>
                        <div class="col-md-6" id="cityModalTabNextRideTime"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6"><strong>{{ 'modal.city.location'|trans }}</strong></div>
                        <div class="col-md-6" id="cityModalTabNextRideLocation"></div>
                    </div>

                    <div class="row" id="cityModalTabNextRideWeatherForecastRow">
                        <div class="col-md-6"><strong>{{ 'modal.city.weather'|trans }}</strong></div>
                        <div class="col-md-6" id="cityModalTabNextRideWeatherForecast"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><strong>{{ 'modal.city.glympse_email'|trans }}</strong></div>
                        <div class="col-md-6" id="cityModalTabNextRideGlympse"></div>
                    </div>

                    <div id="cityModalTabNextRideSocialMedia" class="btn-group"></div>
                </div>
                <div id="cityModalTabNextRideUnknown">
                    <div class="alert alert-info" role="alert">{{ 'modal.city.no_rides'|trans|raw }}</div>
                </div>

                <div id="cityModalTabNextButtons" class="btn-group">
                    <button class="btn btn-secondary" id="cityModalTabNextButtonsCity">{{ 'modal.city.to_city'|trans }}</button>
                    <button class="btn btn-secondary" id="cityModalTabNextButtonsLocation" style="display: none;">{{ 'modal.city.to_location'|trans }}</button>
                    <button class="btn btn-secondary" id="cityModalTabNextButtonsPosition" style="display: none;">{{ 'modal.city.to_position'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
