{% extends 'Template/StandardTemplate.html.twig' %}{% block title %}Critical Mass im {{ startDateTime|format_date('MMMM YYYY') }}{% endblock %}

{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block breadcrumb %}
    {{ bootstrap.breadcrumb_item('Timeline', path('caldera_criticalmass_timeline_index')) }}
    {{ bootstrap.breadcrumb_item(startDateTime|format_date('MMMM YYYY'), '', true) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Die Critical Mass im {{ startDateTime|format_date('MMMM YYYY') }}
                </h2>

                <p class="lead">
                    Schau dir an, was im {{ startDateTime|format_date('MMMM YYYY') }} bei der Critical Mass passiert
                    ist.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {{ timelineContent|raw }}
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                {% include('Timeline/_pagination.html.twig') with { 'previousMonth': previousDateTime, 'nextMonth': nextDateTime } %}
            </div>
        </div>
    </div>
{% endblock %}
