{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}Critical Mass im {{ startDateTime|format_date('MMMM YYYY') }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Timeline', path('caldera_criticalmass_timeline_index')) }}
    {{ breadcrumb.active(startDateTime|format_date('MMMM YYYY')) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Die Critical Mass im {{ startDateTime|format_date('MMMM YYYY') }}
                </h1>

                <p class="lead">
                    Schau dir an, was im {{ startDateTime|format_date('MMMM YYYY') }} bei der Critical Mass passiert
                    ist.
                </p>
            </div>
        </div>

        <div>
            <ul class="nav nav-tabs" role="tablist">
                {% if timelineContentList.standard is defined %}
                    <li role="presentation" class="active">
                        <a href="#standard" aria-controls="standard" role="tab" data-bs-toggle="tab">
                            <i class="far fa-clock"></i>
                            Neuigkeiten
                        </a>
                    </li>
                {% endif %}

                {% if timelineContentList.facebook is defined %}
                    <li role="presentation">
                        <a href="#facebook" aria-controls="facebook" role="tab" data-bs-toggle="tab">
                            <i class="fab fa-facebook"></i>
                            Facebook-Beiträge
                        </a>
                    </li>
                {% endif %}

                {% if timelineContentList.twitter is defined %}
                    <li role="presentation">
                        <a href="#twitter" aria-controls="twitter" role="tab" data-bs-toggle="tab">
                            <i class="fab fa-twitter"></i>
                            Tweets
                        </a>
                    </li>
                {% endif %}

                {% if timelineContentList.instagram_profile is defined %}
                    <li role="presentation">
                        <a href="#instagram_profile" aria-controls="twitter" role="tab" data-bs-toggle="tab">
                            <i class="fab fa-instagram"></i>
                            Instagram-Fotos
                        </a>
                    </li>
                {% endif %}

                {% if timelineContentList.homepage is defined %}
                    <li role="presentation">
                        <a href="#www" aria-controls="www" role="tab" data-bs-toggle="tab">
                            <i class="far fa-globe"></i>
                            Blog-Beiträge
                        </a>
                    </li>
                {% endif %}
            </ul>

            <div class="tab-content margin-top-medium">
                {% set hasActive = false %}

                {% if timelineContentList.standard is defined %}
                    <div role="tabpanel" class="tab-pane{% if hasActive == false %} active{% endif %}" id="standard">
                        {% for content in timelineContentList.standard %}
                            {{ content|raw }}
                        {% endfor %}
                    </div>

                    {% set hasActive = true %}
                {% endif %}

                {% if timelineContentList.facebook is defined %}
                    <div role="tabpanel" class="tab-pane{% if hasActive == false %} active{% endif %}" id="facebook">
                        {% for content in timelineContentList.facebook %}
                            {{ content|raw }}
                        {% endfor %}
                    </div>

                    {% set hasActive = true %}
                {% endif %}

                {% if timelineContentList.twitter is defined %}
                    <div role="tabpanel" class="tab-pane{% if hasActive == false %} active{% endif %}" id="twitter">
                        {% for content in timelineContentList.twitter %}
                            {{ content|raw }}
                        {% endfor %}
                    </div>

                    {% set hasActive = true %}
                {% endif %}

                {% if timelineContentList.instagram_profile is defined %}
                    <div role="tabpanel" class="tab-pane{% if hasActive == false %} active{% endif %}" id="instagram_profile">
                        {% for content in timelineContentList.instagram_profile %}
                            {{ content|raw }}
                        {% endfor %}
                    </div>

                    {% set hasActive = true %}
                {% endif %}

                {% if timelineContentList.homepage is defined %}
                    <div role="tabpanel" class="tab-pane{% if hasActive == false %} active{% endif %}" id="www">
                        {% for content in timelineContentList.homepage %}
                            {{ content|raw }}
                        {% endfor %}
                    </div>

                    {% set hasActive = true %}
                {% endif %}
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <nav>
                    <ul class="pager">
                        <li class="previous{% if not previousDateTime %} disabled{% endif %}">
                            <a href="{% if previousDateTime %}{{ path('caldera_criticalmass_timeline_yearmonth', { year: previousDateTime|date('Y'), month: previousDateTime|date('m') }) }}{% else %}#{% endif %}">
                                Voriger Monat
                            </a>
                        </li>

                        <li class="next{% if not nextDateTime %} disabled{% endif %}">
                            <a href="{% if nextDateTime %}{{ path('caldera_criticalmass_timeline_yearmonth', { year: nextDateTime|date('Y'), month: nextDateTime|date('m') }) }}{% else %}#{% endif %}">
                                Nächster Monat
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
