{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'timeline.yearmonth.title'|trans({ '%month%': startDateTime|format_datetime(pattern='MMMM yyyy') }) }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Timeline', path('caldera_criticalmass_timeline_index')) }}
    {{ breadcrumb.active(startDateTime|format_datetime(pattern='MMMM yyyy')) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ 'timeline.yearmonth.heading'|trans({ '%month%': startDateTime|format_datetime(pattern='MMMM yyyy') }) }}
                </h1>

                <p class="lead">
                    {{ 'timeline.yearmonth.lead'|trans({ '%month%': startDateTime|format_datetime(pattern='MMMM yyyy') }) }}
                </p>
            </div>
        </div>

        {% set hasActiveTab = false %}
        <div>
            <ul class="nav nav-tabs" role="tablist">
                {% if timelineContentList.standard is defined %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link{% if not hasActiveTab %} active{% endif %}" id="standard-tab" data-bs-toggle="tab" data-bs-target="#standard" type="button" role="tab" aria-controls="standard" aria-selected="{{ not hasActiveTab ? 'true' : 'false' }}">
                            <i class="far fa-clock"></i>
                            {{ 'timeline.tab_news'|trans }}
                        </button>
                    </li>
                    {% set hasActiveTab = true %}
                {% endif %}

                {% if timelineContentList.facebook is defined %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link{% if not hasActiveTab %} active{% endif %}" id="facebook-tab" data-bs-toggle="tab" data-bs-target="#facebook" type="button" role="tab" aria-controls="facebook" aria-selected="{{ not hasActiveTab ? 'true' : 'false' }}">
                            <i class="fab fa-facebook"></i>
                            {{ 'timeline.tab_facebook'|trans }}
                        </button>
                    </li>
                    {% set hasActiveTab = true %}
                {% endif %}

                {% if timelineContentList.twitter is defined %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link{% if not hasActiveTab %} active{% endif %}" id="twitter-tab" data-bs-toggle="tab" data-bs-target="#twitter" type="button" role="tab" aria-controls="twitter" aria-selected="{{ not hasActiveTab ? 'true' : 'false' }}">
                            <i class="fab fa-twitter"></i>
                            {{ 'timeline.tab_twitter'|trans }}
                        </button>
                    </li>
                    {% set hasActiveTab = true %}
                {% endif %}

                {% if timelineContentList.instagram_profile is defined %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link{% if not hasActiveTab %} active{% endif %}" id="instagram-tab" data-bs-toggle="tab" data-bs-target="#instagram_profile" type="button" role="tab" aria-controls="instagram_profile" aria-selected="{{ not hasActiveTab ? 'true' : 'false' }}">
                            <i class="fab fa-instagram"></i>
                            {{ 'timeline.tab_instagram'|trans }}
                        </button>
                    </li>
                    {% set hasActiveTab = true %}
                {% endif %}

                {% if timelineContentList.homepage is defined %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link{% if not hasActiveTab %} active{% endif %}" id="www-tab" data-bs-toggle="tab" data-bs-target="#www" type="button" role="tab" aria-controls="www" aria-selected="{{ not hasActiveTab ? 'true' : 'false' }}">
                            <i class="far fa-globe"></i>
                            {{ 'timeline.tab_blog'|trans }}
                        </button>
                    </li>
                    {% set hasActiveTab = true %}
                {% endif %}
            </ul>

            <div class="tab-content mt-3">
                {% set hasActive = false %}

                {% if timelineContentList.standard is defined %}
                    <div role="tabpanel" class="tab-pane fade{% if hasActive == false %} show active{% endif %}" id="standard" aria-labelledby="standard-tab">
                        {% for content in timelineContentList.standard %}
                            {{ content|raw }}
                        {% endfor %}
                    </div>

                    {% set hasActive = true %}
                {% endif %}

                {% if timelineContentList.facebook is defined %}
                    <div role="tabpanel" class="tab-pane fade{% if hasActive == false %} show active{% endif %}" id="facebook" aria-labelledby="facebook-tab">
                        {% for content in timelineContentList.facebook %}
                            {{ content|raw }}
                        {% endfor %}
                    </div>

                    {% set hasActive = true %}
                {% endif %}

                {% if timelineContentList.twitter is defined %}
                    <div role="tabpanel" class="tab-pane fade{% if hasActive == false %} show active{% endif %}" id="twitter" aria-labelledby="twitter-tab">
                        {% for content in timelineContentList.twitter %}
                            {{ content|raw }}
                        {% endfor %}
                    </div>

                    {% set hasActive = true %}
                {% endif %}

                {% if timelineContentList.instagram_profile is defined %}
                    <div role="tabpanel" class="tab-pane fade{% if hasActive == false %} show active{% endif %}" id="instagram_profile" aria-labelledby="instagram-tab">
                        {% for content in timelineContentList.instagram_profile %}
                            {{ content|raw }}
                        {% endfor %}
                    </div>

                    {% set hasActive = true %}
                {% endif %}

                {% if timelineContentList.homepage is defined %}
                    <div role="tabpanel" class="tab-pane fade{% if hasActive == false %} show active{% endif %}" id="www" aria-labelledby="www-tab">
                        {% for content in timelineContentList.homepage %}
                            {{ content|raw }}
                        {% endfor %}
                    </div>

                    {% set hasActive = true %}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <nav aria-label="{{ 'timeline.yearmonth.navigation_label'|trans }}">
                    <ul class="pagination justify-content-between">
                        <li class="page-item{% if not previousDateTime %} disabled{% endif %}">
                            <a class="page-link" href="{% if previousDateTime %}{{ path('caldera_criticalmass_timeline_yearmonth', { year: previousDateTime|date('Y'), month: previousDateTime|date('m') }) }}{% else %}#{% endif %}">
                                {{ 'timeline.yearmonth.previous'|trans|raw }}
                            </a>
                        </li>

                        <li class="page-item{% if not nextDateTime %} disabled{% endif %}">
                            <a class="page-link" href="{% if nextDateTime %}{{ path('caldera_criticalmass_timeline_yearmonth', { year: nextDateTime|date('Y'), month: nextDateTime|date('m') }) }}{% else %}#{% endif %}">
                                {{ 'timeline.yearmonth.next'|trans|raw }}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
