{% extends 'CalderaCriticalmassDesktopBundle::BaseTemplate.html.twig' %}

{% block body %}
    <script>
        function sortCityList(sortFunction, reverse)
        {
            $('#participantTable tr').sort(sortFunction).map(function () {
                return $(this).closest('#participantTable tr');
            }).each(function (_, container) {
                $(container).parent().append(container);
                if (reverse)
                {
                    $(container).parent().prepend(container);
                }
                else
                {
                    $(container).parent().append(container);
                }
            });
        }

        window.onload = function() {
            $('#sortByCity').on('click', function()
            {
                var sortFunction = function(a, b)
                {
                    return ($(a).data('cityname') > $(b).data('cityname') ? 1 : -1);
                };

                sortCityList(sortFunction, true);
            });

            $('#sortByParticipants').on('click', function()
            {
                var sortFunction = function(a, b)
                {
                    return $(a).data('participants') - $(b).data('participants');
                };

                sortCityList(sortFunction, true);
            });
        }
    </script>
    <div class="container">
        <h1>Zahlen, bitte!</h1>

        <h2>Teilnehmer im Juni 2014</h2>
        <p>Im Juni 2014 waren bundesweit {{ totalParticipants }} Radfahrer unterwegs.</p>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Stadt</th>
                <th>Datum</th>
                <th>Teilnehmer</th>
                <th style="width: 50%;"></th>
            </tr>
            {% for city in cities %}
            <tr>
                <td></td>
                <td><a href="{{ path('caldera_criticalmass_desktop_city_show', {'citySlug': city.getMainSlugString() }) }}">{{ city.getCity() }}</a></td>
                <td>
                    {% if city.getMainSlugString() in rides|keys %}
                        <a href="{{ path('caldera_criticalmass_desktop_ride_show', {'citySlug': city.getMainSlugString(), 'rideId': rides[city.getMainSlugString()].getId() }) }}">{{ rides[city.getMainSlugString()].getDateTime().format('d.m.Y') }}</a>
                    </td>
                    <td>
                        {{ rides[city.getMainSlugString()].getEstimatedParticipants() }}
                    </td>
                    <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ rides[city.getMainSlugString()].getEstimatedParticipants() }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (100 / maxParticipants  * rides[city.getMainSlugString()].getEstimatedParticipants()) }}%;">

                        </div>
                    </div>
                    {% else %}
                        </td>
                        <td></td>
                <td>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>


    </div>
{% endblock %}