{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Track von Strava importieren{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Wähle eine Aktivität
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    Am <strong>{{ ride.dateTime.format('d.m.Y') }}</strong> hast du die folgenden Aktivitäten mit Strava aufgezeichnet. Bitte wähle die Aktivität aus, die du als Track importieren möchtest.
                </p>
            </div>
        </div>

        <div class="row">
        {% for activity in activities %}
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            {{ activity.name }}
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <dl>
                            <dt>Distanz:</dt>
                            <dd>{{ (activity.distance / 1000)|round(2) }}&nbsp;Kilometer</dd>
                            <dt>Start:</dt>
                            <dd>{{ activity.start_date|date('H:i') }}&nbsp;Uhr</dd>
                            <dt>Dauer:</dt>
                            <dd>{{ (activity.elapsed_time / 60)|round() }}&nbsp;Minuten</dd>
                        </dl>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <a class="btn btn-success" href="{{ path('caldera_criticalmass_strava_import', { 'citySlug': ride.city.getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}?activityId={{ activity.id }}">
                                Track importieren
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
