{% set hasSocialMedia = city.url or city.facebook or city.twitter %}

{% if hasSocialMedia %}
<div class="card d-md-block d-lg-block mb-4">
    <div class="card-body">
        <h6 class="mb-3">
            Soziale Netze
        </h6>
        <ul class="list-unstyled list-spaced">
            {% if city.url %}
            <li>
                <span class="text-muted far fa-browser"></span>
                <a href="{{ city.url }}">
                    {{ hostname(city.url) }}
                </a>
            </li>
            {% endif %}

            {% if city.facebook %}
            <li>
                <span class="text-muted fab fa-facebook-f"></span>
                <a href="{{ city.facebook }}">
                    {{ facebookIdentifier(city.facebook) }}
                </a>
            </li>
            {% endif %}

            {% if city.twitter %}
            <li>
                <span class="text-muted fab fa-twitter"></span>
                <a href="{{ city.twitter }}">
                    {{ twitterUsername(city.twitter) }}
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}