{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Foto {{ photo.id }} aus {{ photo.city.city }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>
    <li>
        <a href="{{ objectPath(city) }}">
            {{ city.city }}
        </a>
    </li>
    <li>
        <a href="{{ objectPath(ride) }}">
            {{ ride.title }}
        </a>
    </li>
    <li>
        <a href="{{ path('caldera_criticalmass_photo_ride_list', { 'citySlug': city.getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}">
            Fotos
        </a>
    </li>
    <li class="active">
        Foto {{ photo.id }} aus {{ city.city }}
    </li>
{% endblock %}

{% block navigation %}
    <div class="row">
        <div class="col-md-12">
            <ul class="pager">
                {% if previousPhoto %}
                    <li class="previous">
                        <a href="{{ objectPath(previousPhoto) }}">
                            &larr; Voriges Foto
                        </a>
                    </li>
                {% else %}
                    <li class="previous disabled">
                        <a href="#">
                            &larr; Voriges Foto
                        </a>
                    </li>
                {% endif %}

                {% if nextPhoto %}
                    <li class="next">
                        <a href="{{ objectPath(nextPhoto) }}">
                            Nächstes Foto &rarr;
                        </a>
                    </li>
                {% else %}
                    <li class="next disabled">
                        <a href="#">
                            Nächstes Foto &rarr;
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    {{ block('navigation') }}

    <div class="row">
        <div class="col-md-12">
            {% if not app.user and photo.user.blurGalleries %}
                <div class="row" style="position: absolute; z-index: 100; width: 100%; height: 100%; top: 100px;">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-danger">
                            <div class="panel-body">
                                <h4 class="text-center">
                                    Bitte logge dich ein
                                </h4>

                                <p>
                                    Um diese Fotos anzusehen, musst du dich leider einloggen. Keine Sorge, das dauert
                                    keine fünf Sekunden:
                                </p>

                                <p class="text-center">
                                    <a href="#" data-toggle="modal" data-target="#loginModal" class="btn btn-primary">
                                        Login
                                    </a>
                                </p>

                                <h6 class="text-center">
                                    Warum wird mir das angezeigt?
                                </h6>

                                <p>
                                    <small>
                                        criticalmass.in ist ein reines Hobby-Projekt ohne jegliche Absichten zur
                                        Gewinnerzielung. Der Ansturm auf Fotos bringt Server und Anbindung leider
                                        regelmäßig an die Belastungsgrenze &mdash; Indem bestimmte Fotos nur für
                                        angemeldete Nutzer angezeigt werden, lässt sich die Belastung (hoffentlich)
                                        besser verteilen.
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <img id="photo" class="img-responsive"
                     src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_blurred') }}"
                     style="width: 100%;"/>
            {% else %}
                <img id="photo" class="img-responsive"
                     src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}"/>
            {% endif %}
        </div>
    </div>

    <div class="row margin-top-medium">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    {% if app.user %}
                        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal-add-post">
                            Kommentar hinzufügen
                        </button>
                    {% else %}
                        <span class="btn btn-success pull-right modal-hint" data-modal-hint-title="{{ 'hint_modal.photo.post_add_button.title'|trans }}" data-modal-hint-text="{{ 'hint_modal.photo.post_add_button.text'|trans({'%city%': photo.ride.city.city, '%dateTime%': photo.ride.dateTime|date('d.m.Y')}) }}" data-hint-modal-size="md">
                            Kommentar hinzufügen
                        </span>
                    {% endif %}

                    <h3 class="no-margin-top">
                        Kommentare zu diesem Foto
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ render(controller('AppBundle:Post:list', { 'photoId': photo.id })) }}

                    {% if app.getUser() %}
                        {{ render(controller('AppBundle:Post:writePhoto', { 'photoId': photo.id, 'noButton': true })) }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            {% if photo.hasCoordinates() %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Karte
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="map" style="height: 150px;"
                         data-map-center-latitude="{{ photo.latitude }}"
                         data-map-center-longitude="{{ photo.longitude }}"
                         data-map-zoomlevel="13"
                         data-lock-map="true"
                         data-map-marker-latitude="{{ photo.latitude }}"
                         data-map-marker-longitude="{{ photo.longitude }}"
                         data-map-marker-color="yellow"
                         data-map-marker-icon="fa-camera"
                         data-map-marker-shape="circle"
                            {% if track %}
                                data-polyline="{{ track.polyline }}"
                                data-polyline-color="rgb({{ track.colorRed }}, {{ track.colorGreen }}, {{ track.colorBlue }})"
                            {% endif %}
                    ></div>
                </div>
            </div>
            {% endif %}

            <div class="panel panel-default margin-top-medium">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Detaildaten
                    </h3>
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>
                            Fotograf
                        </dt>
                        <dd>
                            {{ photo.user.username }}
                        </dd>

                        <dt>
                            Aufnahmedatum
                        </dt>
                        <dd>
                            {{ photo.dateTime|date('d.m.y H:i:s') }} Uhr
                        </dd>

                        {% if photo.hasCoordinates() %}
                        <dt>
                            Koordinaten
                        </dt>
                        <dd>
                            <a href="https://www.openstreetmap.org/#map=15/{{ photo.latitude }}/{{ photo.longitude }}" target="_blank">
                                {{ photo.latitude }}, {{ photo.longitude }}
                            </a>
                        </dd>
                        {% endif %}

                        {% if exifData.exposure %}
                        <dt>
                            Verschlusszeit
                        </dt>
                        <dd>
                            {{ exifData.exposure }}"
                        </dd>
                        {% endif %}

                        {% if exifData.aperture %}
                        <dt>
                            Blende
                        </dt>
                        <dd>
                            {{ exifData.aperture }}
                        </dd>
                        {% endif %}

                        {% if exifData.iso %}
                        <dt>
                            ISO
                        </dt>
                        <dd>
                            {{ exifData.iso }}
                        </dd>
                        {% endif %}

                        {% if exifData.focalLength %}
                        <dt>
                            Brennweite
                        </dt>
                        <dd>
                            {{ exifData.focalLength }} mm
                        </dd>
                        {% endif %}

                        {% if exifData.camera %}
                        <dt>
                            Kamera
                        </dt>
                        <dd>
                            {{ exifData.camera }}
                        </dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        </div>
    </div>

        {{ block('navigation') }}
</div>

    <script>
        CriticalMass.loadModule('ViewPhotoPage', null, null, function (page) {
            {% if previousPhoto %}
            page.setPreviousPhotoUrl('{{ objectPath(previousPhoto) }}');
            {% endif %}

            {% if nextPhoto %}
            page.setNextPhotoUrl('{{ objectPath(nextPhoto) }}');
            {% endif %}

            {% if photo.hasCoordinates() %}
            page.setPhoto('{{ photo|serialize|raw|e('js') }}', '{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}');
            page.initMap();
            {% endif %}
        });
    </script>

    {% endblock %}
