{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ ride.title }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Städteliste', path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(ride.city.city, object_path(ride.city)) }}
    {{ breadcrumb.active(ride.title) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ ride.title }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    {{ blocked.description }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
