{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}{{ 'ride.list.title'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_frontpage') }}">criticalmass.in</a></li>
            <li><a href="{{ path('caldera_criticalmass_city_list') }}">{{ 'ride.list.breadcrumb_city_list'|trans }}</a></li>
            <li class="active">{{ 'ride.list.breadcrumb_calendar'|trans }}</li>
        </ol>

        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'ride.list.heading'|trans }}</h1>

                <p class="lead">{{ 'ride.list.lead'|trans }}</p>
            </div>
        </div>


        {% for dateString, rides in rides %}
            <div class="row">
                <div class="col-md-12">
                    <h4>{{ dateString|date('l, d. F Y') }}</h4>
                </div>
            </div>

            <table class="table">
                <tr>
                    <th class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                        {{ 'ride.list.col_city'|trans }}
                    </th>
                    <th class="hidden-xs col-sm-3 col-md-2 col-lg-2">
                        {{ 'ride.list.col_time'|trans }}
                    </th>
                    <th class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                        {{ 'ride.list.col_location'|trans }}
                    </th>
                    <th class="hidden-xs hidden-sm col-md-4 col-lg-4">
                        {{ 'ride.list.col_title'|trans }}
                    </th>
                </tr>

                {% for ride in rides %}
                    <tr>
                        <td class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                            <a href="{{ object_path(ride.city) }}">
                                {{ ride.city.city }}
                            </a>
                        </td>

                        <td class="hidden-xs col-sm-3 col-md-2 col-lg-2">
                            <a href="{{ object_path(ride) }}">
                                {{ ride.getTime().format('H:i') }} {{ 'ride.list.time_suffix'|trans }}
                            </a>
                        </td>

                        <td class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                            <a href="{{ object_path(ride) }}">
                                {% if ride.location %}{{ ride.location }}{% endif %}
                            </a>
                        </td>

                        <td class="hidden-xs hidden-sm col-md-4 col-lg-4">
                            <a href="{{ object_path(ride) }}">
                                {{ ride.title }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
{% endblock %}
