{% if dateTime > ride.getDateTime() %}
    {% set pastRide = true %}
{% else %}
    {% set pastRide = false %}
{% endif %}

{% set hasSocialMedia = ride.getUrl() or ride.getFacebook() or ride.getTwitter() %}

<div class="row">
    <div class="col-md-12">
        {% include('Ride/Includes/_participation.html.twig') with { 'pastRide': pastRide, 'participation': participation } %}
        <h1 itemprop="name">
            {{ ride.title }}
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="map" style="height: 350px;"></div>
    </div>
</div>

<div class="row" style="margin-top: 1em;">
    <div class="col-md-12">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#details" aria-controls="home" role="tab" data-toggle="tab">
                        <i class="fa fa-flag"></i>
                        Details
                    </a>
                </li>
                <li role="presentation">
                    <a href="#minimass" aria-controls="settings" role="tab" data-toggle="tab">
                        <i class="fa fa-map-marker"></i>
                        Mini-Masses
                        <span class="badge">
                            {{ ride.getSubrides|length }}
                        </span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">
                        <i class="fa fa-pencil"></i>
                        Kommentare
                        <span class="badge">
                            {{ ride.getPosts|length }}
                        </span>
                    </a>
                </li>
                {% if pastRide and ride.enabled %}
                    {% if feature('photos') %}
                        <li role="presentation">
                            <a href="{{ objectPath(ride, 'caldera_criticalmass_photo_ride_list') }}">
                                <i class="fa fa-camera"></i>
                                Galerie
                                <span class="badge">
                            {{ photos|length }}
                        </span>
                            </a>
                        </li>
                    {% endif %}
                    <li role="presentation">
                        <a href="#tracks" aria-controls="profile" role="tab" data-toggle="tab">
                            <i class="fa fa-bicycle"></i>
                            Tracks
                            <span class="badge">
                            {{ tracks|length }}
                        </span>
                        </a>
                    </li>
                {% endif %}
            </ul>

            <div class="tab-content">
                {{ render(controller('App\\Controller\\Ride\\RideTabsController::renderDetailsTabAction', { 'ride': ride } )) }}
                {{ render(controller('App\\Controller\\Ride\\RideTabsController::renderSubridesTabAction', { 'ride': ride } )) }}
                {{ render(controller('App\\Controller\\Ride\\RideTabsController::renderPostsTabAction', { 'ride': ride } )) }}

                {% if pastRide and ride.enabled %}
                    {{ render(controller('App\\Controller\\Ride\\RideTabsController::renderTracksTabAction', { 'ride': ride } )) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    var pageOptions = {
        photoViewPageUrl: '{{ objectPath(ride, 'caldera_criticalmass_photo_show_ride', { photoId: 'photoId'}) }}',
        photoCounterUrl: '{{ objectPath(ride, 'caldera_criticalmass_photo_ajaxview') }}',
        citySlug: '{{ city.slug }}',
        rideDate: '{{ ride.dateTime|date('Y-m-d') }}'
    };

    CriticalMass.loadModule('RidePage', null, pageOptions, function (ridePage) {
        {% if ride.location and ride.latitude and ride.longitude and ride.latitude != 0 and ride.getLongitude != 0 %}
        ridePage.addRide('{{ ride|serialize|raw|e('js') }}');
        {% else %}
        ridePage.addCity('{{ city|serialize|raw|e('js') }}');
        {% endif %}

        {% for track in tracks %}
        ridePage.addTrack('{{ track|serialize('json', serialization_context().setGroups('timelapse'))|raw|e('js') }}');
        {% endfor %}

        {% if feature('photos') %}
        {% for photo in photos %}
        {% if photo.hasCoordinates() %}
        {% if photo.user.blurGalleries %}
        {% set blur = true %}
        {% else %}
        {% set blur = false %}
        {% endif %}
        ridePage.addPhoto('{{ photo|serialize|raw|e('js') }}', '{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}', '{{ blur }}');
        {% endif %}
        {% endfor %}
        {% endif %}

        {% for subride in subrides %}
        ridePage.addSubride('{{ subride|serialize|raw|e('js') }}');
        {% endfor %}

        ridePage.init();

        ridePage.focus();
    });

    CriticalMass.loadModule('ScrollToPost');
</script>
