{% if dateTime > ride.getDateTime() %}
    {% set pastRide = true %}
{% else %}
    {% set pastRide = false %}
{% endif %}

<div class="row">
    <div class="col-md-12">
        {% include('Ride/Includes/_participation.html.twig') with { 'pastRide': pastRide, 'participation': participation } %}
        <h1 itemprop="name">
            {{ ride.title }}
        </h1>
    </div>
</div>

{% if activity_index < 0.5 and is_current_criticalmass %}
<div class="alert alert-danger">
    <strong>Vorsicht:</strong> Der Aktivitätsindex von {{ ride.city.city }} beträgt <strong>{{ (activity_index * 100)|number_format(2, ',', '.') }} %</strong>. Es kann sein, dass in dieser Stadt keine Critical Mass mehr stattfindet. Die Daten der Touren werden automatisch generiert und geben keine Auskunft darüber, ob die örtliche Critical Mass mittlerweile noch aktiv ist.
</div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div
            data-controller="map--ride-map"
            style="height: 350px;"
            data-map--ride-map-city-slug-value="{{ ride.city.mainSlugString }}"
            data-map--ride-map-ride-identifier-value="{{ ride.slug|default(ride.dateTime|date('Y-m-d')) }}"
            data-map--ride-map-latitude-value="{{ ride.latitude }}"
            data-map--ride-map-longitude-value="{{ ride.longitude }}"
        ></div>
    </div>
</div>

<div class="row" style="margin-top: 1em;">
    <div class="col-md-12">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#details" aria-controls="home" role="tab" data-toggle="tab">
                        <i class="far fa-flag"></i>
                        Details
                    </a>
                </li>
                <li role="presentation">
                    <a href="#minimass" aria-controls="settings" role="tab" data-toggle="tab">
                        <i class="far fa-map-marker"></i>
                        Mini-Masses
                        <span class="badge">
                            {{ ride.getSubrides|length }}
                        </span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">
                        <i class="far fa-pencil"></i>
                        Kommentare
                        <span class="badge">
                            {{ ride.getPosts|length }}
                        </span>
                    </a>
                </li>
                {% if pastRide and ride.enabled %}
                    {% if feature('photos') %}
                        <li role="presentation">
                            <a href="{{ object_path(ride, 'caldera_criticalmass_photo_ride_list') }}">
                                <i class="far fa-camera"></i>
                                Galerie
                                <span class="badge">
                            {{ photos|length }}
                        </span>
                            </a>
                        </li>
                    {% endif %}
                    <li role="presentation">
                        <a href="#tracks" aria-controls="profile" role="tab" data-toggle="tab">
                            <i class="far fa-bicycle"></i>
                            Tracks
                            <span class="badge">
                            {{ tracks|length }}
                        </span>
                        </a>
                    </li>
                {% endif %}
            </ul>

            <div class="tab-content">
                {{ render(controller('App\\Controller\\Ride\\RideTabsController::renderDetailsTabAction', { 'ride': ride } )) }}
                {{ render(controller('App\\Controller\\Ride\\RideTabsController::renderSubridesTabAction', { 'ride': ride } )) }}
                {{ render(controller('App\\Controller\\Ride\\RideTabsController::renderPostsTabAction', { 'ride': ride } )) }}

                {% if pastRide and ride.enabled %}
                    {{ render(controller('App\\Controller\\Ride\\RideTabsController::renderTracksTabAction', { 'ride': ride } )) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
