{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% if dateTime > ride.getDateTime() %}
    {% set pastRide = true %}
{% else %}
    {% set pastRide = false %}
{% endif %}

<div class="row">
    <div class="col-12">
        {% include('Ride/Includes/_participation.html.twig') with { 'pastRide': pastRide, 'participation': participation } %}
        <h1 itemprop="name">
            {{ ride.title }}
        </h1>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div id="map" style="height: 350px;" class="map" data-city-slug="{{ ride.city.mainSlugString }}" data-ride-identifier="{{ ride.slug|default(ride.dateTime|date('Y-m-d')) }}"></div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        {% set tab_list = [
            { tab: 'details', caption: '<i class="far fa-flag"></i> Details', active: true },
            { tab: 'minimass', caption: '<i class="far fa-map-marker"></i> Mini-Masses <span class="badge badge-secondary">' ~ ride.getSubrides|length ~ '</span>' },
            { tab: 'comments', caption: '<i class="far fa-pencil"></i> Kommentare <span class="badge badge-secondary">' ~ ride.getPosts|length ~ '</span>' },
        ] %}

        {% set tab_content_list = [
            { id: 'details', active: true, content: render(controller('App\\Controller\\Ride\\RideTabsController::renderDetailsTabAction', { 'ride': ride } )) },
            { id: 'minimass', content: render(controller('App\\Controller\\Ride\\RideTabsController::renderSubridesTabAction', { 'ride': ride } )) },
            { id: 'comments', content: render(controller('App\\Controller\\Ride\\RideTabsController::renderPostsTabAction', { 'ride': ride } )) },
        ] %}

        {% if pastRide and ride.enabled %}
            {% if feature('photos') %}
                {% set past_ride_tabs = [
                    { href: objectPath(ride, 'caldera_criticalmass_photo_ride_list'), caption: '<i class="far fa-camera"></i> Galerie <span class="badge badge-secondary">' ~ photos|length ~ '</span>' },
                    { tab: 'tracks', caption: '<i class="fa fa-bicycle"></i> Tracks <span class="badge badge-secondary">' ~ tracks|length ~ '</span>' },
                ] %}
            {% else %}
                {% set past_ride_tabs = [
                    { tab: 'tracks', caption: '<i class="far fa-bicycle"></i> Tracks <span class="badge badge-secondary">' ~ tracks|length ~ '</span>' },
                ] %}
            {% endif %}

            {% set tab_content_list = tab_content_list | merge([{ id: 'tracks', content: render(controller('App\\Controller\\Ride\\RideTabsController::renderTracksTabAction', { 'ride': ride } )) }]) %}

            {% set tab_list = tab_list | merge(past_ride_tabs) %}
        {% endif %}

        {{ bootstrap.tabs(tab_list) }}
        {{ bootstrap.tab_panels(tab_content_list) }}
    </div>
</div>
