{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}{{ ride.title }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>

    <li>
        <a href="{{ objectPath(city) }}">
            {{ city.city }}
        </a>
    </li>

    <li class="active">
        {{ ride.title }}
    </li>
{% endblock %}

{% block bodyClass %}ride{% if not ride.enabled %} ride-disabled{% endif %}{% endblock %}

{% block content %}
    <div class="container ride" itemscope itemtype="http://schema.org/Event">
        {% include('Ride/Includes/_registrationHint.html.twig') %}

        {% include('Ride/Ride.html.twig') with { 'ride': ride, 'tracks': tracks, 'participation': participation } %}

        {% include('Ride/Includes/_pagination.html.twig') with { 'ride': ride } %}
    </div>
{% endblock %}
