{% extends 'CalderaCriticalmassPhotoBundle:Template:MasterTemplate.html.twig' %}

{% block title %}{{ content.title }}{% endblock %}

{% block content %}
    <div class="container m-t-5">
        <div class="row">
            <div class="col-xs-10 offset-xs-1">
            {{ content.text|markdown }}
            </div>
        </div>

        <div class="row margin-top-large">
            <div class="col-xs-10 offset-xs-1">
                <small>
                    Diese Seite wurde am {{ content.lastEditionDateTime.format('d.m.Y') }} um {{ content.lastEditionDateTime.format('H:i') }} Uhr von {{ content.user.username }} geändert.
                </small>
            </div>
        </div>
    </div>
{% endblock %}