{% extends 'CalderaCriticalmassPhotoBundle:Template:MasterTemplate.html.twig' %}

{% block title %}Fotos von Critical-Mass-Radfahrten{% endblock %}

{% block content %}
    {#
<div class="container-fluid m-t-5">
    <div class="row">
        <div class="col-xs-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    {% set counter = 0 %}
                    {% for result in galleryResult if counter < 5 %}
                    {% if result.ride.city.id == 1 %}
                    <div class="carousel-item{% if loop.first %} active{% endif %}">
                        <img src="{{ vich_uploader_asset(result.ride.featuredPhoto, 'imageFile')|imagine_filter('gallery_photo_large') }}" alt="Vorschaufoto der Critical Mass in {{ result.ride.city.city }}" />
                        <div class="carousel-caption">
                            <h3>
                                {{ result.ride.city.title }}
                            </h3>
                            <p>
                                {{ result.counter }} Fotos vom {{ result.ride.dateTime|date('d.m.Y') }}
                            </p>
                        </div>
                    </div>
                    {% set counter = counter + 1 %}
                    {% endif %}
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>#}

<div class="container m-t-5">
    <div class="row">
        <div class="col-xs-12">
            <div class="card-columns">
                {% for result in galleryResult %}
                <div class="card">
                    {% if result.ride.featuredPhoto %}
                    <a href="{{ path('caldera_criticalmassphoto_photo_list', { citySlug: result.ride.city.slug, rideDate: result.ride.formattedDate }) }}">
                        <img class="card-img-top img-fluid" src="{{ vich_uploader_asset(result.ride.featuredPhoto, 'imageFile')|imagine_filter('gallery_photo_thumb') }}" alt="Vorschaufoto der Critical Mass in {{ result.ride.city.city }}" />
                    </a>
                    {% endif %}
                    <div class="card-block">
                        <h4 class="card-title text-md-center">
                            {{ result.ride.fancyTitle }}
                        </h4>

                        <p class="card-text">
                            {{ result.counter }} Fotos von der Critical Mass in {{ result.ride.city.city }}
                        </p>

                        <a href="{{ path(result.ride) }}" class="card-link">
                            zur Tour
                        </a>

                        <a href="{{ path('caldera_criticalmassphoto_photo_list', { citySlug: result.ride.city.slug, rideDate: result.ride.formattedDate }) }}" class="card-link">
                            zur Galerie
                        </a>

                        <p class="card-text">
                            <small class="text-muted">
                                hochgeladen am {{ result.ride.dateTime|date('d.m.Y') }}
                            </small>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}