<!DOCTYPE html>
<html lang="en">
    <head>
        {% include('CalderaCriticalmassSiteBundle:Template:Includes/_meta.html.twig') %}

        <title>Fotos von Critical-Mass-Touren</title>

        <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/criticalmass.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/bootstrap4/bootstrap.min.css') }}" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    </head>

    <body>
        <nav class="navbar navbar-light bg-faded">
            <a class="navbar-brand" href="#">
                criticalmass.photos
            </a>
        </nav>

        <div class="container">
            <div class="row m-t-3 m-b-3">
                <div class="col-md-12">
                    <div class="text-md-center">
                        <h1>
                            Critical-Mass-Fotogalerie
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card-columns">
                        {% for ride in rides %}
                        <div class="card">
                            {% set previewPhoto = random(ride.photos) %}

                            <a href="{{ path('caldera_criticalmassphoto_photo_list', { citySlug: ride.city.slug, rideDate: ride.formattedDate }) }}">
                                <img class="card-img-top img-fluid" src="{{ vich_uploader_asset(previewPhoto, 'imageFile')|imagine_filter('gallery_photo_thumb') }}" alt="Vorschaufoto der Critical Mass in {{ ride.city.city }}" />
                            </a>

                            <div class="card-block">
                                <h4 class="card-title text-md-center">
                                    {{ ride.fancyTitle }}
                                </h4>
                                <p class="card-text">
                                    {{ ride.photos|length }} Fotos von der Critical Mass in {{ ride.city.city }}
                                </p>
                                <a href="{{ path(ride) }}" class="card-link">
                                    zur Tour
                                </a>
                                <a href="{{ path('caldera_criticalmassphoto_photo_list', { citySlug: ride.city.slug, rideDate: ride.formattedDate }) }}" class="card-link">
                                    zur Galerie
                                </a>

                                <p class="card-text">
                                    <small class="text-muted">
                                        hochgeladen am {{ ride.dateTime|date('d.m.Y') }}
                                    </small>
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% include('CalderaCriticalmassPhotoBundle:Includes:_footer.html.twig') %}

        <script src="{{ asset('bundles/calderacriticalmasssite/js/external/jquery/jquery-3.1.0.min.js') }}"></script>
        <script src="{{ asset('bundles/calderacriticalmasssite/js/external/bootstrap4/bootstrap.min.js') }}"></script>
    </body>
</html>

