{% extends 'CalderaCriticalmassPhotoBundle:Template:MasterTemplate.html.twig' %}

{% block title %}Fotos von der Critical Mass in {{ ride.city.city }} am {{ ride.dateTime|date('d.m.Y') }}{% endblock %}

{% block additionalNavbarItems %}
<li class="nav-item">
    <a class="nav-link" href="{{ path('caldera_criticalmassphoto_photo_index') }}">
        Home
    </a>
</li>
{% endblock %}

{% block content %}
<div class="container m-t-5">
    <div class="row">
        <div class="col-md-12">
            <div class="text-md-center">
                <h1>
                    {{ ride.city.title }}
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="text-md-center">
                <p class="lead">
                    Fotos von der <a href="{{ path(ride.city) }}">Critical Mass in {{ ride.city.city }}</a> am <a href="{{ path(ride) }}">{{ ride.dateTime|date('d.m.Y') }}</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="photo-list">
                    {% for photo in pagination %}
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-xs-center m-b-1">
                        <a href="{{ path('caldera_criticalmassphoto_photo_show', { rideDate: ride.getFormattedDate(), citySlug: ride.city.slug, photoId: photo.id }) }}">
                            <img class="img-thumbnail img-fluid" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}" />
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="text-md-center">
                        {{ knp_pagination_render(pagination, 'CalderaCriticalmassCoreBundle:KnpPagination:bootstrap34template.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}