{% extends 'CalderaCriticalmassPhotoBundle:Template:MasterTemplate.html.twig' %}

{% block additionalNavbarItems %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('caldera_criticalmassphoto_photo_index') }}">
            Home
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('caldera_criticalmassphoto_photo_list', { citySlug: photo.ride.city.slug, rideDate: photo.ride.formattedDate }) }}">
            Übersicht
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="container m-t-5">
    <div class="row hidden-xs hidden-sm m-b-2">
        <div class="col-md-12">
            <div class="text-md-center">
                <a href="{{ path('caldera_criticalmassphoto_photo_list', { rideDate: photo.ride.getFormattedDate(), citySlug: photo.ride.city.slug }) }}">
                    <h1>
                        {{ photo.ride.city.title }} am {{ photo.ride.dateTime|date('d.m.Y') }}
                    </h1>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid m-t-1">
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('caldera_criticalmassphoto_photo_show', { rideDate: nextPhoto.ride.getFormattedDate(), citySlug: nextPhoto.ride.city.slug, photoId: nextPhoto.id }) }}">
                <img id="photo" class="img-fluid" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_large') }}" />
            </a>
        </div>
    </div>
</div>

<div class="container m-t-3">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    Aufnahmedaten
                </div>

                <div class="card-block">
                    {% include('CalderaCriticalmassPhotoBundle:Includes:_exif.html.twig') with { 'photo': photo, 'exif': exif } %}
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    Karte
                </div>

                <div class="card-block">
                    {% include('CalderaCriticalmassPhotoBundle:Includes:_map.html.twig') with { 'photo': photo, 'track': track } %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-md-center text-muted">
                <a href="{{ path(photo) }}">
                    Sieh dir dieses Foto auf criticalmass.in an
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}