<!DOCTYPE html>
<html lang="en">
    <head>
        {% include('CalderaCriticalmassSiteBundle:Template:Includes/_meta.html.twig') %}

        <title>Fotos von der Critical Mass in {{ photo.ride.city.city }} am {{ photo.ride.dateTime|date('d.m.Y') }}</title>

        <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/criticalmass.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

        <script src="{{ asset('bundles/calderacriticalmasssite/js/external/requirejs/require.js') }}"></script>
        <script src="{{ asset('bundles/calderacriticalmasssite/js/CriticalMass.js') }}"></script>
    </head>

    <body>

        <div class="container">
            <div class="row hidden-xs hidden-sm margin-bottom-medium">
                <div class="col-md-2 col-lg-2">
                    <ul class="pager">
                        {% if previousPhoto %}
                            <li class="previous">
                                <a href="{{ path('caldera_criticalmassphoto_photo_show', { rideDate: previousPhoto.ride.getFormattedDate(), citySlug: previousPhoto.ride.city.slug, photoId: previousPhoto.id }) }}">
                                    &larr; Voriges Foto
                                </a>
                            </li>
                        {% else %}
                            <li class="previous disabled">
                                <a href="#">
                                    &larr; Voriges Foto
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>

                <div class="col-md-8 col-lg-8">
                    <div class="text-center">
                        <h1>
                            {{ photo.ride.city.title }} am {{ photo.ride.dateTime|date('d.m.Y') }}
                        </h1>
                    </div>
                </div>

                <div class="col-md-2 col-lg-2">
                    <ul class="pager">
                        {% if nextPhoto %}
                            <li class="next">
                                <a href="{{ path('caldera_criticalmassphoto_photo_show', { rideDate: nextPhoto.ride.getFormattedDate(), citySlug: nextPhoto.ride.city.slug, photoId: nextPhoto.id }) }}">
                                    Nächstes Foto &rarr;
                                </a>
                            </li>
                        {% else %}
                            <li class="next disabled">
                                <a href="#">
                                    Nächstes Foto &rarr;
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid margin-top-small">
            <div class="row">
                <div class="col-md-12">
                    <img id="photo" class="img-responsive" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_large') }}" />
                </div>
            </div>
        </div>

        <div class="container margin-top-large">
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Aufnahmedaten</h3>
                        </div>
                        <div class="panel-body">
                            {% include('CalderaCriticalmassPhotoBundle:Includes:_exif.html.twig') with { 'photo': photo, 'exif': exif } %}
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Karte</h3>
                        </div>
                        <div class="panel-body">
                            {% include('CalderaCriticalmassPhotoBundle:Includes:_map.html.twig') with { 'photo': photo, 'track': track } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include('CalderaCriticalmassPhotoBundle:Includes:_footer.html.twig') %}
        <script>
            CriticalMass.loadModule('ViewPhotoPage', null, null, function(page) {
                {% if previousPhoto %}
                page.setPreviousPhotoUrl('{{ path('caldera_criticalmassphoto_photo_show', { rideDate: previousPhoto.ride.getFormattedDate(), citySlug: previousPhoto.ride.city.slug, photoId: previousPhoto.id }) }}');
                {% endif %}

                {% if nextPhoto %}
                page.setNextPhotoUrl('{{ path('caldera_criticalmassphoto_photo_show', { rideDate: nextPhoto.ride.getFormattedDate(), citySlug: nextPhoto.ride.city.slug, photoId: nextPhoto.id }) }}');
                {% endif %}

                {% if photo.hasCoordinates() %}
                page.setPhoto('{{ photo|serialize|raw|e('js') }}', '{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}');
                page.initMap();
                {% endif %}
            });
        </script>

        <script src="{{ asset('bundles/calderacriticalmasssite/js/external/jquery/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ asset('bundles/calderacriticalmasssite/js/external/bootstrap3/bootstrap.min.js') }}"></script>
    </body>
</html>