<!DOCTYPE html>
<html lang="en">
    <head>
        {% include('CalderaCriticalmassSiteBundle:Template:Includes/_meta.html.twig') %}

        <title>Fotos von der Critical Mass in {{ photo.ride.city.city }} am {{ photo.ride.dateTime|date('d.m.Y') }}</title>

        <script src="{{ asset('bundles/calderacriticalmasssite/js/external/requirejs/require.js') }}"></script>
        <script src="{{ asset('bundles/calderacriticalmasssite/js/CriticalMass.js') }}"></script>

        <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/criticalmass.css') }}" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1>
                            {{ photo.ride.city.title }} am {{ photo.ride.dateTime|date('d.m.Y') }}
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid margin-top-large">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-responsive" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_large') }}" />
                </div>
            </div>
        </div>

        <div class="container margin-top-large">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Aufnahmedaten</h3>
                        </div>
                        <div class="panel-body">
                            {% include('CalderaCriticalmassPhotoBundle:Includes:_exif.html.twig') with { 'photo': photo, 'exif': exif } %}
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Weitere Aufnahmen</h3>
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Karte</h3>
                        </div>
                        <div class="panel-body">
                            {% include('CalderaCriticalmassPhotoBundle:Includes:_map.html.twig') with { 'photo': photo, 'track': track } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>