{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Kalender{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('caldera_criticalmass_frontpage') }}">criticalmass.in</a></li>
    <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
    <li class="active">Kalender</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Gefahren- und Arbeitsstellen in {{ city.city }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 400px;">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Bezeichnung
                            </th>
                            <th>
                                gültig bis
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for incident in incidents %}
                        <tr>
                            <td>
                                {{ incident.title }}
                            </td>
                            <td>
                                {% if incident.expires %}
                                {{ incident.visibleTo|date('d.m.Y', 'Europe/Berlin') }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        CriticalMass.loadModule('IncidentPage', null, null, function(incidentPage) {
            {% for incident in incidents %}
            incidentPage.addIncident('{{ incident.title|e }}', '{{ incident.description|e }}', '{{ incident.geometryType }}', '{{ incident.incidentType }}', '{{ incident.polyline|replace({'\\': '\\\\'}) }}', '{{ incident.expires }}', '{{ incident.visibleFrom|date('Y-m-d') }}', '{{ incident.visibleTo|date('Y-m-d') }}');
            {% endfor %}

            incidentPage.init();
            incidentPage.setFocus();
        });
    </script>
{% endblock %}