{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% if ride %}
{% set title = 'Gefahren- und Arbeitsstellen in ' ~ city.city ~ ' am ' ~ ride.dateTime|date('d.m.Y') %}
{% else %}
{% set title = 'Gefahren- und Arbeitsstellen in ' ~ city.city %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_desktop_city_list') }}">
            Städteliste
        </a>
    </li>
    <li>
        <a href="{{ path(city) }}">
            {{ city.city }}
        </a>
    </li>

    {% if ride %}
    <li>
        <a href="{{ path(ride) }}">
            {{ ride.getFancyTitle() }}
        </a>
    </li>
    {% endif %}

    <li class="active">
        Gefahrenstellen
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ title }}
                </h1>

                <p class="lead">
                    Augen auf! Die folgende Karte zeigt einige Arbeitsstellen oder Gefahrenstellen in {{ city.city }}, in deren Nähe Teilnehmer der Critical Mass ganz besonders aufpassen sollten.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 400px;">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Bezeichnung
                            </th>
                            <th>
                                gültig bis
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for incident in incidents %}
                        <tr class="incident" data-incident-id="{{ incident.id }}">
                            <td>
                                {{ incident.title }}
                            </td>
                            <td>
                                {% if incident.expires %}
                                {{ incident.visibleTo|date('d.m.Y', 'Europe/Berlin') }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        CriticalMass.loadModule('IncidentPage', null, null, function(incidentPage) {
            {% for incident in incidents %}
            incidentPage.addIncident({{ incident.id }}, '{{ incident.title|e }}', '{{ incident.description|e }}', '{{ incident.geometryType }}', '{{ incident.incidentType }}', '{{ incident.polyline|replace({'\\': '\\\\'}) }}', '{{ incident.expires }}', '{{ incident.visibleFrom|date('Y-m-d') }}', '{{ incident.visibleTo|date('Y-m-d') }}');
            {% endfor %}

            incidentPage.init();
            incidentPage.setFocus();
        });
    </script>
{% endblock %}