{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Fotos bearbeiten{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ objectPath(ride.city) }}">
            {{ ride.city.title }}
        </a>
    </li>
    <li>
        <a href="{{ objectPath(ride) }}">
            {{ ride.getFancyTitle() }}
        </a>
    </li>
    <li class="active">
        Fotos bearbeiten
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <a href="{{ path('caldera_criticalmass_gallery_photos_upload_ride', { 'citySlug': ride.city.getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}"
                       class="btn btn-success">
                        <i class="fa fa-camera"></i>
                        Weitere Fotos hochladen
                    </a>

                    <a href="{{ path('caldera_criticalmass_photo_relocate', { 'citySlug': ride.city.getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}"
                       class="btn btn-success">
                        <i class="fa fa-map-pin"></i>
                        Fotos verschieben
                    </a>
                </div>


                <h2>
                    Fotos bearbeiten
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    {% for photo in pagination %}
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="img-responsive img-thumbnail{% if not photo.enabled %} bg-danger{% endif %}"
                                         src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}"/>
                                </div>
                            </div>

                            <div class="row margin-top-10">
                                <div class="col-md-12">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Bearbeiten <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li class="disabled">
                                                <a href="#">
                                                    Aufnahmedatum: <br/>
                                                    {{ photo.dateTime.format('d.m.Y H:i:s') }}
                                                </a>
                                            </li>

                                            <li role="separator" class="divider"></li>

                                            <li>
                                                <a href="{{ path('caldera_criticalmass_photo_delete', { 'photoId': photo.id }) }}">
                                                    <i class="fa fa-trash-o"></i>
                                                    Löschen
                                                </a>
                                            </li>

                                            <li>
                                                <a href="{{ path('caldera_criticalmass_photo_censor', { 'photoId': photo.id }) }}">
                                                    <i class="fa fa-eraser"></i>
                                                    Zensieren
                                                </a>
                                            </li>

                                            {% if photo.enabled %}
                                                <li>
                                                    <a href="{{ path('caldera_criticalmass_photo_toggle', { 'photoId': photo.id }) }}">
                                                        <i class="fa fa-eye-slash"></i>
                                                        Deaktivieren
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="{{ path('caldera_criticalmass_photo_toggle', { 'photoId': photo.id }) }}">
                                                        <i class="fa fa-eye"></i>
                                                        Aktivieren
                                                    </a>
                                                </li>
                                            {% endif %}

                                            <li role="separator" class="divider"></li>

                                            <li>
                                                <a href="{{ path('caldera_criticalmass_photo_place_single', { 'photoId': photo.id }) }}">
                                                    <i class="fa fa-location-arrow"></i>
                                                    verorten
                                                </a>
                                            </li>

                                            <li role="separator" class="divider"></li>

                                            <li>
                                                <a href="{{ path('caldera_criticalmass_photo_rotate', { 'photoId': photo.id }) }}?direction=left">
                                                    <i class="fa fa-rotate-left"></i>
                                                    links rotieren
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('caldera_criticalmass_photo_rotate', { 'photoId': photo.id }) }}?direction=right">
                                                    <i class="fa fa-rotate-right"></i>
                                                    rechts rotieren
                                                </a>
                                            </li>

                                            <li role="separator" class="divider"></li>

                                            {% if photo.ride.featuredPhoto == photo %}
                                                <li>
                                                    <a href="{{ path('caldera_criticalmass_photo_featured', { 'photoId': photo.id }) }}">
                                                        <i class="fa fa-flag"></i>
                                                        Hauptbild lösen
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="{{ path('caldera_criticalmass_photo_featured', { 'photoId': photo.id }) }}">
                                                        <i class="fa fa-flag-o"></i>
                                                        Hauptbild festlegen
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
