<!DOCTYPE html>
<html lang="en">
    <head>
        {% include('CalderaCriticalmassSiteBundle:Template:Includes/_meta.html.twig') %}

        <title>
            criticalmass.live
        </title>

        <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasslive/css/live.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/bootstrap4/bootstrap.min.css') }}" />

        <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/external/fontawesome/fa-4.6.3.css') }}" />
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

        <script src="{{ asset('bundles/calderacriticalmasssite/js/external/requirejs/require.js') }}"></script>
        <script src="{{ asset('bundles/calderacriticalmasssite/js/CriticalMass.js') }}"></script>
    </head>

    <body>
        <nav class="navbar navbar-fixed-top navbar-dark bg-inverse" id="navigation">
            <a class="navbar-brand" href="{{ path('caldera_criticalmass_live_frontpage') }}">
                criticalmass.live
            </a>

            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item">
                    <a href="{{ path('caldera_criticalmass_live_content', { contentSlug: 'was-ist-critical-mass' } ) }}" class="nav-link">
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('caldera_criticalmass_live_content', { contentSlug: 'so-funktioniert-critical-mass-live-tracking' } ) }}">
                        <i class="fa fa-bicycle" aria-hidden="true"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#legalModal">
                        <i class="fa fa-gavel" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </nav>

        {% block content %}{% endblock %}

        {% include('CalderaCriticalmassLiveBundle:Includes:_legalModal.html.twig') %}

        <script src="{{ asset('bundles/calderacriticalmasssite/js/external/jquery/jquery-3.1.0.min.js') }}"></script>
        <script src="{{ asset('bundles/calderacriticalmasssite/js/external/bootstrap4/bootstrap.min.js') }}"></script>

        {% include('CalderaCriticalmassSiteBundle:Template:Includes/_piwik.html.twig') %}
    </body>
</html>

