{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Fotos sortieren{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_desktop_index') }}">criticalmass.in</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_show', { 'citySlug': city.getMainSlugString() }) }}">{{ city.getTitle() }}</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': city.getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}">{{ ride.getFancyTitle() }}</a></li>
            <li class="active">Fotos sortieren</li>
        </ol>

        <div class="row">
            <div class="col-md-12">
                <h1>Fotos neu ausrichten</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <p>Hier kannst du deine Fotos neu ausrichten. Wähle zuerst einen der für diese Tour gespeicherten Track aus. Anschließend kannst du einzelne Fotos neu auf diesem Track ausrichten, deine übrigen Fotos werden anschließend automatisch neu positioniert.</p>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="trackSelect">Track</label>
                    <select id="trackSelect" class="form-control">
                        <option>Wähle einen Track</option>
                        {% for track in ride.getActiveTracks() %}
                        <option value="{{ track.getId() }}">{{ track.getUser().getUsername() }} ({{ track.getDistance() }} Kilometer)</option>
                        {% endfor %}
                    </select>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 350px;">
            </div>
        </div>

            
        </div>

        {% javascripts
        '@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
        '@CalderaCriticalmassGalleryBundle/Resources/public/js/external/*'
        '@CalderaCriticalmassDesktopBundle/Resources/public/js/external/L.Control.Sidebar.js'
        '@CalderaCriticalmassDesktopBundle/Resources/public/js/external/leaflet.groupedlayercontrol.js'
        '@CalderaCriticalmassDesktopBundle/Resources/public/js/Subride/*'
        '@CalderaCriticalmassDesktopBundle/Resources/public/js/City/*'
        '@CalderaCriticalmassDesktopBundle/Resources/public/js/Ride/*'
        '@CalderaCriticalmassTrackBundle/Resources/public/js/Track/*'
        '@CalderaCriticalmassGalleryBundle/Resources/public/js/Photo/Photo.js'
        '@CalderaCriticalmassGalleryBundle/Resources/public/js/Photo/*'
        '@CalderaCriticalmassCoreBundle/Resources/public/js/Container/Container.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript">
            /* Map */
            var map = L.map('map');

            /* Tilelayer */
            var tileLayer = L.tileLayer('https://{s}.tiles.mapbox.com/v3/maltehuebner.i1c90m12/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                detectRetina: true
            });

            tileLayer.addTo(map);

            /* View */
            map.setView([53.550556, 9.993333], 13);
        </script>
    </div>
{% endblock %}