{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Tour editieren{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">criticalmass.in</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_show', { 'citySlug': city.getMainSlugString() }) }}">{{ city.getTitle() }}</a></li>
            <li class="active">Tour hinzufügen</li>
        </ol>

        <h1>Tour hinzufügen</h1>

        {% if hasErrors is not null %}
        {% if hasErrors == true %}
        <div class="alert alert-danger" role="alert">Deine Änderungen konnten nicht gespeichert werden, weil du ungültige Werte eingegeben hast :(</div>
        {% elseif hasErrors == false %}
        <div class="alert alert-success" role="alert">Deine Änderungen wurden gespeichert. <a href="{{ path('caldera_criticalmass_desktop_ride_show', { citySlug: city.getMainSlugString(), rideDate: ride.getFormattedDate() } ) }}">Zurück zur Tour?</a></div>
        {% endif %}
        {% endif %}

        <div class="row">
            <div class="col-md-4">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label" for="title">Titel:</label>
                            {{ form_widget(form.title, { 'attr' : { 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="control-label" for="description">Beschreibung:</label>
                            {{ form_widget(form.description, { 'attr' : { 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="row">
                        <label class="control-label" for="date">Datum:</label>
                            <div class="form-group">
                                {{ form_widget(form.date, { 'attr' : { 'class': 'form-control'} }) }}
                            </div>
                    </div>

                    <div class="row">
                        <label class="control-label" for="time">Uhrzeit:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                {{ form_widget(form.hasTime) }}
                            </span>
                            {{ form_widget(form.time, { 'attr' : { 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="row">
                        <label class="control-label" for="location">Treffpunkt:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                {{ form_widget(form.hasLocation) }}
                            </span>
                            {{ form_widget(form.location, { 'attr' : { 'class': 'form-control', 'disabled': 'disabled' } }) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group{% if form_errors(form.facebook) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="facebook">Link zu einer Veranstaltung auf facebook:</label>
                            {{ form_widget(form.facebook, { 'attr' : { 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group{% if form_errors(form.twitter) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="twitter">Link zu einem Tweet:</label>
                            {{ form_widget(form.twitter, { 'attr' : { 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group{% if form_errors(form.url) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="url">Link zu einer Webseite:</label>
                            {{ form_widget(form.url, { 'attr' : { 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="control-label" for="weatherForecast">Wettervorhersage:</label>
                            {{ form_widget(form.weatherForecast, { 'attr' : { 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Speichern</button>
                        </div>
                    </div>

                    {{ form_widget(form.latitude) }}
                    {{ form_widget(form.longitude) }}
                    {{ form_widget(form._token) }}
                </form>
            </div>
            <div class="col-md-8">
                <div id="map" style="height: 500px;"></div>
            </div>
            {% javascripts
            '@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script>
                function toggleLocationMap()
                {
                    $('#ride_location').prop('disabled', !$('#ride_hasLocation').prop('checked'));
                }

                function toggleTime()
                {
                    $('#ride_time_minute').prop('disabled', !$('#ride_hasTime').prop('checked'));
                    $('#ride_time_hour').prop('disabled', !$('#ride_hasTime').prop('checked'));
                }

                window.onload = function()
                {
                    $('#ride_hasLocation').on('click', toggleLocationMap);
                    $('#ride_hasTime').on('click', toggleTime);

                    var mapCenter = L.latLng({{ city.getLatitude() }}, {{ city.getLongitude() }});

                    var map = L.map('map');
                    var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    });

                    tileLayer.addTo(map);
                    map.setView(mapCenter, 12);

                    var locationIcon = L.icon({
                        iconUrl: '/images/marker/marker-red.png',
                        iconRetinaUrl: '/images/marker/marker-red-2x.png',
                        iconSize: [25, 41],
                        iconAnchor: [13, 41],
                        popupAnchor: [0, -36],
                        shadowUrl: '/images/marker/defaultshadow.png',
                        shadowSize: [41, 41],
                        shadowAnchor: [13, 41]
                    });

                    var marker = L.marker(mapCenter, { draggable: 'true', icon: locationIcon });
                    marker.addTo(map);
                    marker.bindPopup('Schieb mich auf den Treffpunkt!');
                    marker.openPopup();

                    marker.on('dragend', function(event){
                        var marker = event.target;
                        var position = marker.getLatLng();

                        $('#ride_latitude').val(position.lat);
                        $('#ride_longitude').val(position.lng);
                    });
                };
            </script>
        </div>
    </div>
{% endblock %}