{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Kalender{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">criticalmass.in</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
            <li class="active">Kalender</li>
        </ol>

        <h1>hic sunt birotarii</h1>

        {% for date, rides in rides %}
        <div class="row">
            <h4>{{ date }}</h4>
        </div>

        <table class="table">
            <tr>
                <th>Stadt</th>
                <th>Uhrzeit</th>
                <th>Treffpunkt</th>
            </tr>

            {% for ride in rides %}
                <tr>
                    <td>{{ ride.getCity() }}</td>
                    <td>{{ ride.getTime().format('H:i') }} Uhr</td>
                    <td>{% if ride.getHasLocation() %}{{ ride.getLocation() }}{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
{% endblock %}