{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Tour editieren{% endblock %}

{% block content %}
    <div class="container">
        <h1>Tour-Details korrigieren</h1>
        <p>Manchmal klappt das nicht so ganz: Sich widersprechende Quellen, verschiedene Veranstaltungen auf facebook und twitter, da verlieren wir leider auch schon mal den Überblick. Danke, dass du dir die Zeit nimmst, fehlende Details zu ergänzen oder fehlerhafte Angaben zu korrigieren.</p>

        <div class="row">
            <div class="col-lg-4">
                {{ form_start(form) }}
                    <div class="row">
                            <div class="form-group">
                                <label for="title">Titel:</label>
                                {{ form_widget(form.title, { 'attr' : { 'class': 'form-control'} }) }}
                            </div>
                    </div>

                    <div class="row">
                            <div class="form-group">
                                <label for="description">Beschreibung:</label>
                                {{ form_widget(form.description, { 'attr' : { 'class': 'form-control'} }) }}
                            </div>
                    </div>

                    <div class="row">
                            <label for="date">Datum:</label>
                            <div class="form-group">
                                {{ form_widget(form.date, { 'attr' : { 'class': 'form-control'} }) }}
                            </div>
                    </div>

                    <div class="row">
                            <label for="time">Uhrzeit:</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    {{ form_widget(form.hasTime) }}
                                </span>
                                {{ form_widget(form.time, { 'attr' : { 'class': 'form-control'} }) }}
                            </div>
                    </div>

                    <div class="row">
                            <label for="location">Treffpunkt:</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    {{ form_widget(form.hasLocation) }}
                                </span>
                                {{ form_widget(form.location, { 'attr' : { 'class': 'form-control'} }) }}
                            </div><!-- /input-group -->
                    </div>

                    <div class="row">
                            <div class="form-group">
                                <label for="description">Link zu einer Veranstaltung auf facebook:</label>
                                {{ form_widget(form.facebook, { 'attr' : { 'class': 'form-control'} }) }}
                            </div>
                    </div>

                    <div class="row">
                            <div class="form-group">
                                <label for="description">Link zu einem Tweet:</label>
                                {{ form_widget(form.twitter, { 'attr' : { 'class': 'form-control'} }) }}
                            </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="description">Link zu einer Webseite:</label>
                            {{ form_widget(form.url, { 'attr' : { 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="description">Wettervorhersage:</label>
                            {{ form_widget(form.weatherForecast, { 'attr' : { 'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="row">
                            <div class="form-group">
                                {{ form_widget(form.save, { 'attr' : { 'class': 'form-control'} }) }}
                            </div>
                    </div>
                    {{ form_widget(form.latitude) }}
                    {{ form_widget(form.longitude) }}

                {{ form_end(form) }}
            </div>
            <div class="col-lg-8">
                <div id="map" style="height: 500px;"></div>
            </div>
            {% javascripts
            '@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script>
                window.onload = function()
                {
                    {% if ride.hasLocation() %}
                    var mapCenter = L.latLng({{ ride.getLatitude() }}, {{ ride.getLongitude() }});
                    {% else %}
                    var mapCenter = L.latLng({{ ride.getCity().getLatitude() }}, {{ ride.getCity().getLongitude() }});
                    {% endif %}
                    var map = L.map('map');
                    var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    });

                    tileLayer.addTo(map);
                    map.setView(mapCenter, 12);

                    var locationIcon = L.icon({
                        iconUrl: '/images/marker/marker-red.png',
                        iconRetinaUrl: '/images/marker/marker-red-2x.png',
                        iconSize: [25, 41],
                        iconAnchor: [13, 41],
                        popupAnchor: [0, -36],
                        shadowUrl: '/images/marker/defaultshadow.png',
                        shadowSize: [41, 41],
                        shadowAnchor: [13, 41]
                    });

                    var marker = L.marker(mapCenter, { draggable: 'true', icon: locationIcon });
                    marker.addTo(map);
                    marker.bindPopup('Schieb mich auf den Treffpunkt!');
                    marker.openPopup();

                    marker.on('dragend', function(event){
                        var marker = event.target;
                        var position = marker.getLatLng();

                        $('#form_latitude').val(position.lat);
                        $('#form_longitude').val(position.lng);
                    });
                };
            </script>
        </div>
    </div>
{% endblock %}