{% extends 'CalderaCriticalmassDesktopBundle::BaseTemplate.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Tour-Details korrigieren</h1>
        <p>Manchmal klappt das nicht so ganz: Sich widersprechende Quellen, verschiedene Veranstaltungen auf facebook und twitter, da verlieren wir leider auch schon mal den Überblick. Danke, dass du dir die Zeit nimmst, fehlende Details zu ergänzen oder fehlerhafte Angaben zu korrigieren.</p>

        <div class="row">
        <div class="col-lg-4">
        <form id="proposal" action="" method="post" role="form">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="title">Titel</label>
                        <input class="form-control" type="text" name="title" value="{{ ride.getTitle() }}" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="description">Beschreibung</label>
                        <textarea class="form-control" name="description">{{ ride.getDescription() }}</textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <label for="date">Datum:</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="date" value="{{ ride.getDateTime().format('d.m.Y') }}" />
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <label for="time">Uhrzeit:</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" name="hasTime" checked="{{ ride.getHasTime() }}" />
                        </span>
                        <input type="text" class="form-control" name="time" value="{{ ride.getDateTime().format('H:i') }}" />
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <label for="location">Treffpunkt:</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" name="hasLocation" checked="{{ ride.getHasLocation() }}" />
                        </span>
                        <input type="text" class="form-control" name="location" value="{{ ride.getLocation() }}" />
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>

            <div class="row">
                <div class=".col-lg-2 .col-lg-offset-10">
                    <div class="form-group">
                        <button class="form-control" name="submit">Speichern</button>
                    </div>
                </div>
            </div>
            <input type="text" name="latitude" value="{{ ride.getLatitude() }}" />
            <input type="text" name="longitude" value="{{ ride.getLongitude() }}" />

        </form>
        </div>
            <div class="col-lg-8">
                <div id="map" style="width: 100%; height: 300px;"></div>
            </div>
            <script>
                {% if ride.hasLocation() %}
                var mapCenter = L.latLng({{ ride.getLatitude() }}, {{ ride.getLongitude() }});
                {% else %}
                var mapCenter = L.latLng({{ ride.getCity().getLatitude() }}, {{ ride.getCity().getLongitude() }});
                {% endif %}
                var map = L.map('map');
                var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                });

                tileLayer.addTo(map);
                map.setView(mapCenter, 12);

                var marker = L.marker(mapCenter, { draggable: 'true' });
                marker.addTo(map);
                marker.bindPopup('Schieb mich auf den Treffpunkt!');
                marker.openPopup();

                marker.on('dragend', function(event){
                    var marker = event.target;
                    var position = marker.getLatLng();

                    $('#latitudeInput').val(position.lat);
                    $('#longitudeInput').val(position.lng);
                });
            </script>
        </div>
    </div>
{% endblock %}