{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% if ride.getTitle() %}
    {% set rideTitle = ride.getTitle() %}
{% else %}
    {% set rideTitle = city.getTitle() ~ ' am ' ~ ride.getDateTime().format('d. m. Y') %}
{% endif %}

{% if ride.getUrl() or ride.getFacebook() or ride.getTwitter() %}
    {% set hasSocialMedia = true %}
{% else %}
    {% set hasSocialMedia = false %}
{% endif %}

{% block title %}{{ rideTitle }}{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">criticalmass.in</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_show', { 'citySlug': city.getMainSlugString() }) }}">{{ city.getTitle() }}</a></li>
            <li class="active">{{ rideTitle }}</li>
        </ol>

        <h1>{{ rideTitle }}</h1>

        <div id="map" class="col-lg-12" style="height: 350px;"></div>

        {% javascripts
        '@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            var map = L.map('map');
            var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            });

            tileLayer.addTo(map);
            map.setView([53, 9], 10);

            {% for track in ride.getTracks() %}
            // create a red polyline from an arrays of LatLng points
            var options = { color: 'rgb({{ track.getUser().getColorRed() }}, {{ track.getUser().getColorGreen() }}, {{ track.getUser().getColorBlue() }})' }
            var polyline = L.polyline({{ track.getJson() }}, options).addTo(map);
            {% endfor %}

            // zoom the map to the polyline
            map.fitBounds(polyline.getBounds());

        </script>

        {% if ride.getDescription() %}
            <p>{{ ride.getDescription() }}</p>
        {% endif %}

        <div class="row">
            {% if hasSocialMedia %}
            <div class="col-lg-8">
            {% else %}
            <div class="col-lg-12">
            {% endif %}
                <div class="col-lg-6">
                    <label>Datum:</label>
                    <span>{{ ride.getDateTime.format('d.m.Y') }}</span>
                </div>
                <div class="col-lg-6">
                    <label>Uhrzeit:</label>
                    <span>{{ ride.getDateTime.format('H:i') }}</span>
                </div>
            </div>
            {% if hasSocialMedia %}
            <div class="col-lg-4">
                <h2>Mehr im Netz</h2>

                {% if ride.getUrl() %}
                    <a class="btn btn-link" href="{{ ride.getUrl() }}">Homepage</a>
                {% endif %}

                {% if ride.getFacebook() %}
                    <a class="btn btn-link" href="{{ ride.getFacebook() }}">facebook</a>
                {% endif %}

                {% if ride.getTwitter() %}
                    <a class="btn btn-link" href="{{ ride.getTwitter() }}">twitter</a>
                {% endif %}
            </div>
            {% endif %}
        </div>


    </div>
{% endblock %}