{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% if ride.getTitle() %}
    {% set rideTitle = ride.getTitle() %}
{% else %}
    {% set rideTitle = city.getTitle() ~ ' am ' ~ ride.getDateTime().format('d. m. Y') %}
{% endif %}

{% set hasSocialMedia = ride.getUrl() or ride.getFacebook() or ride.getTwitter() %}
{% set hasEstimateBlock = app.getUser() != null %}

{% block title %}{{ rideTitle }}{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">criticalmass.in</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_show', { 'citySlug': city.getMainSlugString() }) }}">{{ city.getTitle() }}</a></li>
            <li class="active">{{ rideTitle }}</li>
        </ol>

        <div class="row">
            {% if app.getUser() %}
            <a class="btn btn-success pull-right" href="{{ path('caldera_criticalmass_statistic_track_upload') }}" style="margin-top: 24px;">Track hinzufügen</a>
            {% endif %}
            <h1>{{ rideTitle }}</h1>
        </div>

        <div class="row">
            <div id="map" class="col-lg-12" style="height: 350px;"></div>
        </div>

        {% javascripts
        '@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            var map = L.map('map');
            var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                detectRetina: true
            });

            tileLayer.addTo(map);
            map.setView([{{ ride.getLatitude() }}, {{ ride.getLongitude() }}], 14);

            var locationIcon = L.icon({
                iconUrl: '/images/marker/marker-red.png',
                iconRetinaUrl: '/images/marker/marker-red-2x.png',
                iconSize: [25, 41],
                iconAnchor: [13, 41],
                popupAnchor: [0, -36],
                shadowUrl: '/images/marker/defaultshadow.png',
                shadowSize: [41, 41],
                shadowAnchor: [13, 41]
            });

            var marker = L.marker([{{ ride.getLatitude() }}, {{ ride.getLongitude() }}], { icon: locationIcon });
            marker.addTo(map);

            {% for track in ride.getTracks() %}
            // create a red polyline from an arrays of LatLng points
            var options = { color: 'rgb({{ track.getUser().getColorRed() }}, {{ track.getUser().getColorGreen() }}, {{ track.getUser().getColorBlue() }})' }
            var polyline = L.polyline({{ track.getJson() }}, options).addTo(map);
            {% endfor %}

            // zoom the map to the polyline
            map.fitBounds(polyline.getBounds());

        </script>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">Treffpunkt:<br />Fischmarkt</div>
            <div class="col-md-3 col-sm-6 col-xs-6">Freitag, 26. September 2014<br />19:00 Uhr</div>
            <div class="col-md-2 col-sm-4 col-xs-4"><span style="font-size: 20px;">5.721</span><br />Teilnehmer</div>
            <div class="col-md-2 col-sm-4 col-xs-4"><span style="font-size: 20px;">28,5</span><br />Kilometer</div>
            <div class="col-md-2 col-sm-4 col-xs-4"><span style="font-size: 20px;">2:12</span><br />Stunden</div>
        </div>
        <div class="row">
            {% if hasSocialMedia or hasEstimateBlock %}
            <div class="col-lg-8">
            {% else %}
            <div class="col-lg-12">
            {% endif %}
                {% if ride.getDescription() %}
                <div class="row">
                    <div class="col-md-12">{{ ride.getDescription()|nl2br }}</div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-6">
                        <label>Datum:</label>
                        <span>{{ ride.getDateTime.format('d.m.Y') }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Uhrzeit:</label>
                        <span>{{ ride.getDateTime.format('H:i') }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Treffpunkt:</label>
                        <span>{{ ride.getLocation() }}</span>
                    </div>
                </div>
                {% if ride.getEstimatedParticipants() %}
                <div class="row">
                    <div class="col-lg-6">
                        <label>Teilnehmer:</label>
                        <span>{{ ride.getEstimatedParticipants() }}</span>
                    </div>
                </div>
                {% endif %}
                {% if ride.getEstimatedDistance() %}
                <div class="row">
                    <div class="col-lg-6">
                        <label>Fahrstrecke:</label>
                        <span>{{ ride.getEstimatedDistance() }} Kilometer</span>
                    </div>
                </div>
                {% endif %}
                {% if ride.getEstimatedDuration() %}
                <div class="row">
                    <div class="col-lg-6">
                        <label>Fahrtdauer:</label>
                        <span>{{ ride.getEstimatedDuration() }} Stunden</span>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-12">
                        <h4>Kommentare zu dieser Tour</h4>
                        {{ render(controller('CalderaCriticalmassTimelineBundle:Post:write', { 'rideId': ride.getId() })) }}

                        {{ render(controller('CalderaCriticalmassTimelineBundle:Post:list', { 'rideId': ride.getId() })) }}
                    </div>
                </div>




            </div>
            {% if hasSocialMedia or hasEstimateBlock %}
            <div class="col-lg-4">
                {% if hasSocialMedia %}
                <h4>Mehr im Netz</h4>

                {% if ride.getUrl() %}
                <a class="btn btn-link" href="{{ ride.getUrl() }}">Homepage</a>
                {% endif %}

                {% if ride.getFacebook() %}
                <a class="btn btn-link" href="{{ ride.getFacebook() }}">facebook</a>
                {% endif %}

                {% if ride.getTwitter() %}
                <a class="btn btn-link" href="{{ ride.getTwitter() }}">twitter</a>
                {% endif %}

                {% endif %}

                {% if hasEstimateBlock %}
                <h4>Was meinst du?</h4>
                <p>Hier kannst du einen Tipp abgeben, wie viele Teilnehmer unterwegs waren und wie viele Kilometer sie in welcher Zeit gefahren sind. Du brauchst nicht alle Felder ausfüllen — schreib einfach, was du weißt.</p>
                {{ form_start(estimateForm) }}
                    <div class="form-group">
                        <label for="">Ungefähre Teilnehmerzahl:</label>
                        {{ form_widget(estimateForm.estimatedParticipants, {'attr': {'class': 'form-control'}}) }}
                        <p class="help-block">Beispiel: 205 oder 5150</p>
                    </div>

                    <div class="form-group">
                        <label for="">Ungefähre Streckenlänge in Kilometern:</label>
                        {{ form_widget(estimateForm.estimatedDistance, {'attr': {'class': 'form-control'}}) }}
                        <p class="help-block">Beispiel: 16 oder 21,35</p>
                    </div>

                    <div class="form-group">
                        <label for="">Ungefähre Fahrtdauer in Stunden</label>
                        {{ form_widget(estimateForm.estimatedDuration, {'attr': {'class': 'form-control'}}) }}
                        <p class="help-block">Beispiel: 2,25 für zwei Stunden und fünfzehn Minuten</p>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Schätzen</button>
                    </div>
                    {{ form_widget(estimateForm._token) }}
                </form>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}