{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}{{ ride.getFancyTitle() }}{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_desktop_index') }}">criticalmass.in</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_show', { 'citySlug': city.getMainSlugString() }) }}">{{ city.getTitle() }}</a></li>
            <li class="active">{{ ride.getFancyTitle() }}</li>
        </ol>
    
        {% if not app.getUser() %}
            <div class="alert alert-info" role="alert"><strong>Hej!</strong> Mit einem <a href="{{ path('fos_user_security_login') }}">criticalmass.in-Benutzerkonto</a> könntest du die Daten dieser Tour aktualisieren.</div>
        {% endif %}

        {% include('CalderaCriticalmassDesktopBundle:Common:Ride.html.twig') with { 'ride': ride } %}

        <ul class="pager">
            {% if ride.getPreviousRide() %}
            <li class="previous"><a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': ride.getCity().getMainSlugString(), 'rideDate': ride.getPreviousRide().getDateTime().format('Y-m-d') }) }}">&larr; Vorige Tour</a></li>
            {% else %}
            <li class="previous disabled"><a href="#">&larr; Vorige Tour</a></li>
            {% endif %}

            {% if ride.getNextRide() %}
            <li class="next"><a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': ride.getCity().getMainSlugString(), 'rideDate': ride.getNextRide().getDateTime().format('Y-m-d') }) }}">Nächste Tour &rarr;</a></li>
            {% else %}
            <li class="next disabled"><a href="#">Nächste Tour &rarr;</a></li>
            {% endif %}
        </ul>
    </div>

    {% if app.getUser() %}

    <div class="modal fade" id="modalPhotoShow" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <img id="photoShow" src="">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalComment" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Kommentar zu dieser Tour verfassen</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('CalderaCriticalmassTimelineBundle:Post:write', { 'rideId': ride.getId() })) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEstimate" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Tour schätzen</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('CalderaCriticalmassStatisticBundle:Ride:estimateform', { 'rideId': ride.getId() })) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalTrackUpload" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Track zu dieser Tour hochladen</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('CalderaCriticalmassTrackBundle:Track:upload')) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalPhotoChange" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Position des Bildes ändern</h4>
                </div>
                <div class="modal-body">
                    Möchtest du wirklich die Position dieses Bildes verändern?
                    <a id="changeButton" href="" class="btn btn-success">Ja, ändern</a>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    </div>

{% endblock %}