{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% set hasSocialMedia = ride.getUrl() or ride.getFacebook() or ride.getTwitter() %}

{% block title %}{{ ride.getFancyTitle() }}{% endblock %}

{% block additionalHeaderElements %}
    {% stylesheets
    '@CalderaCriticalmassGalleryBundle/Resources/public/css/external/*.css'
    filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block additionalFooterElements %}
    {% javascripts
    '@CalderaCriticalmassGalleryBundle/Resources/public/js/external/*.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">criticalmass.in</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städt#eliste</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_show', { 'citySlug': city.getMainSlugString() }) }}">{{ city.getTitle() }}</a></li>
            <li class="active">{{ ride.getFancyTitle() }}</li>
        </ol>

        <div class="row">
            {% if app.getUser() %}
            <div class="btn-group  pull-right" style="margin-top: 24px;">
                <a class="btn btn-default" href="#" data-toggle="modal" data-target="#modalComment"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-default" href="#" data-toggle="modal" data-target="#modalEstimate"><i class="fa fa-signal"></i></a>
                <a class="btn btn-default" href="#" data-toggle="modal" data-target="#modalTrackUpload"><i class="fa fa-cloud-upload"></i></a>
                <a class="btn btn-default" href="{{ path('caldera_criticalmass_gallery_photos_upload_ride', { citySlug: city.getMainSlugString(), rideDate: ride.getDateTime().format('Y-m-d') } ) }}"><i class="fa fa-camera"></i></a>
                <a class="btn btn-default" href="{{ path('caldera_criticalmass_desktop_ride_edit', { citySlug: city.getMainSlugString(), rideDate: ride.getDateTime().format('Y-m-d') } ) }}"><i class="fa fa-wrench"></i></a>
            </div>
            {% endif %}
            <h1>{{ ride.getFancyTitle() }}</h1>
        </div>

        <div class="row">
            <div id="map" class="col-md-12" style="height: 350px;"></div>
        </div>

        {% javascripts
        '@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>

            var map = L.map('map');
            var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                detectRetina: true
            });

            tileLayer.addTo(map);


            var locationIcon = L.icon({
                iconUrl: 'https://www.criticalmass.in/images/marker/marker-red.png',
                iconRetinaUrl: '/images/marker/marker-red-2x.png',
                iconSize: [25, 41],
                iconAnchor: [13, 41],
                popupAnchor: [0, -36],
                shadowUrl: '/images/marker/defaultshadow.png',
                shadowSize: [41, 41],
                shadowAnchor: [13, 41]
            });

            {% if ride.hasLocation %}
            var marker = L.marker([{{ ride.getLatitude() }}, {{ ride.getLongitude() }}], { icon: locationIcon });
            marker.addTo(map);

            map.setView([{{ ride.getLatitude() }}, {{ ride.getLongitude() }}], 14);
            {% else %}
            map.setView([{{ city.getLatitude() }}, {{ city.getLongitude() }}], 14);
            {% endif %}

            {% for photo in ride.getPhotos() %}
            {% if photo.getLatitude() and photo.getLongitude() %}
            var photoMarker = L.marker([{{photo.getLatitude()}}, {{ photo.getLongitude() }}], {icon:locationIcon, draggable: true});
            photoMarker.addTo(map);

            {% if app.getUser().getId() == photo.getUser().getId() %}
            photoMarker.on('dragend', function(event){
                var marker = event.target;

                $('#changeButton').prop('href', "http://beta.criticalmass.cm/app_dev.php/photos/change/" + {{ photo.getId() }} + "/" + marker.getLatLng().lat + "/" + marker.getLatLng().lng);

                $('#modalPhotoChange').modal('show');
            });
            {% endif %}

            photoMarker.on('click', function() {
                var photoPath = '{{ photo.getFilePathByDepth(2) }}';
                $.fancybox( {href : photoPath, title : 'Lorem lipsum'} );
            });
            {% endif %}
            {% endfor %}

            {% for track in ride.getTracks() %}
            {% if track.getJson() %}
            {% if track.getUser() %}
            var options = { color: 'rgb({{ track.getUser().getColorRed() }}, {{ track.getUser().getColorGreen() }}, {{ track.getUser().getColorBlue() }})' }
            {% elseif track.getTicket() %}
            var options = { color: 'rgb({{ track.getTicket().getColorRed() }}, {{ track.getTicket().getColorGreen() }}, {{ track.getTicket().getColorBlue() }})' }
            {% endif %}

            var polyline = L.polyline({{ track.getJson() }}, options).addTo(map);
            {% endif %}
            {% endfor %}

            // zoom the map to the polyline
            //map.fitBounds(polyline.getBounds());


        </script>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">Treffpunkt:<br />{{ ride.getLocation() }}</div>
            <div class="col-md-3 col-sm-6 col-xs-6">{{ ride.getDateTime.format('d.m.Y') }}<br />{{ ride.getDateTime.format('H:i') }} Uhr</div>
            <div class="col-md-2 col-sm-4 col-xs-4"><span style="font-size: 20px;">{{ ride.getEstimatedParticipants()|round }}</span><br />Teilnehmer</div>
            <div class="col-md-2 col-sm-4 col-xs-4"><span style="font-size: 20px;">{{ ride.getEstimatedDistance()|round(2) }}</span><br />Kilometer</div>
            <div class="col-md-2 col-sm-4 col-xs-4"><span style="font-size: 20px;">{{ ride.getEstimatedDuration()|round(2) }}</span><br />Stunden</div>
        </div>
        <div class="row">
            {% if hasSocialMedia %}
            <div class="col-lg-8">
            {% else %}
            <div class="col-lg-12">
            {% endif %}
                {% if ride.getDescription() %}
                <div class="row">
                    <div class="col-md-12">{{ ride.getDescription()|nl2br }}</div>
                </div>
                {% endif %}

                <ul class="nav nav-tabs" id="cityModalTabs">
                    <li class="active"><a href="#commentTab" data-toggle="tab"><i class="glyphicon glyphicon-pencil"></i> Kommentare <span class="badge">{{ ride.getPosts()|length }}</span></a></li>
                    <li><a href="#galleryTab" data-toggle="tab"><i class="glyphicon glyphicon-camera"></i> Bilder <span class="badge">{{ ride.getPhotos()|length }}</span></a></li>
                </ul>

                <div class="tab-content" id="cityModalTabsContent" style="padding-top: 10px;">
                    <div class="tab-pane fade in active" id="commentTab">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Kommentare zu dieser Tour</h4>
                                {{ render(controller('CalderaCriticalmassTimelineBundle:Post:list', { 'rideId': ride.getId() })) }}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade in" id="galleryTab">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Bilder zu dieser Tour</h4>
                                {{ render(controller('CalderaCriticalmassGalleryBundle:Photos:list', {'rideId': ride.getId() })) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% if hasSocialMedia %}
            <div class="col-lg-4">
                {% if hasSocialMedia %}
                <h4>Mehr im Netz</h4>

                {% if ride.getUrl() %}
                <a class="btn btn-link" href="{{ ride.getUrl() }}">Homepage</a>
                {% endif %}

                {% if ride.getFacebook() %}
                <a class="btn btn-link" href="{{ ride.getFacebook() }}">facebook</a>
                {% endif %}

                {% if ride.getTwitter() %}
                <a class="btn btn-link" href="{{ ride.getTwitter() }}">twitter</a>
                {% endif %}
                {% endif %}

            </div>
            {% endif %}
        </div>

        <ul class="pager">
            {% if ride.getPreviousRide() %}
            <li class="previous"><a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': ride.getCity().getMainSlugString(), 'rideDate': ride.getPreviousRide().getDateTime().format('Y-m-d') }) }}">&larr; Vorige Tour</a></li>
            {% endif %}

            {% if ride.getNextRide() %}
            <li class="next"><a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': ride.getCity().getMainSlugString(), 'rideDate': ride.getNextRide().getDateTime().format('Y-m-d') }) }}">Nächste Tour &rarr;</a></li>
            {% endif %}
        </ul>
    </div>

    {% if app.getUser() %}

    <div class="modal fade" id="modalPhotoShow" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <img id="photoShow" src="">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalComment" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Kommentar zu dieser Tour verfassen</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('CalderaCriticalmassTimelineBundle:Post:write', { 'rideId': ride.getId() })) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEstimate" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Tour schätzen</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('CalderaCriticalmassStatisticBundle:Ride:estimateform', { 'rideId': ride.getId() })) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalTrackUpload" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Track zu dieser Tour hochladen</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('CalderaCriticalmassStatisticBundle:Track:upload')) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalPhotoChange" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Position des Bildes ändern</h4>
                </div>
                <div class="modal-body">
                    Möchtest du wirklich die Position dieses Bildes verändern?
                    <a id="changeButton" href="" class="btn btn-success">Ja, ändern</a>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    </div>
{% endblock %}