{% if app.getUser() %}
{{ form_start(form, {'attr': {'role': 'form'}}) }}

<div class="form-group">
    <label for="">Dein Kommentar:</label>
    {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
</div>

<button type="submit" class="btn btn-success pull-right">Absenden</button>

{{ form_widget(form._token) }}
{{ form_widget(form.latitude) }}
{{ form_widget(form.longitude) }}

</form>
{% else %}
<p>Mit einem criticalmass.in-Benutzerkonto könntest du an dieser Stelle einen Kommentar verfassen. Wenn du Lust und Zeit hast, kannst du dich hier drüben <a href="{{ path('fos_user_security_login') }}">einloggen oder anmelden</a>.</p>
{% endif %}