<div class="row margin-bottom-medium">
    <div class="col-md-2">
        <time>{{ item.dateTime|date('d.m.Y') }}</time>
        <br />
        <time>{{ item.dateTime|date('H:i') }}&nbsp;Uhr</time>
    </div>

    <div class="col-md-3">
    </div>

    <div class="col-md-7">
        <strong>
            {{ item.sharingCounter }}
        </strong>
        Radfahrer teilen gerade ihren Aufenthaltsort in
        {% for city in item.cityList %}
            {% if loop.last and not loop.first %}
                und
            {% elseif not loop.first %}
                ,
            {% endif %}
            <a href="{{ path('caldera_criticalmass_live_city', { citySlug: city.slug }) }}">{{ city.city }}</a>
        {% endfor %}
        .
    </div>
</div>