<div class="row margin-bottom-medium">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <time>{{ item.dateTime|date('d.m.Y') }}</time>
        <time>{{ item.dateTime|date('H:i') }}&nbsp;Uhr</time>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <img src="{{ vich_uploader_asset(item.photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}"
             class="img-responsive"/>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div class="row">
            <div class="col-md-12">
                <strong>
                    {{ item.username }}
                </strong>
                hat ein Foto kommentiert:
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="{{ objectPath(item.photo) }}">
                    <h4>
                        {{ item.rideTitle }}
                    </h4>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ item.text|slice(0, 140)|parse }}
                </p>
            </div>
        </div>
    </div>
</div>