<div class="row margin-bottom-medium">
    <div class="col-md-2">
        <time>{{ item.dateTime|date('d.m.Y') }}</time>
        <br />
        <time>{{ item.dateTime|date('H:i') }}&nbsp;Uhr</time>
    </div>

    <div class="col-md-3">
        <img src="{{ vich_uploader_asset(item.previewPhoto, 'imageFile')|imagine_filter('gallery_photo_thumb') }}" />
    </div>

    <div class="col-md-7">
        <strong>
            {{ item.username }}
        </strong>
        hat {{ item.counter }} Fotos zur Tour
        <strong>
            <a href="{{ path(item.ride) }}">
                {{ item.rideTitle }}
            </a>
        </strong>
        hochgeladen
    </div>
</div>