<div class="row margin-bottom-medium">
    <div class="col-md-2">
        <time>{{ item.dateTime|date('d.m.Y') }}</time>
        <br />
        <time>{{ item.dateTime|date('H:i') }}&nbsp;Uhr</time>
    </div>

    <div class="col-md-3">
        <div id="map-{{ item.uniqId }}"
             data-polyline="{{ item.polyline }}"
             data-polyline-color="{{ item.polylineColor }}"
             data-lock-map="true"
             style="height: 150px;">

        </div>
    </div>

    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
                <strong>
                    {{ item.username }}
                </strong>
                hat einen Track hochgeladen:
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="{{ path(item.ride) }}">
                    <h4>
                        {{ item.rideTitle }}
                    </h4>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <dl>
                    <dt>
                        Datum:
                    </dt>

                    <dd>
                        {{ item.ride.dateTime|date('d.m.Y') }}
                    </dd>
                </dl>
            </div>

            <div class="col-md-4">
                <dl>
                    <dt>
                        Länge:
                    </dt>

                    <dd>
                        {{ item.distance }} Kilometer
                    </dd>
                </dl>
            </div>

            <div class="col-md-4">
                <dl>
                    <dt>
                        Dauer:
                    </dt>

                    <dd>
                        {{ (item.duration / 60 / 60)|round(2) }} Stunden
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //CriticalMass.loadModule('AutoMap', 'map-{{ item.uniqId }}');
</script>