<div class="row">
    <div class="col-md-2">
        <time>{{ item.dateTime|date('d.m.Y H:i') }}&nbsp;Uhr</time>
    </div>

    <div class="col-md-2">
        <div id="map-{{ item.uniqId }}"
             data-polyline="{{ item.polyline }}"
             data-polyline-color="{{ item.polylineColor }}"
             style="height: 150px;">

        </div>
    </div>

    <div class="col-md-8">
        <strong>
            {{ item.user.username }}
        </strong>
        hat einen Track zur Tour
        <strong>
            <a href="{{ path(item.ride) }}">
                {{ item.ride.getFancyTitle }}
            </a>
        </strong>
        hochgeladen
    </div>
</div>

<script type="text/javascript">
    CriticalMass.loadModule('AutoMap', 'map-{{ item.uniqId }}');
</script>