<div class="row margin-bottom-medium">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <time>{{ item.dateTime|date('d.m.Y') }}</time>
        <time>{{ item.dateTime|date('H:i') }}&nbsp;Uhr</time>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <a href="{{ objectPath(item.previewPhoto) }}">
            <img src="{{ vich_uploader_asset(item.previewPhoto, 'imageFile')|imagine_filter('gallery_photo_thumb') }}"
                 class="img-responsive"/>
        </a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <strong>
            {{ item.username }}
        </strong>
        hat
        <a href="{{ path('caldera_criticalmass_photo_ride_list', { citySlug: item.city.slug, rideDate: item.ride.getFormattedDate() }) }}">
            {{ item.counter }} Fotos
        </a> zur Tour
        <strong>
            <a href="{{ objectPath(item.ride) }}">
                {{ item.rideTitle }}
            </a>
        </strong>
        hochgeladen
    </div>
</div>