<div class="row">
    <div class="col-md-12">
        {% if participationCityList|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>
                    {{ 'participation.col_city'|trans }}
                </th>

                <th>
                    {{ 'participation.col_count'|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for participationCity in participationCityList %}
                <tr>
                    <td>
                        <a href="{{ object_path(participationCity.city) }}">
                            {{ participationCity.city.city }}
                        </a>
                    </td>

                    <td>
                        {{ participationCity.counter }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="alert alert-info">
                {{ 'participation.no_entries'|trans }}
            </div>
        {% endif %}
    </div>
</div>
