{% if participationYesList|length > 0 %}
<div class="row">
    <div class="col-12">
        <table class="table">
            <tr>
                <th>&nbsp;</th>
                <th class="text-center">Jan</th>
                <th class="text-center">Feb</th>
                <th class="text-center">Mär</th>
                <th class="text-center">Apr</th>
                <th class="text-center">Mai</th>
                <th class="text-center">Jun</th>
                <th class="text-center">Jul</th>
                <th class="text-center">Aug</th>
                <th class="text-center">Sep</th>
                <th class="text-center">Okt</th>
                <th class="text-center">Nov</th>
                <th class="text-center">Dez</th>
                <th class="text-center">&sum;</th>
            </tr>

            {% for year in participationTable %}
                <tr>
                    <th class="text-center">
                        {{ year.year }}
                    </th>
                    {% for month in year %}
                        {% set counter = month|length %}

                        {% if counter == 0 %}
                            {% set backgroundColor = 'white' %}
                        {% elseif counter == 1 %}
                            {% set backgroundColor = '#afa' %}
                        {% elseif counter == 2 %}
                            {% set backgroundColor = '#ffa' %}
                        {% elseif counter == 3 %}
                            {% set backgroundColor = '#faa' %}
                        {% else %}
                            {% set backgroundColor = '#faf' %}
                        {% endif %}

                        <td style="background-color: {{ backgroundColor }};" class="text-center">
                            {{ counter }}
                        </td>
                    {% endfor %}
                    <td class="text-center">
                        {{ year|length }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-header">
                Current Streak
            </div>
            <div class="card-body text-center">
                {% if currentStreak.rideList|length > 0 %}
                <p class="card-text">
                    {{ currentStreak.startDateTime|date('d.m.Y') }} bis heute
                </p>

                    <p class="card-text">
                    <strong>
                        {{ currentStreak.rideList|length }} Touren
                    </strong>
                </p>
                {% else %}
                    <p class="card-text">
                        Schade: Du hast in der jüngeren Vergangenheit an keinen Touren teilgenommen.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-header">
                Gesamtzahl
            </div>
            <div class="card-body text-center">
                {% set firstRide = participationYesList|last %}

                {% if firstRide %}
                <p class="card-text">
                    seit {{ participationYesList|last.ride.dateTime|date('d.m.Y') }} hast du an
                </p>

                <p class="card-text">
                    <strong>
                        {{ participationYesList|length }} Touren
                    </strong>
                </p>

                <p class="card-text">
                    teilgenommen. Super!
                </p>
                {% else %}
                <p class="card-text">
                    Schade, du hast bislang an keinen Touren teilgenommen.
                </p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-header">
                Longest Streak
            </div>
            <div class="card-body text-center">
                {% if longestStreak %}
                <p class="card-text">
                    {{ longestStreak.startDateTime|date('d.m.Y') }}
                    bis {{ longestStreak.endDateTime|date('d.m.Y') }}
                </p>

                <p class="card-text">
                    <strong>
                        {{ longestStreak.rideList|length }} Touren
                    </strong>
                </p>
                {% else %}
                    <p class="card-text">
                        Schade, du hast bislang an keinen Touren teilgenommen.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row mt-3">
    <div class="col-12">
        <div class="alert alert-info">
            Schade: Du hast bislang an keinen Touren teilgenommen, sonst könnten wir dir hier ein paar Statistiken über deine Teilnahme anzeigen.
        </div>
    </div>
</div>
{% endif %}
