{% if participationYesList|length > 0 %}
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>&nbsp;</th>
                <th class="text-center">{{ 'participation.month.jan'|trans }}</th>
                <th class="text-center">{{ 'participation.month.feb'|trans }}</th>
                <th class="text-center">{{ 'participation.month.mar'|trans }}</th>
                <th class="text-center">{{ 'participation.month.apr'|trans }}</th>
                <th class="text-center">{{ 'participation.month.may'|trans }}</th>
                <th class="text-center">{{ 'participation.month.jun'|trans }}</th>
                <th class="text-center">{{ 'participation.month.jul'|trans }}</th>
                <th class="text-center">{{ 'participation.month.aug'|trans }}</th>
                <th class="text-center">{{ 'participation.month.sep'|trans }}</th>
                <th class="text-center">{{ 'participation.month.oct'|trans }}</th>
                <th class="text-center">{{ 'participation.month.nov'|trans }}</th>
                <th class="text-center">{{ 'participation.month.dec'|trans }}</th>
                <th class="text-center">&sum;</th>
            </tr>

            {% for year in participationTable %}
                <tr>
                    <th class="text-center">
                        {{ year.year }}
                    </th>
                    {% for month in year %}
                        {% set counter = month|length %}

                        {% if counter == 0 %}
                            {% set backgroundColor = 'white' %}
                        {% elseif counter == 1 %}
                            {% set backgroundColor = '#afa' %}
                        {% elseif counter == 2 %}
                            {% set backgroundColor = '#ffa' %}
                        {% elseif counter == 3 %}
                            {% set backgroundColor = '#faa' %}
                        {% else %}
                            {% set backgroundColor = '#faf' %}
                        {% endif %}

                        <td style="background-color: {{ backgroundColor }};" class="text-center">
                            {{ counter }}
                        </td>
                    {% endfor %}
                    <td class="text-center">
                        {{ year|length }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'participation.current_streak.title'|trans }}
            </div>
            <div class="panel-body text-center">
                {% if currentStreak.rideList|length > 0 %}
                <p>
                    {{ 'participation.current_streak.period'|trans({ '%start%': currentStreak.startDateTime|date('d.m.Y') }) }}
                </p>

                <p>
                    <strong>
                        {{ 'participation.rides_count'|trans({ '%count%': currentStreak.rideList|length }) }}
                    </strong>
                </p>
                {% else %}
                    <p>
                        {{ 'participation.current_streak.empty'|trans }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'participation.total.title'|trans }}
            </div>
            <div class="panel-body text-center">
                {% set firstRide = participationYesList|last %}

                {% if firstRide %}
                <p>
                    {{ 'participation.total.since'|trans({ '%date%': participationYesList|last.ride.dateTime|date('d.m.Y') }) }}
                </p>

                <p>
                    <strong>
                        {{ 'participation.rides_count'|trans({ '%count%': participationYesList|length }) }}
                    </strong>
                </p>

                <p>
                    {{ 'participation.total.great'|trans }}
                </p>
                {% else %}
                <p>
                    {{ 'participation.total.empty'|trans }}
                </p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'participation.longest_streak.title'|trans }}
            </div>
            <div class="panel-body text-center">
                {% if longestStreak %}
                <p>
                    {{ 'participation.longest_streak.period'|trans({ '%start%': longestStreak.startDateTime|date('d.m.Y'), '%end%': longestStreak.endDateTime|date('d.m.Y') }) }}
                </p>

                <p>
                    <strong>
                        {{ 'participation.rides_count'|trans({ '%count%': longestStreak.rideList|length }) }}
                    </strong>
                </p>
                {% else %}
                    <p>
                        {{ 'participation.longest_streak.empty'|trans }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row margin-top-medium">
    <div class="col-md-12">
        <div class="alert alert-info">
            {{ 'participation.no_participation'|trans }}
        </div>
    </div>
</div>
{% endif %}
