{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Deine Touren{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: 'Dein Benutzerkonto', url: path('criticalmass_user_usermanagement') },
            { label: 'Deine Touren' },
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a href="#table"
                           class="nav-link active"
                           id="table-tab"
                           aria-controls="table"
                           role="tab"
                           data-bs-toggle="tab">
                            Übersicht
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="#goingYes"
                           class="nav-link"
                           id="goingYes-tab"
                           aria-controls="goingYes"
                           role="tab"
                           data-bs-toggle="tab">
                            Teilgenommen
                            <span class="badge">
                                {{ participationYesList|length }}
                            </span>
                        </a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a href="#goingMaybe"
                           class="nav-link"
                           id="goingMaybe-tab"
                           aria-controls="goingMaybe"
                           role="tab"
                           data-bs-toggle="tab">
                            Unentschieden
                            <span class="badge">
                                {{ participationMaybeList|length }}
                            </span>
                        </a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a href="#goingNo"
                           class="nav-link"
                           id="goingNo-tab"
                           aria-controls="goingNo"
                           role="tab"
                           data-bs-toggle="tab">
                            Abgesagt
                            <span class="badge">
                                {{ participationNoList|length }}
                            </span>
                        </a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a href="#city-list"
                           class="nav-link"
                           id="city-list-tab"
                           aria-controls="city-list"
                           role="tab"
                           data-bs-toggle="tab">
                            Städte
                            <span class="badge">
                                {{ participationCityList|length }}
                            </span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content mt-3">
                    <div role="tabpanel"
                         class="tab-pane fade show active"
                         id="table"
                         aria-labelledby="table-tab">
                        {{ include('Participation/_table.html.twig') }}
                    </div>

                    <div role="tabpanel"
                         class="tab-pane fade"
                         id="goingYes"
                         aria-labelledby="goingYes-tab">
                        <div class="row margin-top-medium">
                            <div class="col-12">
                                <p>
                                    Hier siehst du eine Liste von Critical-Mass-Touren, zu denen du deine Teilnahme bestätigt hast. Du kannst deine Teilnahme nachträglich zurückziehen oder den Eintrag aus unserer Datenbank löschen.
                                </p>
                            </div>
                        </div>

                        {% include 'Participation/_list.html.twig' with { 'participationList': participationYesList } only %}
                    </div>

                    <div role="tabpanel"
                         class="tab-pane fade"
                         id="goingMaybe"
                         aria-labelledby="goingMaybe-tab">
                        <div class="row margin-top-medium">
                            <div class="col-12">
                                <p>
                                    Bei diesen Touren hast du bislang nicht angegeben, ob du teilgenommen hast oder nicht. Du kannst deine Teilnahme nachträglich bestätigen, zurückziehen oder den Datensatz aus unserer Datenbank löschen.
                                </p>
                            </div>
                        </div>

                        {% include 'Participation/_list.html.twig' with { 'participationList': participationMaybeList } only %}
                    </div>

                    <div role="tabpanel"
                         class="tab-pane fade"
                         id="goingNo"
                         aria-labelledby="goingNo-tab">
                        <div class="row margin-top-medium">
                            <div class="col-12">
                                <p>
                                    Hier siehst du eine Liste von Critical-Mass-Touren, zu deren Teilnahme du abgesagt hast. Du kannst deine Teilnahme nachträglich bestätigen oder den Eintrag aus unserer Datenbank löschen.
                                </p>
                            </div>
                        </div>

                        {% include 'Participation/_list.html.twig' with { 'participationList': participationNoList } only %}
                    </div>

                    <div role="tabpanel"
                         class="tab-pane fade"
                         id="city-list"
                         aria-labelledby="city-list-tab">
                        {% include 'Participation/_city_list.html.twig' with { 'participationCityList': participationCityList } only %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
