{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}Deine Touren{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Dein Benutzerkonto', path('criticalmass_user_usermanagement')) }}
    {{ breadcrumb.active('Deine Touren') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active">
                        <a href="#table" aria-controls="profile" role="tab" data-bs-toggle="tab">
                            Übersicht
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#goingYes" aria-controls="profile" role="tab" data-bs-toggle="tab">
                            Teilgenommen <span class="badge">
                                {{ participationYesList|length }}
                            </span>
                        </a>
                    </li>

                    <li role="presentation">
                        <a href="#goingMaybe" aria-controls="profile" role="tab" data-bs-toggle="tab">
                            Unentschieden <span class="badge">
                                {{ participationMaybeList|length }}
                            </span>
                        </a>
                    </li>

                    <li role="presentation">
                        <a href="#goingNo" aria-controls="profile" role="tab" data-bs-toggle="tab">
                            Abgesagt <span class="badge">
                                {{ participationNoList|length }}
                            </span>
                        </a>
                    </li>

                    <li role="presentation">
                        <a href="#city-list" aria-controls="city-list" role="tab" data-bs-toggle="tab">
                            Städte
                            <span class="badge">
                                {{ participationCityList|length }}
                            </span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="table">
                        {{ include('Participation/_table.html.twig') }}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="goingYes">
                        <div class="row margin-top-medium">
                            <div class="col-md-12">
                                <p>
                                    Hier siehst du eine Liste von Critical-Mass-Touren, zu denen du deine Teilnahme bestätigt hast. Du kannst deine Teilnahme nachträglich zurückziehen oder den Eintrag aus unserer Datenbank löschen.
                                </p>
                            </div>
                        </div>

                        {% include 'Participation/_list.html.twig' with { 'participationList': participationYesList } only %}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="goingMaybe">
                        <div class="row margin-top-medium">
                            <div class="col-md-12">
                                <p>
                                    Bei diesen Touren hast du bislang nicht angegeben, ob du teilgenommen hast oder nicht. Du kannst deine Teilnahme nachträglich bestätigen, zurückziehen oder den Datensatz aus unserer Datenbank löschen.
                                </p>
                            </div>
                        </div>

                        {% include 'Participation/_list.html.twig' with { 'participationList': participationMaybeList } only %}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="goingNo">
                        <div class="row margin-top-medium">
                            <div class="col-md-12">
                                <p>
                                    Hier siehst du eine Liste von Critical-Mass-Touren, zu deren Teilnahme du abgesagt hast. Du kannst deine Teilnahme nachträglich bestätigen oder den Eintrag aus unserer Datenbank löschen.
                                </p>
                            </div>
                        </div>

                        {% include 'Participation/_list.html.twig' with { 'participationList': participationNoList } only %}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="city-list">
                        {% include 'Participation/_city_list.html.twig' with { 'participationCityList': participationCityList } only %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
