{% extends 'Template/StandardTemplate.html.twig' %}

{% set bootstrap4 = true %}

{% block title %}Deine Touren{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li class="active">
        Deine Touren
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="participationListTab" data-toggle="tab" href="#participationList" role="tab" aria-controls="participationList" aria-selected="true">
                            Übersicht
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="goingYesTab" data-toggle="tab" href="#goingYes" role="tab" aria-controls="goingYes" aria-selected="false">
                            Teilgenommen <span class="badge badge-secondary">
                                {{ participationYesList|length }}
                            </span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="goingMaybeTab" data-toggle="tab" href="#goingMaybe" role="tab" aria-controls="goingMaybe" aria-selected="false">
                            Unentschieden <span class="badge badge-secondary">
                                {{ participationMaybeList|length }}
                            </span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="goingNoTab" data-toggle="tab" href="#goingNo" role="tab" aria-controls="goingNo" aria-selected="false">
                            Abgesagt <span class="badge badge-secondary">
                                {{ participationNoList|length }}
                            </span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="participationList" role="tabpanel" aria-labelledby="participationListTab">
                        {{ include('Participation/_table.html.twig') }}
                    </div>

                    <div class="tab-pane fade" id="goingYes" role="tabpanel" aria-labelledby="goingYesTab">
                        <div class="row margin-top-medium">
                            <div class="col-md-12">
                                <p>
                                    Hier siehst du eine Liste von Critical-Mass-Touren, zu denen du deine Teilnahme bestätigt hast. Du kannst deine Teilnahme nachträglich zurückziehen oder den Eintrag aus unserer Datenbank löschen.
                                </p>
                            </div>
                        </div>

                        {% include 'Participation/_list.html.twig' with { 'participationList': participationYesList } only %}
                    </div>

                    <div class="tab-pane fade" id="goingMaybe" role="tabpanel" aria-labelledby="goingMaybeTab">
                        <div class="row margin-top-medium">
                            <div class="col-md-12">
                                <p>
                                    Bei diesen Touren hast du bislang nicht angegeben, ob du teilgenommen hast oder nicht. Du kannst deine Teilnahme nachträglich bestätigen, zurückziehen oder den Datensatz aus unserer Datenbank löschen.
                                </p>
                            </div>
                        </div>

                        {% include 'Participation/_list.html.twig' with { 'participationList': participationMaybeList } only %}
                    </div>

                    <div class="tab-pane fade" id="goingNo" role="tabpanel" aria-labelledby="goingNoTaab">
                        <div class="row margin-top-medium">
                            <div class="col-md-12">
                                <p>
                                    Hier siehst du eine Liste von Critical-Mass-Touren, zu deren Teilnahme du abgesagt hast. Du kannst deine Teilnahme nachträglich bestätigen oder den Eintrag aus unserer Datenbank löschen.
                                </p>
                            </div>
                        </div>

                        {% include 'Participation/_list.html.twig' with { 'participationList': participationNoList } only %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
