{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'participation.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('profile.manage.breadcrumb'|trans, path('criticalmass_user_usermanagement')) }}
    {{ breadcrumb.active('participation.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="table-tab" data-bs-toggle="tab" data-bs-target="#table" type="button" role="tab" aria-controls="table" aria-selected="true">
                            {{ 'participation.tab_overview'|trans }}
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="goingYes-tab" data-bs-toggle="tab" data-bs-target="#goingYes" type="button" role="tab" aria-controls="goingYes" aria-selected="false">
                            {{ 'participation.tab_participated'|trans }} <span class="badge bg-secondary">
                                {{ participationYesList|length }}
                            </span>
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="goingMaybe-tab" data-bs-toggle="tab" data-bs-target="#goingMaybe" type="button" role="tab" aria-controls="goingMaybe" aria-selected="false">
                            {{ 'participation.tab_undecided'|trans }} <span class="badge bg-secondary">
                                {{ participationMaybeList|length }}
                            </span>
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="goingNo-tab" data-bs-toggle="tab" data-bs-target="#goingNo" type="button" role="tab" aria-controls="goingNo" aria-selected="false">
                            {{ 'participation.tab_cancelled'|trans }} <span class="badge bg-secondary">
                                {{ participationNoList|length }}
                            </span>
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="city-list-tab" data-bs-toggle="tab" data-bs-target="#city-list" type="button" role="tab" aria-controls="city-list" aria-selected="false">
                            {{ 'participation.tab_cities'|trans }}
                            <span class="badge bg-secondary">
                                {{ participationCityList|length }}
                            </span>
                        </button>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="table" aria-labelledby="table-tab">
                        {{ include('Participation/_table.html.twig') }}
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="goingYes" aria-labelledby="goingYes-tab">
                        <div class="row margin-top-medium">
                            <div class="col-md-12">
                                <p>
                                    {{ 'participation.yes_description'|trans }}
                                </p>
                            </div>
                        </div>

                        {% include 'Participation/_list.html.twig' with { 'participationList': participationYesList } only %}
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="goingMaybe" aria-labelledby="goingMaybe-tab">
                        <div class="row margin-top-medium">
                            <div class="col-md-12">
                                <p>
                                    {{ 'participation.maybe_description'|trans }}
                                </p>
                            </div>
                        </div>

                        {% include 'Participation/_list.html.twig' with { 'participationList': participationMaybeList } only %}
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="goingNo" aria-labelledby="goingNo-tab">
                        <div class="row margin-top-medium">
                            <div class="col-md-12">
                                <p>
                                    {{ 'participation.no_description'|trans }}
                                </p>
                            </div>
                        </div>

                        {% include 'Participation/_list.html.twig' with { 'participationList': participationNoList } only %}
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="city-list" aria-labelledby="city-list-tab">
                        {% include 'Participation/_city_list.html.twig' with { 'participationCityList': participationCityList } only %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
