{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'statistic.city_title'|trans({'%city_name%': city.city}) }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('city.breadcrumb_city_list'|trans, path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(city.city, object_path(city)) }}
    {{ breadcrumb.active('statistic.title'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        {{ include('City/Includes/_tabs.html.twig', { tab: 'statistic' }) }}

        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ 'statistic.city_heading'|trans({'%city_name%': city.city}) }}
                </h1>

                <p class="lead">
                    {{ 'statistic.city_lead'|trans({'%city_name%': city.city, '%missing_stats_url%': object_path(city, 'caldera_criticalmass_city_missingstats')})|raw }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>
                    {{ 'statistic.col_participant_count'|trans }}
                </h2>

                <p>
                    {{ 'statistic.participants_info'|trans }}
                </p>
            </div>
        </div>

        <div class="row" data-controller="statistic-city-chart">
            <div class="col-md-12">
                <canvas id="chart" style="width: 100%; height: 75vh;" data-statistic-city-chart-target="canvas"></canvas>
            </div>

            {% for ride in rides %}
                <span class="d-none" data-statistic-city-chart-target="rideData"
                      data-ride-datetime="{{ ride.dateTime|date('Y-m-d') }}"
                      data-estimated-participants="{{ ride.estimatedParticipants|default(0) }}"
                      data-estimated-duration="{{ ride.estimatedDuration|default(0) }}"
                      data-estimated-distance="{{ ride.estimatedDistance|default(0) }}"></span>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>
                    {{ 'statistic.table_comparison'|trans }}
                </h2>

                <p class="lead">
                    {{ 'statistic.weather_correlation'|trans }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            {{ 'statistic.col_date'|trans }}
                        </th>
                        <th>
                            {{ 'statistic.col_temperature'|trans }}
                        </th>
                        <th>
                            {{ 'statistic.col_precipitation'|trans }}
                        </th>
                        <th>
                            {{ 'statistic.col_wind_speed'|trans }}
                        </th>
                        <th>
                            {{ 'statistic.col_participant_count'|trans }}
                        </th>
                        <th>
                            {{ 'statistic.col_track_distance'|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ride in rides %}
                        {% set weather = ride.weathers.first %}
                        {% if weather %}
                            <tr>
                                <td>
                                    {{ ride.dateTime | date('d.m.Y H:i') }}&nbsp;{{ 'common.time_suffix'|trans }}
                                </td>
                                <td>
                                    {{ weather.temperatureEvening|number_format(2) }}&nbsp;°C
                                </td>
                                <td>
                                    {{ weather.precipitation|number_format(2) }}&nbsp;mm
                                </td>
                                <td>
                                    {{ weather.windSpeed|number_format(2) }}&nbsp;m/s
                                </td>
                                <td>
                                    {% if ride.estimatedParticipants %}
                                    {{ ride.estimatedParticipants|number_format(0) }}
                                    {% else %}
                                    {{ 'statistic.unknown'|trans }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ride.estimatedDistance %}
                                    {{ ride.estimatedDistance|number_format(2) }}&nbsp;km
                                    {% else %}
                                    {{ 'statistic.unknown'|trans }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
