{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Statistiken aus {{ city.city }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>

    <li>
        <a href="{{ objectPath(city) }}">
            {{ city.city }}
        </a>
    </li>

    <li class="active">
        Statistiken
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        {{ include('City/Includes/_tabs.html.twig', { tab: 'statistic' }) }}

        <div class="row">
            <div class="col-md-12">
                <h1>
                    Stadt-Statistiken von {{ city.city }}
                </h1>

                <p class="lead">
                    Wie viele, wie lange, wohin? Diese Seite bereitet die statistischen Daten auf, die von Teilnehmern
                    der Critical Mass in {{ city.city }} nach einer Tour eingearbeitet worden sind &mdash; entweder von
                    den importieren GPX-Tracks oder mit Schätzungen der Teilnehmerzahlen. Schau dir außerdem die <a
                            href="{{ objectPath(city, 'caldera_criticalmass_city_missingstats') }}">Liste
                        von Touren ohne Statistiken</a> an, um eventuell Zahlenmaterial nachzutragen.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>
                    Teilnehmerzahl
                </h2>

                <p>
                    Bei der angezeigten Teilnehmerzahl handelt es sich um den Durchschnitt der Werte, die von den
                    Teilnehmern geschätzt wurden.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <canvas id="chart" style="width: 100%; height: 250px;"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>
                    Tabellarischer Vergleich
                </h2>

                <p class="lead">
                    Gibt es einen Zusammenhang zwischen dem Wetter und den Teilnehmerzahlen?
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Datum
                        </th>
                        <th>
                            Temperatur
                        </th>
                        <th>
                            Niederschlag
                        </th>
                        <th>
                            Windgeschwindigkeit
                        </th>
                        <th>
                            Teilnehmerzahl
                        </th>
                        <th>
                            Streckenlänge
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ride in rides %}
                        {% set weather = ride.weathers.first %}
                        {% if weather %}
                            <tr>
                                <td>
                                    {{ ride.dateTime | date('d.m.Y H:i') }}
                                </td>
                                <td>
                                    {{ weather.temperatureEvening }} °C
                                </td>
                                <td>
                                    {{ weather.precipitation }} Millimeter
                                </td>
                                <td>
                                    {{ weather.windSpeed }} Meter pro Sekunde
                                </td>
                                <td>
                                    {{ ride.estimatedParticipants | default('unbekannt') }}
                                </td>
                                <td>
                                    {{ ride.estimatedDistance | default('unbekannt') }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        CriticalMass.loadModule('CityStatisticPage', null, null, function (page) {
            {% for ride in rides %}
            page.addRideData('{{ ride.dateTime|date('Y-m-d') }}', {{ ride.estimatedParticipants|default(0) }}, {{ ride.estimatedDuration|default(0) }}, {{ ride.estimatedDistance|default(0) }});
            {% endfor %}

            page.createChart($('#chart'));
        });
    </script>
{% endblock %}
