{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}Statistiken aus {{ city.city }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Städteliste', path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(city.city, object_path(city)) }}
    {{ breadcrumb.active('Statistiken') }}
{% endblock %}

{% block content %}
    <div class="container">
        {{ include('City/Includes/_tabs.html.twig', { tab: 'statistic' }) }}

        <div class="row">
            <div class="col-md-12">
                <h1>
                    Stadt-Statistiken von {{ city.city }}
                </h1>

                <p class="lead">
                    Wie viele, wie lange, wohin? Diese Seite bereitet die statistischen Daten auf, die von Teilnehmern
                    der Critical Mass in {{ city.city }} nach einer Tour eingearbeitet worden sind &mdash; entweder von
                    den importieren GPX-Tracks oder mit Schätzungen der Teilnehmerzahlen. Schau dir außerdem die <a
                            href="{{ object_path(city, 'caldera_criticalmass_city_missingstats') }}">Liste
                        von Touren ohne Statistiken</a> an, um eventuell Zahlenmaterial nachzutragen.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>
                    Teilnehmerzahl
                </h2>

                <p>
                    Bei der angezeigten Teilnehmerzahl handelt es sich um den Durchschnitt der Werte, die von den
                    Teilnehmern geschätzt wurden.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <canvas id="chart" style="width: 100%; height: 75vh;"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>
                    Tabellarischer Vergleich
                </h2>

                <p class="lead">
                    Gibt es einen Zusammenhang zwischen dem Wetter und den Teilnehmerzahlen?
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Datum
                        </th>
                        <th>
                            Temperatur
                        </th>
                        <th>
                            Niederschlag
                        </th>
                        <th>
                            Windgeschwindigkeit
                        </th>
                        <th>
                            Teilnehmerzahl
                        </th>
                        <th>
                            Streckenlänge
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ride in rides %}
                        {% set weather = ride.weathers.first %}
                        {% if weather %}
                            <tr>
                                <td>
                                    {{ ride.dateTime | date('d.m.Y H:i') }}&nbsp;Uhr
                                </td>
                                <td>
                                    {{ weather.temperatureEvening|number_format(2) }}&nbsp;°C
                                </td>
                                <td>
                                    {{ weather.precipitation|number_format(2) }}&nbsp;mm
                                </td>
                                <td>
                                    {{ weather.windSpeed|number_format(2) }}&nbsp;m/s
                                </td>
                                <td>
                                    {% if ride.estimatedParticipants %}
                                    {{ ride.estimatedParticipants|number_format(0) }}
                                    {% else %}
                                    unbekannt
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ride.estimatedDistance %}
                                    {{ ride.estimatedDistance|number_format(2) }}&nbsp;km
                                    {% else %}
                                    unbekannt
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% for ride in rides %}
        <div class="ride-data" data-ride-datetime="{{ ride.dateTime|date('Y-m-d') }}" data-estimated-participants="{{ ride.estimatedParticipants|default(0) }}" data-estimated-duration="{{ ride.estimatedDuration|default(0) }}" data-estimated-distance="{{ ride.estimatedDistance|default(0) }}"></div>
    {% endfor %}
{% endblock %}
