{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Critical-Mass-Teilnehmerzahlen im {{ dateTime|format_date('MMMM YYYY') }}{% endblock %}

{% block breadcrumb %}
    <li>
        Statistik
    </li>
    
    <li>
        <a href="{{ path('caldera_criticalmass_statistic_ride_month', { year: dateTime|date('Y'), month: dateTime|date('m') }) }}">
            Critical-Mass-Teilnehmerzahlen im {{ dateTime|format_date('MMMM YYYY') }}
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Critical-Mass-Teilnehmerzahlen im {{ dateTime|format_date('MMMM YYYY') }}
                </h2>

                <p class="lead">
                    Hier siehst du die Liste der Touren im {{ dateTime|format_date('MMMM YYYY') }}.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table ride-list">
                    <thead>
                    <tr>
                        <th>
                            Stadt
                        </th>
                        <th>
                            Datum
                        </th>
                        <th>
                            Teilnehmer
                        </th>
                        <th>
                            Distanz
                        </th>
                        <th>
                            Länge
                        </th>
                        <th>
                            Durchschnittsgeschwindigkeit
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ride in rides %}
                        {% include 'Common/Ride/statistic_ride_table_row.html.twig' with { ride: ride } %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    Hier fehlt noch was? Du kannst fehlende Teilnehmerzahlen auf der jeweiligen Tourenseite nachtragen oder Streckenlängen mit hochgeladenen GPX-Dateien ergänzen. Auf <a href="https://criticalmass.blog/criticalmass-one/haeufig-gestellte-fragen-zu-dieser-webseite/haeufig-gestellte-fragen-zur-statistik/">unserer Hilfeseite</a> findest du weitere Informationen.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="pager">
                    {% if previousDateTime %}
                        <li class="previous">
                            <a href="{{ path('caldera_criticalmass_statistic_ride_month', { year: previousDateTime|date('Y'), month: previousDateTime|date('m') }) }}">
                                &larr; Voriger Monat
                            </a>
                        </li>
                    {% else %}
                        <li class="previous disabled">
                            <a href="#">
                                &larr; Voriger Monat
                            </a>
                        </li>
                    {% endif %}

                    {% if nextDateTime %}
                        <li class="next">
                            <a href="{{ path('caldera_criticalmass_statistic_ride_month', { year: nextDateTime|date('Y'), month: nextDateTime|date('m') }) }}">
                                Nächster Monat &rarr;
                            </a>
                        </li>
                    {% else %}
                        <li class="next disabled">
                            <a href="#">
                                Nächster Monat &rarr;
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
