{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'statistic.list_rides_title'|trans({'%month%': dateTime|format_date('MMMM YYYY')}) }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('statistic.title'|trans, '#') }}
    {{ breadcrumb.active('statistic.list_rides_title'|trans({'%month%': dateTime|format_date('MMMM YYYY')})) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    {{ 'statistic.list_rides_title'|trans({'%month%': dateTime|format_date('MMMM YYYY')}) }}
                </h2>

                <p class="lead">
                    {{ 'statistic.list_rides_lead'|trans({'%month%': dateTime|format_date('MMMM YYYY')}) }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table ride-list">
                    <thead>
                    <tr>
                        <th>
                            {{ 'statistic.col_city'|trans }}
                        </th>
                        <th>
                            {{ 'statistic.col_date'|trans }}
                        </th>
                        <th>
                            {{ 'statistic.col_participants'|trans }}
                        </th>
                        <th>
                            {{ 'statistic.col_distance'|trans }}
                        </th>
                        <th>
                            {{ 'statistic.col_duration'|trans }}
                        </th>
                        <th>
                            {{ 'statistic.col_average_speed'|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ride in rides %}
                        {% include 'Common/Ride/statistic_ride_table_row.html.twig' with { ride: ride } %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ 'statistic.missing_data'|trans|raw }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <nav aria-label="{{ 'statistic.month_navigation'|trans }}">
                    <ul class="pagination justify-content-between">
                        <li class="page-item{% if not previousDateTime %} disabled{% endif %}">
                            <a class="page-link" href="{% if previousDateTime %}{{ path('caldera_criticalmass_statistic_ride_month', { year: previousDateTime|date('Y'), month: previousDateTime|date('m') }) }}{% else %}#{% endif %}">
                                &larr; {{ 'statistic.previous_month'|trans }}
                            </a>
                        </li>

                        <li class="page-item{% if not nextDateTime %} disabled{% endif %}">
                            <a class="page-link" href="{% if nextDateTime %}{{ path('caldera_criticalmass_statistic_ride_month', { year: nextDateTime|date('Y'), month: nextDateTime|date('m') }) }}{% else %}#{% endif %}">
                                {{ 'statistic.next_month'|trans }} &rarr;
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
