{% extends 'Template/StandardTemplate.html.twig' %}{% block title %}Critical-Mass-Teilnehmerzahlen im {{ dateTime|format_date('MMMM YYYY') }}{% endblock %}

{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block breadcrumb %}
    {{ bootstrap.breadcrumb_item('St채dteliste', path('caldera_criticalmass_statistic_ride_month', { year: dateTime|date('Y'), month: dateTime|date('m') })) }}
    {{ bootstrap.breadcrumb_item('Critical-Mass-Teilnehmerzahlen im ' ~ dateTime|format_date('MMMM YYYY'), '', true) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Critical-Mass-Teilnehmerzahlen im {{ dateTime|format_date('MMMM YYYY') }}
                </h2>

                <p class="lead">
                    Hier siehst du die Liste der Touren im {{ dateTime|format_date('MMMM YYYY') }}.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table ride-list">
                    <thead>
                    <tr>
                        <th>
                            Stadt
                        </th>
                        <th>
                            Datum
                        </th>
                        <th>
                            Teilnehmer
                        </th>
                        <th>
                            Distanz
                        </th>
                        <th>
                            L채nge
                        </th>
                        <th>
                            Durchschnittsgeschwindigkeit
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ride in rides %}
                        {% include 'Common/Ride/statistic_ride_table_row.html.twig' with { ride: ride } %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    Hier fehlt noch was? Du kannst fehlende Teilnehmerzahlen auf der jeweiligen Tourenseite nachtragen oder Streckenl채ngen mit hochgeladenen GPX-Dateien erg채nzen. Auf <a href="{{ path('caldera_criticalmass_help_index') }}">unserer Hilfeseite</a> findest du weitere Informationen.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% include('Statistic/_pagination.html.twig') with { 'previousMonth': previousDateTime, 'nextMonth': nextDateTime } %}
            </div>
        </div>
    </div>
{% endblock %}

{% block additionalFooterElements %}
    <script>
        CriticalMass.loadModule('RideListStatisticPage', 'table.ride-list');
    </script>
{% endblock %}