{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}Critical-Mass-Teilnehmerzahlen im {{ dateTime|format_datetime(pattern='MMMM yyyy') }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Statistik', '#') }}
    {{ breadcrumb.active('Critical-Mass-Teilnehmerzahlen im ' ~ dateTime|format_datetime(pattern='MMMM yyyy')) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Critical-Mass-Teilnehmerzahlen im {{ dateTime|format_datetime(pattern='MMMM yyyy') }}
                </h2>

                <p class="lead">
                    Hier siehst du die Liste der Touren im {{ dateTime|format_datetime(pattern='MMMM yyyy') }}.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table ride-list">
                    <thead>
                    <tr>
                        <th>
                            Stadt
                        </th>
                        <th>
                            Datum
                        </th>
                        <th>
                            Teilnehmer
                        </th>
                        <th>
                            Distanz
                        </th>
                        <th>
                            L채nge
                        </th>
                        <th>
                            Durchschnittsgeschwindigkeit
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ride in rides %}
                        {% include 'Common/Ride/statistic_ride_table_row.html.twig' with { ride: ride } %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    Hier fehlt noch was? Du kannst fehlende Teilnehmerzahlen auf der jeweiligen Tourenseite nachtragen oder Streckenl채ngen mit hochgeladenen GPX-Dateien erg채nzen. Auf <a href="https://criticalmass.blog/criticalmass-one/haeufig-gestellte-fragen-zu-dieser-webseite/haeufig-gestellte-fragen-zur-statistik/">unserer Hilfeseite</a> findest du weitere Informationen.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <nav aria-label="Monat Navigation">
                    <ul class="pagination justify-content-between">
                        <li class="page-item{% if not previousDateTime %} disabled{% endif %}">
                            <a class="page-link" href="{% if previousDateTime %}{{ path('caldera_criticalmass_statistic_ride_month', { year: previousDateTime|date('Y'), month: previousDateTime|date('m') }) }}{% else %}#{% endif %}">
                                &larr; Voriger Monat
                            </a>
                        </li>

                        <li class="page-item{% if not nextDateTime %} disabled{% endif %}">
                            <a class="page-link" href="{% if nextDateTime %}{{ path('caldera_criticalmass_statistic_ride_month', { year: nextDateTime|date('Y'), month: nextDateTime|date('m') }) }}{% else %}#{% endif %}">
                                N채chster Monat &rarr;
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
