{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}Statistiken{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.active('Statistiken') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Statistiken
                </h1>

                <p class="lead">
                    Wie viele, wie lange, wohin? Diese Seite bereitet die statistischen Daten auf, die von Teilnehmern
                    der Critical Mass in den verschiedenen Städten nach einer Tour eingearbeitet worden sind &mdash;
                    entweder von den importieren GPX-Tracks oder mit Schätzungen der Teilnehmerzahlen.
                </p>

                <p>
                    Die Statistiken enthalten alle Städte aus Deutschland, bei denen innerhalb der letzten zwei Jahre
                    mindestens 18 Schätzungen zu Teilnehmer-Zahlen abgegeben wurden.
                </p>
            </div>
        </div>

        <div data-controller="statistic-chart">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="participiants-tab" data-bs-toggle="tab" data-bs-target="#tab-participiants" type="button" role="tab" aria-controls="tab-participiants" aria-selected="true">
                        Teilnehmerzahl
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="duration-tab" data-bs-toggle="tab" data-bs-target="#tab-duration" type="button" role="tab" aria-controls="tab-duration" aria-selected="false">
                        Fahrtdauer
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="distance-tab" data-bs-toggle="tab" data-bs-target="#tab-distance" type="button" role="tab" aria-controls="tab-distance" aria-selected="false">
                        Fahrtlänge
                    </button>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="tab-participiants" aria-labelledby="participiants-tab">
                    <div class="row margin-top-small">
                        <div class="col-md-12">
                            <p>
                                Bei der angezeigten Teilnehmerzahl handelt es sich um den Durchschnitt der Werte, die
                                von den
                                Teilnehmern geschätzt wurden.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <canvas id="participants" style="width: 100%; height: 75vh;" data-statistic-chart-target="participantsCanvas"></canvas>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="tab-duration" aria-labelledby="duration-tab">
                    <div class="row margin-top-small">
                        <div class="col-md-12">
                            <p>
                                Die Fahrtdauer wird anhand der importierten GPX-Tracks ermittelt und in Stunden
                                angegeben.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <canvas id="duration" style="width: 100%; height: 75vh;" data-statistic-chart-target="durationCanvas"></canvas>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="tab-distance" aria-labelledby="distance-tab">
                    <div class="row margin-top-small">
                        <div class="col-md-12">
                            <p>
                                Die Fahrtlänge wird anhand der importierten GPX-Tracks ermittelt und in Kilometern
                                angegeben.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <canvas id="distance" style="width: 100%; height: 75vh;" data-statistic-chart-target="distanceCanvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            {% for rideMonth in rideMonths %}
                <span class="d-none" data-statistic-chart-target="rideMonth" data-ride-month="{{ rideMonth }}"></span>
            {% endfor %}

            {% for city in cities %}
                <span class="d-none" data-statistic-chart-target="city"
                      data-city-name="{{ city.city }}"
                      data-city-slug="{{ city.slug }}"
                      data-color-red="{{ city.colorRed }}"
                      data-color-green="{{ city.colorGreen }}"
                      data-color-blue="{{ city.colorBlue }}"></span>
            {% endfor %}

            {% for ride in rides %}
                <span class="d-none" data-statistic-chart-target="rideData"
                      data-city-slug="{{ ride.city.slug }}"
                      data-ride-month="{{ ride.dateTime|date('Y-m') }}"
                      data-estimated-participants="{{ ride.estimatedParticipants|default(0) }}"
                      data-estimated-duration="{{ ride.estimatedDuration|default(0) }}"
                      data-estimated-distance="{{ ride.estimatedDistance|default(0) }}"></span>
            {% endfor %}
        </div>
    </div>
{% endblock %}
