{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Statistiken{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: 'Statistiken' },
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Statistiken
                </h1>

                <p class="lead">
                    Wie viele, wie lange, wohin? Diese Seite bereitet die statistischen Daten auf, die von Teilnehmern
                    der Critical Mass in den verschiedenen Städten nach einer Tour eingearbeitet worden sind &mdash;
                    entweder von den importieren GPX-Tracks oder mit Schätzungen der Teilnehmerzahlen.
                </p>

                <p>
                    Die Statistiken enthalten alle Städte aus Deutschland, bei denen innerhalb der letzten zwei Jahre
                    mindestens 18 Schätzungen zu Teilnehmer-Zahlen abgegeben wurden.
                </p>
            </div>
        </div>

        <div>
            <ul class="nav nav-tabs" id="statsTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active"
                       id="tab-participiants-tab"
                       data-bs-toggle="tab"
                       href="#tab-participiants"
                       role="tab"
                       aria-controls="tab-participiants"
                       aria-selected="true">
                        Teilnehmerzahl
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="tab-duration-tab"
                       data-bs-toggle="tab"
                       href="#tab-duration"
                       role="tab"
                       aria-controls="tab-duration"
                       aria-selected="false">
                        Fahrtdauer
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="tab-distance-tab"
                       data-bs-toggle="tab"
                       href="#tab-distance"
                       role="tab"
                       aria-controls="tab-distance"
                       aria-selected="false">
                        Fahrtlänge
                    </a>
                </li>
            </ul>

            <div class="tab-content" id="statsTabsContent">
                <div class="tab-pane fade show active" id="tab-participiants" role="tabpanel" aria-labelledby="tab-participiants-tab">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <p>
                                Bei der angezeigten Teilnehmerzahl handelt es sich um den Durchschnitt der Werte, die
                                von den
                                Teilnehmern geschätzt wurden.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <canvas id="participants" style="width: 100%; height: 75vh;"></canvas>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-duration" role="tabpanel" aria-labelledby="tab-duration-tab">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <p>
                                Die Fahrtdauer wird anhand der importierten GPX-Tracks ermittelt und in Stunden
                                angegeben.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <canvas id="duration" style="width: 100%; height: 75vh;"></canvas>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-distance" role="tabpanel" aria-labelledby="tab-distance-tab">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <p>
                                Die Fahrtlänge wird anhand der importierten GPX-Tracks ermittelt und in Kilometern
                                angegeben.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <canvas id="distance" style="width: 100%; height: 75vh;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for rideMonth in rideMonths %}
        <div class="ride-month" data-ride-month="{{ rideMonth }}"></div>
    {% endfor %}

    {% for city in cities %}
        <div class="city"
             data-city-name="{{ city.city }}"
             data-city-slug="{{ city.slug }}"
             data-color-red="{{ city.colorRed }}"
             data-color-green="{{ city.colorGreen }}"
             data-color-blue="{{ city.colorBlue }}">
        </div>
    {% endfor %}

    {% for ride in rides %}
        <div class="ride-data"
             data-city-slug="{{ ride.city.slug }}"
             data-ride-month="{{ ride.dateTime|date('Y-m') }}"
             data-estimated-participants="{{ ride.estimatedParticipants|default(0) }}"
             data-estimated-duration="{{ ride.estimatedDuration|default(0) }}"
             data-estimated-distance="{{ ride.estimatedDistance|default(0) }}">
        </div>
    {% endfor %}
{% endblock %}
