{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}facebook-Teilnehmerstatistiken{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>
    <li>
        <a href="{{ objectPath(ride.city) }}">
            {{ ride.city.city }}
        </a>
    </li>
    <li>
        <a href="{{ objectPath(ride) }}">
            {{ ride.title }}
        </a>
    </li>
    <li class="active">
        facebook-Teilnehmerstatistiken
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    facebook-Teilnehmerzahlen
                </h1>

                <p class="lead">
                    Hier siehst du, wie sich die Teilnehmerzahlen der Veranstaltung auf facebook entwickelt haben.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <canvas id="facebook-ride-participants" style="width: 100%; height: 250px;"></canvas>
            </div>
        </div>
    </div>
{% endblock %}
