{% extends 'Template/StandardTemplate.html.twig' %}

{% set bootstrap4 = true %}

{% block title %}Top-Ten-Statistiken{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Top-Ten-Statistiken
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Top-Ten-Statistiken
                </h2>

                <p class="lead">
                    Hier findest du eine Übersicht der Top-Ten der Touren mit den meisten Teilnehmern, der längsten Strecken und der längsten Dauer.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="participants-tab" data-toggle="tab" href="#tab-participiants" role="tab" aria-controls="participatns" aria-selected="true">
                            <i class="fa fa-group"></i>
                            Teilnehmerzahl
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="duration-tab" data-toggle="tab" href="#tab-duration" role="tab" aria-controls="participatns" aria-selected="true">
                            <i class="fa fa-clock-o"></i>
                            Fahrtdauer
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="distance-tab" data-toggle="tab" href="#tab-distance" role="tab" aria-controls="participatns" aria-selected="true">
                            <i class="fa fa-map"></i>
                            Streckenlänge
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab-participiants">
                        <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            Datum
                                        </th>

                                        <th>
                                            Stadt
                                        </th>

                                        <th>
                                            Teilnehmerzahl
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for ride in participationList %}
                                        <tr>
                                            <td>
                                                <a href="{{ objectPath(ride) }}">
                                                    {{ ride.dateTime|date('d.m.Y') }}
                                                </a>
                                            </td>

                                            <td>
                                                <a href="{{ objectPath(ride.city) }}">
                                                    {{ ride.city.city }}
                                                </a>
                                            </td>

                                            <td>
                                                {{ ride.estimatedParticipants }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="tab-distance">
                        <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            Datum
                                        </th>

                                        <th>
                                            Stadt
                                        </th>

                                        <th>
                                            Streckenlänge
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for ride in distanceList %}
                                        <tr>
                                            <td>
                                                <a href="{{ objectPath(ride) }}">
                                                    {{ ride.dateTime|date('d.m.Y') }}
                                                </a>
                                            </td>

                                            <td>
                                                <a href="{{ objectPath(ride.city) }}">
                                                    {{ ride.city.city }}
                                                </a>
                                            </td>

                                            <td>
                                                {{ ride.estimatedDistance|round(2) }} Kilometer
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="tab-duration">
                        <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            Datum
                                        </th>

                                        <th>
                                            Stadt
                                        </th>

                                        <th>
                                            Dauer
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for ride in durationList %}
                                        <tr>
                                            <td>
                                                <a href="{{ objectPath(ride) }}">
                                                    {{ ride.dateTime|date('d.m.Y') }}
                                                </a>
                                            </td>

                                            <td>
                                                <a href="{{ objectPath(ride.city) }}">
                                                    {{ ride.city.city }}
                                                </a>
                                            </td>

                                            <td>
                                                {{ human_duration(ride.getEstimatedDurationInSeconds()) }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    Hier fehlt noch was? Du kannst fehlende Teilnehmerzahlen auf der jeweiligen Tourenseite nachtragen oder Streckenlängen mit hochgeladenen GPX-Dateien ergänzen. Auf <a href="{{ path('caldera_criticalmass_help_index') }}">unserer Hilfeseite</a> findest du weitere Informationen.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
