{% extends 'Template/StandardTemplate.html.twig' %}{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block title %}Top-Ten-Statistiken{% endblock %}

{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block breadcrumb %}
    {{ bootstrap.breadcrumb_item('Top-Ten-Statistiken', '', true) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Top-Ten-Statistiken
                </h2>

                <p class="lead">
                    Hier findest du eine Übersicht der Top-Ten der Touren mit den meisten Teilnehmern, der längsten Strecken und der längsten Dauer.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {{ bootstrap.tabs([
                    { tab: 'participants', caption: '<i class="fa fa-group"></i> Teilnehmerzahl', active: true },
                    { tab: 'duration', caption: '<i class="fa fa-clock-o"></i> Fahrtdauer' },
                    { tab: 'distance', caption: '<i class="fa fa-map"></i> Streckenlänge' }
                ]) }}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="participants">
                        <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            Datum
                                        </th>

                                        <th>
                                            Stadt
                                        </th>

                                        <th>
                                            Teilnehmerzahl
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for ride in participationList %}
                                        <tr>
                                            <td>
                                                <a href="{{ objectPath(ride) }}">
                                                    {{ ride.dateTime|date('d.m.Y') }}
                                                </a>
                                            </td>

                                            <td>
                                                <a href="{{ objectPath(ride.city) }}">
                                                    {{ ride.city.city }}
                                                </a>
                                            </td>

                                            <td>
                                                {{ ride.estimatedParticipants }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="distance">
                        <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            Datum
                                        </th>

                                        <th>
                                            Stadt
                                        </th>

                                        <th>
                                            Streckenlänge
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for ride in distanceList %}
                                        <tr>
                                            <td>
                                                <a href="{{ objectPath(ride) }}">
                                                    {{ ride.dateTime|date('d.m.Y') }}
                                                </a>
                                            </td>

                                            <td>
                                                <a href="{{ objectPath(ride.city) }}">
                                                    {{ ride.city.city }}
                                                </a>
                                            </td>

                                            <td>
                                                {{ ride.estimatedDistance|round(2) }}&nbsp;km
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="duration">
                        <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            Datum
                                        </th>

                                        <th>
                                            Stadt
                                        </th>

                                        <th>
                                            Dauer
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for ride in durationList %}
                                        <tr>
                                            <td>
                                                <a href="{{ objectPath(ride) }}">
                                                    {{ ride.dateTime|date('d.m.Y') }}
                                                </a>
                                            </td>

                                            <td>
                                                <a href="{{ objectPath(ride.city) }}">
                                                    {{ ride.city.city }}
                                                </a>
                                            </td>

                                            <td>
                                                {{ human_duration(ride.getEstimatedDurationInSeconds()) }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    Hier fehlt noch was? Du kannst fehlende Teilnehmerzahlen auf der jeweiligen Tourenseite nachtragen oder Streckenlängen mit hochgeladenen GPX-Dateien ergänzen. Auf <a href="https://criticalmass.blog/criticalmass-one/haeufig-gestellte-fragen-zu-dieser-webseite/haeufig-gestellte-fragen-zur-statistik/">unserer Hilfeseite</a> findest du weitere Informationen.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
