{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Top-Ten-Statistiken{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">
        Top-Ten-Statistiken
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Top-Ten-Statistiken
                </h2>

                <p class="lead">
                    Hier findest du eine Übersicht der Top-Ten der Touren mit den meisten Teilnehmern, der längsten Strecken und der längsten Dauer.
                </p>
            </div>
        </div>

        <ul class="nav nav-tabs" id="topTenTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active"
                   id="participants-tab"
                   data-bs-toggle="tab"
                   href="#participants"
                   role="tab"
                   aria-controls="participants"
                   aria-selected="true">
                    <i class="far fa-users"></i>
                    Teilnehmer
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   id="distance-tab"
                   data-bs-toggle="tab"
                   href="#distance"
                   role="tab"
                   aria-controls="distance"
                   aria-selected="false">
                    <i class="far fa-map"></i>
                    Strecke
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   id="duration-tab"
                   data-bs-toggle="tab"
                   href="#duration"
                   role="tab"
                   aria-controls="duration"
                   aria-selected="false">
                    <i class="far fa-clock"></i>
                    Länge
                </a>
            </li>
        </ul>

        <div class="tab-content" id="topTenTabsContent">
            <div class="tab-pane fade show active" id="participants" role="tabpanel" aria-labelledby="participants-tab">
                <div class="row mt-3">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    Datum
                                </th>

                                <th>
                                    Stadt
                                </th>

                                <th>
                                    Teilnehmerzahl
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for ride in participationList %}
                                <tr>
                                    <td>
                                        <a href="{{ object_path(ride) }}">
                                            {{ ride.dateTime|date('d.m.Y') }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="{{ object_path(ride.city) }}">
                                            {{ ride.city.city }}
                                        </a>
                                    </td>

                                    <td>
                                        {{ ride.estimatedParticipants }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="distance" role="tabpanel" aria-labelledby="distance-tab">
                <div class="row mt-3">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    Datum
                                </th>

                                <th>
                                    Stadt
                                </th>

                                <th>
                                    Streckenlänge
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for ride in distanceList %}
                                <tr>
                                    <td>
                                        <a href="{{ object_path(ride) }}">
                                            {{ ride.dateTime|date('d.m.Y') }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="{{ object_path(ride.city) }}">
                                            {{ ride.city.city }}
                                        </a>
                                    </td>

                                    <td>
                                        {{ ride.estimatedDistance|round(2) }}&nbsp;km
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="duration" role="tabpanel" aria-labelledby="duration-tab">
                <div class="row mt-3">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    Datum
                                </th>

                                <th>
                                    Stadt
                                </th>

                                <th>
                                    Dauer
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for ride in durationList %}
                                <tr>
                                    <td>
                                        <a href="{{ object_path(ride) }}">
                                            {{ ride.dateTime|date('d.m.Y') }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="{{ object_path(ride.city) }}">
                                            {{ ride.city.city }}
                                        </a>
                                    </td>

                                    <td>
                                        {{ human_duration(ride.getEstimatedDurationInSeconds()) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <p class="mt-3">
                Hier fehlt noch was? Du kannst fehlende Teilnehmerzahlen auf der jeweiligen Tourenseite nachtragen oder Streckenlängen mit hochgeladenen GPX-Dateien ergänzen. Auf
                <a href="https://criticalmass.blog/criticalmass-one/haeufig-gestellte-fragen-zu-dieser-webseite/haeufig-gestellte-fragen-zur-statistik/">
                    unserer Hilfeseite
                </a>
                findest du weitere Informationen.
            </p>
        </div>
    </div>
{% endblock %}
