{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'statistic.top_title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.active('statistic.top_title'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    {{ 'statistic.top_title'|trans }}
                </h2>

                <p class="lead">
                    {{ 'statistic.top_lead'|trans }}
                </p>
            </div>
        </div>

        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="participants-tab" data-bs-toggle="tab" data-bs-target="#participants" type="button" role="tab" aria-controls="participants" aria-selected="true">
                        <i class="far fa-users"></i>
                        {{ 'statistic.col_participants'|trans }}
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="distance-tab" data-bs-toggle="tab" data-bs-target="#distance" type="button" role="tab" aria-controls="distance" aria-selected="false">
                        <i class="far fa-map"></i>
                        {{ 'statistic.top_tab_distance'|trans }}
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="duration-tab" data-bs-toggle="tab" data-bs-target="#duration" type="button" role="tab" aria-controls="duration" aria-selected="false">
                        <i class="far fa-clock"></i>
                        {{ 'statistic.col_duration'|trans }}
                    </button>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="participants" aria-labelledby="participants-tab">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    {{ 'statistic.col_date'|trans }}
                                </th>

                                <th>
                                    {{ 'statistic.col_city'|trans }}
                                </th>

                                <th>
                                    {{ 'statistic.col_participant_count'|trans }}
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for ride in participationList %}
                                <tr>
                                    <td>
                                        <a href="{{ object_path(ride) }}">
                                            {{ ride.dateTime|date('d.m.Y') }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="{{ object_path(ride.city) }}">
                                            {{ ride.city.city }}
                                        </a>
                                    </td>

                                    <td>
                                        {{ ride.estimatedParticipants }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="distance" aria-labelledby="distance-tab">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    {{ 'statistic.col_date'|trans }}
                                </th>

                                <th>
                                    {{ 'statistic.col_city'|trans }}
                                </th>

                                <th>
                                    {{ 'statistic.col_track_distance'|trans }}
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for ride in distanceList %}
                                <tr>
                                    <td>
                                        <a href="{{ object_path(ride) }}">
                                            {{ ride.dateTime|date('d.m.Y') }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="{{ object_path(ride.city) }}">
                                            {{ ride.city.city }}
                                        </a>
                                    </td>

                                    <td>
                                        {{ ride.estimatedDistance|round(2) }}&nbsp;km
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="duration" aria-labelledby="duration-tab">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    {{ 'statistic.col_date'|trans }}
                                </th>

                                <th>
                                    {{ 'statistic.col_city'|trans }}
                                </th>

                                <th>
                                    {{ 'statistic.col_duration'|trans }}
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for ride in durationList %}
                                <tr>
                                    <td>
                                        <a href="{{ object_path(ride) }}">
                                            {{ ride.dateTime|date('d.m.Y') }}
                                        </a>
                                    </td>

                                    <td>
                                        <a href="{{ object_path(ride.city) }}">
                                            {{ ride.city.city }}
                                        </a>
                                    </td>

                                    <td>
                                        {{ human_duration(ride.getEstimatedDurationInSeconds()) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <p>
                {{ 'statistic.missing_data'|trans|raw }}
            </p>
        </div>
    </div>
{% endblock %}
