{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{{ content.title }}{% endblock %}

{% block breadcrumb %}
    <li class="active">{{ content.title }}</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            {{ content.text|markdown }}
            </div>
        </div>

        <div class="row margin-top-large">
            <div class="col-md-10 col-md-offset-1">
                <small>
                    Diese Seite wurde am {{ content.lastEditionDateTime.format('d.m.Y') }} um {{ content.lastEditionDateTime.format('H:i') }} Uhr von {{ content.user.username }} geändert.
                {% if content.isPublicEditable() and app.getUser() %}
                    <a href="{{ path('caldera_criticalmass_content_edit', { 'slug': content.getSlug() }) }}">Diese Seite jetzt editieren</a>
                {% endif %}
                </small>
            </div>
        </div>
        
        <div class="row margin-top-large">
            <div class="col-md-10 col-md-offset-1">
                <h3>Kommentare zu dieser Seite</h3>
                {{ render(controller('CalderaCriticalmassSiteBundle:Post:list', { 'contentId': content.id })) }}

                {% if app.getUser() %}
                    {{ render(controller('CalderaCriticalmassSiteBundle:Post:write', { 'contentId': content.id })) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}