{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{{ content.getTitle() }}{% endblock %}

{% block breadcrumb %}
    <li class="active">{{ content.getTitle() }}</li>
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            {{ content.text|markdown }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <small>Diese Seite wurde am {{ content.getLastEditionDateTime().format('d.m.Y') }} um {{ content.getLastEditionDateTime().format('H:i') }} Uhr zuletzt geändert.</small>

                {% if content.isPublicEditable() and app.getUser() %}
                    <a href="{{ path('caldera_criticalmass_content_edit', { 'slug': content.getSlug() }) }}">Diese Seite jetzt editieren</a>
                {% endif %}
            </div>
        </div>
        
        <div class="row margin-top-large">
            <div class="col-md-10 col-md-offset-1">
                <h3>Kommentare zu dieser Seite</h3>
                {{ render(controller('CalderaCriticalmassSiteBundle:Post:list', { 'contentId': content.getId() })) }}

                {% if app.getUser() %}
                    {{ render(controller('CalderaCriticalmassSiteBundle:Post:write', { 'contentId': content.getId() })) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}