{% set hasSocialMedia = city.getUrl() or city.getFacebook() or city.getTwitter() %}
{% set hasCurrentRide = city.getCurrentRide() != null %}
{% set hasRides = rides|length > 0 %}

{% if hasCurrentRide %}
<div class="tab-pane fade in" id="cityInfoTab">
    {% else %}
    <div class="tab-pane fade in active" id="cityInfoTab">
        {% endif %}
        <div class="jumbotron">
            {% if app.getUser() %}
                <div class="btn-group pull-right" style="margin-top: 24px;">
                    <a class="btn btn-success" href="{{ path('caldera_criticalmass_desktop_city_edit', { citySlug: city.getMainSlugString() } ) }}"><i class="halflings uni-wrench"></i> Stadt editieren</a>
                </div>
            {% endif %}

            <h1>{{ city.getTitle() }}</h1>
            <p>{{ city.getDescription() }}</p>
        </div>

        <div class="row">
            {% if hasSocialMedia %}
            <div class="col-lg-8">
                {% else %}
                <div class="col-lg-12">
                    {% endif %}
                    {% if city.getLongDescription() %}
                        {{ city.getLongDescription()|nl2br }}
                    {% else %}
                        <div class="alert alert-info" role="alert">Hier fehlen noch einige kluge Worte über diese Stadt.</div>
                    {% endif %}
                </div>
                {% if hasSocialMedia %}
                    <div class="col-lg-4">
                        <h2>Mehr im Netz</h2>

                        {% if city.getUrl() %}
                            <a class="btn btn-default" href="{{ city.getUrl() }}"><i class="social rss"></i> Homepage</a>
                        {% endif %}

                        {% if city.getFacebook() %}
                            <a class="btn btn-default" href="{{ city.getFacebook() }}"><i class="social facebook"></i> facebook</a>
                        {% endif %}

                        {% if city.getTwitter() %}
                            <a class="btn btn-default" href="{{ city.getTwitter() }}"><i class="social twitter"></i> twitter</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>