{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Registrierung{% endblock %}

{% form_theme form 'Form/theme.html.twig' %}
{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block breadcrumb %}
    {{ bootstrap.breadcrumb_item('Registrierung', '', true) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h2>
                    Auf die Räder, fertig, los!
                </h2>

                <p class="lead">
                    Registriere dir hier dein persönliches criticalmass.in-Benutzerkonto.
                </p>

                <p>
                    Die Übertragung deiner Daten erfolgt selbstverständlich verschlüsselt. Und natürlich geben wir deine Daten auch nicht weiter.
                </p>
            </div>
        </div>

        <form action="{{ path('fos_user_registration_register') }}" method="POST"
              class="fos_user_registration_register form-horizontal">

            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    {{ form_errors(form.username) }}
                    <div class="form-group">
                        <label for="username" class="col-4 control-label">
                            Dein gewünschter Benutzername:
                        </label>
                        <div class="col-8">
                            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    {{ form_errors(form.email) }}
                    <div class="form-group">
                        <label for="email" class="col-4 control-label">
                            Deine E-Mail-Adresse:
                        </label>
                        <div class="col-8">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    {{ form_errors(form.plainPassword) }}
                    <div class="form-group control-group">
                        <label for="password" class="col-4 control-label">
                            Dein Kennwort:
                        </label>
                        <div class="col-8">
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="form-group control-group">
                        <label for="password" class="col-4 control-label">
                            Gleich noch mal dein Kennwort:
                        </label>
                        <div class="col-8">
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {{ form_errors(form.captcha) }}
                    <div class="form-group control-group">
                        <label for="captcha" class="col-sm-4 control-label">Sicherheitsocde:</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.captcha, {'attr': {'class': 'form-control'}}) }}
                            <p class="help-block">
                                Bitte gib die fünf Zeichen aus dem Bild ein, damit wir sichergehen können, dass du kein
                                Roboter bist.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <button type="submit" class="btn btn-primary">
                        Jetzt registrieren
                    </button>
                </div>
            </div>
            {{ form_widget(form._token) }}
        </form>
    </div>
{% endblock %}
