{% if indent is defined %}
{% set col = 12 - indent %}
{% else %}
{% set indent = 0 %}
{% endif %}
<div class="media post">
    <span class="pull-left">
        <img class="media-object" src="http://www.gravatar.com/avatar/{{ post.getUser().getGravatarHash() }}&s=64" class="gravatar" />
    </span>

    <div class="media-body">
        {% if app.getUser().getId() == post.getUser().getId() %}
        <a class="postDeleteButton edit-post btn btn-default btn-xs pull-right" href="#" title="Löschen" data-postid={{ post.getId() }}><i class="glyphicon glyphicon-trash"></i></a>
        {% else %}
        <a class="postReportButton edit-post btn btn-default btn-xs pull-right" href="#" title="Melden" data-postid={{ post.getId() }}><i class="glyphicon glyphicon-trash"></i></a>
        {% endif %}

        <h4 class="media-heading username">
        {% if post.getCity() %}
        {{ post.getUser().getUsername() }} schreibt über <a href="{{ path('caldera_criticalmass_desktop_city_show', { 'citySlug': post.getCity().getMainSlug().getSlug() }) }}">{{ post.getCity().getTitle() }}</a>:
        {% elseif post.getRide() %}
        {{ post.getUser().getUsername() }} schreibt zu <a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': post.getRide().getCity().getMainSlug().getSlug(), 'rideDate': post.getRide().getDateTime().format('Y-m-d') }) }}">{{ post.getRide().getFancyTitle() }}</a>:
        {% else %}
        {{ post.getUser().getUsername() }} schreibt:
        {% endif %}</h4>

        <time>{{ post.getDateTime().format('d.m.Y H:i') }} Uhr</time>
        {{ post.getMessage()|nl2br }}
    </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Kommentar löschen</h4>
            </div>
            <div class="modal-body">
                <span id="trackIdLabel"></span>
                <p>Willst Du diesen Kommentar wirklich löschen?</p>

                <a id="deleteButton" href="" class="btn btn-success">Ja, löschen</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReport" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Kommentar melden</h4>
            </div>
            <div class="modal-body">
                <span id="trackIdLabel"></span>
                <p>Willst Du diesen Kommentar melden?</p>

                <a id="reportButton" href="" class="btn btn-success">Ja, melden</a>
            </div>
        </div>
    </div>
</div>

{% javascripts
'@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
    function prepareDeleteModal()
    {
        /* this enthalt die Quelle des Events, also den Button, der das ganze ausgelöst hat. An dessen data-trackid-Attribut wollen wir nun ran. */
        var postId = $(this).data('postid');

        $('#deleteButton').prop('href', 'http://beta.criticalmass.cm/app_dev.php/post/deleteconfirm/' + postId);

        /* und Fenster anzeigen */
        $('#modalDelete').modal('show');

    }

    /* Event an alle Elemente mit der Klasse trackDownloadButton anhängen. */
    $('.postDeleteButton').on('click', prepareDeleteModal);

    function prepareReportModal()
    {
        /* this enthalt die Quelle des Events, also den Button, der das ganze ausgelöst hat. An dessen data-trackid-Attribut wollen wir nun ran. */
        var postId = $(this).data('postid');

        $('#reportButton').prop('href', 'http://beta.criticalmass.cm/app_dev.php/post/reportconfirm/' + postId);

        /* und Fenster anzeigen */
        $('#modalReport').modal('show');

    }

    /* Event an alle Elemente mit der Klasse trackDownloadButton anhängen. */
    $('.postReportButton').on('click', prepareReportModal);

</script>
