{% if indent is defined %}
{% set col = 12 - indent %}
{% else %}
{% set indent = 0 %}
{% endif %}

<div class="row">
    {% if col is defined %}
    <div class="col-md-{{ col }} col-md-offset-{{ indent }}">qwdqwdqwdqwdqwdqwd
    {% else %}
    <div class="col-md-12">
    {% endif %}
        <div class="post media">
            <span class="pull-left">
                <img class="media-object" src="http://www.gravatar.com/avatar/{{ post.getUser().getGravatarHash() }}&s=64" class="gravatar" />
            </span>


            <div class="media-body">
                <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-share-alt"></i></button>
                {% if post.getCity() %}
                <h4 class="media-heading username">{{ post.getUser().getUsername() }} schreibt über <a href="{{ path('caldera_criticalmass_desktop_city_show', { 'citySlug': post.getCity().getMainSlug().getSlug() }) }}">{{ post.getCity().getTitle() }}</a>:</h4>
                {% elseif post.getRide() %}
                <h4 class="media-heading username">{{ post.getUser().getUsername() }} schreibt zu <a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': post.getRide().getCity().getMainSlug().getSlug(), 'rideDate': post.getRide().getDateTime().format('Y-m-d') }) }}">{{ post.getRide().getFancyTitle() }}</a>:</h4>
                {% else %}
                <h4 class="media-heading username">{{ post.getUser().getUsername() }} schreibt:</h4>
                {% endif %}

                <time>{{ post.getDateTime().format('d.m.Y H:i') }} Uhr</time>
                {{ post.getMessage()|nl2br }}
            </div>
        </div>
    </div>
</div>

{% if post.getChildren()|length > 0 %}
    {% for child in post.getChildren() %}
        {% include('CalderaCriticalmassTimelineBundle:Common:post.html.twig') with { 'post':  child, 'indent': (indent + 1) } %}
    {% endfor %}
{% endif %}