<div class="row post media">
    <span class="pull-left">
        <img class="media-object" src="http://www.gravatar.com/avatar/{{ post.getUser().getGravatarHash() }}&s=64" class="gravatar" />
    </span>

    <div class="media-body">
        {% if post.getCity() %}
        <h4 class="media-heading username">{{ post.getUser().getUsername() }} schreibt über {{ post.getCity().getTitle() }}:</h4>
        {% elseif post.getRide() %}
        <h4 class="media-heading username">{{ post.getUser().getUsername() }} schreibt zu {{ post.getRide().getFancyTitle() }}:</h4>
        {% else %}
        <h4 class="media-heading username">{{ post.getUser().getUsername() }} schreibt:</h4>
        {% endif %}

        <time>{{ post.getDateTime().format('d.m.Y H:i') }} Uhr</time>
        {{ post.getMessage()|nl2br }}
    </div>
</div>