{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'ride.management.social_preview_title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('ride.management.breadcrumb_city_list'|trans, path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(ride.city.city, object_path(ride.city)) }}
    {{ breadcrumb.item(ride.title, object_path(ride)) }}
    {{ breadcrumb.active('ride.management.social_preview_title'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <h2>
                    {{ 'ride.management.social_preview_title'|trans }}
                </h2>

                <p class="lead">
                    {{ 'ride.management.social_preview_lead'|trans }}
                </p>
            </div>
        </div>

        {{ form_start(form) }}

        <div class="row margin-top-medium">
            <div class="col-md-6">
                {% if ride.imageName %}
                <div class="row margin-bottom-medium">
                    <div class="col-md-12">
                        <img id="photo" class="img-thumbnail img-responsive" src="{{ vich_uploader_asset(ride, 'imageFile')|imagine_filter('ride_photo_preview') }}"/>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="control-label" for="">
                            {{ 'ride.management.label_file'|trans }}
                        </label>
                        {{ form_widget(form.imageFile) }}
                        <p class="help-block">
                            {{ 'ride.management.help_file'|trans|raw }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <label class="control-label" for="socialDescription">
                    {{ 'ride.management.label_social_description'|trans }}
                </label>
                {{ form_widget(form.socialDescription, { 'attr' : { 'class': 'form-control', 'rows': 4 } }) }}
                <p class="help-block">
                    {{ 'ride.management.help_social_description'|trans }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <a href="{{ object_path(ride) }}" class="btn btn-secondary">
                        {{ 'common.cancel'|trans }}
                    </a>
                    <button type="submit" class="btn btn-success" id="rideSubmitButton">
                        {{ 'common.save'|trans }}
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
