{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Details für soziale Netzwerke{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>

    <li>
        <a href="{{ object_path(ride.city) }}">
            {{ ride.city.city }}
        </a>
    </li>

    <li>
        <a href="{{ object_path(ride) }}">
            {{ ride.title }}
        </a>
    </li>

    <li class="active">
        Details für soziale Netzwerke
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <h2>
                    Details für soziale Netzwerke
                </h2>

                <p class="lead">
                    Hier kannst du festlegen, wie diese Tour in öffentlichen Netzwerken oder in Suchmaschinen dargestellt werden soll. Du kannst dazu ein kleines Vorschaufoto hochalden, das beispielsweise bei facebook und twitter gemeinsam mit Verlinkungen dargestellt wird, sowie einen kurzen Vorankündigungstext eingeben.
                </p>
            </div>
        </div>

        {{ form_start(form) }}

        <div class="row margin-top-medium">
            <div class="col-md-6">
                {% if ride.imageName %}
                <div class="row margin-bottom-medium">
                    <div class="col-md-12">
                        <img id="photo" class="img-thumbnail img-responsive" src="{{ vich_uploader_asset(ride, 'imageFile')|imagine_filter('ride_photo_preview') }}"/>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="control-label" for="">
                            Datei:
                        </label>
                        {{ form_widget(form.imageFile) }}
                        <p class="help-block">
                            Hier kannst du eine Grafik hochladen, die bei Verlinkungen der Tour auf facebook und twitter angezeigt wird. Die Grafik sollte mindestens 1.200 mal 630 Pixel messen.
                            <strong>Bitte lade nur Fotos hoch, an denen du das Urheber- oder Nutzungsrecht besitzt.</strong>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <label class="control-label" for="socialDescription">
                    Social-Beschreibung:
                </label>
                {{ form_widget(form.socialDescription, { 'attr' : { 'class': 'form-control', 'rows': 4 } }) }}
                <p class="help-block">
                    Hier kannst du eine kurze Beschreibung eingeben, die in sozialen Netzwerken wie facebook und twitter angezeigt wird. Bedenke, dass dort meistens nur 140 bis 160 Zeichen angezeigt und der Rest des Textes abgeschnitten werden.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <a href="{{ object_path(ride) }}" class="btn btn-default">
                        Abbrechen
                    </a>
                    <button type="submit" class="btn btn-success" id="rideSubmitButton">
                        Speichern
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
