{% set show_incidence_warning = false %}

{% if feature('corona') and city is defined and city.showCoronaIncidenceWarning %}
    {% set coord = city %}

    {% set show_incidence_warning = true %}
{% endif %}

{% if feature('corona') and ride is defined and ride.showCoronaIncidenceWarning and ride.city.showCoronaIncidenceWarning %}
    {% set coord = ride %}
    {% set city = ride.city %}

    {% if not ride.latitude or ride.longitude %}
        {% set coord = city %}
    {% endif %}

    {% set show_incidence_warning = true %}
{% endif %}

{% if show_incidence_warning  %}
    {% set corona_result = corona(coord) %}
{% endif %}

{% if corona_result is defined and corona_result %}
    {% if corona_result.cases7Per100K <= 20 %}
        {% set color_class = 'success' %}
        {% set text = '<p>Bitte trage bei der Critical Mass eine <strong>Mund-Nase-Bedeckung</strong> und halte ausreichenden <strong>Abstand</strong> zu anderen Teilnehmerïnnen und Passantïnnen.</p><p>Vermeide eine Teilnahme, falls du dich nicht gesund oder wohl fühlen solltest.</p>' %}
    {% elseif corona_result.cases7Per100K <= 30 %}
        {% set color_class = 'warning' %}
        {% set text = '<p>Bitte trage bei der Critical Mass eine <strong>Mund-Nase-Bedeckung</strong> und halte ausreichenden <strong>Abstand</strong> zu anderen Teilnehmerïnnen und Passantïnnen.</p><p>Vermeide eine Teilnahme, falls du dich nicht gesund oder wohl fühlen solltest.</p>' %}
    {% elseif corona_result.cases7Per100K <= 50 %}
        {% set color_class = 'danger' %}
        {% set text = '<p>Bitte trage bei der Critical Mass eine <strong>Mund-Nase-Bedeckung</strong> und halte ausreichenden <strong>Abstand</strong> zu anderen Teilnehmerïnnen und Passantïnnen.</p><p>Vermeide eine Teilnahme, falls du dich nicht gesund oder wohl fühlen solltest.</p>' %}
    {% else %}
        {% set color_class = 'danger' %}
        {% set text = '<p class="text-danger"><strong>Bitte überlege, ob du angesichts des Infektionsgeschehens tatsächlich an einer Critical Mass teilnehmen möchtest.</strong></p><p>Trage bitte eine <strong>Mund-Nase-Bedeckung</strong> und halte ausreichenden <strong>Abstand</strong> zu anderen Teilnehmerïnnen und Passantïnnen.</p><p>Vermeide eine Teilnahme, falls du dich nicht gesund oder wohl fühlen solltest.</p>' %}
    {% endif %}

    <div class="panel panel-{{ color_class }}">
        <div class="panel-heading">
            <h3 class="panel-title">
                Corona-Infektionsrisiko
            </h3>
        </div>
        <div class="panel-body text-center">
            <p>
                In {{ city.city }} wurden in den letzten 7 Tagen
                <br />
                <strong style="font-size: 2em;" class="text-{{ color_class }}">{{ corona_result.cases7Per100K|number_format(2) }}</strong>
                <br />
                Menschen pro 100.000 Einwohner positiv auf SARS-CoV-2 getestet.
            </p>

            {{ text|raw }}

            <p>
                <small class="text-muted">
                    Zuletzt aktualisiert: {{ corona_result.lastUpdate|date('d.m.Y') }}
                </small>
            </p>

            <hr />

            <p>
                <a href="https://www.coronawarn.app/" title="zur Homepage der Corona-Warn-App">
                    <img class="pull-left" src="{{ asset('/images/corona/cwa-small.png') }}" alt="Logo der deutschen Corona-Warn-App" />
                </a>

                Mit der <a href="https://www.coronawarn.app/" title="zur Homepage der Corona-Warn-App">Corona-Warn-App</a> kannst du helfen, die Verbreitung des Coronavirus zu bekämpfen.
            </p>

            <p>
                <a class="btn btn-{{ color_class }}" href="https://www.coronawarn.app/" title="zur Homepage der Corona-Warn-App">
                    App herunterladen
                </a>
            </p>
        </div>
    </div>
{% endif %}