{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Deine Tracks{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('fos_user_profile_show') }}">Dein Benutzerkonto</a></li>
    <li class="active">Deine Tracks</li>
{% endblock %}

{% block additionalHeaderElements %}
    <script>
        function prepareDeleteModal()
        {
            var deleteUrl = $(this).data('deleteurl');
            
            $('#deleteButton').prop('href', deleteUrl);
            $('#cancelButton').on('click', function() {
                $('#modalDelete').modal('hide');

            });

            $('#modalDelete').modal('show');
        }

        domReadyQueue.push(function($) {
            $('.trackDeleteButton').on('click', prepareDeleteModal);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Deine Gpx-Tracks
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                    Hier siehst du alle Tracks, die du bei deinen bisherigen Critical-Mass-Teilnahmen aufgezeichnet hast.
                </p>

                <p>
                    Klicke in der Übersicht einer Radtour im Reiter „Tracks“ auf den grünen Button, um einen neuen Track hinzuzufügen.
                </p>
            </div>
        </div>

        {% for track in tracks %}
        <div class="row margin-bottom-medium">
            <div class="col-md-3">
                <div id="map-{{ track.id }}" class="preview-map" style="height: 150px;" data-polyline-color="rgb({{ track.colorRed }}, {{ track.colorGreen }}, {{ track.colorBlue }})" data-lock-map="true" data-polyline="{{ track.polyline }}">

                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="no-margin-top">
                            <a href="{{ path(track.ride) }}">
                                {{ track.ride.getFancyTitle() }}
                            </a>
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <dl>
                            <dt>
                                Stadt
                            </dt>

                            <dd>
                                <a href="{{ path(track.ride.city) }}">
                                    {{ track.ride.city.city }}
                                </a>
                            </dd>
                        </dl>
                    </div>

                    <div class="col-xs-6 col-sm-2 col-md-2">
                        <dl>
                            <dt>
                                Datum
                            </dt>

                            <dd>
                                <a href="{{ path(track) }}">
                                    {{ track.ride.dateTime|date('d.m.Y') }}
                                </a>
                            </dd>
                        </dl>
                    </div>

                    <div class="col-xs-4 col-sm-2 col-md-2">
                        <dl>
                            <dt>
                                Länge
                            </dt>

                            <dd>
                                {{ track.distance|round }}&nbsp;Kilometer
                            </dd>
                        </dl>
                    </div>

                    <div class="col-xs-4 col-sm-2 col-md-2">
                        <dl>
                            <dt>
                                Beginn
                            </dt>

                            <dd>
                                {{ track.startDateTime|date('H:i', 'Europe/Berlin') }}&nbsp;Uhr
                            </dd>
                        </dl>
                    </div>

                    <div class="col-xs-4 col-sm-2 col-md-2">
                        <dl>
                            <dt>
                                Ende
                            </dt>

                            <dd>
                                {{ track.endDateTime|date('H:i', 'Europe/Berlin') }}&nbsp;Uhr
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    <a class="btn btn-default btn-xs" title="Herunterladen" href="{{ path('caldera_criticalmass_track_download', {'trackId': track.getId()}) }}">
                        <i class="fa fa-file"></i>
                    </a>
                    {% if track.getActivated() %}
                        <a class="btn btn-default btn-xs" title="Deaktivieren" href="{{ path('caldera_criticalmass_track_toggle', {'trackId': track.getId()}) }}">
                            <i class="fa fa-eye-slash"></i>
                        </a>
                    {% else %}
                        <a class="btn btn-default btn-xs" title="Aktivieren" href="{{ path('caldera_criticalmass_track_toggle', {'trackId': track.getId()}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                    {% endif %}
                    <a class="btn btn-default btn-xs trackDeleteButton" title="Löschen" href="#" data-deleteurl={{ path('caldera_criticalmass_track_deleteconfirm', { trackId: track.getId() }) }}>
                        <i class="fa fa-trash-o"></i>
                    </a>
                    <a class="btn btn-default btn-xs" title="Beschneiden" href="{{ path('caldera_criticalmass_track_range', { trackId: track.getId() }) }}">
                        <i class="fa fa-scissors"></i>
                    </a>
                    <a class="btn btn-default btn-xs" title="Zeit anpassen" href="{{ path('caldera_criticalmass_track_time', { trackId: track.getId() }) }}">
                        <i class="fa fa-clock-o"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Track löschen</h4>
                </div>
                <div class="modal-body">
                    <span id="trackIdLabel"></span>
                    <p>Willst Du diesen Track wirklich löschen?</p>
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group" aria-label="...">
                        <a id="deleteButton" href="#" class="btn btn-success">Ja, löschen</a>
                        <button id="cancelButton" class="btn btn-default">Nein, abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        CriticalMass.loadModule('TrackListPage');
    </script>
{% endblock %}