{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Deine Tracks{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('fos_user_profile_show') }}">Dein Benutzerkonto</a></li>
    <li class="active">Deine Tracks</li>
{% endblock %}

{% block additionalHeaderElements %}
    <script>
        function prepareDeleteModal()
        {
            var deleteUrl = $(this).data('deleteurl');
            
            $('#deleteButton').prop('href', deleteUrl);
            $('#cancelButton').on('click', function() {
                $('#modalDelete').modal('hide');

            });

            $('#modalDelete').modal('show');
        }

        domReadyQueue.push(function($) {
            $('.trackDeleteButton').on('click', prepareDeleteModal);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                <h1>Hier warst du schon mal.</h1>
                <p>Hier siehst du alle Tracks, die du bei deinen bisherigen Critical-Mass-Teilnahmen aufgezeichnet hast. Du kannst entweder neue Tracks über den grünen Button oben rechts ergänzen oder künftig deine aufgezeichneten Tracks direkt mit deinem Benutzerkonto verknüpfen.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th>Datum</th>
                        <th>Stadt</th>
                        <th>Tour</th>
                        <th>Beginn</th>
                        <th>Ende</th>
                        <th>Distanz</th>
                        <th>Optionen</th>
                    </tr>
                    {% for track in tracks %}{% if track.getRide() %}
                        {% if not track.getActivated() %}
                            <tr style="text-decoration: line-through;">
                        {% else %}
                            <tr>
                        {% endif %}
                        <td>
                            <a href="{{ path('caldera_criticalmass_track_view', { 'trackId': track.getId() }) }}">{{ track.getRide().getDateTime().format('d. m. Y') }}</a>
                        </td>
                        <td>
                            <a href="{{ path('caldera_criticalmass_desktop_city_show', { 'citySlug': track.getRide().getCity().getMainSlugString() }) }}">{{ track.getRide().getCity().getCity() }}</a>
                        </td>
                        <td>
                            <a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': track.getRide().getcity().getMainSlugString(), 'rideDate': track.getRide().getDateTime().format('Y-m-d') }) }}">
                                {% if track.getRide().getTitle() %}
                                    {{ track.getRide().getTitle() }}
                                {% else %}
                                    {{ track.getRide().getCity().getTitle() }}
                                {% endif %}</a>
                        </td>
                        <td>{{ track.getStartDateTime().format('H:i') }} Uhr</td>
                        <td>{{ track.getEndDateTime().format('H:i') }} Uhr</td>
                        <td>{{ track.getDistance()|round(2) }} Kilometer</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-default btn-xs" title="Herunterladen" href="{{ path('caldera_criticalmass_track_download', {'trackId': track.getId()}) }}">
                                    <i class="fa fa-file"></i>
                                </a>
                                {% if track.getActivated() %}
                                    <a class="btn btn-default btn-xs" title="Deaktivieren" href="{{ path('caldera_criticalmass_track_toggle', {'trackId': track.getId()}) }}">
                                        <i class="fa fa-eye-slash"></i>
                                    </a>
                                {% else %}
                                    <a class="btn btn-default btn-xs" title="Aktivieren" href="{{ path('caldera_criticalmass_track_toggle', {'trackId': track.getId()}) }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                {% endif %}
                                <a class="btn btn-default btn-xs trackDeleteButton" title="Löschen" href="#" data-deleteurl={{ path('caldera_criticalmass_track_deleteconfirm', { trackId: track.getId() }) }}>
                                    <i class="fa fa-trash-o"></i>
                                </a>
                                <a class="btn btn-default btn-xs" title="Beschneiden" href="{{ path('caldera_criticalmass_track_range', { trackId: track.getId() }) }}">
                                    <i class="fa fa-scissors"></i>
                                </a>
                            </div>
                        </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                    
                    {% if tracks|length == 0 %}
                        <td colspan="7" style="text-align: center;">Du hast bislang keine Tracks hochgeladen :(</td>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Track löschen</h4>
                </div>
                <div class="modal-body">
                    <span id="trackIdLabel"></span>
                    <p>Willst Du diesen Track wirklich löschen?</p>

                    <div class="btn-group" role="group" aria-label="...">
                        <button id="cancelButton" class="btn btn-danger">Nein, abbrechen</button>
                        <a id="deleteButton" href="#" class="btn btn-success">Ja, löschen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}