{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Track beschneiden{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('fos_user_profile_show') }}">Dein Benutzerkonto</a></li>
    <li><a href="{{ path('caldera_criticalmass_track_list') }}">Deine Tracks</a></li>
    <li class="active">Track beschneiden</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Track beschneiden</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>Weniger ist manchmal mehr. Hier kannst du Anfang und Ende deiner Tour festlegen, falls du versehentlich zu viel aufgezeichnet hast und nicht möchtest, dass dir jemand nach Hause folgt.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 350px;"></div>
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-12">
                <input id="slider" type="text" value="" style="width: 100%;" />
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-12">
                {{ form_start(form) }}
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button class="btn btn-success" type="submit">
                        Speichern
                    </button>
                    <a class="btn btn-default" href="{{ path('caldera_criticalmass_track_list') }}">
                        Abbrechen
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <script>
        CriticalMass.loadModule('TrackRangePage', null, null, function(rangePage) {
            rangePage.setStartPoint({{ track.startPoint }});
            rangePage.setEndPoint({{ track.endPoint }});
            rangePage.setGapWidth({{ gapWidth }});

            rangePage.setPolylineLatLngs({{ latLngList }});
            rangePage.setColor({{ track.colorRed }}, {{ track.colorGreen }}, {{ track.colorBlue }});

            rangePage.init();
        });
    </script>

{% endblock %}