{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Zeit anpassen{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('fos_user_profile_show') }}">
            Dein Benutzerkonto
        </a>
    </li>
    <li>
        <a href="{{ path('caldera_criticalmass_track_list') }}">
            Deine Tracks
        </a>
    </li>
    <li class="active">
        Zeit anpassen
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Zeit anpassen</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>Falls dein Aufzeichnungsgerät aus irgendeinem Grunde eine falsche Uhrzeit bei deinem GPX-Track angegeben haben sollte, kannst du hier den Start-Zeitpunkt deines Tracks verschieben:</p>
                <p>Der ursprüngliche Start-Zeitpunkt ist der {{ track.startDate.format('d.m.Y') }} um {{ track.startDate.format('H:i') }} Uhr.</p>
            </div>
        </div>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group{% if form_errors(form.startDate) %} has-error has-feedback{% endif %}">
                    <label class="control-label" for="">Datum:</label>
                    {{ form_widget(form.startDate, { 'attr' : { 'class': 'form-control'} }) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group{% if form_errors(form.startTime) %} has-error has-feedback{% endif %}">
                    <label class="control-label" for="">Uhrzeit:</label>
                    {{ form_widget(form.startTime, { 'attr' : { 'class': 'form-control'} }) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <a href="{{ path('caldera_criticalmass_track_list') }}" class="btn btn-default">
                        Abbrechen
                    </a>
                    <button type="submit" class="btn btn-success">
                        Speichern
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
