{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Gpx-Datei hochladen{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                Gpx-Datei hochladen
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                Wenn du deine Fahrt bei der <strong>{{ ride.city.title }}</strong> am <strong>{{ ride.dateTime|date('d.m.Y', 'Europe/Berlin') }}</strong> aufgezeichnet hast, kannst du hier deinen Track als GPX-Datei hochladen.
            </p>
        </div>
    </div>

    {% if errorMessage %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                <strong>Hochladen fehlgeschlagen :(</strong>
                {{ errorMessage }}
            </div>
        </div>
    </div>
    {% endif %}

    {{ form_start(form, {'attr': {'role': 'form'}}) }}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="">Datei:</label>
                {{ form_widget(form.trackFile, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function initUpload() {
            var $uploadButton = $('#uploadGpxButton');

            $uploadButton.on('click', function () {
                $uploadButton.prop('disabled', 'true');
                $uploadButton.html('Einen Moment bitte…');
            });

            window.onload = function () {
                $('#modalTrackUpload').on('hidden.bs.modal', function () {
                    $uploadButton.prop('disabled', '');
                    $uploadButton.html('Track hochladen');
                });
            }
        }
    </script>

    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <button type="submit" class="btn btn-success">
                    Track hochladen
                </button>
                <a href="{{ path(ride) }}" class="btn btn-default">
                    Abbrechen
                </a>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}