{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Deine Tracks{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('sonata_user_profile_show') }}">Dein Benutzerkonto</a></li>
    <li><a href="{{ path('caldera_criticalmass_track_list') }}">Deine Tracks</a></li>
    <li class="active">Track anzeigen</li>
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                {% if track.getRide().getTitle() %}
                <h1>{{ track.getRide().getTitle() }}</h1>
                {% else %}
                <h1>{{ track.getRide().getCity().getTitle() }}</h1>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 350px;"></div>
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-3">
                Tour:
                <br />
                <a href="{{ path('caldera_criticalmass_ride_show', { citySlug: track.getRide().getCity().getMainSlugString(), rideDate: track.getRide().getFormattedDate() }) }}">
                    {{ track.getRide().getFancyTitle() }}
                </a>
            </div>
            <div class="col-md-2">
                {{ track.getRide().getDateTime.format('d.m.Y') }}
                <br />{{ track.getRide().getDateTime.format('H:i') }} Uhr
            </div>
            <div class="col-md-3">
                Treffpunkt:
                <br />{{ track.getRide().getLocation() }}
            </div>
            <div class="col-md-2">
                <span style="font-size: 20px;">{{ track.getDistance()|round(2) }}
                </span>
                <br />Kilometer</div>
            <div class="col-md-2">
                <span style="font-size: 20px;">{{ track.getDurationInterval().format('%h:%i') }}
                </span>
                <br />Stunden</div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="pager">
                    {% if previousTrack %}
                    <li class="previous">
                        <a href="{{ path('caldera_criticalmass_track_view', { 'trackId': previousTrack.getId() }) }}">&larr; Voriger Track</a>
                    </li>
                    {% else %}
                    <li class="previous disabled">
                        <a href="#">&larr; Voriger Track</a>
                    </li>
                    {% endif %}

                    {% if nextTrack %}
                    <li class="next">
                        <a href="{{ path('caldera_criticalmass_track_view', { 'trackId': nextTrack.getId() }) }}">Nächster Track &rarr;</a>
                    </li>
                    {% else %}
                    <li class="next disabled">
                        <a href="#">Nächster Track &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <script>
        CriticalMass.loadModule('TrackViewPage', null, null, function(viewPage) {
            viewPage.setPolylineLatLngs({{ track.getLatLngList() }});

            viewPage.setColor({{ track.getUser().getColorRed() }}, {{ track.getUser().getColorGreen() }}, {{ track.getUser().getColorBlue() }});

            viewPage.init();
        });
    </script>
{% endblock %}