{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Deine Tracks{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('fos_user_profile_show') }}">Dein Benutzerkonto</a></li>
    <li><a href="{{ path('caldera_criticalmass_track_list') }}">Deine Tracks</a></li>
    <li class="active">Track anzeigen</li>
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                {% if track.getRide().getTitle() %}
                <h1>{{ track.getRide().getTitle() }}</h1>
                {% else %}
                <h1>{{ track.getRide().getCity().getTitle() }}</h1>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 350px;"></div>
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-3">
                <dl>
                    <dt>
                        Tour:
                    </dt>
                    <dd>
                        <a href="{{ path(track.ride) }}">
                            {{ track.ride.getFancyTitle() }}
                        </a>
                    </dd>
                </dl>
            </div>

            <div class="col-md-2">
                <dl>
                    <dt>
                        Datum:
                    </dt>
                    <dd>
                        {{ track.ride.dateTime.format('d.m.Y H:i') }}&nbsp;Uhr
                    </dd>
                </dl>
            </div>

            <div class="col-md-3">
                <dl>
                    <dt>
                        Treffpunkt:
                    </dt>
                    <dd>
                        {% if track.ride.getHasLocation and track.ride.location %}
                        {{ track.ride.location }}
                        {% else %}
                        nicht bekannt
                        {% endif %}
                    </dd>
                </dl>
            </div>

            <div class="col-md-2">
                <dl>
                    <dt>
                        Distanz:
                    </dt>
                    <dd>
                        {{ track.distance|round(2) }}&nbsp;Kilometer
                    </dd>
                </dl>
            </div>

            <div class="col-md-2">
                <dl>
                    <dt>
                        Dauer:
                    </dt>
                    <dd>
                        {{ track.getDurationInterval().format('%h:%i') }}&nbsp;Stunden
                    </dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="pager">
                    {% if previousTrack %}
                    <li class="previous">
                        <a href="{{ path('caldera_criticalmass_track_view', { 'trackId': previousTrack.getId() }) }}">&larr; Voriger Track</a>
                    </li>
                    {% else %}
                    <li class="previous disabled">
                        <a href="#">&larr; Voriger Track</a>
                    </li>
                    {% endif %}

                    {% if nextTrack %}
                    <li class="next">
                        <a href="{{ path('caldera_criticalmass_track_view', { 'trackId': nextTrack.getId() }) }}">Nächster Track &rarr;</a>
                    </li>
                    {% else %}
                    <li class="next disabled">
                        <a href="#">Nächster Track &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <script>
        CriticalMass.loadModule('TrackViewPage', null, null, function(viewPage) {
            viewPage.addTrack('{{ track|serialize|raw|e('js') }}');

            viewPage.focus();
        });
    </script>
{% endblock %}
