{% if dateTime > ride.getDateTime() %}
    {% set pastRide = true %}
{% else %}
    {% set pastRide = false %}
{% endif %}

{% if pastRide and app.getUser() %}
    {% set photoUploadEnabled = true %}
{% else %}
    {% set photoUploadEnabled = false %}
{% endif %}

<div role="tabpanel" class="tab-pane" id="gallery">
    <div class="row">
        <div class="col-md-12">
            {% if app.getUser() %}
                <div class="btn-group btn-group pull-right" style="margin-top: 16px;">
                    <a class="btn btn-success" href="{{ path('caldera_criticalmass_gallery_photos_upload_ride', { 'citySlug': ride.getCity().getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}" title="Fotos hochladen">
                        <i class="fa fa-camera"></i>
                        Fotos hochladen</a>
                </div>
            {% endif %}

            <h3>Galerie</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if photos|length == 0 and photoUploadEnabled %}
                <div class="alert alert-info" role="alert">
                    <strong>Schade!</strong> Bislang hat noch niemand Fotos von dieser Tour hochgeladen &mdash; <a href="{{ path('caldera_criticalmass_gallery_photos_upload_ride', { 'citySlug': ride.getCity().getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}" title="Fotos hochladen">Du kannst noch immer der Erste sein</a>.
                </div>
            {% elseif photos|length == 0 %}
                <div class="alert alert-info" role="alert">
                    <strong>Schade!</strong> Bislang hat noch niemand Fotos von dieser Tour hochgeladen. Als <a href="{{ path('fos_user_security_login') }}">angemeldeter Nutzer</a> könntest du hier der Erste sein.
                </div>
            {% else %}

                <div class="row">
                    <div class="photo-list">
                    {% for photo in photos %}
                        <div class="col-md-3">
                            <div class="photo margin-bottom-medium text-center">
                                <a href="{{ path(photo) }}">
                                    <img src="#" data-src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}" />
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>

            {% endif %}
        </div>
    </div>
</div>

<div class="modal fade" id="photo-view-modal" tabindex="-1" role="dialog" aria-labelledby="photo-view-modal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="photo-view-modal-label">Foto anzeigen</h4>
            </div>
            <div class="modal-body">
                <a id="photo-view-page-link" href="">
                    <img src="" id="photo-view-modal-image" class="img-responsive" />
                </a>
            </div>
            <div class="modal-footer">
                <nav>
                    <ul class="pager no-margin-top no-margin-bottom">
                        <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Voriges Foto</a></li>
                        <li class="next"><a href="#">Nächstes Foto <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>