{% if dateTime > ride.getDateTime() %}
    {% set pastRide = true %}
{% else %}
    {% set pastRide = false %}
{% endif %}

{% if pastRide and false and ride.enablePhotoUpload and city.enablePhotoUpload and app.getUser() and app.getUser().enablePhotoUpload %}
    {% set photoUploadEnabled = true %}
{% else %}
    {% set photoUploadEnabled = false %}
{% endif %}

<div role="tabpanel" class="tab-pane" id="gallery">
    <div class="row">
        <div class="col-md-12">
            {% if true %}
                <div class="btn-group btn-group pull-right" style="margin-top: 16px;">
                    <a class="btn btn-success" href="{{ path('caldera_criticalmass_gallery_photos_upload_ride', { 'citySlug': ride.getCity().getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}" title="Fotos hochladen">
                        <i class="fa fa-camera"></i>
                        Fotos hochladen</a>
                </div>
            {% endif %}

            <h3>Galerie</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if photos|length == 0 and photoUploadEnabled %}
                <div class="alert alert-info" role="alert">
                    <strong>Schade!</strong> Bislang hat noch niemand Fotos von dieser Tour hochgeladen &mdash; <a href="{{ path('caldera_criticalmass_gallery_photos_upload_ride', { 'citySlug': ride.getCity().getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}" title="Fotos hochladen">Du kannst noch immer der Erste sein</a>.
                </div>
            {% elseif photos|length == 0 %}
                <div class="alert alert-info" role="alert">
                    <strong>Schade!</strong> Bislang hat noch niemand Fotos von dieser Tour hochgeladen. Als <a href="{{ path('fos_user_security_login') }}">angemeldeter Nutzer</a> könntest du hier der Erste sein.
                </div>
            {% else %}
                <div class="row">
                    {% for photo in photos %}
                        <div class="col-md-4 photo">
                            <a href="{{ path('caldera_criticalmass_photo_show', { 'citySlug': ride.getCity().getMainSlugString(), 'rideDate': ride.getFormattedDate(), 'photoId': photo.id }) }}">
                                <img src="#" data-src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}" />
                            </a>
                           {#<img src="{{ '/relative/path/to/image.jpg'|imagine_filter('my_thumb') }}" />#}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>