{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{{ board.title }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_board_overview') }}">
            Diskussionen
        </a>
    </li>
    <li class="active">
        {{ board.title }}
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if board is instanceof('Board') %}
                <a href="{{ path('caldera_criticalmass_board_addthread', { 'slug': board.slug }) }}" class="btn btn-success pull-right margin-top-medium">
                    neues Thema eröffnen
                </a>
                {% else %}
                <a href="{{ path('caldera_criticalmass_board_addcitythread', { 'citySlug': board.slug }) }}" class="btn btn-success pull-right margin-top-medium">
                    neues Thema eröffnen
                </a>
                {% endif %}

                <h1>
                    {{ board.title }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Titel
                            </th>
                            <th>
                                Autor
                            </th>
                            <th>
                                Antworten
                            </th>
                            <th>
                                Ansichten
                            </th>
                            <th>
                                letzter Beitrag
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for thread in threads %}
                        <tr>
                            <td>
                                <a href="{{ path(thread) }}">
                                    {{ thread.title }}
                                </a>
                            </td>
                            <td>
                                <img class="pull-left" style="margin-right: 5px;" src="{{ gravatarUrl(thread.firstPost.user, 36) }}" alt="..." />
                                von <strong>{{ thread.firstPost.user.username }}</strong>
                            </td>
                            <td>
                                {{ thread.postNumber }}
                            </td>
                            <td>
                                {{ thread.viewNumber }}
                            </td>
                            <td>
                                {% if thread.lastPost %}
                                <img class="pull-left" style="margin-right: 5px;" src="{{ gravatarUrl(thread.lastPost.user, 36) }}" alt="..." />
                                von <strong>{{ thread.lastPost.user.username }}</strong><br />
                                {{ thread.lastPost.dateTime.format('d.m.Y H:i') }}&nbsp;Uhr
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}