{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{% endblock %}

{% block breadcrumb %}
    <li class="active">Diskussionen</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Titel
                            </th>
                            <th>
                                Autor
                            </th>
                            <th>
                                Antworten
                            </th>
                            <th>
                                letzter Beitrag
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for thread in threads %}
                        <tr>
                            <td>
                                <a href="{{ path(thread) }}">
                                    {{ thread.getTitle() }}
                                </a>
                            </td>
                            <td>

                            </td>
                            <td>
                                {{ thread.getPostNumber() }}
                            </td>
                            <td>
                                {% if thread.getLastPost() %}
                                    {% set lastPost = thread.getLastPost() %}
                                    <img class="pull-left" style="margin-right: 5px;" src="{{ gravatarUrl(lastPost.getUser(), 36) }}" alt="..." />
                                    von <strong>{{ lastPost.getUser().getUsername() }}</strong><br />
                                    {{ lastPost.dateTime.format('d.m.Y H:i') }}&nbsp;Uhr
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}