{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{{ thread.title }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_board_overview') }}">
            Diskussionen
        </a>
    </li>
    <li>
        {% if board is instanceof('Board') %}
        <a href="{{ path(board) }}">
        {% else %}
        <a href="{{ path('caldera_criticalmass_board_listcitythreads', { citySlug: board.slug }) }}">
        {% endif %}
        {{ board.title }}
        </a>
    </li>
    <li class="active">
        {{ thread.title }}
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if app.getUser() %}
                    <button type="button" class="btn btn-success pull-right margin-top-medium" data-toggle="modal" data-target="#modal-add-post">
                        <i class="fa fa-comment"></i>
                        Antwort hinzufügen
                    </button>
                    {{ render(controller('CalderaCriticalmassSiteBundle:Post:write', { 'threadId': thread.id, 'noButton': true })) }}
                {% endif %}
                <h2>
                    {{ thread.title }}
                </h2>
            </div>
        </div>

    <div class="row">
        <div class="col-md-12">
            <div class="post-list">
                {% for post in posts %}
                    {% include('CalderaCriticalmassSiteBundle:Post:post.html.twig') with { 'post':  post } %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}