{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_board_overview') }}">
            Diskussionen
        </a>
    </li>
    <li class="active">
        Allgemeines über die {{ city.title }}
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('caldera_criticalmass_board_addcitythread', { 'citySlug': city.getMainSlugString() }) }}" class="btn btn-success margin-top-medium pull-right">
                    <i class="fa fa-commenting"></i>
                    neues Thema beginnen
                </a>

                <h2>
                    Allgemeines über die {{ city.title }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Titel
                            </th>
                            <th>
                                Autor
                            </th>
                            <th>
                                Antworten
                            </th>
                            <th>
                                Ansichten
                            </th>
                            <th>
                                letzter Beitrag
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for thread in threads %}
                        <tr>
                            <td>
                                <a href="{{ path(thread) }}">
                                    {{ thread.title }}
                                </a>
                            </td>
                            <td>
                                <img class="pull-left" style="margin-right: 5px;" src="{{ gravatarUrl(thread.firstPost.user, 36) }}" alt="..." />
                                von <strong>{{ thread.firstPost.user.username }}</strong>
                            </td>
                            <td>
                                {{ thread.postNumber }}
                            </td>
                            <td>
                                {{ thread.viewNumber }}
                            </td>
                            <td>
                                {% if thread.lastPost %}
                                <img class="pull-left" style="margin-right: 5px;" src="{{ gravatarUrl(thread.lastPost.user, 36) }}" alt="..." />
                                von <strong>{{ thread.lastPost.user.username }}</strong><br />
                                {{ thread.lastPost.dateTime.format('d.m.Y H:i') }}&nbsp;Uhr
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}