{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}{{ content.getTitle() }}{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_desktop_index') }}">criticalmass.in</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
            <li class="active">{{ content.getTitle() }}</li>
        </ol>

        {{ parsedText|raw }}

        <div class="well well-sm">Diese Seite wurde am 1. Januar 2015 um 19:45 Uhr zuletzt geändert. <a class="btn btn-xs btn-success" href="{{ path('caldera_criticalmass_content_edit', { 'slug': content.getSlug() }) }}"><i class="halflings pencil"></i> Diese Seite jetzt editieren</a></div>
    </div>
{% endblock %}