{% if app.user %}
    <div class="modal fade" id="disable-modal" tabindex="-1" aria-labelledby="disable-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(disableForm) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="disable-modal-label">
                        Tour deaktivieren
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p>
                        Grund für die Deaktivierung:
                    </p>

                    <div class="form-check">
                        {{ form_widget(disableForm.disabledReason[0], { 'attr': { 'class': 'form-check-input' } }) }}
                        {{ form_label(disableForm.disabledReason[0], null, { 'label_attr': { 'class': 'form-check-label' } }) }}
                    </div>

                    <div class="form-check">
                        {{ form_widget(disableForm.disabledReason[1], { 'attr': { 'class': 'form-check-input' } }) }}
                        {{ form_label(disableForm.disabledReason[1], null, { 'label_attr': { 'class': 'form-check-label' } }) }}
                    </div>

                    <div class="form-check">
                        {{ form_widget(disableForm.disabledReason[2], { 'attr': { 'class': 'form-check-input' } }) }}
                        {{ form_label(disableForm.disabledReason[2], null, { 'label_attr': { 'class': 'form-check-label' } }) }}
                    </div>

                    <div class="form-check">
                        {{ form_widget(disableForm.disabledReason[3], { 'attr': { 'class': 'form-check-input' } }) }}
                        {{ form_label(disableForm.disabledReason[3], null, { 'label_attr': { 'class': 'form-check-label' } }) }}
                    </div>

                    <div class="form-check">
                        {{ form_widget(disableForm.disabledReason[4], { 'attr': { 'class': 'form-check-input' } }) }}
                        {{ form_label(disableForm.disabledReason[4], null, { 'label_attr': { 'class': 'form-check-label' } }) }}
                    </div>

                    <div class="form-check">
                        {{ form_widget(disableForm.disabledReason[5], { 'attr': { 'class': 'form-check-input' } }) }}
                        {{ form_label(disableForm.disabledReason[5], null, { 'label_attr': { 'class': 'form-check-label' } }) }}
                    </div>
                </div>

                <div class="modal-body">
                    <p>
                        Kommentar zur Deaktivierung (optional):
                    </p>

                    {{ form_widget(disableForm.disabledReasonMessage, { 'attr': { 'class': 'form-control', 'rows': 3 }}) }}
                </div>

                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Abbrechen
                        </button>
                        <button type="submit" class="btn btn-danger">
                            Deaktivieren
                        </button>
                    </div>
                </div>
                {{ form_end(disableForm) }}
            </div>
        </div>
    </div>
{% endif %}
