{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

<div class="btn-group pull-right mt-2">
    {% if app.user %}
        {% if participation == null or (participation.goingMaybe and pastRide) %}
            {% if pastRide %}
                {% set caption = '<i class="far fa-bicycle"></i> Hast du teilgenommen?' %}
            {% else %}
                {% set caption = '<i class="fa fa-bicycle"></i> Bist du dabei?' %}
            {% endif %}

            {{ bootstrap.dropdown(caption, [
                { href: objectPath(ride, 'caldera_criticalmass_participation_ride', { status: 'yes' }), attr: { class: 'bg-success' }, caption: '<i class="far fa-check"></i> Ja' },
                { href: objectPath(ride, 'caldera_criticalmass_participation_ride', { status: 'no' }), attr: { class: 'bg-danger' }, caption: '<i class="far fa-times"></i> Nein' },
                { href: objectPath(ride, 'caldera_criticalmass_participation_ride', { status: 'maybe' }), attr: { class: 'bg-warning' }, caption: '<i class="far fa-circle-o"></i> Vielleicht' },
            ], 'btn-primary', false) }}
        {% else %}
            {% if participation.goingYes %}
                {% if pastRide %}
                    {% set caption = '<i class="fa fa-check"></i> Teilgenommen' %}
                    {% set no_caption = '<i class="fa fa-times"></i> Nicht teilgenommen' %}
                {% else %}
                    {% set caption = '<i class="fa fa-check"></i> Du nimmst teil' %}
                    {% set maybe_caption = '<i class="fa fa-circle-o"></i> Vielleicht' %}
                    {% set no_caption = '<i class="fa fa-times"></i> Absagen' %}
                {% endif %}

                {#{ href: objectPath(ride, 'caldera_criticalmass_participation_ride', { status: 'maybe' }), caption: '<i class="fa fa-circle-o"></i> Vielleicht' },#}
                {#{ href: objectPath(ride, 'caldera_criticalmass_participation_ride', { status: 'yes' }), caption: caption },#}
                {{ bootstrap.dropdown(caption, [
                    { href: objectPath(ride, 'caldera_criticalmass_participation_ride', { status: 'no' }), attr: { class: 'bg-danger' }, caption: no_caption },
                ], 'btn-primary', false) }}
            {% endif %}

            {% if participation.goingMaybe %}
                {% set caption = '<i class="far fa-circle-o"></i> Du nimmst vielleicht teil' %}
                {% set yes_caption = '<i class="far fa-check"></i> Zusagen' %}
                {% set no_caption = '<i class="fa fa-times"></i> Absagen' %}

                {{ bootstrap.dropdown(caption, [
                    { href: objectPath(ride, 'caldera_criticalmass_participation_ride', { status: 'yes' }), attr: { class: 'bg-success' }, caption: yes_caption },
                    { href: objectPath(ride, 'caldera_criticalmass_participation_ride', { status: 'no' }), attr: { class: 'bg-danger' }, caption: no_caption },
                ], 'btn-warning', false) }}
            {% endif %}

            {% if participation.goingNo %}
                {% if pastRide %}
                    {% set caption = '<i class="fa fa-times"></i> Du hast nicht teilgenommen' %}
                    {% set yes_caption = '<i class="fa fa-check"></i> Du hast teilgenommen' %}
                    {% set maybe_caption = '<i class="fa fa-circle-o"></i> Vielleicht' %}
                {% else %}
                    {% set caption = '<i class="fa fa-times"></i> Du nimmst nicht teil' %}
                    {% set yes_caption = '<i class="fa fa-check"></i> Teilnehmen' %}
                    {% set maybe_caption = '<i class="fa fa-circle-o"></i> Vielleicht' %}
                {% endif %}

                {{ bootstrap.dropdown(caption, [
                    { href: objectPath(ride, 'caldera_criticalmass_participation_ride', { status: 'yes' }), attr: { class: 'bg-success' }, caption: yes_caption },
                    { href: objectPath(ride, 'caldera_criticalmass_participation_ride', { status: 'maybe' }), attr: { class: 'bg-warning' }, caption: maybe_caption },
                ], 'btn-danger') }}
            {% endif %}
        {% endif %}
    {% else %}
        <span class="btn btn-outline-secondary modal-hint" data-modal-hint-title="{{ 'hint_modal.ride.participation_button.title'|trans }}" data-modal-hint-text="{{ 'hint_modal.ride.participation_button.text'|trans({'%city%': ride.city.city, '%dateTime%': ride.dateTime|date('d.m.Y')}) }}" data-hint-modal-size="md">
            <i class="far fa-bicycle"></i>
            {% if pastRide %}
                Hast du teilgenommen?
            {% else %}
                Bist du dabei?
            {% endif %}
            <span class="caret"></span>
        </span>
    {% endif %}
</div>