<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Details</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <dl>
                    <dt>Datum</dt>
                    <dd itemprop="startDate" content="{{ ride.dateTime|date('Y-m-dTH:i') }}">{{ ride.dateTime|date('d.m.Y', ride.city.timezone) }}</dd>
                    <meta itemprop="endDate" content="{{ date_time_add(ride.dateTime, 'PT2H')|date('Y-m-dTH:i') }}" />
                    <dt>Uhrzeit</dt>
                    {% if ride.dateTime %}
                        <dd>{{ ride.dateTime|date('H:i', ride.city.timezone) }} Uhr</dd>
                    {% else %}
                        <dd>die Uhrzeit ist noch nicht bekannt</dd>
                    {% endif %}
                    <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                        <dt>Treffpunkt</dt>
                        {% if ride.location and ride.latitude and ride.longitude %}
                            {% if location %}
                                <dd itemprop="name">
                                    <a href="{{ objectPath(ride, 'caldera_criticalmass_location_ride') }}">
                                        {{ ride.location }}
                                    </a>
                                </dd>
                            {% else %}
                                <dd itemprop="name">{{ ride.location }}</dd>
                            {% endif %}
                            <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                <meta itemprop="latitude" content="{{ ride.latitude }}" />
                                <meta itemprop="longitude" content="{{ ride.longitude }}" />
                            </div>
                            {% set location = nominatim_location(ride) %}
                            {% if location %}
                                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    <meta itemprop="streetAddress" content="{% if location.streetName %}{{ location.streetName }}{% elseif location.subLocality %}{{ location.subLocality }}{% endif %}" />
                                    <meta itemprop="addressLocality" content="{{ location.locality }}" />
                                    <meta itemprop="postalCode" content="{{ location.postalCode }}" />
                                </div>
                            {% endif %}
                        {% else %}
                            <dd>
                                {% if app.user %}
                                    <a href="{{ objectPath(ride, 'caldera_criticalmass_ride_edit') }}">
                                        noch nicht bekannt
                                    </a>
                                {% else %}
                                    <a href="#" class="modal-hint" data-modal-hint-title="{{ 'hint_modal.ride.location_edit_link.title'|trans }}" data-modal-hint-text="{{ 'hint_modal.ride.location_edit_link.text'|trans({'%city%': ride.city.city, '%dateTime%': ride.dateTime|date('d.m.Y')}) }}" data-hint-modal-size="md">
                                        noch nicht bekannt
                                    </a>
                                {% endif %}
                            </dd>
                        {% endif %}
                    </div>
                    {% if weatherForecast %}
                        <dt>Wetter</dt>
                        <dd>{{ weatherForecast }}</dd>
                    {% endif %}
                </dl>

                {% if ride.dateTime %}
                    <p class="text-center">
                        <a href="{{ objectPath(ride, 'caldera_criticalmass_ride_ical') }}" class="btn btn-success">
                            <i class="fa fa-calendar"></i>
                            Kalendereintrag merken
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
