{% set hasEstimations = ride.estimatedParticipants or ride.estimatedDistance or ride.estimatedDuration %}

{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% if dateTime > ride.dateTime %}
    {% set pastRide = true %}
{% else %}
    {% set pastRide = false %}
{% endif %}

{% if pastRide %}
    <div class="card">
        <div class="card-header">
            Statistik
        </div>

        <div class="card-body">
            {% if hasEstimations %}
                <div class="row">
                    <div class="col-12">
                        <dl>
                            {% if ride.estimatedParticipants and ride.estimatedParticipants > 0 %}
                                <dt>Teilnehmer</dt>
                                <dd>{{ ride.estimatedParticipants|number_format(0) }}</dd>
                            {% endif %}

                            {% if ride.estimatedDistance and ride.estimatedDistance > 0 %}
                                <dt>Distanz</dt>
                                <dd>{{ ride.estimatedDistance|number_format(2) }}&nbsp;Kilometer</dd>
                            {% endif %}

                            {% if ride.getDurationInterval() and ride.getDurationInterval().format('%h:%i') != '0:0' %}
                                <dt>Dauer</dt>
                                <dd>{{ human_duration(ride.getEstimatedDurationInSeconds()) }}</dd>
                            {% endif %}

                            {% if ride.getAverageVelocity and ride.getAverageVelocity > 0 %}
                                <dt>Durchschnittsgeschwindigkeit</dt>
                                <dd>{{ ride.getAverageVelocity()|number_format(2) }} Kilometer&nbsp;pro&nbsp;Stunde</dd>
                            {% endif %}
                        </dl>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-12 text-center">
                {% if app.user %}
                    <button class="btn btn-primary" data-toggle="modal" data-target="#estimate-modal">
                        <i class="far fa-users"></i>
                        Teilnehmerzahl sch채tzen
                    </button>
                {% else %}
                    <span class="btn btn-primary modal-hint" data-modal-hint-title="{{ 'hint_modal.ride.estimate_add_button.title'|trans }}" data-modal-hint-text="{{ 'hint_modal.ride.estimate_add_button.text'|trans({'%city%': ride.city.city, '%dateTime%': ride.dateTime|date('d.m.Y')}) }}" data-hint-modal-size="md">
                        <i class="far fa-users"></i>
                        Teilnehmerzahl sch채tzen
                    </span>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if app.user %}
        {% set modal_content %}
        <div class="row">
            <div class="col-12 form-group">
                <label class="control-label" for="estimatedParticipants">Gesch채tzte Teilnehmerzahl:</label>
                {{ form_widget(estimateForm.estimatedParticipants, { 'attr' : { 'class': 'form-control' } }) }}
            </div>
        </div>
        {% endset %}

        {% set modal_pre_content %}
        {{ form_start(estimateForm) }}
        {% endset %}

        {% set modal_post_content %}
        {{ form_end(estimateForm) }}
        {% endset %}

        {% set button_list = [
            { caption: 'Abbrechen', href: null, attr: { 'data-dismiss': 'modal' }, class: 'btn-secondary' },
            { caption: 'Speichern', href: null, attr: { 'type': 'submit' }, class: 'btn-primary' }
        ] %}

        {{ bootstrap.modal('estimate-modal', 'Teilnehmerzahl sch채tzen', modal_content, { pre_content: modal_pre_content, post_content: modal_post_content }, button_list) }}
    {% endif %}
{% endif %}
