<div class="row mt-1">
    <div class="col-xs-12">
        <div class="media">
            <span class="media-left">
                <img class="media-object img-circle" src="{{ gravatarUrl(post.user) }}" alt="Profilfoto von {{ post.user.username }}" />
            </span>
            <div class="media-body">
                <small class="pull-right">
                    {{ post.dateTime|date('d.m.Y H:i', 'Europe/Berlin') }}&nbsp;Uhr
                </small>

                <h5 class="media-heading">
                    {{ post.user.username }} schreibt:
                </h5>

                <p>
                    {{ post.message|parse }}
                </p>
            </div>
        </div>
    </div>
</div>