{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{{ location.title }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_desktop_city_list') }}">
            Städteliste
        </a>
    </li>

    <li>
        <a href="{{ path(location.city) }}">
            {{ location.city.city }}
        </a>
    </li>

    <li>
        Treffpunkte
    </li>

    <li class="active">
        {{ location.title }}
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>
                    {{ location.title }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
            {{ location.description|markdown }}
            </div>

            <div class="col-md-4">
                {% if rides %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Touren von diesem Treffpunkt
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            {% for ride in rides %}
                                <li>
                                    <a href="{{ path(ride) }}">
                                        {{ ride.dateTime|date('d.m.Y', 'Europe/Berlin') }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Andere Treffpunkte dieser Stadt
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            {% for location in locations %}
                                <li>
                                    <a href="{{ path(location) }}">
                                        {{ location.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}