<!DOCTYPE html>
<html lang="en">
<head>
    {% include('CalderaCriticalmassSiteBundle:Template:Includes/_meta.html.twig') %}

    <title>{% block title %}{% endblock %} &mdash; criticalmass.photos</title>

    <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/criticalmass.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmassphoto/css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/bootstrap4/bootstrap.min.css') }}"/>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script src="{{ asset('bundles/calderacriticalmasssite/js/external/requirejs/require.js') }}"></script>
    <script src="{{ asset('bundles/calderacriticalmasssite/js/CriticalMass.js') }}"></script>

    {% block additionalHeaderElements %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="{{ path('caldera_criticalmassphoto_photo_index') }}">
        criticalmass.photos
    </a>

    <ul class="nav navbar-nav">
        {% block additionalNavbarItems %}{% endblock %}
    </ul>

</nav>

{% block content %}{% endblock %}

{% include('CalderaCriticalmassPhotoBundle:Includes:_footer.html.twig') %}

<script src="{{ asset('bundles/calderacriticalmasssite/js/external/jquery/jquery-3.1.0.min.js') }}"></script>
<script src="{{ asset('bundles/calderacriticalmasssite/js/external/bootstrap4/bootstrap.min.js') }}"></script>

{% include('CalderaCriticalmassSiteBundle:Template:Includes/_piwik.html.twig') %}
</body>
</html>

