<!DOCTYPE html>
<html lang="en">
    <head>
        {% include('CalderaCriticalmassSiteBundle:Template:Includes/_meta.html.twig') %}

        <title>Fotos von Critical-Mass-Touren</title>

        <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/criticalmass.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmassphoto/css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/bootstrap4/bootstrap.min.css') }}" />

        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />#}
    </head>

    <body>
        <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
            <a class="navbar-brand" href="{{ path('caldera_criticalmassphoto_photo_index') }}">
                criticalmass.photos
            </a>
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Hilfe
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">
                            Was ist die Critical Mass?
                        </a>
                        <a class="dropdown-item" href="#">
                            Über diese Seite
                        </a>
                        <a class="dropdown-item" href="#">
                            Urheberrecht
                        </a>
                    </div>
                </li>
                {% block additionalNavbarItems %}{% endblock %}
            </ul>

        </nav>

        {% block content %}{% endblock %}

        {% include('CalderaCriticalmassPhotoBundle:Includes:_footer.html.twig') %}

        <script src="{{ asset('bundles/calderacriticalmasssite/js/external/jquery/jquery-3.1.0.min.js') }}"></script>
        <script src="{{ asset('bundles/calderacriticalmasssite/js/external/bootstrap4/bootstrap.min.js') }}"></script>

        {% include('CalderaCriticalmassSiteBundle:Template:Includes/_piwik.html.twig') %}
    </body>
</html>

