{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Kennwort ändern{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">criticalmass.in</a></li>
            <li><a href="{{ path('sonata_user_profile_show') }}">Dein Profil</a></li>
            <li class="active">Kennwort ändern</li>
        </ol>

        <h1>Nicht vergessen.</h1>
        <p>Ändere hier dein Kennwort. Ein sicheres Kennwort besteht, wie dir sicher schon auf Dutzenden Webseiten erklärt wurde, aus Groß- und Kleinbuchstaben mit ein paar eingestreuten Ziffern und Sonderzeichen.</p>
        <p>Falls du dein Kennwort vergessen haben solltest, kannst du dir <a href="{{ path('sonata_user_resetting_request') }}">ein neues zusenden lassen</a>.</p>

        <form action="{{ path('sonata_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">

            <div class="form-group">
                <label for="fos_user_change_password_form[current_password]" class="col-sm-4 control-label">Dein aktuelles Kennwort:</label>
                <div class="col-sm-8">
                    {{ form_widget(form.current_password) }}
                </div>
            </div>

            <div class="form-group">
                <label for="fos_user_change_password_form[new][first]" class="col-sm-4 control-label">Dein neues Kennwort:</label>
                <div class="col-sm-8">
                    {{ form_widget(form.new.first) }}
                </div>
            </div>

            <div class="form-group">
                <label for="fos_user_change_password_form[new][second]" class="col-sm-4 control-label">Gleich noch einmal:</label>
                <div class="col-sm-8">
                    {{ form_widget(form.new.second) }}
                </div>
            </div>

            <button type="submit" class="btn btn-success pull-right"><i class="icon-lock icon-white glyphicon glyphicon-lock"></i>&nbsp;Kennwort ändern</button>
        </form>
    </div>
{% endblock %}