{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% if ride %}
{% set title = 'Tour editieren' %}
{% set mode = 'edit' %}
{% else %}
{% set title = 'Tour hinzufügen' %}
{% set mode = 'create' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_desktop_city_list') }}">
            Städteliste
        </a>
    </li>

    <li>
        <a href="{{ path(city) }}">
            {{ city.city }}
        </a>
    </li>

    {% if ride %}
    <li>
        <a href="{{ path(ride) }}">
            {{ ride.getFancyTitle() }}
        </a>
    </li>

    <li class="active">
        Tour editieren
    </li>
    {% else %}
    <li class="active">
        Tour hinzufügen
    </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        {% if city.getIsStandardable() and mode == 'create' %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-warning" role="alert">
                        <strong>Vorsicht!</strong>
                        Die Touren für diese Stadt werden jeden Monat anhand vorgegebener Standard-Werte automatisch generiert. Bitte schau erst einmal nach, ob die Tour, die du gerade anlegen möchtest, womöglich bereits existiert.
                    </div>
                </div>
            </div>

        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <h1>{{ title }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>Hier kannst du die Details einer Tour editieren.</p>
            </div>
        </div>


        {% if hasErrors is not null %}
        <div class="row">
            <div class="col-md-12">
        {% if hasErrors == true %}
                <div class="alert alert-danger" role="alert">
                    Deine Änderungen konnten nicht gespeichert werden, weil du ungültige Werte eingegeben hast :(
                </div>
        {% elseif hasErrors == false %}
                <div class="alert alert-success" role="alert">
                    Deine Änderungen wurden gespeichert. <a href="{{ path('caldera_criticalmass_ride_show', { citySlug: city.getMainSlugString(), rideDate: ride.getFormattedDate() } ) }}">
                        Zurück zur Tour?
                    </a>
                </div>
        {% endif %}
            </div>
        </div>
        {% endif %}

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 250px;">

                </div>
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="title">
                                Titel:
                            </label>
                            {{ form_widget(form.title, { 'attr' : { 'class': 'form-control' } }) }}
                            <p class="help-block">
                                Hier kann optional der Titel der Tour angegeben werden.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="description">
                                Beschreibung:
                            </label>
                            {{ form_widget(form.description, { 'attr' : { 'class': 'form-control' } }) }}
                            <p class="help-block">
                                Hier kann optional eine Beschreibung der Tour angegeben werden. Schreibe hier nur Dinge, die wirklich direkt diese Tour betreffen — für alles andere ist in der Beschreibung der Stadt genügend Platz.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-warning" role="alert" id="doubleMonthRide"{% if mode == 'edit' or hasRideAtMonthDay or not hasRideInMonth %} style="display: none;"{% endif %}>
                            <strong>
                                Vorsicht!
                            </strong>
                            Für den ausgewählten Monat wurde bereits eine Tour angelegt. Bist du sicher, dass zwei Touren stattfinden?
                        </div>

                        <div class="alert alert-danger" role="alert" id="doubleDayRide"{% if not hasRideAtMonthDay %} style="display: none;"{% endif %}>
                            <strong>
                                Achtung!
                            </strong>
                            An diesem Tag findet bereits eine Tour statt. Aus technischen Gründen können momentan leider keine zwei Touren an einem Tag verwaltet werden.
                        </div>

                        <div class="form-group{% if mode == 'create' and hasRideAtMonthDay %} has-error has-feedback{% elseif mode == 'create' and hasRideInMonth %} has-warning has-feedback{% endif %}">
                            <label class="control-label" for="date">
                                Datum:
                            </label>
                            {{ form_widget(form.date, { 'attr' : { 'class': 'form-control' } }) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label" for="time">
                            Uhrzeit:
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                {{ form_widget(form.hasTime) }}
                            </span>
                            {{ form_widget(form.time, { 'attr' : { 'class': 'form-control' } }) }}
                        </div>
                        <p class="help-block">
                            Mit der Checkbox kann die Anzeige der Uhrzeit deaktiviert werden, falls die Uhrzeit noch nicht bekannt sein sollte.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label" for="location">
                            Treffpunkt:
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                {{ form_widget(form.hasLocation) }}
                            </span>
                            {% if ride and ride.hasLocation() %}
                                {{ form_widget(form.location, { 'attr' : { 'class': 'form-control' } }) }}
                            {% else %}
                                {{ form_widget(form.location, { 'attr' : { 'class': 'form-control', 'disabled': 'disabled' } }) }}
                            {% endif %}
                        </div>
                        <p class="help-block">
                            Gib hier den Treffpunkt der Tour ein. Beschränke dich bitte auf eine aussagekräftige Bezeichnung, die auch für ortsunkundige Radfahrer verständlich ist, aber ohne Wegbeschreibungen auskommt. Mit der Checkbox kann die Anzeige des Treffpunktes deaktiviert werden, falls der noch nicht bekannt sein sollte.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.facebook) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="facebook">
                                Link zu einer Veranstaltungsseite auf facebook:
                            </label>
                            {{ form_widget(form.facebook, { 'attr' : { 'class': 'form-control' } }) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.twitter) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="twitter">
                                Link zu einem Tweet:
                            </label>
                            {{ form_widget(form.twitter, { 'attr' : { 'class': 'form-control' } }) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.url) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="url">
                                Link zu einer Webseite:
                            </label>
                            {{ form_widget(form.url, { 'attr' : { 'class': 'form-control' } }) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="btn-group pull-right" role="group" aria-label="...">
                                {% if ride %}
                                <a href="{{ path(ride) }}" class="btn btn-default">
                                    Abbrechen
                                </a>
                                {% else %}
                                <a href="{{ path(city) }}" class="btn btn-default">
                                    Abbrechen
                                </a>
                                {% endif %}
                                <button type="submit" class="btn btn-success" id="rideSubmitButton"{% if hasRideAtMonthDay %} disabled="disabled"{% endif %}>
                                    Speichern
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {{ form_widget(form.latitude) }}
            {{ form_widget(form.longitude) }}
            {{ form_widget(form._token) }}

        </form>
    </div>

    <script>
        var options = {
            citySlug: '{{ city.getMainSlugString() }}'
        };

        CriticalMass.loadModule('EditRidePage', options, null, function(editRidePage) {
            var cityLatLng = L.latLng({{ city.getLatitude() }}, {{ city.getLongitude() }});

            editRidePage.setCityLatLng(cityLatLng);

            {% for ride in city.getRides() %}
            editRidePage.addRideDate(new Date({{ ride.getDateTime().format('Y') }}, {{ (ride.getDateTime().format('m') - 1) }}, {{ ride.getDateTime().format('d, H, i, s') }}));
            {% endfor %}

            {% if ride %}
            editRidePage.setRideDateTime(new Date({{ ride.getDateTime().format('Y') }}, {{ (ride.getDateTime().format('m') - 1) }}, {{ ride.getDateTime().format('d, H, i, s') }}));
            {% else %}
            editRidePage.setRideDateTime(null);
            {% endif %}

            editRidePage.init();
        });
    </script>
{% endblock %}