{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Tourdaten importieren{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
    <li><a href="{{ path('caldera_criticalmass_desktop_city_show', { 'citySlug': city.getMainSlugString() }) }}">{{ city.getTitle() }}</a></li>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Tourdaten importieren
                </h1>

                <p class="lead">
                    Du kannst die Daten einer Tour automatisch von facebook importieren lassen. Vorraussetzung ist, dass es auf der Seite <a href="{{ city.facebook }}">{{ city.title }}</a> auf facebook eine entsprechende Veranstaltung gibt.
                </p>
            </div>
        </div>

        {% if facebookRide %}
        <div class="row">
            <div class="col-md-4">
                <h2>
                    bisherige Daten
                </h2>
            </div>

            <div class="col-md-4">
                <h2>
                    zu speichernde Daten
                </h2>
            </div>

            <div class="col-md-4">
                <h2>
                    importierte Daten
                </h2>
            </div>
        </div>

        <div class="row margin-bottom-medium">
            <div class="col-md-4">
                <div
                    id="left-map"
                    style="height: 250px;"
                    data-map-center-latitude="{{ ride.latitude }}"
                    data-map-center-longitude="{{ ride.longitude }}"
                    data-map-zoomlevel="13"
                >

                </div>
            </div>

            <div class="col-md-4">
                <div id="center-map" style="height: 250px;">

                </div>
            </div>

            <div class="col-md-4">
                <div
                    id="right-map"
                    style="height: 250px;"
                    data-map-center-latitude="{{ facebookRide.latitude }}"
                    data-map-center-longitude="{{ facebookRide.longitude }}"
                    data-map-zoomlevel="13"
                >
                </div>
            </div>
        </div>

        {{ form_start(form) }}

            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="copy-button btn btn-xs btn-default pull-right">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </button>

                    <div class="form-group">
                        <label>
                            Titel:
                        </label>
                        <input type="text" disabled="disabled" class="form-control value" value="{{ ride.title }}" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="title">
                            Titel:
                        </label>
                        {{ form_widget(form.title, { 'attr' : { 'class': 'form-control string-value' } }) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <button type="button" class="copy-button btn btn-xs btn-default pull-right">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </button>

                    <div class="form-group">
                        <label>
                            Titel:
                        </label>
                        <input type="text" disabled="disabled" class="form-control value" value="{{ facebookRide.title }}" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="copy-button btn btn-xs btn-default pull-right">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </button>

                    <div class="form-group">
                        <label class="control-label">
                            Beschreibung:
                        </label>
                        <textarea disabled="disabled" class="form-control value" rows="10">
                            {{ ride.description }}
                        </textarea>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="description">
                            Beschreibung:
                        </label>
                        {{ form_widget(form.description, { 'attr' : { 'class': 'form-control string-value', 'rows': 10 } }) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <button type="button" class="copy-button btn btn-xs btn-default pull-right">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </button>

                    <div class="form-group">
                        <label class="control-label">
                            Beschreibung:
                        </label>
                        <textarea disabled="disabled" class="form-control value" rows="10">
                            {{ facebookRide.description }}
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="copy-button btn btn-xs btn-default pull-right">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </button>

                    <div class="form-group">
                        <label class="control-label">
                            Datum:
                        </label>
                        <input type="text" disabled="disabled" class="form-control value" value="{{ ride.dateTime|date('d.m.Y', 'Europe/Berlin') }}" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="date">
                            Datum:
                        </label>
                        {{ form_widget(form.date, { 'attr' : { 'class': 'form-control date-value' } }) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <button type="button" class="copy-button btn btn-xs btn-default pull-right">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </button>

                    <div class="form-group">
                        <label class="control-label">
                            Datum:
                        </label>
                        <input type="text" disabled="disabled" class="form-control value" value="{{ facebookRide.dateTime|date('d.m.Y', 'Europe/Berlin') }}" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="copy-button btn btn-xs btn-default pull-right">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </button>

                    <label class="control-label">
                        Uhrzeit:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            {% if ride.hasTime %}
                            <input type="checkbox" disabled="disabled" class="form-control" checked="checked" />
                            {% else %}
                            <input type="checkbox" disabled="disabled" class="form-control" />
                            {% endif %}
                        </span>
                        <input type="text" disabled="disabled" class="form-control value" value="{{ ride.dateTime|date('H:i', 'Europe/Berlin') }}" />
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="control-label" for="time">
                        Uhrzeit:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            {{ form_widget(form.hasTime) }}
                        </span>
                        {{ form_widget(form.time, { 'attr' : { 'class': 'form-control time-value' } }) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <button type="button" class="copy-button btn btn-xs btn-default pull-right">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </button>

                    <label class="control-label">
                        Uhrzeit:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            {% if facebookRide.hasTime %}
                            <input type="checkbox" disabled="disabled" class="form-control" checked="checked" />
                            {% else %}
                            <input type="checkbox" disabled="disabled" class="form-control" />
                            {% endif %}
                        </span>
                        <input type="text" disabled="disabled" class="form-control value" value="{{ facebookRide.dateTime|date('H:i', 'Europe/Berlin') }}" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="copy-button btn btn-xs btn-default pull-right">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </button>

                    <label class="control-label" for="location">
                        Treffpunkt:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            {% if ride.hasLocation %}
                            <input type="checkbox" disabled="disabled" class="form-control" checked="checked" />
                            {% else %}
                            <input type="checkbox" disabled="disabled" class="form-control" />
                            {% endif %}
                        </span>
                        <input type="text" disabled="disabled" class="form-control value" value="{{ ride.location }}" />
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="control-label" for="location">
                        Treffpunkt:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            {{ form_widget(form.hasLocation) }}
                        </span>
                        {{ form_widget(form.location, { 'attr' : { 'class': 'form-control string-value' } }) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <button type="button" class="copy-button btn btn-xs btn-default pull-right">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </button>

                    <label class="control-label" for="location">
                        Treffpunkt:
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            {% if facebookRide.hasLocation %}
                            <input type="checkbox" disabled="disabled" class="form-control" checked="checked" />
                            {% else %}
                            <input type="checkbox" disabled="disabled" class="form-control" />
                            {% endif %}
                        </span>
                        <input type="text" disabled="disabled" class="form-control value" value="{{ facebookRide.location }}" />
                    </div>
                </div>
            </div>

            {{ form_widget(form.latitude) }}
            {{ form_widget(form.longitude) }}
            {{ form_widget(form._token) }}

            <div class="row margin-top-medium">
                <div class="btn-group pull-right">
                    <a class="btn btn-default" href="{{ path(ride) }}">
                        Abbrechen
                    </a>

                    <button type="button" type="submit" class="btn btn-success">
                        Speichern
                    </button>
                </div>
            </div>
        </form>
        {% else %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <strong>Hoppla!</strong>
                    Leider konnte zu dieser Tour keine entsprechende Veranstaltung auf facebook ermittelt werden. Bitte überprüfe die <a href="{{ path('caldera_criticalmass_desktop_city_edit', { citySlug: city.slug }) }}">Einstellungen von {{ city.city }}</a>, ob dort die Adresse einer Seite auf facebook angegeben wurde und ob auf der Seite für {{ ride.dateTime|date('F Y') }} überhaupt schon eine Tour erstellt worden ist.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default pull-right" href="{{ path(ride) }}">
                    Zurück
                </a>
            </div>
        </div>
        {% endif %}
    </div>

    <script type="text/javascript">
        CriticalMass.loadModule('FacebookImportRidePage');
    </script>
{% endblock %}