{# Footer - Mobile-optimiert mit Accordion #}
<footer class="cm-footer">
    <div class="container">
        {# Mobile: Accordion-Struktur für platzsparende Darstellung #}
        <div class="cm-footer__grid">
            {# Spalte 1: Über uns #}
            <div class="cm-footer__section">
                <h5 class="cm-footer__title">
                    <a href="{{ path('caldera_criticalmass_frontpage') }}" title="zur Startseite von criticalmass.in">
                        Seit {{ daysSince('2011-06-24 19:00:00') }} Tagen im Sattel
                    </a>
                </h5>

                <ul class="cm-footer__list">
                    <li>
                        <a href="{{ path('caldera_criticalmass_static_display', { slug: 'impress' }) }}">
                            Impressum
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('caldera_criticalmass_static_display', { slug: 'privacy' }) }}">
                            Datenschutz
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('caldera_criticalmass_static_display', { slug: 'gdpr' }) }}">
                            Deine privaten Daten
                        </a>
                    </li>
                    <li class="hide-mobile">
                        <a href="https://criticalmass.blog/criticalmass-one/ueber-criticalmass-in/">
                            {% trans %}criticalmass.navigation.criticalmass.about{% endtrans %}
                        </a>
                    </li>
                    <li class="hide-mobile">
                        <a href="https://critical-mass.blog/critical-mass/haeufig-gestellte-fragen-zur-critical-mass/">
                            {% trans %}criticalmass.navigation.criticalmass.faq{% endtrans %}
                        </a>
                    </li>
                    <li class="hide-mobile">
                        <a href="{{ path('app.swagger_ui') }}">
                            {% trans %}criticalmass.navigation.criticalmass.apidoc{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/criticalmass-one/criticalmass-in">
                            <i class="fab fa-github me-1"></i>GitHub
                        </a>
                    </li>
                </ul>
            </div>

            {# Spalte 2: Blog - nur Desktop #}
            <div class="cm-footer__section hide-mobile">
                <h5 class="cm-footer__title">
                    <a href="https://criticalmass.blog/" title="zum Critical-Mass-Weblog">
                        Aus dem Blog
                    </a>
                </h5>

                {% set blog_article_list = blog_articles() %}

                <ul class="cm-footer__list">
                    {% for blog_article in blog_article_list %}
                        <li>
                            <a href="{{ blog_article.permalink }}" title="zum Blog-Beitrag">
                                {{ blog_article.title }}
                            </a>
                            <time class="cm-footer__date">{{ blog_article.dateTime|date('d.m.Y') }}</time>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {# Spalte 3: Aktionen - nur Desktop #}
            <div class="cm-footer__section hide-mobile">
                <h5 class="cm-footer__title">
                    Critical-Mass-Aktionen
                </h5>

                <ul class="cm-footer__list">
                    {{ render(controller('App\\Controller\\Template\\FooterController::promotionListAction')) }}
                </ul>
            </div>

            {# Spalte 4: Städte #}
            <div class="cm-footer__section">
                <h5 class="cm-footer__title">
                    <a href="{{ path('caldera_criticalmass_city_list') }}"
                       title="zur Liste der Städte mit einer Critical-Mass-Radtour">
                        Critical-Mass-Städte
                    </a>
                </h5>

                <ul class="cm-footer__list">
                    {{ render(controller('App\\Controller\\Template\\FooterController::cityListAction' )) }}
                    <li>
                        <a href="{{ path('caldera_criticalmass_city_list') }}" class="cm-footer__more">
                            Alle Städte anzeigen <i class="fas fa-arrow-right ms-1"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {# Credits - immer sichtbar, kompakter auf Mobile #}
        <div class="cm-footer__credits">
            <p>
                Kartendaten von <a href="https://www.openstreetmap.org/">OpenStreetMap</a> &middot;
                Wetter von <a href="https://openweathermap.org">OpenWeatherMap</a>
            </p>
        </div>

        {# Partner Links - nur Desktop #}
        <div class="cm-footer__partners hide-mobile">
            <a href="https://luft.jetzt/" title="Aktuelle Luftmesswerte">Luft<sup>jetzt</sup></a>
            <span class="cm-footer__dot">&middot;</span>
            <a href="https://radverkehrsforum.de/" title="Radverkehrsforum">Radverkehrsforum</a>
            <span class="cm-footer__dot">&middot;</span>
            <a href="https://fahrradsternfahrt.hamburg/" title="Fahrradsternfahrt Hamburg">Fahrradsternfahrt Hamburg</a>
        </div>
    </div>
</footer>

{# Warming Stripes - minimalistisch #}
<div class="cm-warming-stripes">
    <span class="hide-mobile">Keep it in the ground.</span>
</div>
