<footer id="footer" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>
                    <a href="{{ path('caldera_criticalmass_frontpage') }}" title="{{ 'footer.to_startpage'|trans }}">
                        {{ 'footer.days_in_saddle'|trans({'%days%': daysSince('2011-06-24 19:00:00')}) }}
                    </a>
                </h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('caldera_criticalmass_static_display', { slug: 'impress' }) }}"
                           id="footer-impress-link">
                            {{ 'footer.impress'|trans }}
                        </a>
                    </li>

                    <li>
                        <a href="{{ path('caldera_criticalmass_static_display', { slug: 'privacy' }) }}"
                           id="footer-privacy-link">
                            {{ 'footer.privacy'|trans }}
                        </a>
                    </li>

                    <li>
                        <a href="{{ path('caldera_criticalmass_static_display', { slug: 'gdpr' }) }}"
                           id="footer-gdpr-link">
                            {{ 'footer.private_data'|trans }}
                        </a>
                    </li>

                    <li>
                        <a href="https://criticalmass.blog/criticalmass-one/ueber-criticalmass-in/" id="footer-about-link">
                            {% trans %}criticalmass.navigation.criticalmass.about{% endtrans %}
                        </a>
                    </li>

                    <li>
                        <a href="https://criticalmass.blog/critical-mass/haeufig-gestellte-fragen-zur-critical-mass/" id="footer-faq-link">
                            {% trans %}criticalmass.navigation.criticalmass.faq{% endtrans %}
                        </a>
                    </li>

                    <li>
                        <a href="{{ path('app.swagger_ui') }}" id="footer-apidoc-link">
                            {% trans %}criticalmass.navigation.criticalmass.apidoc{% endtrans %}
                        </a>
                    </li>

                    <li>
                        <a href="https://status.caldera.cc/" id="footer-status-link">
                            {{ 'footer.status'|trans }}
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/criticalmass-one/criticalmass-in">
                            {{ 'footer.github_repository'|trans }}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5>
                    <a href="https://criticalmass.blog/" title="{{ 'footer.to_blog'|trans }}">
                        {{ 'footer.from_blog'|trans }}
                    </a>
                </h5>

                {% set blog_article_list = blog_articles() %}

                <ul class="list-unstyled">
                    {% for blog_article in blog_article_list %}
                        <li>
                            <a href="{{ blog_article.permalink }}" title="{{ 'footer.to_blog_post'|trans }}">
                                {{ blog_article.title }}
                            </a>

                            <time class="text-muted">{{ blog_article.dateTime|date('d.m.Y') }}</time>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-3">
                <h5>
                    {{ 'footer.cm_actions'|trans }}
                </h5>

                <ul class="list-unstyled">
                    {{ render(controller('App\\Controller\\Template\\FooterController::promotionListAction')) }}
                </ul>
            </div>

            <div class="col-md-3">
                <h5>
                    <a href="{{ path('caldera_criticalmass_city_list') }}"
                       title="{{ 'footer.to_city_list'|trans }}">
                        {{ 'footer.cm_cities'|trans }}
                    </a>
                </h5>

                <ul class="list-unstyled">
                    {{ render(controller('App\\Controller\\Template\\FooterController::cityListAction' )) }}

                    <li>
                        <a href="{{ path('caldera_criticalmass_city_list') }}" id="footer-citylist-link">
                            {{ 'footer.city_list'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list-unstyled">
                    <li>
                        {{ 'footer.osm_attribution'|trans|raw }}
                    </li>
                    <li>
                        {{ 'footer.weather_attribution'|trans|raw }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-muted text-center">
                <ul class="list-inline">
                    <li>
                        <a href="https://luft.jetzt/"
                           title="{{ 'footer.luft_title'|trans }}">
                            Luft<sup>jetzt</sup>
                        </a>
                    </li>

                    <li>
                        <a href="https://radverkehrsforum.de/"
                           title="{{ 'footer.radverkehrsforum_title'|trans }}">
                            Radverkehrsforum
                        </a>
                    </li>

                    <li>
                        <a href="https://fahrradsternfahrt.hamburg/"
                           title="{{ 'footer.sternfahrt_title'|trans }}">
                            Fahrradsternfahrt Hamburg
                        </a>
                    </li>

                    <li>
                        <a href="https://luenedrohne.de/"
                           title="{{ 'footer.luenedrohne_title'|trans }}">
                            Lünedrohne
                        </a>
                    </li>

                    <li>
                        <a href="https://luenedrohne.de/"
                           title="{{ 'footer.luenedrohne_title'|trans }}">
                            Lünedrohne
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div id="warming-stripes" class="text-center">
    Keep it in the ground.
</div>
