<footer id="footer" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>
                    <a href="{{ path('caldera_criticalmass_frontpage') }}" title="zur Startseite von criticalmass.in">
                        Seit {{ daysSince('2011-06-24 19:00:00') }} Tagen im Sattel
                    </a>
                </h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('caldera_criticalmass_static_display', { slug: 'impress' }) }}"
                           id="footer-impress-link">
                            Impressum
                        </a>
                    </li>

                    <li>
                        <a href="{{ path('caldera_criticalmass_static_display', { slug: 'privacy' }) }}"
                           id="footer-privacy-link">
                            Datenschutz
                        </a>
                    </li>

                    <li>
                        <a href="{{ path('caldera_criticalmass_static_display', { slug: 'gdpr' }) }}"
                           id="footer-gdpr-link">
                            Deine privaten Daten
                        </a>
                    </li>

                    <li>
                        <a href="https://criticalmass.blog/criticalmass-one/ueber-criticalmass-in/" id="footer-about-link">
                            {% trans %}criticalmass.navigation.criticalmass.about{% endtrans %}
                        </a>
                    </li>

                    <li>
                        <a href="https://criticalmass.blog/critical-mass/haeufig-gestellte-fragen-zur-critical-mass/" id="footer-faq-link">
                            {% trans %}criticalmass.navigation.criticalmass.faq{% endtrans %}
                        </a>
                    </li>

                    <li>
                        <a href="{{ path('app.swagger_ui') }}" id="footer-apidoc-link">
                            {% trans %}criticalmass.navigation.criticalmass.apidoc{% endtrans %}
                        </a>
                    </li>

                    <li>
                        <a href="https://sqi.be/status" id="footer-status-link">
                            Status
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/criticalmass-one/criticalmass-in">
                            GitHub-Repository
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5>
                    <a href="https://criticalmass.blog/" title="zum Critical-Mass-Weblog">
                        Aus dem Blog
                    </a>
                </h5>

                {% set blog_article_list = blog_articles() %}

                <ul class="list-unstyled">
                    {% for blog_article in blog_article_list %}
                        <li>
                            <a href="{{ blog_article.permalink }}" title="zum Blog-Beitrag">
                                {{ blog_article.title }}
                            </a>

                            <time class="text-muted">{{ blog_article.dateTime|date('d.m.Y') }}</time>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-3">
                <h5>
                    Critical-Mass-Aktionen
                </h5>

                <ul class="list-unstyled">
                    {{ render(controller('App\\Controller\\Template\\FooterController::promotionListAction')) }}
                </ul>
            </div>

            <div class="col-md-3">
                <h5>
                    <a href="{{ path('caldera_criticalmass_city_list') }}"
                       title="zur Liste der Städte mit einer Critical-Mass-Radtour">
                        Critical-Mass-Städte
                    </a>
                </h5>

                <ul class="list-unstyled">
                    {{ render(controller('App\\Controller\\Template\\FooterController::cityListAction' )) }}

                    <li>
                        <a href="{{ path('caldera_criticalmass_city_list') }}" id="footer-citylist-link">
                            Städteliste
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list-unstyled">
                    <li>
                        Kartendaten und Geocoding von <a href="http://sqi.be/gojuq">OpenStreetMap</a>,
                        <span class="text-nowrap">&copy; OpenStreetMap-Mitwirkende</span>,
                        <a href="http://sqi.be/dc9ux">lizensiert unter <span class="text-nowrap">CC BY-SA 2.0</span></a>
                    </li>
                    <li>
                        Wetterdaten von <a href="http://sqi.be/fedj6">OpenWeatherMap</a>,
                        <a href="http://sqi.be/hzo71">lizensiert unter <span class="text-nowrap">CC BY-SA 4.0</span></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-muted text-center">
                <ul class="list-inline">
                    <li>
                        <a href="https://luft.jetzt/"
                           title="Aktuelle Luftmesswerte aus deiner Umgebung: Feinstaub, Stickoxide und Ozon">
                            Luft<sup>jetzt</sup>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div id="warming-stripes" class="text-center">
    Keep it in the ground.
</div>
