{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}Übersicht zum Treffpunkt {{ location.title }} der {{ location.city.title }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Städteliste', path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(location.city.city, object_path(location.city)) }}
    {% if ride %}
        {{ breadcrumb.item(ride.title, object_path(ride)) }}
        {{ breadcrumb.active('Informationen zum Treffpunkt') }}
    {% else %}
        {{ breadcrumb.item('Treffpunkte', '#') }}
        {{ breadcrumb.active(location.title) }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>
                    {{ location.title }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                {% if location.hasCoordinates() %}
                    <div class="row">
                        <div class="col-md-12">
                            <div
                                id="map"
                                class="map"
                                style="height: 150px;"
                                data-controller="map--map"
                                data-map--map-center-latitude-value="{{ location.latitude }}"
                                data-map--map-center-longitude-value="{{ location.longitude }}"
                                data-map--map-zoom-value="13"
                                data-map--map-lock-map-value="true"
                                data-map--map-marker-latitude-value="{{ location.latitude }}"
                                data-map--map-marker-longitude-value="{{ location.longitude }}"
                                data-map--map-marker-type-value="location"
                            ></div>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-12">
                        {{ location.description|markdown }}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                {% if rides|length > 0 %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Touren von diesem Treffpunkt
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                {% for ride in rides %}
                                    <li>
                                        <a href="{{ object_path(ride) }}">
                                            {{ ride.dateTime|date('d.m.Y', ride.city.timezone) }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Andere Treffpunkte dieser Stadt
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            {% for location in locations %}
                                <li>
                                    <a href="{{ object_path(location) }}">
                                        {{ location.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
