{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Übersicht zum Treffpunkt {{ location.title }} der {{ location.city.title }}{% endblock %}

{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{{ bootstrap.breadcrumb_item(city.city, objectPath(city)) }}
{{ bootstrap.breadcrumb_item(title, '', true) }}

{% block breadcrumb %}
    {{ bootstrap.breadcrumb_item('Städteliste', path('caldera_criticalmass_city_list')) }}
    {{ bootstrap.breadcrumb_item(location.city.city, objectPath(location.city)) }}

    {% if ride %}
        {{ bootstrap.breadcrumb_item(ride.title, objectPath(ride)) }}
        {{ bootstrap.breadcrumb_item('Informationen zum Treffpunkt', '', true) }}
    {% else %}
        {{ bootstrap.breadcrumb_item('Treffpunkte', '', false) }}
        {{ bootstrap.breadcrumb_item(location.title, '', true) }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    {{ location.title }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8">
                {% if location.hasCoordinates() %}
                    <div class="row">
                        <div class="col-12">
                            <div id="map" class="map" style="height: 150px;"
                                 data-map-center-latitude="{{ location.latitude }}"
                                 data-map-center-longitude="{{ location.longitude }}"
                                 data-map-zoomlevel="13"
                                 data-lock-map="true"
                                 data-marker-latitude="{{ location.latitude }}"
                                 data-marker-longitude="{{ location.longitude }}"
                                 data-marker-type="location"
                            ></div>
                        </div>
                    </div>
                {% endif %}

                <div class="row mt-2">
                    <div class="col-12">
                        {{ location.description|markdown }}
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                {% if rides|length > 0 %}
                    <div class="card">
                        <div class="card-header">
                            Touren von diesem Treffpunkt
                        </div>

                        <div class="card-body">
                            <ul class="list-unstyled">
                                {% for ride in rides %}
                                    <li>
                                        <a href="{{ object_path(ride) }}">
                                            {{ ride.dateTime|date('d.m.Y', ride.city.timezone) }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                <div class="card mt-2">
                    <div class="card-header">
                        Andere Treffpunkte dieser Stadt
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            {% for location in locations %}
                                <li>
                                    <a href="{{ object_path(location) }}">
                                        {{ location.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
