{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% if city != null %}
    {% set title = 'city_cycle.edit.title_edit'|trans %}
{% else %}
    {% set title = 'city_cycle.edit.title_add'|trans %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item(city.city, object_path(city)) }}
    {{ breadcrumb.item('city_cycle.list.breadcrumb'|trans, object_path(city, 'caldera_criticalmass_citycycle_list')) }}
    {{ breadcrumb.active(title) }}
{% endblock %}

{% block content %}
    {{ form_errors(form) }}
    <div class="container">
        {{ include('Flash/_flash.html.twig') }}

        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-12">
                <h2>
                    {{ title }}
                </h2>

                <p class="lead">{{ 'city_cycle.edit.lead'|trans }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    {{ 'city_cycle.edit.single_ride_hint'|trans({ '%city%': city.city, '%url%': object_path(city, 'caldera_criticalmass_ride_add') })|raw }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="map"
                     class="map"
                     data-controller="map--form-map"
                     style="height: 250px;"
                     data-map--form-map-center-latitude-value="{{ city.latitude }}"
                     data-map--form-map-center-longitude-value="{{ city.longitude }}"
                     data-map--form-map-zoom-value="10"
                     data-map--form-map-marker-latitude-target-value="city_cycle_latitude"
                     data-map--form-map-marker-longitude-target-value="city_cycle_longitude"
                     data-map--form-map-marker-icon-value="fa-map-marker-alt"
                     data-map--form-map-marker-color-value="yellow"
                     data-map--form-map-marker-shape-value="circle"
                     data-map--form-map-marker-prefix-value="fas"
                >
                </div>
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.dayOfWeek) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="">{{ 'city_cycle.edit.day_of_week_label'|trans }}</label>
                            {{ form_widget(form.dayOfWeek, { 'attr' : { 'class': 'form-control'} }) }}
                            {% if not cityCycle.hasSpecialCalculator() %}
                                <p class="help-block">
                                    {{ 'city_cycle.edit.day_of_week_help'|trans }}
                                </p>
                            {% else %}
                                <p class="text-info">
                                    {{ 'city_cycle.edit.special_calculator_hint'|trans }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.weekOfMonth) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="">{{ 'city_cycle.edit.week_of_month_label'|trans }}</label>
                            {{ form_widget(form.weekOfMonth, { 'attr' : { 'class': 'form-control'} }) }}
                            {% if not cityCycle.hasSpecialCalculator() %}
                                <p class="help-block">
                                    {{ 'city_cycle.edit.week_of_month_help'|trans }}
                                </p>
                            {% else %}
                                <p class="text-info">
                                    {{ 'city_cycle.edit.special_calculator_hint'|trans }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.time) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="">{{ 'city_cycle.edit.time_label'|trans }}</label>
                            {{ form_widget(form.time, { 'attr' : { 'class': 'form-control' } }) }}
                            <p class="help-block">
                                {{ 'city_cycle.edit.time_help'|trans }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.location) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="">{{ 'city_cycle.edit.location_label'|trans }}</label>
                            {{ form_widget(form.location, { 'attr' : { 'class': 'form-control' } }) }}
                            <p class="help-block">
                                {{ 'city_cycle.edit.location_help'|trans }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ 'city_cycle.edit.validity_intro'|trans({ '%city%': city.city }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="">{{ 'city_cycle.edit.valid_from_label'|trans }}</label>
                    {{ form_widget(form.validFrom, { 'attr' : { 'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="">{{ 'city_cycle.edit.valid_until_label'|trans }}</label>
                    {{ form_widget(form.validUntil, { 'attr' : { 'class': 'form-control'} }) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <a href="{{ object_path(city) }}" class="btn btn-secondary">
                        {{ 'common.cancel'|trans }}
                    </a>
                    <button type="submit" class="btn btn-success">
                        {{ 'common.save'|trans }}
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
