{% extends 'Template/StandardTemplate.html.twig' %}

{% if city != null %}
    {% set title = 'Turnus editieren' %}
{% else %}
    {% set title = 'Neuen Turnus hinzufügen' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: city.city, url: object_path(city) },
            { label: 'Turnusliste', url: object_path(city, 'caldera_criticalmass_citycycle_list') },
            { label: title },
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}

{% block content %}
    {{ form_errors(form) }}
    <div class="container">
        {{ include('Flash/_flash.html.twig') }}

        {{ form_start(form) }}

        <div class="row">
            <div class="col-12">
                <h2>
                    {{ title }}
                </h2>

                <p class="lead">
                    criticalmass.in kann jeden Monat automatisch eine neue Tour für diese Stadt erstellen,
                    sofern die Touren jeweils an einem einheitlichen Tag zu einer bestimmten Uhrzeit an einem vorher
                    festgelegten Treffpunkt starten.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="alert alert-info">
                    Wenn du lediglich eine einzelne Tour für {{ city.city }} erstellen möchtest, nutze bitte
                    <strong><a href="{{ object_path(city, 'caldera_criticalmass_ride_add') }}">dieses Formular</a></strong>.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div id="map"
                     class="map"
                     data-controller="map--form-map"
                     style="height: 250px;"
                     data-map--form-map-center-latitude-value="{{ city.latitude }}"
                     data-map--form-map-center-longitude-value="{{ city.longitude }}"
                     data-map--form-map-zoom-value="10"
                     data-map--form-map-marker-latitude-target-value="city_cycle_latitude"
                     data-map--form-map-marker-longitude-target-value="city_cycle_longitude"
                     data-map--form-map-marker-icon-value="fa-map-marker-alt"
                     data-map--form-map-marker-color-value="yellow"
                     data-map--form-map-marker-shape-value="circle"
                     data-map--form-map-marker-prefix-value="fas"
                >
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3{% if form_errors(form.dayOfWeek) %} has-error has-feedback{% endif %}">
                            <label class="form-label" for="">Wochentag der Touren:</label>
                            {{ form_widget(form.dayOfWeek, { 'attr' : { 'class': 'form-control'} }) }}
                            {% if not cityCycle.hasSpecialCalculator() %}
                                <p class="form-text">
                                    Stelle hier den Wochentag ein, an dem die Touren stattfinden.
                                </p>
                            {% else %}
                                <p class="text-info">
                                    Du kannst diesen Wert nicht ändern, weil dieser Turnus von einem speziellen
                                    Generator erzeugt wird.
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="mb-3{% if form_errors(form.weekOfMonth) %} has-error has-feedback{% endif %}">
                            <label class="form-label" for="">Woche der Touren:</label>
                            {{ form_widget(form.weekOfMonth, { 'attr' : { 'class': 'form-control'} }) }}
                            {% if not cityCycle.hasSpecialCalculator() %}
                                <p class="form-text">
                                    Wähle hier die Woche, in der die Touren stattfinden.
                                </p>
                            {% else %}
                                <p class="text-info">
                                    Du kannst diesen Wert nicht ändern, weil dieser Turnus von einem speziellen
                                    Generator erzeugt wird.
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3{% if form_errors(form.time) %} has-error has-feedback{% endif %}">
                            <label class="form-label" for="">Uhrzeit der Touren:</label>
                            {{ form_widget(form.time, { 'attr' : { 'class': 'form-control' } }) }}
                            <p class="form-text">
                                Startzeit der Touren.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="mb-3{% if form_errors(form.location) %} has-error has-feedback{% endif %}">
                            <label class="form-label" for="">Treffpunkt der Touren:</label>
                            {{ form_widget(form.location, { 'attr' : { 'class': 'form-control' } }) }}
                            <p class="form-text">
                                Gib hier eine aussagekräftige Beschreibung des Treffpunktes ein, von dem diese Tour
                                startet. Ziehe anschließend oben den gelben Marker auf der Karte auf diesen Treffpunkt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                Hier kannst du einen optionalen Gültigkeitszeitraum angeben, in dem neue Touren nach dem obigen
                Einstellungen erzeugt werden sollen. Das kann nützlich sein, falls die Critical Mass in {{ city.city }}
                nur im Sommer stattfindet oder sich irgendwann einmal der Treffpunkt ändert.
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="">Gültig ab:</label>
                    {{ form_widget(form.validFrom, { 'attr' : { 'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="mb-3">
                    <label class="form-label" for="">Gültig bis:</label>
                    {{ form_widget(form.validUntil, { 'attr' : { 'class': 'form-control'} }) }}
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <div class="btn-group float-end">
                    <a href="{{ object_path(city) }}" class="btn btn-outline-secondary">
                        Abbrechen
                    </a>
                    <button type="submit" class="btn btn-primary">
                        Speichern
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
