{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Turnus auslösen{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ objectPath(cityCycle.city) }}">
            {{ cityCycle.city.city }}
        </a>
    </li>
    <li class="active">
        Turnus auslösen
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Turnus
                            </div>
                            <div class="panel-body">
                                <dl>
                                    <dt>
                                        Wochentag
                                    </dt>
                                    <dd>
                                        {{ cityCycle.dayOfWeek }}
                                    </dd>

                                    <dt>
                                        Woche
                                    </dt>
                                    <dd>
                                        {{ cityCycle.dayOfWeek }}
                                    </dd>

                                    <dt>
                                        Uhrzeit
                                    </dt>
                                    <dd>
                                        {{ cityCycle.time|date('H:i', 'UTC') }} Uhr
                                    </dd>

                                    <dt>
                                        Treffpunkt
                                    </dt>
                                    <dd>
                                        {% if cityCycle.location %}
                                            {{ cityCycle.location }}
                                        {% else %}
                                            <em>nicht definiert</em>
                                        {% endif %}
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
