{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'city_cycle.execute.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item(cityCycle.city.city, object_path(cityCycle.city)) }}
    {{ breadcrumb.item('city_cycle.execute.breadcrumb_cycle_list'|trans, object_path(cityCycle.city, 'caldera_criticalmass_citycycle_list')) }}
    {{ breadcrumb.active('city_cycle.execute.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>
                    {{ 'city_cycle.execute.preview_heading'|trans }}
                </h2>

                <p class="lead">
                    {{ 'city_cycle.execute.preview_lead'|trans({ '%from%': executeable.fromDate|date('d.m.Y'), '%until%': executeable.untilDate|date('d.m.Y') }) }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            {{ 'city_cycle.execute.col_title'|trans }}
                        </th>

                        <th>
                            {{ 'city_cycle.execute.col_date'|trans }}
                        </th>

                        <th>
                            {{ 'city_cycle.execute.col_time'|trans }}
                        </th>

                        <th>
                            {{ 'city_cycle.execute.col_location'|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ride in rideList %}
                        <tr>
                            <td>
                                {{ ride.title }}
                            </td>

                            <td>
                                {{ ride.dateTime|date('l, d. F Y') }}
                            </td>

                            <td>
                                {{ ride.dateTime|date('H:i') }} {{ 'city_cycle.execute.time_suffix'|trans }}
                            </td>

                            <td>
                                {% if ride.location %}
                                    {{ ride.location }}
                                {% else %}
                                    <em>{{ 'city_cycle.execute.location_undefined'|trans }}</em>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if rideList|length == 0 %}
                        <tr>
                            <td colspan="5">
                                <div class="alert alert-danger">
                                    {{ 'city_cycle.execute.no_rides_alert'|trans }}
                                </div>
                            </td>
                        </tr>
                    {% elseif rideList|length < dateTimeList|length %}
                        <tr>
                            <td colspan="5">
                                <div class="alert alert-info">
                                    <p>
                                        {{ 'city_cycle.execute.partial_rides_alert'|trans({ '%requested%': dateTimeList|length, '%created%': rideList|length, '%skipped%': dateTimeList|length - rideList|length })|raw }}
                                    </p>

                                    <p>
                                        {{ 'city_cycle.execute.partial_rides_hint'|trans }}
                                    </p>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    {{ 'city_cycle.execute.action_hint'|trans }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form method="post"
                      action="{{ object_path(cityCycle, 'caldera_criticalmass_citycycle_execute_persist') }}">
                <input type="hidden" name="_token" value="{{ csrf_token('citycycle_execute') }}"/>
                <input type="hidden" name="fromDate" value="{{ executeable.fromDate|date('U') }}"/>
                <input type="hidden" name="untilDate" value="{{ executeable.untilDate|date('U') }}"/>

                <div class="btn-group pull-right">
                    <a href="" class="btn btn-secondary">
                        {{ 'city_cycle.execute.cancel'|trans }}
                    </a>
                    <button type="submit" class="btn btn-primary">
                        {{ 'city_cycle.execute.save'|trans }}
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
