{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'city_cycle.execute.title'|trans }}{% endblock %}

{% form_theme form 'Form/theme.html.twig' %}

{% block breadcrumb %}
    {{ breadcrumb.item(cityCycle.city.city, object_path(cityCycle.city)) }}
    {{ breadcrumb.item('city_cycle.execute.breadcrumb_cycle_list'|trans, object_path(cityCycle.city, 'caldera_criticalmass_citycycle_list')) }}
    {{ breadcrumb.active('city_cycle.execute.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ 'city_cycle.ride_list.panel_title'|trans }}
                            </div>
                            <div class="panel-body">
                                <dl>
                                    <dt>
                                        {{ 'city_cycle.ride_list.cycle_label'|trans }}
                                    </dt>
                                    <dd>
                                        {{ 'city_cycle.ride_list.cycle_pattern'|trans({ '%week%': ('cycle.event_date.month_week.' ~ cityCycle.weekOfMonth)|trans, '%day%': ('cycle.event_date.day.' ~ cityCycle.dayOfWeek)|trans }) }}
                                    </dd>

                                    <dt>
                                        {{ 'city_cycle.ride_list.time_label'|trans }}
                                    </dt>
                                    <dd>
                                        {{ cityCycle.time|date('H:i', 'UTC') }} {{ 'city_cycle.ride_list.time_suffix'|trans }}
                                    </dd>

                                    <dt>
                                        {{ 'city_cycle.ride_list.location_label'|trans }}
                                    </dt>
                                    <dd>
                                        {% if cityCycle.location %}
                                            {{ cityCycle.location }}
                                        {% else %}
                                            <em>{{ 'city_cycle.ride_list.location_undefined'|trans }}</em>
                                        {% endif %}
                                    </dd>

                                    <dt>
                                        {{ 'city_cycle.ride_list.valid_from_label'|trans }}
                                    </dt>
                                    <dd>
                                        {% if cityCycle.validFrom %}
                                            {{ cityCycle.validFrom|date('d.m.Y') }}
                                        {% else %}
                                            <em>{{ 'city_cycle.ride_list.location_undefined'|trans }}</em>
                                        {% endif %}
                                    </dd>

                                    <dt>
                                        {{ 'city_cycle.ride_list.valid_until_label'|trans }}
                                    </dt>
                                    <dd>
                                        {% if cityCycle.validUntil %}
                                            {{ cityCycle.validUntil|date('d.m.Y') }}
                                        {% else %}
                                            <em>{{ 'city_cycle.ride_list.location_undefined'|trans }}</em>
                                        {% endif %}
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>
                                    {{ 'city_cycle.execute.datetime_heading'|trans }}
                                </h2>

                                <p class="lead">
                                    {{ 'city_cycle.execute.datetime_lead'|trans }}
                                </p>

                                <div class="alert alert-info">
                                    <p>
                                        {{ 'city_cycle.execute.datetime_info_title'|trans }}
                                    </p>

                                    <p>
                                        {{ 'city_cycle.execute.datetime_info_manual'|trans }}
                                    <ul>
                                        <li>
                                            {{ 'city_cycle.execute.datetime_info_new_cycle'|trans }}
                                        </li>
                                        <li>
                                            {{ 'city_cycle.execute.datetime_info_backfill'|trans({ '%city%': cityCycle.city.city })|raw }}
                                        </li>
                                    </ul>
                                    </p>
                                </div>

                                <p>
                                    {{ 'city_cycle.execute.datetime_range_intro'|trans }}
                                </p>
                            </div>
                        </div>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group{% if form_errors(form.fromDate) %} has-error has-feedback{% endif %}">
                                    <label class="control-label" for="">{{ 'city_cycle.execute.from_date_label'|trans }}</label>
                                    {{ form_errors(form.fromDate) }}
                                    {{ form_widget(form.fromDate) }}
                                    <p class="help-block">
                                        {{ 'city_cycle.execute.from_date_help'|trans|raw }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group{% if form_errors(form.untilDate) %} has-error has-feedback{% endif %}">
                                    <label class="control-label" for="">{{ 'city_cycle.execute.until_date_label'|trans }}</label>
                                    {{ form_errors(form.untilDate) }}
                                    {{ form_widget(form.untilDate) }}
                                    <p class="help-block">
                                        {{ 'city_cycle.execute.until_date_help'|trans|raw }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_widget(form.submit, { 'label': 'city_cycle.execute.submit'|trans, 'attr' : { 'class': 'btn btn-success pull-right'} }) }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
