{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}Turnusse von {{ city.city }} anzeigen{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item(city.city, object_path(city)) }}
    {{ breadcrumb.active('Turnusse anzeigen') }}
{% endblock %}
    
{% block content %}
    <div class="container">
        {{ include('Flash/_flash.html.twig') }}
        
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-success pull-right"
                   href="{{ object_path(city, 'caldera_criticalmass_citycycle_add') }}">
                    Turnus ergänzen
                </a>

                <h2>
                    Regelmäßige Touren in {{ city.city }}
                </h2>

                <p class="lead">
                    Du kannst die monatlichen Touren in {{ city.city }} automatisch erzeugen lassen. Wenn du mit
                    Gültigkeitsbereichen arbeitest, kannst du auch komplexere Logiken implementieren, beispielsweise
                    andere Uhrzeiten für sommerliche als für winterliche Touren angeben.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Turnus
                        </th>

                        <th>
                            Treffpunkt
                        </th>

                        <th>
                            Uhrzeit
                        </th>

                        <th>
                            Gültigkeit
                        </th>

                        <th>
                            Aktionen
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cycle in cycles %}
                        <tr {% if cycle.disabledAt %}style="text-decoration: line-through;"{% endif %}>
                            <td>
                                {% if cycle.rideCalculatorFqcn %}
                                    {{ cycle.description }}
                                {% else %}
                                    am {{ ('cycle.event_date.month_week.' ~ cycle.weekOfMonth)|trans }} {{ ('cycle.event_date.day.' ~ cycle.dayOfWeek)|trans }} im Monat
                                {% endif %}

                            </td>

                            <td>
                                {% if (cycle.location) %}
                                    {{ cycle.location }} ({{ cycle.latitude|round(3) }}, {{ cycle.longitude|round(3) }})
                                {% else %}
                                    <em>
                                        nicht definiert
                                    </em>
                                {% endif %}
                            </td>

                            <td>
                                {# keep timezone as utc as we want to deliver the "raw" time here #}
                                {{ cycle.time|date('H:i', 'UTC') }} Uhr
                            </td>

                            <td>
                                {% if (cycle.range) %}
                                    {% if cycle.validFrom %}
                                        vom {{ cycle.validFrom|date('d.m.Y', city.timezone) }}
                                    {% endif %}

                                    {% if cycle.validUntil %}
                                        bis {{ cycle.validUntil|date('d.m.Y', city.timezone) }}
                                    {% endif %}
                                {% else %}
                                    <em>
                                        nicht begrenzt
                                    </em>
                                {% endif %}
                            </td>

                            <td>
                                {% if not cycle.disabledAt %}
                                    <div class="btn-group">
                                        <a class="btn btn-secondary btn-xs" title="Turnus editieren"
                                           href="{{ object_path(cycle, 'caldera_criticalmass_citycycle_edit') }}">
                                            <i class="far fa-wrench"></i>
                                        </a>

                                        <a class="btn btn-secondary btn-xs" title="zugehörige Touren anzeigen"
                                           href="{{ object_path(cycle, 'caldera_criticalmass_citycycle_ride_list') }}">
                                            <i class="far fa-bicycle"></i>
                                        </a>

                                        <a class="btn btn-secondary btn-xs" title="Turnus manuell auslösen"
                                           href="{{ object_path(cycle, 'caldera_criticalmass_citycycle_execute') }}">
                                            <i class="far fa-play"></i>
                                        </a>

                                        <a class="btn btn-secondary btn-xs" title="Turnus deaktivieren"
                                           href="{{ object_path(cycle, 'caldera_criticalmass_citycycle_disable') }}">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


