{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'city_cycle.list.title'|trans({ '%city%': city.city }) }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item(city.city, object_path(city)) }}
    {{ breadcrumb.active('city_cycle.list.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        {{ include('Flash/_flash.html.twig') }}

        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-success pull-right"
                   href="{{ object_path(city, 'caldera_criticalmass_citycycle_add') }}">
                    {{ 'city_cycle.list.add_button'|trans }}
                </a>

                <h2>
                    {{ 'city_cycle.list.heading'|trans({ '%city%': city.city }) }}
                </h2>

                <p class="lead">
                    {{ 'city_cycle.list.lead'|trans({ '%city%': city.city }) }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            {{ 'city_cycle.list.col_cycle'|trans }}
                        </th>

                        <th>
                            {{ 'city_cycle.list.col_location'|trans }}
                        </th>

                        <th>
                            {{ 'city_cycle.list.col_time'|trans }}
                        </th>

                        <th>
                            {{ 'city_cycle.list.col_validity'|trans }}
                        </th>

                        <th>
                            {{ 'city_cycle.list.col_actions'|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cycle in cycles %}
                        <tr {% if cycle.disabledAt %}style="text-decoration: line-through;"{% endif %}>
                            <td>
                                {% if cycle.rideCalculatorFqcn %}
                                    {{ cycle.description }}
                                {% else %}
                                    {{ 'city_cycle.list.cycle_pattern'|trans({ '%week%': ('cycle.event_date.month_week.' ~ cycle.weekOfMonth)|trans, '%day%': ('cycle.event_date.day.' ~ cycle.dayOfWeek)|trans }) }}
                                {% endif %}

                            </td>

                            <td>
                                {% if (cycle.location) %}
                                    {{ cycle.location }} ({{ cycle.latitude|round(3) }}, {{ cycle.longitude|round(3) }})
                                {% else %}
                                    <em>
                                        {{ 'city_cycle.list.location_undefined'|trans }}
                                    </em>
                                {% endif %}
                            </td>

                            <td>
                                {# keep timezone as utc as we want to deliver the "raw" time here #}
                                {{ cycle.time|date('H:i', 'UTC') }} {{ 'city_cycle.list.time_suffix'|trans }}
                            </td>

                            <td>
                                {% if (cycle.range) %}
                                    {% if cycle.validFrom %}
                                        {{ 'city_cycle.list.validity_from'|trans({ '%date%': cycle.validFrom|date('d.m.Y', city.timezone) }) }}
                                    {% endif %}

                                    {% if cycle.validUntil %}
                                        {{ 'city_cycle.list.validity_until'|trans({ '%date%': cycle.validUntil|date('d.m.Y', city.timezone) }) }}
                                    {% endif %}
                                {% else %}
                                    <em>
                                        {{ 'city_cycle.list.validity_unlimited'|trans }}
                                    </em>
                                {% endif %}
                            </td>

                            <td>
                                {% if not cycle.disabledAt %}
                                    <div class="btn-group">
                                        <a class="btn btn-secondary btn-xs" title="{{ 'city_cycle.list.action_edit'|trans }}"
                                           href="{{ object_path(cycle, 'caldera_criticalmass_citycycle_edit') }}">
                                            <i class="far fa-wrench"></i>
                                        </a>

                                        <a class="btn btn-secondary btn-xs" title="{{ 'city_cycle.list.action_rides'|trans }}"
                                           href="{{ object_path(cycle, 'caldera_criticalmass_citycycle_ride_list') }}">
                                            <i class="far fa-bicycle"></i>
                                        </a>

                                        <a class="btn btn-secondary btn-xs" title="{{ 'city_cycle.list.action_execute'|trans }}"
                                           href="{{ object_path(cycle, 'caldera_criticalmass_citycycle_execute') }}">
                                            <i class="far fa-play"></i>
                                        </a>

                                        <a class="btn btn-secondary btn-xs" title="{{ 'city_cycle.list.action_disable'|trans }}"
                                           href="{{ object_path(cycle, 'caldera_criticalmass_citycycle_disable') }}">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
