{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'city_cycle.ride_list.title'|trans({ '%city%': city.city }) }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item(city.city, object_path(city)) }}
    {{ breadcrumb.item('city_cycle.ride_list.breadcrumb_cycle_list'|trans, object_path(cityCycle.city, 'caldera_criticalmass_citycycle_list')) }}
    {{ breadcrumb.active('city_cycle.ride_list.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        {{ include('Flash/_flash.html.twig') }}

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ 'city_cycle.ride_list.panel_title'|trans }}
                            </div>
                            <div class="panel-body">
                                <dl>
                                    <dt>
                                        {{ 'city_cycle.ride_list.cycle_label'|trans }}
                                    </dt>
                                    <dd>
                                        {{ 'city_cycle.ride_list.cycle_pattern'|trans({ '%week%': ('cycle.event_date.month_week.' ~ cityCycle.weekOfMonth)|trans, '%day%': ('cycle.event_date.day.' ~ cityCycle.dayOfWeek)|trans }) }}
                                    </dd>

                                    <dt>
                                        {{ 'city_cycle.ride_list.time_label'|trans }}
                                    </dt>
                                    <dd>
                                        {{ cityCycle.time|date('H:i', 'UTC') }} {{ 'city_cycle.ride_list.time_suffix'|trans }}
                                    </dd>

                                    <dt>
                                        {{ 'city_cycle.ride_list.location_label'|trans }}
                                    </dt>
                                    <dd>
                                        {% if cityCycle.location %}
                                            {{ cityCycle.location }}
                                        {% else %}
                                            <em>{{ 'city_cycle.ride_list.location_undefined'|trans }}</em>
                                        {% endif %}
                                    </dd>

                                    <dt>
                                        {{ 'city_cycle.ride_list.valid_from_label'|trans }}
                                    </dt>
                                    <dd>
                                        {% if cityCycle.validFrom %}
                                            {{ cityCycle.validFrom|date('d.m.Y') }}
                                        {% else %}
                                            <em>{{ 'city_cycle.ride_list.location_undefined'|trans }}</em>
                                        {% endif %}
                                    </dd>

                                    <dt>
                                        {{ 'city_cycle.ride_list.valid_until_label'|trans }}
                                    </dt>
                                    <dd>
                                        {% if cityCycle.validUntil %}
                                            {{ cityCycle.validUntil|date('d.m.Y') }}
                                        {% else %}
                                            <em>{{ 'city_cycle.ride_list.location_undefined'|trans }}</em>
                                        {% endif %}
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>
                                    {{ 'city_cycle.ride_list.heading'|trans }}
                                </h2>

                                <p>
                                    {{ 'city_cycle.ride_list.intro'|trans }}
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            {{ 'city_cycle.ride_list.col_title'|trans }}
                                        </th>

                                        <th>
                                            {{ 'city_cycle.ride_list.col_date'|trans }}
                                        </th>

                                        <th>
                                            {{ 'city_cycle.ride_list.col_time'|trans }}
                                        </th>

                                        <th>
                                            {{ 'city_cycle.ride_list.col_location'|trans }}
                                        </th>

                                        <th>

                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ride in rideList %}
                                        <tr>
                                            <td>
                                                <a href="{{ object_path(ride) }}" title="{{ 'city_cycle.ride_list.to_ride'|trans }}">
                                                    {{ ride.title }}
                                                </a>
                                            </td>

                                            <td>
                                                {{ ride.dateTime|date('d.m.Y') }}
                                            </td>

                                            <td>
                                                {{ ride.dateTime|date('H:i') }}&nbsp;{{ 'city_cycle.ride_list.time_suffix'|trans }}
                                            </td>

                                            <td>
                                                {{ ride.location }}
                                            </td>

                                            <td>
                                                <a class="btn btn-xs btn-secondary"
                                                   href="{{ object_path(ride, 'caldera_criticalmass_ride_edit') }}"
                                                   title="{{ 'city_cycle.ride_list.edit_ride'|trans }}">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
