{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Automatisch generierte Touren von {{ city.city }} anzeigen{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: city.city, url: object_path(city) },
            { label: 'Turnusliste', url: object_path(cityCycle.city, 'caldera_criticalmass_citycycle_list') },
            { label: 'Generierte Touren anzeigen' },
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}
    
{% block content %}
    <div class="container">
        {{ include('Flash/_flash.html.twig') }}

        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="card mb-3 shadow-sm">
                            <div class="card-header bg-body-tertiary py-2">
                                <h6 class="mb-0 fw-semibold">
                                    🔁 Turnus
                                </h6>
                            </div>

                            <div class="card-body">
                                <dl class="mb-0">
                                    <dt>Turnus</dt>
                                    <dd>
                                        {{ ('cycle.event_date.month_week.' ~ cityCycle.weekOfMonth)|trans }}
                                        {{ ('cycle.event_date.day.' ~ cityCycle.dayOfWeek)|trans }}
                                        im Monat
                                    </dd>

                                    <dt>Uhrzeit</dt>
                                    <dd>
                                        {{ cityCycle.time|date('H:i', 'UTC') }} Uhr
                                    </dd>

                                    <dt>Treffpunkt</dt>
                                    <dd>
                                        {% if cityCycle.location %}
                                            {{ cityCycle.location }}
                                        {% else %}
                                            <em>nicht definiert</em>
                                        {% endif %}
                                    </dd>

                                    <dt>Gültigkeitsbeginn</dt>
                                    <dd>
                                        {% if cityCycle.validFrom %}
                                            {{ cityCycle.validFrom|date('d.m.Y') }}
                                        {% else %}
                                            <em>nicht definiert</em>
                                        {% endif %}
                                    </dd>

                                    <dt>Gültigkeitsende</dt>
                                    <dd>
                                        {% if cityCycle.validUntil %}
                                            {{ cityCycle.validUntil|date('d.m.Y') }}
                                        {% else %}
                                            <em>nicht definiert</em>
                                        {% endif %}
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-8">
                        <div class="row">
                            <div class="col-12">
                                <h2>
                                    Tourenübersicht
                                </h2>

                                <p>
                                    Die folgenden Touren wurden von diesem Turnus erzeugt:
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <table class="table align-middle">
                                    <thead>
                                    <tr>
                                        <th>Titel</th>
                                        <th>Datum</th>
                                        <th>Uhrzeit</th>
                                        <th>Treffpunkt</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ride in rideList %}
                                        <tr>
                                            <td>
                                                <a href="{{ object_path(ride) }}" title="zur Tourseite">
                                                    {{ ride.title }}
                                                </a>
                                            </td>

                                            <td>
                                                {{ ride.dateTime|date('d.m.Y') }}
                                            </td>

                                            <td>
                                                {{ ride.dateTime|date('H:i') }}&nbsp;Uhr
                                            </td>

                                            <td>
                                                {{ ride.location }}
                                            </td>

                                            <td>
                                                <a class="btn btn-outline-secondary btn-sm"
                                                   href="{{ object_path(ride, 'caldera_criticalmass_ride_edit') }}"
                                                   title="Tour editieren">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
