<tr class="ride{% if not ride.enabled %}--disabled{% endif %}">
    <td data-sort="{{ ride.dateTime ? ride.dateTime|date('U') : 0 }}">
        {{ ride.dateTime ? ride.dateTime|date('d.m.Y', ride.city.timezone) : '—' }}
    </td>

    <td>
        {{ ride.dateTime ? ride.dateTime|date('H:i', ride.city.timezone) ~ ' Uhr' : '—' }}
    </td>

    <td>
        {% set ridePath = object_path(ride) %}
        {% if ridePath %}
        <a href="{{ ridePath }}">
            {{ ride.title }}
        </a>
        {% else %}
            {{ ride.title }}
        {% endif %}
    </td>

    <td>
        {{ ride.location }}
    </td>

    <td data-order="{{ ride.estimatedParticipants|default(0) }}">
        {% if ride.estimatedParticipants %}
            {{ ride.estimatedParticipants }}
        {% endif %}
    </td>

    <td data-order="{{ ride.estimatedDistance|default(0) }}">
        {% if ride.estimatedDistance %}
            {{ ride.estimatedDistance|round(2) }}&nbsp;km
        {% endif %}
    </td>

    <td data-order="{{ ride.getEstimatedDurationInSeconds()|default(0) }}">
        {% if ride.estimatedDuration %}
            {{ human_duration(ride.getEstimatedDurationInSeconds()) }}
        {% endif %}
    </td>
</tr>