{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Deine Tracks{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_desktop_index') }}">criticalmass.in</a></li>
            <li><a href="{{ path('sonata_user_profile_show') }}">Dein Benutzerkonto</a></li>
            <li class="active">Deine Tracks</li>
        </ol>

        <div class="row">
            <a class="btn btn-success pull-right" href="{{ path('caldera_criticalmass_statistic_track_upload') }}" style="margin-top: 24px;">Track hinzufügen</a>
            <h1>Hier warst du schon mal.</h1>
        </div>

        <div class="row">
            <p>Hier siehst du alle Tracks, die du bei deinen bisherigen Critical-Mass-Teilnahmen aufgezeichnet hast. Du kannst entweder neue Tracks über den grünen Button oben rechts ergänzen oder künftig deine aufgezeichneten Tracks direkt mit deinem Benutzerkonto verknüpfen.</p>
        </div>

        <table class="table">
            <tr>
                <th>Datum</th>
                <th>Stadt</th>
                <th>Tour</th>
                <th>Beginn</th>
                <th>Ende</th>
                <th>Wegpunkte</th>
                {#<th>Optionen</th>#}
            </tr>
            {% for track in tracks %}{% if track.getRide() %}
            <tr>
                <td><a href="{{ path('caldera_criticalmass_statistic_track_view', { 'trackId': track.getId() }) }}">{{ track.getRide().getDateTime().format('d. m. Y') }}</a></td>
                <td><a href="{{ path('caldera_criticalmass_desktop_city_show', { 'citySlug': track.getRide().getCity().getMainSlugString() }) }}">{{ track.getRide().getCity().getCity() }}</a></td>
                <td><a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': track.getRide().getcity().getMainSlugString(), 'rideDate': track.getRide().getDateTime().format('Y-m-d') }) }}">{% if track.getRide().getTitle() %}
                {{ track.getRide().getTitle() }}
                {% else %}
                {{ track.getRide().getCity().getTitle() }}
                {% endif %}</a></td>
                <td>{{ track.getStartDateTime().format('H:i') }} Uhr</td>
                <td>{{ track.getEndDateTime().format('H:i') }} Uhr</td>
                <td>{{ track.getPoints() }}</td>
                {#<td><button type="button" class="btn btn-default btn-xs"><span class="fa fa-trash-o"></span></button></td>#}
            </tr>
            {% endif %}{% endfor %}
        </table>
    </div>
{% endblock %}