{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Track hochladen{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_desktop_index') }}">criticalmass.in</a></li>
            <li><a href="{{ path('sonata_user_profile_show') }}">Dein Benutzerkonto</a></li>
            <li><a href="{{ path('caldera_criticalmass_statistic_track_list') }}">Deine Tracks</a></li>
            <li class="active">Track hinzufügen</li>
        </ol>

        <h1>Hoppla!</h1>

        <p>Normalerweise erkennt unsere tolle Datenbank anhand deiner in der Datei gespeicherten GPS-Koordinaten, bei welcher Tour du mitgefahren bist. Vereinzelt gibt es jedoch mehrdeutige Ergebnisse, wenn du zum Beispiel in Hamburg oder im Ruhrgebiet unterwegs warst, wo mehrere Touren parallel auf dichtem Raum herumfahren sind.</p>

        {{ form_start(form, { 'attr': { 'role': 'form '}}) }}

        <div class="form-group">
            <label for="">Zugehörige Tour:</label>
            {{ form_widget(form.ride, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <div class="btn-group pull-right" id="formButtonGroup">
                <button id="submitPostButton" type="submit" class="btn btn-success pull-right">Abspeichern</button>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}