{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Deine Tracks{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_desktop_index') }}">criticalmass.in</a></li>
            <li><a href="{{ path('sonata_user_profile_show') }}">Dein Benutzerkonto</a></li>
            <li><a href="{{ path('caldera_criticalmass_statistic_track_list') }}">Deine Tracks</a></li>
            <li class="active">Track anzeigen</li>
        </ol>

        {% if track.getRide().getTitle() %}
        <h1>{{ track.getRide().getTitle() }}</h1>
        {% else %}
        <h1>{{ track.getRide().getCity().getTitle() }}</h1>
        {% endif %}

        <div id="map" class="col-lg-12" style="height: 350px;"></div>

        {% javascripts
        '@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript" src="/geojson/track/3.json"></script>
        <script>
            var map = L.map('map');
            var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            });

            tileLayer.addTo(map);

            map.setView([{{ track.getRide().getLatitude() }}, {{ track.getRide().getLongitude() }}], 10);

            // create a red polyline from an arrays of LatLng points
            var polyline = L.polyline({{ track.getPreviewJsonArray() }}, { color: 'rgb({{ track.getUser().getColorRed() }}, {{ track.getUser().getColorGreen() }}, {{ track.getUser().getColorBlue() }})' }).addTo(map);

            // zoom the map to the polyline
            map.fitBounds(polyline.getBounds());
        </script>

        <ul class="pager">
            {% if track.getPreviousTrack() %}
            <li class="previous"><a href="{{ path('caldera_criticalmass_statistic_track_view', { 'trackId': track.getPreviousTrack().getId() }) }}">&larr; Voriger Track</a></li>
            {% else %}
            <li class="previous disabled"><a href="#">&larr; Voriger Track</a></li>
            {% endif %}

            {% if track.getNextTrack() %}
            <li class="next"><a href="{{ path('caldera_criticalmass_statistic_track_view', { 'trackId': track.getNextTrack().getId() }) }}">Nächster Track &rarr;</a></li>
            {% else %}
            <li class="next disabled"><a href="#">Nächster Track &rarr;</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}