{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    <div class="pagination">
        {% if first is defined and current != first %}
            <span class="first page-item">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
        </span>
        {% endif %}

        {% if previous is defined %}
            <span class="previous page-item">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
        </span>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <span class="page page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </span>
            {% else %}
                <span class="page page-item active">
                <span class="current page-link">{{ page }}</span>
            </span>
            {% endif %}

        {% endfor %}

        {% if next is defined %}
            <span class="next page-item">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
        </span>
        {% endif %}

        {% if last is defined and current != last %}
            <span class="last page-item">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
        </span>
        {% endif %}
    </div>
{% endif %}
