{% extends 'CalderaCyclewaysBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Gefahrenstellen in {{ city.city }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Gefahrenstellen in {{ city.city }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Bezeichnung
                            </th>
                            <th>
                                Erstellungsdatum
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for incident in incidents %}
                        <tr>
                            <td>
                                <a href="{{ path('caldera_cycleways_incident_show', { slug: incident.slug }) }}">
                                    {{ incident.title }}
                                </a>
                            </td>
                            <td>
                                {{ incident.creationDateTime|date('d.m.Y') }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}