{% extends 'CalderaCyclewaysBundle:Template:StandardTemplate.html.twig' %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{{ path('caldera_cycleways_incident_list_city', { citySlug: incident.city.mainSlugString }) }}">
        {{ incident.city.city }}
    </a>
</li>
<li class="breadcrumb-item active">
    {{ incident.title }}
</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 350px;"></div>
            </div>
        </div>

        <div class="row m-t-1">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-t-0">
                            {{ incident.title }}
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ incident.description|parse }}
                    </div>
                </div>

                <div class="row m-t-1">
                    <div class="col-md-12">
                        <a href="{{ path('caldera_cycleways_incident_photo_upload', { slug: incident.slug }) }}" class="btn btn-primary pull-right">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                            Fotos hinzufügen
                        </a>

                        <h3>
                            Fotos
                        </h3>
                    </div>
                </div>

                <div class="row m-t-1">
                    {% for photo in photos %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="photo-thumb margin-bottom-medium text-center">
                            <img src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}"/>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="row m-t-1">
                    <div class="col-md-12">
                        <h3>
                            Kommentare zu dieser Gefahrenstelle
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {% for post in posts %}
                            {% include('CalderaCyclewaysBundle:Post:post.html.twig') with { 'post':  post } %}
                        {% endfor %}
                    </div>
                </div>

                <div class="row m-t-1">
                    <div class="col-md-12">
                        {% if app.getUser() %}
                        {{ render(controller('CalderaCyclewaysBundle:Post:write', { incident: incident })) }}
                        {% else %}
                        <div class="alert alert-info">
                            <strong>Schade!</strong>
                            Als angemeldeter Nutzer könntest du hier einen Kommentar hinterlassen.
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-block">
                    <h4 class="card-title">
                        Details
                    </h4>

                    <dl>
                        <dt>
                            Adresse
                        </dt>
                        <dd>
                            {{ incident.street }}, {{ incident.city.city }}
                        </dd>

                        <dt>
                            Zeitpunkt der Meldung
                        </dt>
                        <dd>
                            {{ incident.creationDateTime|date('d.m.Y H:i') }} Uhr
                        </dd>
                    </dl>
                </div>

                <div class="card card-block">
                    <h4 class="card-title">
                        Google Maps
                    </h4>
                    <div class="text-center">
                        <div class="btn-group-vertical" role="group" aria-label="...">
                            <a class="btn btn-default" target="_blank" href="https://www.google.de/maps/@{{ incident.latitude }},{{ incident.longitude }},18z">
                                <i class="fa fa-map-o" aria-hidden="true"></i>
                                Kartenansicht
                            </a>
                            <a class="btn btn-default" target="_blank" href="https://www.google.de/maps/@{{ incident.latitude }},{{ incident.longitude }},18z/data=!3m1!1e3">
                                <i class="fa fa-camera" aria-hidden="true"></i>
                                Satellitenansicht
                            </a>
                            {% if incident.streetviewLink %}
                                <a class="btn btn-default" target="_blank" href="{{ incident.streetviewLink }}">
                                    <i class="fa fa-google" aria-hidden="true"></i>
                                    Street View
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if incident.permalink %}
                <div class="card card-block">
                    <h4 class="card-title">
                        Permalink
                    </h4>
                    <input type="text" class="form-control" value="{{ incident.permalink }}" />
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        CriticalMass.loadModule('CyclewaysIncidentShowPage', null, null, function (incidentPage) {
            incidentPage.setIncident('{{ incident|serialize|raw|e('js') }}');
            incidentPage.focus();
        });
    </script>
{% endblock %}
