{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% if ride %}
{% set city = ride.city %}
{% else %}
{% set city = event.city %}
{% endif %}

{% block title %}Fotos{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_desktop_city_list') }}">
            Städteliste
        </a>
    </li>
    <li>
        <a href="{{ objectPath(city) }}">
            {{ city.city }}
        </a>
    </li>
    <li>
        {% if ride %}
        <a href="{{ objectPath(ride) }}">
            {{ ride.getFancyTitle() }}
        </a>
        {% else %}
        <a href="{{ objectPath(event) }}">
            {{ event.title }}
        </a>
        {% endif %}
    </li>
    <li class="active">
        Fotos
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if app.getUser() %}
                    {% if ride %}
                        {% set uploadPath = path('caldera_criticalmass_gallery_photos_upload_ride', { 'citySlug': city.slug, 'rideDate': ride.getFormattedDate() }) %}
                    {% else %}
                        {% set uploadPath = path('caldera_criticalmass_photo_upload_event', { 'citySlug': city.slug, 'eventSlug': event.slug }) %}
                    {% endif %}

                    <div class="btn-group btn-group pull-right" style="margin-top: 16px;">
                        <a class="btn btn-success" href="{{ uploadPath }}" title="Fotos hochladen">
                            <i class="fa fa-camera"></i>
                            Fotos hochladen
                        </a>
                    </div>
                {% endif %}

                {% if ride %}
                <h1>
                    Fotos von {{ ride.getFancyTitle() }}
                </h1>
                {% else %}
                <h1>
                    Fotos von {{ event.title }}
                </h1>
                {% endif %}
            </div>
        </div>

        {% if pagination|length == 0 %}
        {% if not app.getUser() %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    <strong>
                        Schade!
                    </strong>
                    Bislang hat noch niemand Fotos von dieser Tour hochgeladen. Mit einem <a href="{{ path('fos_user_security_login') }}">criticalmass.in-Benutzerkonto</a> könntest du deine Fotos hochladen.
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    <strong>
                        Hej!
                    </strong>
                    Du kannst der Erste sein, der hier seine Fotos hochlädt!
                </div>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="row">
            <div class="photo-list">
                {% for photo in pagination %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="photo-thumb margin-bottom-medium text-center">
                            <a href="{{ objectPath(photo) }}">
                                <img src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}" />
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
