<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Tour
                </th>

                <th>
                    Stadt
                </th>

                <th>
                    Datum
                </th>

                <th>

                </th>
            </tr>
            </thead>
            <tbody>
            {% for participation in participationList %}
                <tr>
                    <td>
                        <a href="{{ objectPath(participation.ride) }}">
                            {{ participation.ride.fancyTitle }}
                        </a>
                    </td>

                    <td>
                        <a href="{{ objectPath(participation.ride.city) }}">
                            {{ participation.ride.city.city }}
                        </a>
                    </td>

                    <td>
                        {{ participation.ride.dateTime|date('d.m.Y H:i') }}&nbsp;Uhr
                    </td>

                    <td class="btn-group btn-group-xs">
                        <a href="{{ path('criticalmass_user_participation_delete', { participationId: participation.id }) }}"
                           class="btn btn-default" title="Deine Teilnahme löschen">
                            <i class="fa fa-trash"></i>
                        </a>

                        <a href="{{ path('criticalmass_user_participation_cancel', { participationId: participation.id }) }}"
                           class="btn btn-default" title="Deine Teilnahme absagen">
                            <i class="fa fa-times"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
