{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Deine Touren{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li class="active">
        Deine Touren
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>
                    Deine Touren
                </h2>

                <p class="lead">
                    An diesen Critical-Mass-Touren hast du bislang teilgenommen.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Tour
                        </th>

                        <th>
                            Stadt
                        </th>

                        <th>
                            Datum
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participation in participationList %}
                        <tr>
                            <td>
                                <a href="{{ objectPath(participation.ride) }}">
                                    {{ participation.ride.fancyTitle }}
                                </a>
                            </td>

                            <td>
                                <a href="{{ objectPath(participation.ride.city) }}">
                                    {{ participation.ride.city.city }}
                                </a>
                            </td>
                            <td>
                                {{ participation.ride.dateTime|date('d.m.Y H:i') }}&nbsp;Uhr
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
