{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Deine Touren{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li class="active">
        Deine Touren
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Current Streak
                            </div>
                            <div class="panel-body text-center">
                                <p>
                                    {{ currentStreak.startDateTime|date('d.m.Y') }} bis heute
                                </p>

                                <p>
                                    <strong>
                                        {{ currentStreak.rideList|length }} Touren
                                    </strong>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Longest Streak
                            </div>
                            <div class="panel-body text-center">
                                <p>
                                    {{ longestStreak.startDateTime|date('d.m.Y') }} bis {{ longestStreak.endDateTime|date('d.m.Y') }}
                                </p>

                                <p>
                                    <strong>
                                        {{ longestStreak.rideList|length }} Touren
                                    </strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>
                    Deine Touren
                </h2>

                <p class="lead">
                    An diesen Critical-Mass-Touren hast du bislang teilgenommen.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Tour
                        </th>

                        <th>
                            Stadt
                        </th>

                        <th>
                            Datum
                        </th>

                        <th>

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participation in participationList %}
                        <tr>
                            <td>
                                <a href="{{ objectPath(participation.ride) }}">
                                    {{ participation.ride.fancyTitle }}
                                </a>
                            </td>

                            <td>
                                <a href="{{ objectPath(participation.ride.city) }}">
                                    {{ participation.ride.city.city }}
                                </a>
                            </td>

                            <td>
                                {{ participation.ride.dateTime|date('d.m.Y H:i') }}&nbsp;Uhr
                            </td>

                            <td class="btn-group btn-group-xs">
                                <a href="{{ path('criticalmass_user_participation_delete', { participationId: participation.id }) }}" class="btn btn-default" title="Deine Teilnahme löschen">
                                    <i class="fa fa-trash"></i>
                                </a>

                                <a href="{{ path('criticalmass_user_participation_cancel', { participationId: participation.id }) }}" class="btn btn-default" title="Deine Teilnahme absagen">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
