{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Kalender{% endblock %}

{% block breadcrumb %}
    <li class="active">Critical-Mass-Kalender</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Dein weltweiter Critical-Mass-Kalender
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="calendar">
                    <thead>
                    <tr>
                        <th colspan="7" class="center">
                            {{ time|date('F') }}
                        </th>
                    </tr>
                    <tr>
                        <th width="14%">Monday</th>
                        <th width="14%">Tuesday</th>
                        <th width="14%">Wednesday</th>
                        <th width="14%">Thursday</th>
                        <th width="14%">Friday</th>
                        <th width="14%">Saturday</th>
                        <th width="14%">Sunday</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% set daysInMonth = time|date('t') %}
                        {% set startDow = time|date('F 1\\s\\t Y')|date('w') - 1%}
                        {% set dow = startDow %}
                        {% for day,rideList in dayList %}
                        {% if loop.first and startDow != 0 %}
                            <td colspan="{{ startDow  }}"></td>
                        {% endif %}
                        <td class="day">
                            <div class="day-number">
                                {{ day|date('d') }}
                            </div>

                            <ul>
                                {% for ride in rideList %}
                                <li>
                                    <a href="{{ objectPath(ride) }}">
                                        {{ ride.fancyTitle }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        {% if loop.last and dow != 6 %}
                            <td colspan="{{ 6 - dow }}">&nbsp;</td>
                        {% endif %}
                        {% if dow == 6 %}
                        {% set dow = 0 %}
                    </tr>
                    <tr>
                        {% else %}
                            {% set dow = dow + 1 %}
                        {% endif %}
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
