{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{{ ride.getFancyTitle() }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>
    <li>
        <a href="{{ objectPath(city) }}">
            {{ city.city }}
        </a>
    </li>
    <li class="active">
        {{ ride.getFancyTitle() }}
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        {% include('AppBundle:Ride:Includes/_registrationHint.html.twig') %}

        {% include('AppBundle:Ride:Ride.html.twig') with { 'ride': ride, 'tracks': tracks, 'participation': participation } %}

        {% include('AppBundle:Ride:Includes/_pagination.html.twig') with { 'previousRide': previousRide, 'nextRide': nextRide } %}
    </div>
{% endblock %}
