{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Profilfoto hochladen{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: 'Dein Benutzerkonto', url: path('criticalmass_user_usermanagement') },
            { label: 'Profilfoto hochladen' },
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h2>
                    Dein Profilfoto
                </h2>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6 offset-md-3 text-center">
                <img
                        class="img-fluid img-thumbnail"
                        src="{{ vich_uploader_asset(app.user, 'imageFile')|imagine_filter('user_profile_photo_medium') }}"
                        alt="Profilfoto"
                />
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 offset-md-3 text-center">
                <p>
                    Hier kannst du ein neues Profilfoto von deinem Rechner hochladen:
                </p>
            </div>
        </div>

        {{ form_start(profilePhotoForm) }}
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                {{ form_widget(profilePhotoForm.imageFile) }}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="btn-group" role="group" aria-label="Profilfoto-Aktionen">
                    {{ form_widget(profilePhotoForm.submit, {
                        label: 'Speichern',
                        attr: { class: 'btn btn-primary' }
                    }) }}

                    <a href="{{ path('criticalmass_user_usermanagement') }}" class="btn btn-secondary">
                        Abbrechen
                    </a>
                </div>
            </div>
        </div>
        {{ form_end(profilePhotoForm) }}
    </div>
{% endblock %}
