{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'profile.photo.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('profile.manage.breadcrumb'|trans, path('criticalmass_user_usermanagement')) }}
    {{ breadcrumb.active('profile.photo.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2>
                    {{ 'profile.photo.heading'|trans }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <img class="img-responsive img-thumbnail" src="{{ vich_uploader_asset(app.user, 'imageFile')|imagine_filter('user_profile_photo_medium') }}"/>
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-6 col-md-offset-3 text-center">
                <p>
                    {{ 'profile.photo.upload_hint'|trans }}
                </p>
            </div>
        </div>

        {{ form_start(profilePhotoForm) }}
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                {{ form_widget(profilePhotoForm.imageFile) }}
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="btn-group">
                    {{ form_widget(profilePhotoForm.submit, { label: 'common.save'|trans, attr: { class: 'btn btn-primary'}}) }}

                    <a href="{{ path('criticalmass_user_usermanagement') }}" class="btn btn-secondary">
                        {{ 'common.cancel'|trans }}
                    </a>
                </div>
            </div>
        </div>
        {{ form_end(profilePhotoForm) }}
    </div>
{% endblock %}
