<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light app-navbar">
    <a class="navbar-brand" href="{{ path('caldera_criticalmass_frontpage') }}">
        {% trans %}criticalmass.logoname{% endtrans %}
    </a>

    <button class="navbar-toggler navbar-toggler-right d-md-none" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bicycle"></i>
                    {% trans %}criticalmass.navigation.criticalmass.criticalmass{% endtrans %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('caldera_criticalmass_static_display', { slug: 'what-is-the-mass' }) }}">
                        {% trans %}criticalmass.navigation.criticalmass.about{% endtrans %}
                    </a>

                    <a class="dropdown-item" href="{{ path('caldera_criticalmass_static_display', { slug: 'faq' }) }}">
                        {% trans %}criticalmass.navigation.criticalmass.faq{% endtrans %}
                    </a>

                    <a class="dropdown-item" href="{{ path('caldera_criticalmass_static_display', { slug: 'help' }) }}">
                        {% trans %}criticalmass.navigation.criticalmass.help{% endtrans %}
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-university"></i>
                    {% trans %}criticalmass.navigation.cities.cities{% endtrans %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('caldera_criticalmass_desktop_city_list') }}">
                        {% trans %}criticalmass.navigation.cities.list{% endtrans %}
                    </a>

                    <a class="dropdown-item" href="{{ path('caldera_criticalmass_region_world') }}">
                        {% trans %}criticalmass.navigation.cities.directory{% endtrans %}
                    </a>

                    <a class="dropdown-item" href="{{ path('caldera_criticalmass_calendar') }}">
                        {% trans %}criticalmass.navigation.cities.calendar{% endtrans %}
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ path('caldera_criticalmass_statistic_overview') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bar-chart"></i>
                    Statistik
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('caldera_criticalmass_statistic_overview') }}">
                        Übersicht
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ path('caldera_criticalmass_board_overview') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-comments"></i>
                    Community
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('caldera_criticalmass_timeline_index') }}">
                        Timeline
                    </a>

                    <a class="dropdown-item" href="{{ path('caldera_criticalmass_board_overview') }}">
                        Diskussionen
                    </a>

                    <a class="dropdown-item" href="{{ path('caldera_criticalmass_photo_examplegallery') }}">
                        Fotos
                    </a>
                </div>
            </li>

            {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('fos_user_security_login') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        {% trans %}criticalmass.navigation.account.account{% endtrans %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('criticalmass_user_usermanagement') }}">
                            {% trans %}criticalmass.navigation.account.profile{% endtrans %}
                        </a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                            {% trans %}criticalmass.navigation.account.logout{% endtrans %}
                        </a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">
                        <i class="fa fa-user"></i>
                        {% trans %}criticalmass.navigation.account.login{% endtrans %}
                    </a>
                </li>
            {% endif %}
        </ul>

        <form class="form-inline float-right d-none d-md-flex" action="{{ path('caldera_criticalmass_search_query') }}">
            <input id="search-input" class="form-control" type="text" data-action="grow" placeholder="{% trans %}criticalmass.navigation.search.search{% endtrans %}" style="width: 180px;">
        </form>

        <ul id="#js-popoverContent" class="nav navbar-nav float-right mr-0 d-none d-md-flex">
            {% if app.user %}
            <li class="nav-item ml-2">
                <button class="btn btn-default navbar-btn navbar-btn-avatar" data-toggle="popover">
                    <img class="rounded-circle" src="{{ gravatarUrl(app.user) }}">
                </button>
            </li>
            {% else %}
            <li class="nav-item ml-2">
                <button class="btn btn-default navbar-btn navbar-btn-avatar" data-toggle="popover">
                    <img class="rounded-circle" src="https://www.gravatar.com/avatar/qwqeqwe?f=y">
                </button>
            </li>
            {% endif %}
        </ul>

        {% if app.user %}
            <ul class="nav navbar-nav d-none" id="js-popoverContent">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('criticalmass_user_usermanagement') }}">
                        {% trans %}criticalmass.navigation.account.profile{% endtrans %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                        {% trans %}criticalmass.navigation.account.logout{% endtrans %}
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
