<div class="row">
    <div class="col-md-12">
        {% if app.user %}
            <button type="button" class="btn btn-success pull-right" data-bs-toggle="modal" data-bs-target="#modal-add-post">
                {{ 'photo.comments.add_comment'|trans }}
            </button>
        {% else %}
            <button
                    type="button"
                    class="btn btn-success pull-right"
                    data-controller="hint-modal"
                    data-modal-hint-title="{{ 'hint_modal.photo.post_add_button.title'|trans }}"
                    data-modal-hint-text="{{ 'hint_modal.photo.post_add_button.text'|trans({'%city%': photo.ride.city.city, '%dateTime%': photo.ride.dateTime|date('d.m.Y')}) }}"
                    data-modal-hint-size="md">
                {{ 'photo.comments.add_comment'|trans }}
            </button>
        {% endif %}

        <h3 class="no-margin-top">
            {{ 'photo.comments.heading'|trans }}
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{ render(controller('App\\Controller\\PostController::listAction', { 'photoId': photo.id })) }}

        {% if app.getUser() %}
            {{ render(controller('App\\Controller\\PostController::writePhotoAction', { 'id': photo.id, 'noButton': true })) }}
        {% endif %}
    </div>
</div>
