{% extends 'Template/StandardTemplate.html.twig' %}

{% set previous_photo = previous_entity(photo) %}
{% set next_photo = next_entity(photo) %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>

    <li>
        <a href="{{ objectPath(city) }}">
            {{ city.city }}
        </a>
    </li>

    <li>
        <a href="{{ objectPath(ride) }}">
            {{ ride.title }}
        </a>
    </li>

    <li>
        <a href="{{ objectPath(ride, 'caldera_criticalmass_photo_ride_list') }}">
            Fotos
        </a>
    </li>

    <li class="active">
        Foto {{ photo.id }} aus {{ city.city }}
    </li>
{% endblock %}

{% block navigation %}
    <div class="row">
        <div class="col-md-12">
            <ul class="pager">
                {% if previous_photo %}
                    <li class="previous">
                        <a href="{{ objectPath(previous_photo) }}">
                            &larr; Voriges Foto
                        </a>
                    </li>
                {% else %}
                    <li class="previous disabled">
                        <a href="#">
                            &larr; Voriges Foto
                        </a>
                    </li>
                {% endif %}

                {% if next_photo %}
                    <li class="next">
                        <a href="{{ objectPath(next_photo) }}">
                            Nächstes Foto &rarr;
                        </a>
                    </li>
                {% else %}
                    <li class="next disabled">
                        <a href="#">
                            Nächstes Foto &rarr;
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    {{ block('navigation') }}

    <div class="row">
        <div class="col-md-12">
            {% if not app.user and photo.user.blurGalleries %}
                <div class="row" style="position: absolute; z-index: 100; width: 100%; height: 100%; top: 100px;">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-danger">
                            <div class="panel-body">
                                <h4 class="text-center">
                                    Bitte logge dich ein
                                </h4>

                                <p>
                                    Um diese Fotos anzusehen, musst du dich leider einloggen. Keine Sorge, das dauert
                                    keine fünf Sekunden:
                                </p>

                                <p class="text-center">
                                    <a href="#" data-toggle="modal" data-target="#loginModal" class="btn btn-primary">
                                        Login
                                    </a>
                                </p>

                                <h6 class="text-center">
                                    Warum wird mir das angezeigt?
                                </h6>

                                <p>
                                    <small>
                                        criticalmass.in ist ein reines Hobby-Projekt ohne jegliche Absichten zur
                                        Gewinnerzielung. Der Ansturm auf Fotos bringt Server und Anbindung leider
                                        regelmäßig an die Belastungsgrenze &mdash; Indem bestimmte Fotos nur für
                                        angemeldete Nutzer angezeigt werden, lässt sich die Belastung (hoffentlich)
                                        besser verteilen.
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <img id="photo" class="img-responsive"
                     src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_blurred') }}"
                     style="width: 100%;"/>
            {% else %}
                <img id="photo" class="img-responsive"
                     src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}"/>
            {% endif %}
        </div>
    </div>

    <div class="row margin-top-medium">
        <div class="col-md-8">
            {% include 'Photo/_comments.html.twig' with { 'photo': photo } %}
        </div>

        <div class="col-md-4">
            {% include 'Photo/_map.html.twig' with { 'photo': photo } %}
            {% include 'Photo/_details.html.twig' with { 'photo': photo } %}
            {% include 'Photo/_social_networks.html.twig' with { 'photo': photo } %}
        </div>
    </div>

        {{ block('navigation') }}
</div>

    <script>
        CriticalMass.loadModule('ViewPhotoPage', null, null, function (page) {
            {% if previous_photo %}
            page.setPreviousPhotoUrl('{{ objectPath(previous_photo) }}');
            {% endif %}

            {% if next_photo %}
            page.setNextPhotoUrl('{{ objectPath(next_photo) }}');
            {% endif %}

            {% if photo.hasCoordinates() %}
            page.setPhoto('{{ photo|serialize|raw|e('js') }}', '{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}');
            page.initMap();
            {% endif %}
        });

        CriticalMass.loadModule('ScrollToPost');
    </script>

    {% endblock %}
