{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% set previous_photo = previous_entity(photo) %}
{% set next_photo = next_entity(photo) %}

{% block breadcrumb %}
    {{ breadcrumb.item('Städteliste', path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(city.city, object_path(city)) }}
    {{ breadcrumb.item(ride.title, object_path(ride)) }}
    {{ breadcrumb.item('Fotos', object_path(ride, 'caldera_criticalmass_photo_ride_list')) }}
    {{ breadcrumb.active('Foto ' ~ photo.id ~ ' aus ' ~ city.city) }}
{% endblock %}

{% block navigation %}
    <div class="row mb-3">
        <div class="col-12">
            <nav aria-label="Foto Navigation">
                <ul class="pagination justify-content-between mb-0">
                    <li class="page-item{% if not previous_photo %} disabled{% endif %}">
                        <a class="page-link" href="{% if previous_photo %}{{ object_path(previous_photo) }}{% else %}#{% endif %}">
                            &larr; Voriges Foto
                        </a>
                    </li>

                    <li class="page-item{% if not next_photo %} disabled{% endif %}">
                        <a class="page-link" href="{% if next_photo %}{{ object_path(next_photo) }}{% else %}#{% endif %}">
                            Nächstes Foto &rarr;
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    {{ block('navigation') }}

    <div class="row mb-4">
        <div class="col-12">
            {% if not app.user and photo.user.blurGalleries %}
                <div class="position-relative">
                    <div class="position-absolute w-100 h-100 d-flex align-items-center justify-content-center" style="z-index: 100; top: 0; left: 0;">
                        <div class="col-md-6 offset-md-3">
                            <div class="card border-0 shadow-sm">
                                <div class="card-body">
                                    <h4 class="text-center">
                                        Bitte logge dich ein
                                    </h4>

                                    <p>
                                        Um diese Fotos anzusehen, musst du dich leider einloggen. Keine Sorge, das dauert
                                        keine fünf Sekunden:
                                    </p>

                                    <p class="text-center">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-primary">
                                            Login
                                        </a>
                                    </p>

                                    <h6 class="text-center">
                                        Warum wird mir das angezeigt?
                                    </h6>

                                    <p class="mb-0">
                                        <small class="text-muted">
                                            criticalmass.in ist ein reines Hobby-Projekt ohne jegliche Absichten zur
                                            Gewinnerzielung. Der Ansturm auf Fotos bringt Server und Anbindung leider
                                            regelmäßig an die Belastungsgrenze &mdash; Indem bestimmte Fotos nur für
                                            angemeldete Nutzer angezeigt werden, lässt sich die Belastung (hoffentlich)
                                            besser verteilen.
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img id="photo" class="img-fluid w-100"
                         src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_blurred') }}"/>
                </div>
            {% else %}
                <img id="photo" class="img-fluid"
                     src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}"/>
            {% endif %}
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-8 mb-3 mb-md-0">
            {% include 'Photo/_comments.html.twig' with { 'photo': photo } %}
        </div>

        <div class="col-md-4">
            {% include 'Photo/_map.html.twig' with { 'photo': photo } %}
            {% include 'Photo/_details.html.twig' with { 'photo': photo } %}
        </div>
    </div>

    {{ block('navigation') }}
</div>

{% endblock %}
