{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Fotos bearbeiten{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path(ride.city) }}">
            {{ ride.city.title }}
        </a>
    </li>
    <li>
        <a href="{{ path(ride) }}">
            {{ ride.getFancyTitle() }}
        </a>
    </li>
    <li class="active">
        Fotos bearbeiten
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('caldera_criticalmass_gallery_photos_upload_ride', { 'citySlug': ride.city.getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}" class="btn btn-success pull-right">
                    Weitere Fotos hochladen
                </a>

                <h2>
                    Fotos bearbeiten
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    {% for photo in pagination %}
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <dl>
                                    <dt>
                                        Aufnahmedatum
                                    </dt>
                                    <dd>
                                        {{ photo.dateTime.format('d.m.Y H:i:s') }}
                                    </dd>

                                    <dt>
                                        Koordinaten
                                    </dt>
                                    <dd>
                                        {% if photo.hasCoordinates() %}ja ({{ photo.latitude }}, {{ photo.longitude }}){% else %}nein{% endif %}
                                    </dd>
                                </dl>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                        <a href="{{ path('caldera_criticalmass_photo_delete', { 'citySlug': photo.ride.city.getMainSlugString(), 'rideDate': photo.ride.getFormattedDate(), 'photoId': photo.id }) }}" class="btn btn-default btn-xs">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                        {% if photo.enabled %}
                                            <a class="btn btn-default btn-xs" title="Deaktivieren" href="{{ path('caldera_criticalmass_photo_toggle', { 'citySlug': photo.ride.city.getMainSlugString(), 'rideDate': photo.ride.getFormattedDate(), 'photoId': photo.id }) }}">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                        {% else %}
                                            <a class="btn btn-default btn-xs" title="Aktivieren" href="{{ path('caldera_criticalmass_photo_toggle', { 'citySlug': photo.ride.city.getMainSlugString(), 'rideDate': photo.ride.getFormattedDate(), 'photoId': photo.id }) }}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        {% endif %}
                                        <a href="{{ path('caldera_criticalmass_photo_place_single', { 'citySlug': photo.ride.city.getMainSlugString(), 'rideDate': photo.ride.getFormattedDate(), 'photoId': photo.id }) }}" class="btn btn-default btn-xs">
                                            <i class="fa fa-location-arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                        {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}