{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Deine Fotos{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_desktop_city_list') }}">
            Städteliste
        </a>
    </li>
    <li>
        <a href="{{ path(ride.city) }}">
            {{ ride.city.city }}
        </a>
    </li>
    <li>
        <a href="{{ path(ride) }}">
            {{ ride.getFancyTitle() }}
        </a>
    </li>
    <li class="active">
        Fotos
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if app.getUser() %}
                    <div class="btn-group btn-group pull-right" style="margin-top: 16px;">
                        <a class="btn btn-success" href="{{ path('caldera_criticalmass_gallery_photos_upload_ride', { 'citySlug': ride.city.getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}" title="Fotos hochladen">
                            <i class="fa fa-camera"></i>
                            Fotos hochladen</a>
                    </div>
                {% endif %}

                <h1>
                    Fotos von {{ ride.getFancyTitle() }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="photo-list">
                {% for photo in pagination %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="photo margin-bottom-medium text-center">
                            <a href="{{ path(photo) }}">
                                <img src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}" />
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}