{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="auto-scale" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="pager">
                {% if previousPhoto %}
                    <li class="previous">
                        <a href="{{ path('caldera_criticalmass_photo_show', { 'citySlug': previousPhoto.ride.city.getMainSlugString(), 'rideDate': previousPhoto.ride.getFormattedDate(), 'photoId': previousPhoto.id }) }}">&larr; Voriges Foto</a>
                    </li>
                {% else %}
                    <li class="previous disabled"><a href="#">&larr; Voriges Foto</a></li>
                {% endif %}

                {% if nextPhoto %}
                    <li class="next">
                        <a href="{{ path('caldera_criticalmass_photo_show', { 'citySlug': nextPhoto.ride.city.getMainSlugString(), 'rideDate': nextPhoto.ride.getFormattedDate(), 'photoId': nextPhoto.id }) }}">Nächstes Foto &rarr;</a>
                    </li>
                {% else %}
                    <li class="next disabled"><a href="#">Nächstes Foto &rarr;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block additionalFooterElements %}
<script src="https://raw.githubusercontent.com/gestixi/image-scale/master/image-scale.js"></script>

    <script>
        domReadyQueue.push(function($) {
            var $img = $('img.auto-scale');
            var parentWidth = $img.parent().width();

            $img.css('width', parentWidth);

            $img.load(function() {
                var ratio = 0;  // Used for aspect ratio
                var width = $img.width();    // Current image width
                var height = $img.height();  // Current image height

                // Check if the current width is larger than the max
                if(width > parentWidth){
                    ratio = parentWidth / width;   // get ratio for scaling image
                    $(this).css("height", height * ratio);  // Scale height based on ratio
                    height = height * ratio;    // Reset height to match scaled image
                    width = width * ratio;    // Reset width to match scaled image
                }
            });

            $('body').keydown(function(e) {
                {% if previousPhoto %}
                if ((e.keyCode || e.which) == 37) {
                    $(location).attr('href', '{{ path('caldera_criticalmass_photo_show', { 'citySlug': previousPhoto.ride.city.getMainSlugString(), 'rideDate': previousPhoto.ride.getFormattedDate(), 'photoId': previousPhoto.id }) }}');
                }
                {% endif %}

                {% if nextPhoto %}
                if ((e.keyCode || e.which) == 39) {
                    $(location).attr('href', '{{ path('caldera_criticalmass_photo_show', { 'citySlug': nextPhoto.ride.city.getMainSlugString(), 'rideDate': nextPhoto.ride.getFormattedDate(), 'photoId': nextPhoto.id }) }}');
                }
                {% endif %}
            });

        });
    </script>
{% endblock %}