{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Foto {{ photo.id }} aus {{ photo.city.city }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_desktop_city_list') }}">
            Städteliste
        </a>
    </li>
    <li>
        <a href="{{ path(city) }}">
            {{ city.city }}
        </a>
    </li>
    <li>
        <a href="{{ path(ride) }}">
            {{ ride.getFancyTitle() }}
        </a>
    </li>
    <li>
        <a href="{{ path('caldera_criticalmass_photo_ride_list', { 'citySlug': city.getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}">
            Fotos
        </a>
    </li>
    <li class="active">
        Foto {{ photo.id }} aus {{ photo.city.city }}
    </li>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="pager">
                {% if previousPhoto %}
                    <li class="previous">
                        <a href="{{ path(previousPhoto) }}">
                            &larr; Voriges Foto
                        </a>
                    </li>
                {% else %}
                    <li class="previous disabled">
                        <a href="#">
                            &larr; Voriges Foto
                        </a>
                    </li>
                {% endif %}

                {% if nextPhoto %}
                    <li class="next">
                        <a href="{{ path(nextPhoto) }}">
                            Nächstes Foto &rarr;
                        </a>
                    </li>
                {% else %}
                    <li class="next disabled">
                        <a href="#">
                            Nächstes Foto &rarr;
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<script>
    CriticalMass.loadModule('ViewPhotoPage', null, null, function(page) {
        {% if previousPhoto %}
        page.setPreviousPhotoUrl('{{ path(previousPhoto) }}');
        {% endif %}

        {% if nextPhoto %}
        page.setNextPhotoUrl('{{ path(nextPhoto) }}');
        {% endif %}
    });
</script>

{% endblock %}
