{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Fotos hochladen{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">St채dteliste</a></li>
    <li><a href="{{ path(ride.city) }}">{{ ride.city.title }}</a></li>
    <li><a href="{{ path(ride) }}">{{ ride.getFancyTitle() }}</a></li>
    <li class="active">Fotos hochladen</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Fotos hochladen</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <p>Ziehe einfach Fotos von deinem Rechner auf die graue Fl채che, um sie zu der Tour hinzuzuf체gen. Tipp: Wenn du vorher einen GPX-Track deiner Tour hochl채dst, werden deine Fotos automatisch auf der Karte verortet.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <form action="{{ path('caldera_criticalmass_gallery_photos_upload_ride', { 'citySlug': ride.getCity().getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}" class="dropzone" id="photo-dropzone">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        CriticalMass.loadModule('UploadPhotoPage', '#photo-dropzone');
    </script>
{% endblock %}