{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Dein Benutzerprofil{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_desktop_index') }}">criticalmass.in</a></li>
            <li class="active">Dein Benutzerkonto</li>
        </ol>
        <h1>Hej {{ app.getUser().getUsername() }}, schön, dass du da bist!</h1>

        <p>Ähm, ja, an dieser Seite arbeiten wir noch. So ganz viel gibt’s hier noch nicht zu tun:</p>

        <ul>
            <li><a href="{{ path('sonata_user_change_password') }}">Kennwort ändern</a></li>
            <li><a href="{{ path('caldera_criticalmass_statistic_track_list') }}">Deine Tracks</a></li>
            <li><a href="{{ path('sonata_user_security_logout') }}">Abmelden</a></li>
        </ul>
    </div>
{% endblock %}