{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Login{% endblock %}

{% block breadcrumb %}
    <li class="active">Login</li>
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Einloggen und losfahren!</h1>

                <p>Hier kannst du dich mit deinem criticalmass.in-Benutzerkonto einloggen. Gültig sind alle Benutzerkonten, die seit Anfang 2013 registriert worden sind. Falls du dein Kennwort vergessen hast, kannst du dir <a href="{{ path('sonata_user_resetting_request') }}">ein neues zusenden lassen</a>. Und falls du noch kein Benutzerkonto hast, kannst du dich <a href="{{ path('sonata_user_registration_register') }}">hier anmelden</a>.</p>
            </div>
        </div>

    {% block sonata_user_login_error %}
        {% if error %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block sonata_user_login_form %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-horizontal">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">Dein Benutzername:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-sm-4 control-label">Dein Kennwort:</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="password" name="_password" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div class="checkbox control-group">
                                <label for="remember_me">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/> eingeloggt bleiben
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="Ride on" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
    </div>
{% endblock %}