{% if item.city %}
    {% set source = item.city %}
    {% set sourceName = source.title %}
{% endif %}

{% if item.ride %}
    {% set source = item.ride %}
    {% set sourceName = source.fancyTitle %}
{% endif %}

{% if item.subride %}
    {% set source = item.subride %}
    {% set sourceName = source.title %}
{% endif %}

{% if item.user %}
    {% set source = item.user %}
    {% set sourceName = source.username %}
{% endif %}

<div class="row margin-bottom-medium">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <time>{{ item.dateTime|date('d.m.Y') }}</time>
        <time>{{ item.dateTime|date('H:i') }}&nbsp;Uhr</time>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

    </div>


    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ objectPath((source)) }}">
                    <strong>
                        {{ sourceName }}
                    </strong>
                </a>
                hat einen Blog-Beitrag veröffentlicht:
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="{{ item.permalink }}">
                    <h4>
                        {{ item.title }}
                    </h4>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ item.text|striptags('<p><br><ol><ul><li><b><i><em><strong>')|slice(0, 350)|raw }}…
                </p>
            </div>
        </div>
    </div>
</div>
