{% extends 'Template/StandardTemplate.html.twig' %}

{% form_theme disconnectForm 'Form/theme.html.twig' %}

{% block title %}Dein Benutzerprofil{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li class="active">
        Logindaten aktualisieren
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>
                    Logindaten aktualisieren
                </h2>

                <p class="lead">
                    Du loggst dich bislang offenbar über X, ehemals Twitter, oder Facebook ein. Leider treten bei beiden Anbietern regelmäßig Login-Probleme auf, so dass wir nicht garantieren können, den Login über diese Netzwerke auch in Zukunft zu ermöglichen. Hier kannst du deinen Login von X oder Facebook aktualisieren, so dass du dich künftig mit deiner E-Mail-Adresse und einem Kennwort anmeldest.
                </p>

                <p class="lead">
                    Der Login über Strava ist davon nicht betroffen und wird auch in Zukunft funktionieren.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {{ form_start(disconnectForm) }}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Deine E-Mail-Adresse
                    </div>
                    <div class="panel-body form-group{% if form_errors(disconnectForm.email) %} has-error has-feedback{% endif %}">
                        <p>
                            Du wirst dich künftig über deine E-Mail-Adresse einloggen:
                        </p>

                        {{ form_errors(disconnectForm.email) }}

                        <label class="control-label" for="">
                            Deine E-Mail-Adresse:
                        </label>
                        {{ form_widget(disconnectForm.email, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Dein neues Kennwort
                    </div>
                    <div class="panel-body form-group{% if form_errors(disconnectForm.plainPassword) %} has-error has-feedback{% endif %}">
                        <p>
                            Wähle bitte ein sicheres Kennwort, mit dem du dich künftig auf criticalmass.in einloggst. Gib das Kennwort zur Sicherheit bitte ein zweites Mal ein, um Tippfehler zu vermeiden.
                        </p>

                        {{ form_errors(disconnectForm.plainPassword) }}

                        <label class="control-label" for="">
                            Dein neues Kennwort:
                        </label>
                        {{ form_widget(disconnectForm.plainPassword.first, { 'attr' : { 'class': 'form-control'} }) }}

                        <label class="control-label" for="">
                            Dein neues Kennwort (Wiederholung):
                        </label>
                        {{ form_widget(disconnectForm.plainPassword.second, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-right">
                        {{ form_widget(disconnectForm.submit, { attr: { class: 'btn btn-primary' }}) }}

                        <a href="{{ path('criticalmass_user_usermanagement') }}">
                            Abbrechen
                        </a>
                    </div>
                </div>
                {{ form_end(disconnectForm) }}
            </div>
        </div>
    </div>
{% endblock %}
