{% extends 'Template/StandardTemplate.html.twig' %}

{% form_theme usernameForm 'Form/theme.html.twig' %}

{% block title %}Benutzername ändern{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li class="active">
        Benutzername ändern
    </li>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>
                    Benutzername ändern
                </h2>

                <p class="lead">
                    Dein Benutzername wird öffentlich angezeigt, beispielsweise bei Fotos, Kommentaren oder Teilnahmen
                    an Critical-Mass-Touren.
                </p>
            </div>
        </div>

        {{ form_start(usernameForm) }}

        <div class="row">
            <div class="col-md-6 offset-md-3">

                <div class="card">
                    <div class="card-header">
                        Dein Benutzername
                    </div>

                    <div class="card-body">
                        <p>
                            Dein Benutzername wird öffentlich angezeigt &mdash; außerdem brauchst du ihn zum Einloggen,
                            wenn du dich nicht über ein soziales Netzwerk anmeldest.
                        </p>

                        {% if form_errors(usernameForm.username) %}
                            <div class="invalid-feedback d-block mb-2">
                                {{ form_errors(usernameForm.username) }}
                            </div>
                        {% endif %}

                        <div class="mb-3">
                            <label class="form-label">
                                Benutzername:
                            </label>
                            {{ form_widget(usernameForm.username, { 'attr' : { 'class': 'form-control' } }) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="btn-group" role="group">
                    <a href="{{ path('criticalmass_user_usermanagement') }}" class="btn btn-secondary">
                        Abbrechen
                    </a>

                    <button type="submit" class="btn btn-primary">
                        Speichern
                    </button>
                </div>
            </div>
        </div>

        {{ form_end(usernameForm) }}
    </div>
{% endblock %}
