{% extends 'Template/StandardTemplate.html.twig' %}

{% form_theme userEmailForm 'Form/theme.html.twig' %}

{% block title %}Dein Benutzerprofil{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li class="active">
        E-Mail-Adresse ändern
    </li>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>E-Mail-Adresse ändern</h2>

                <p class="lead">
                    Hier kannst du deine E-Mail-Adresse ändern &mdash; denk daran, dich beim nächsten Mal mit deiner
                    neuen E-Mail-Adresse einzuloggen.
                </p>
            </div>
        </div>

        {{ form_start(userEmailForm) }}

        <div class="row">
            <div class="col-md-6 offset-md-3">

                <div class="card">
                    <div class="card-header">
                        Deine E-Mail-Adresse
                    </div>

                    <div class="card-body">
                        <p>
                            Deine E-Mail-Adresse wird selbstverständlich nirgendwo öffentlich angezeigt.
                        </p>

                        {% if form_errors(userEmailForm.email) %}
                            <div class="invalid-feedback d-block mb-2">
                                {{ form_errors(userEmailForm.email) }}
                            </div>
                        {% endif %}

                        <div class="mb-3">
                            <label class="form-label">E-Mail-Adresse:</label>
                            {{ form_widget(userEmailForm.email, { 'attr' : { 'class': 'form-control' } }) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="btn-group" role="group">
                    <a href="{{ path('criticalmass_user_usermanagement') }}" class="btn btn-secondary">
                        Abbrechen
                    </a>

                    <button type="submit" class="btn btn-primary">
                        Speichern
                    </button>
                </div>
            </div>
        </div>

        {{ form_end(userEmailForm) }}
    </div>
{% endblock %}
