{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% form_theme usernameForm 'Form/theme.html.twig' %}

{% block title %}Benutzername ändern{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Dein Benutzerkonto', path('criticalmass_user_usermanagement')) }}
    {{ breadcrumb.active('Benutzername ändern') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>
                    Benutzername ändern
                </h2>

                <p class="lead">
                    Dein Benutzername wird öffentlich angezeigt, beispielsweise bei Fotos, Kommentaren oder Teilnahmen
                    an Critical-Mass-Touren.
                </p>
            </div>
        </div>

        {{ form_start(usernameForm) }}

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card border-0 shadow-sm mb-4">
                    <div class="card-header bg-white">
                        <i class="far fa-user text-primary me-2"></i>Dein Benutzername
                    </div>
                    <div class="card-body">
                        <p>
                            Dein Benutzername wird öffentlich angezeigt &mdash; außerdem brauchst du ihn zum Einloggen,
                            wenn du dich nicht über ein soziales Netzwerk anmeldest.
                        </p>

                        {{ form_errors(usernameForm.username) }}

                        <div class="mb-3">
                            <label class="form-label">
                                Benutzername:
                            </label>
                            {{ form_widget(usernameForm.username, { 'attr' : { 'class': 'form-control'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="btn-group" role="group">
                    <a href="{{ path('criticalmass_user_usermanagement') }}" class="btn btn-light">
                        <i class="far fa-times me-1"></i>Abbrechen
                    </a>

                    <button type="submit" class="btn btn-primary">
                        <i class="far fa-save me-1"></i>Speichern
                    </button>
                </div>
            </div>
        </div>

        {{ form_end(usernameForm) }}
    </div>
{% endblock %}
