{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% form_theme userEmailForm 'Form/theme.html.twig' %}

{% block title %}Dein Benutzerprofil{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Dein Benutzerkonto', path('criticalmass_user_usermanagement')) }}
    {{ breadcrumb.active('E-Mail-Adresse ändern') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>
                    E-Mail-Adresse ändern
                </h2>

                <p class="lead">
                    Hier kannst du deine E-Mail-Adresse ändern &mdash; denk daran, dich beim nächsten Mal mit deiner
                    neuen E-Mail-Adresse einzuloggen.
                </p>
            </div>
        </div>

        {{ form_start(userEmailForm) }}

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card border-0 shadow-sm mb-4">
                    <div class="card-header bg-white">
                        <i class="far fa-envelope text-primary me-2"></i>Deine E-Mail-Adresse
                    </div>
                    <div class="card-body">
                        <p>
                            Deine E-Mail-Adresse wird selbstverständlich nirgendwo öffentlich angezeigt.
                        </p>

                        {{ form_errors(userEmailForm.email) }}

                        <div class="mb-3">
                            <label class="form-label">
                                E-Mail-Adresse:
                            </label>
                            {{ form_widget(userEmailForm.email, { 'attr' : { 'class': 'form-control'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="btn-group" role="group">
                    <a href="{{ path('criticalmass_user_usermanagement') }}" class="btn btn-light">
                        <i class="far fa-times me-1"></i>Abbrechen
                    </a>

                    <button type="submit" class="btn btn-primary">
                        <i class="far fa-save me-1"></i>Speichern
                    </button>
                </div>
            </div>
        </div>

        {{ form_end(userEmailForm) }}
    </div>
{% endblock %}
