{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'profile.manage.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.active('profile.manage.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>
                    {{ 'profile.manage.greeting'|trans({'%username%': app.getUser().getUsername()}) }}
                </h2>

                <p class="lead">
                    {{ 'profile.manage.welcome'|trans }}
                    {{ 'profile.manage.welcome_text'|trans({'%photos%': feature('photos') ? 'profile.manage.welcome_photos_prefix'|trans : ''}) }}
                </p>
            </div>
        </div>

        {% for flashMessage in app.session.flashbag.get('success') %}

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="alert alert-dismissible alert-success" role="alert">
                        {{ flashMessage }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'common.close'|trans }}"></button>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ 'profile.manage.panel_photo'|trans }}
                            </div>
                            <div class="panel-body">
                                <p>
                                    {{ 'profile.manage.panel_photo_text'|trans }}
                                </p>

                                <p class="text-center">
                                    <a class="btn btn-secondary"
                                       href="{{ path('criticalmass_user_profile_photo') }}">
                                        {{ 'profile.manage.panel_photo'|trans }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ 'profile.manage.panel_color'|trans }}
                            </div>
                            <div class="panel-body">
                                <p>
                                    {{ 'profile.manage.panel_color_text'|trans }}
                                </p>

                                <p class="text-center">
                                    <a class="btn btn-secondary"
                                       href="{{ path('criticalmass_user_profile_color') }}">
                                        {{ 'profile.manage.panel_color'|trans }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ 'profile.manage.panel_rides'|trans }}
                            </div>

                            <div class="panel-body">
                                {% if participationCounter == 0 %}
                                    <div class="alert alert-info" role="alert">
                                        <strong>{{ 'profile.manage.rides_none_label'|trans }}</strong>
                                        {{ 'profile.manage.rides_none'|trans({'%calendar_url%': path('caldera_criticalmass_calendar')})|raw }}
                                    </div>
                                {% else %}
                                    <p>
                                        {{ 'profile.manage.rides_count'|trans({'%count%': participationCounter}) }}
                                    </p>

                                    <p class="text-center">
                                        <a class="btn btn-secondary"
                                           href="{{ path('criticalmass_user_participation_list') }}">
                                            {{ 'profile.manage.rides_overview'|trans }}
                                        </a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ 'profile.manage.panel_tracks'|trans }}
                            </div>
                            <div class="panel-body">
                                {% if trackCounter == 0 %}
                                    <div class="alert alert-info" role="alert">
                                        {{ 'profile.manage.tracks_none'|trans }}
                                    </div>
                                {% else %}
                                    <p>
                                        {{ 'profile.manage.tracks_count'|trans({'%count%': trackCounter}) }}
                                    </p>

                                    <p class="text-center">
                                        <a class="btn btn-secondary" href="{{ path('caldera_criticalmass_track_list') }}">
                                            {{ 'profile.manage.tracks_manage'|trans }}
                                        </a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if feature('photos') %}
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ 'profile.manage.panel_photos'|trans }}
                            </div>
                            <div class="panel-body">
                                {% if photoCounter == 0 %}
                                    <div class="alert alert-info" role="alert">
                                        {{ 'profile.manage.photos_none'|trans }}
                                    </div>
                                {% else %}
                                    <p>
                                        {{ 'profile.manage.photos_count'|trans({'%count%': photoCounter}) }}
                                    </p>

                                    <p class="text-center">
                                        <a class="btn btn-secondary"
                                           href="{{ path('caldera_criticalmass_photo_user_list') }}">
                                            {{ 'profile.manage.photos_manage'|trans }}
                                        </a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ 'profile.manage.panel_username'|trans }}
                            </div>
                            <div class="panel-body">
                                <p>
                                    {{ 'profile.manage.panel_username_text'|trans }}
                                </p>

                                <p class="text-center">
                                    <a class="btn btn-secondary"
                                       href="{{ path('criticalmass_user_usermanagement_editusername') }}">
                                        {{ 'profile.manage.panel_username'|trans }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ 'profile.manage.panel_email'|trans }}
                            </div>
                            <div class="panel-body">
                                <p>
                                    {{ 'profile.manage.panel_email_text'|trans }}
                                </p>

                                <p class="text-center">
                                    <a class="btn btn-secondary"
                                       href="{{ path('criticalmass_user_usermanagement_editemail') }}">
                                        {{ 'profile.manage.panel_email'|trans }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
