{% extends 'Template/StandardTemplate.html.twig' %}

{% set bootstrap4 = true %}

{% block title %}Dein Benutzerprofil{% endblock %}

{% block breadcrumb %}
    <li class="active">Dein Benutzerkonto</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h2>
                    Hej {{ app.getUser().getUsername() }}, schön, dass du da bist!
                </h2>

                <p class="lead">
                    Willkommen in deinem Benutzerkonto!
                    Hier kannst du deine {% if feature_enabled('photos') %}Fotos, {% endif %}Tracks und Teilnahmen verwalten und deine Kontoeinstellungen ändern.
                </p>
            </div>
        </div>

        {% for flashMessage in app.session.flashbag.get('success') %}

            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <div class="alert alert-dismissable alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        {{ flashMessage }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <div class="card">
                            <div class="card-header">
                                Profilfoto ändern
                            </div>
                            <div class="card-body">
                                <p>
                                    Lade ein Foto für dein Profil hoch.
                                </p>

                                <p class="text-center">
                                    <a class="btn btn-secondary"
                                       href="{{ path('criticalmass_user_profile_photo') }}">
                                        Profilfoto ändern
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <div class="card">
                            <div class="card-header">
                                Profilfarbe wählen
                            </div>
                            <div class="card-body">
                                <p>
                                    Ändere die Farbe deines Benutzerkontos.
                                </p>

                                <p class="text-center">
                                    <a class="btn btn-secondary"
                                       href="{{ path('criticalmass_user_profile_color') }}">
                                        Profilfarbe wählen
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <div class="card">
                            <div class="card-header">
                                Deine Touren
                            </div>

                            <div class="card-body">
                                {% if participationCounter == 0 %}
                                    <div class="alert alert-info" role="alert">
                                        <strong>Schade:</strong>
                                        Du hast noch an keiner Critical Mass teilgenommen. Im <a
                                                href="{{ path('caldera_criticalmass_calendar') }}">Kalender</a> findest
                                        du Touren in deiner Nähe.
                                    </div>
                                {% else %}
                                    <p>
                                        Super: Du hast bislang an {{ participationCounter }} Critical-Mass-Touren
                                        teilgenommen.
                                    </p>

                                    <p class="text-center">
                                        <a class="btn btn-secondary"
                                           href="{{ path('criticalmass_user_participation_list') }}">
                                            Tourenübersicht
                                        </a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <div class="card">
                            <div class="card-header">
                                Deine Tracks
                            </div>
                            <div class="card-body">
                                {% if trackCounter == 0 %}
                                    <div class="alert alert-info" role="alert">
                                        Du hast bislang noch keine Tracks von Critical-Mass-Touren gespeichert. Schau in
                                        die Hilfe, wenn du weitere Informationen zu diesem Thema benötigst.
                                    </div>
                                {% else %}
                                    <p>
                                        Von deinen Critical-Mass-Touren hast du insgesamt {{ trackCounter }} Tracks
                                        hochgeladen.
                                    </p>

                                    <p class="text-center">
                                        <a class="btn btn-secondary" href="{{ path('caldera_criticalmass_track_list') }}">
                                            Tracks verwalten
                                        </a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if feature_enabled('photos') %}
                    <div class="col-12 col-md-6 mb-3">
                        <div class="card">
                            <div class="card-header">
                                Deine Fotos
                            </div>
                            <div class="card-body">
                                {% if photoCounter == 0 %}
                                    <div class="alert alert-info" role="alert">
                                        Du hast bislang noch keine Fotos hochgeladen. In der Hilfe findest du mehr
                                        Informationen zu diesem Thema.
                                    </div>
                                {% else %}
                                    <p>
                                        Du hast von deinen Touren {{ photoCounter }} Fotos hochgeladen.
                                    </p>

                                    <p class="text-center">
                                        <a class="btn btn-secondary"
                                           href="{{ path('caldera_criticalmass_photo_user_list') }}">
                                            Fotos verwalten
                                        </a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="col-12 col-md-6 mb-3">
                        <div class="card">
                            <div class="card-header">
                                Kennwort ändern
                            </div>
                            <div class="card-body">
                                {% if app.user.oauthAccount %}
                                    <div class="alert alert-info" role="alert">
                                        Du kannst dein Kennwort nicht ändern, weil du dich über ein soziales Netzwerk
                                        bei criticalmass.in anmeldest.
                                    </div>
                                {% else %}
                                    <p>
                                        Ändere dein Kennwort, das du zum Login bei criticalmass.in nutzt.
                                    </p>

                                    <p class="text-center">
                                        <a class="btn btn-secondary" href="{{ path('fos_user_change_password') }}">
                                            Kennwort ändern
                                        </a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <div class="card">
                            <div class="card-header">
                                Benutzername ändern
                            </div>
                            <div class="card-body">
                                <p>
                                    Hier kannst du deinen Benutzernamen ändern.
                                </p>

                                <p class="text-center">
                                    <a class="btn btn-secondary"
                                       href="{{ path('criticalmass_user_usermanagement_editusername') }}">
                                        Benutzername ändern
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <div class="card">
                            <div class="card-header">
                                E-Mail-Adresse ändern
                            </div>
                            <div class="card-body">
                                {% if app.user.oauthAccount %}
                                    <div class="alert alert-info" role="alert">
                                        Du kannst deine E-Mail-Adresse nicht ändern, weil du dich über ein soziales
                                        Netzwerk bei criticalmass.in anmeldest.
                                    </div>
                                {% else %}
                                    <p>
                                        Hier kannst du deine E-Mail-Adresse ändern. Bedenke bitte, dass du dich künftig
                                        mit deinen neuen Benutzerdaten einloggen musst.
                                    </p>

                                    <p class="text-center">
                                        <a class="btn btn-secondary"
                                           href="{{ path('criticalmass_user_usermanagement_editemail') }}">
                                            E-Mail-Adresse ändern
                                        </a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if bikeright_visible %}
                        <div class="col-12 col-md-6 mb-3">
                            <div class="panel panel-bikeright">
                                <div class="card-header">
                                    <small class="pull-right">
                                        Anzeige
                                    </small>

                                    Bikeright-Rabattcode
                                </div>
                                <div class="card-body">
                                    <p>
                                        Ab sofort! Kostenfreie Rechtsberatung für Community-Mitglieder!
                                    </p>

                                    <p class="text-center">
                                        <a class="btn btn-bikeright"
                                           href="{{ path('criticalmass_user_bikeright_view') }}">
                                            Mehr erfahren
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
