{% if dateTime > ride.getDateTime() %}
    {% set pastRide = true %}
{% else %}
    {% set pastRide = false %}
{% endif %}

{% set hasSocialMedia = ride.getUrl() or ride.getFacebook() or ride.getTwitter() %}

<div class="row">
    <div class="col-md-12">
        {% include('CalderaCriticalmassSiteBundle:Ride:Includes/_participation.html.twig') with { 'pastRide': pastRide, 'participation': participation } %}
        <h1>
            {{ ride.getFancyTitle() }}
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="map" style="height: 350px;"></div>
    </div>
</div>


<div class="row" style="margin-top: 1em;">
    <div class="col-md-12">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#details" aria-controls="home" role="tab" data-toggle="tab">
                        <i class="fa fa-flag"></i>
                        Details
                    </a>
                </li>
                <li role="presentation">
                    <a href="#minimass" aria-controls="settings" role="tab" data-toggle="tab">
                        <i class="fa fa-map-marker"></i>
                        Mini-Masses
                        <span class="badge">
                            {{ ride.getSubrides|length }}
                        </span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">
                        <i class="fa fa-pencil"></i>
                        Kommentare
                        <span class="badge">
                            {{ ride.getPosts|length }}
                        </span>
                    </a>
                </li>
                {% if pastRide %}
                <li role="presentation">
                    <a href="{{ path('caldera_criticalmass_photo_ride_list', { 'citySlug': ride.city.getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}">
                        <i class="fa fa-camera"></i>
                        Galerie
                        <span class="badge">
                            {{ photos|length }}
                        </span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#tracks" aria-controls="profile" role="tab" data-toggle="tab">
                        <i class="fa fa-bicycle"></i>
                        Tracks
                        <span class="badge">
                            {{ tracks|length }}
                        </span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#music" aria-controls="profile" role="tab" data-toggle="tab">
                        <i class="fa fa-music"></i>
                        Musik
                    </a>
                </li>
                {% endif %}
            </ul>

            <div class="tab-content">
                {% render(controller('CalderaCriticalmassSiteBundle:RideTabs:renderDetailsTab', { 'ride': ride } )) %}
                {% render(controller('CalderaCriticalmassSiteBundle:RideTabs:renderSubridesTab', { 'ride': ride } )) %}
                {% render(controller('CalderaCriticalmassSiteBundle:RideTabs:renderPostsTab', { 'ride': ride } )) %}

                {% if pastRide %}
                {% render(controller('CalderaCriticalmassSiteBundle:RideTabs:renderTracksTab', { 'ride': ride } )) %}
                {% render(controller('CalderaCriticalmassSiteBundle:RideTabs:renderMusicTab', { 'ride': ride } )) %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    var pageOptions = {
        photoViewPageUrl: '{{ path('caldera_criticalmass_photo_show_ride', { 'citySlug': city.getMainSlugString(), 'rideDate': ride.getFormattedDate(), 'photoId': 'photoId' }) }}',
        photoCounterUrl: '{{ path('caldera_criticalmass_photo_ajaxview', { 'citySlug': city.getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}',
        citySlug: '{{ city.slug }}',
        rideDate: '{{ ride.getFormattedDate() }}'
    };

    CriticalMass.loadModule('RidePage', null, pageOptions, function(ridePage) {
        {% if ride.getHasLocation() and ride.latitude != 0 and ride.getLongitude != 0 %}
        ridePage.addRide('{{ ride.getFancyTitle() }}', '{{ ride.description|e('js') }}', {{ ride.latitude }}, {{ ride.longitude }}, '{{ ride.location() }}', '{{ ride.dateTime.format('d.m.Y') }}', '{{ ride.dateTime.format('H:i') }}', '{{ weatherForecast }}');
        {% else %}
        ridePage.addCity('{{ city.title }}', '{{ city.city }}', '{{ city.getMainSlugString() }}', '{{ city.description|e('js') }}', {{ city.latitude }}, {{ city.longitude }});
        {% endif %}

        {% for track in tracks %}
        ridePage.addTrack({{ track.id }}, '{{ track.polyline|replace({'\\': '\\\\'}) }}', {{ track.colorRed }}, {{ track.colorGreen }}, {{ track.colorBlue }}, '{{ track.username }}', '{{ gravatarUrl(track.user) }}');
        {% endfor %}

        {% for photo in photos %}
        {% if photo.hasCoordinates() %}
        ridePage.addPhoto({{ photo.id }}, {{ photo.latitude }}, {{ photo.longitude }}, '{{ photo.description|e('js') }}', '{{ photo.dateTime.format('Y-m-d H:i:s') }}', '{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}');
        {% endif %}
        {% endfor %}

        {% for subride in subrides %}
        ridePage.addSubride({{ subride.id }}, '{{ subride.title }}', '{{ subride.description|e('js') }}', {{ subride.latitude }}, {{ subride.longitude }}, '{{ subride.location }}', '{{ subride.dateTime.format('d.m.Y') }}', '{{ subride.dateTime.format('H:i') }}');
        {% endfor %}

        ridePage.init();

        ridePage.focus();
    });
</script>