{% if dateTime > ride.getDateTime() %}
    {% set pastRide = true %}
{% else %}
    {% set pastRide = false %}
{% endif %}

{% set hasSocialMedia = ride.getUrl() or ride.getFacebook() or ride.getTwitter() %}

<div class="row">
    <div class="col-md-12">
        <h1>{{ ride.getFancyTitle() }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="map" style="height: 350px;"></div>
    </div>
</div>


<div class="row" style="margin-top: 1em;">
    <div class="col-md-12">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#details" aria-controls="home" role="tab" data-toggle="tab">
                        <i class="fa fa-flag"></i>
                        Details
                    </a>
                </li>
                <li role="presentation">
                    <a href="#minimass" aria-controls="settings" role="tab" data-toggle="tab">
                        <i class="fa fa-map-marker"></i>
                        Mini-Masses
                        <span class="badge">
                            {{ ride.getSubrides|length }}
                        </span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">
                        <i class="fa fa-pencil"></i>
                        Kommentare
                        <span class="badge">
                            {{ ride.getPosts|length }}
                        </span>
                    </a>
                </li>
                {% if pastRide %}
                <li role="presentation">
                    <a href="{{ path('caldera_criticalmass_photo_ride_list', { 'citySlug': ride.city.getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}">
                        <i class="fa fa-camera"></i>
                        Galerie
                        <span class="badge">
                            {{ photos|length }}
                        </span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#tracks" aria-controls="profile" role="tab" data-toggle="tab">
                        <i class="fa fa-bicycle"></i>
                        Tracks
                        <span class="badge">
                            {{ tracks|length }}
                        </span>
                    </a>
                </li>
                {% endif %}
            </ul>

            <div class="tab-content">
                {% render(controller('CalderaCriticalmassSiteBundle:Ride:renderDetailsTab', { 'ride': ride } )) %}
                {% render(controller('CalderaCriticalmassSiteBundle:Ride:renderSubridesTab', { 'ride': ride } )) %}
                {% render(controller('CalderaCriticalmassSiteBundle:Ride:renderPostsTab', { 'ride': ride } )) %}

                {% if pastRide %}
                {% render(controller('CalderaCriticalmassSiteBundle:Ride:renderTracksTab', { 'ride': ride } )) %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="photo-view-modal" tabindex="-1" role="dialog" aria-labelledby="photo-view-modal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="photo-view-modal-label">Foto anzeigen</h4>
            </div>
            <div class="modal-body">
                <a id="photo-view-page-link" href="">
                    <img src="" id="photo-view-modal-image" class="img-responsive" />
                </a>
            </div>
            <div class="modal-footer">
                <nav>
                    <ul class="pager no-margin-top no-margin-bottom">
                        <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Voriges Foto</a></li>
                        <li class="next"><a href="#">Nächstes Foto <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script>
    var pageOptions = {
        'photoViewPageUrl': '{{ path('caldera_criticalmass_photo_show', { 'citySlug': city.getMainSlugString(), 'rideDate': ride.getFormattedDate(), 'photoId': 'photoId' }) }}',
        'photoCounterUrl': '{{ path('caldera_criticalmass_photo_ajaxview', { 'citySlug': city.getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}'
    };

    CriticalMass.loadModule('RidePage', null, pageOptions, function(ridePage) {
        {% if ride.getHasLocation() %}
        ridePage.addRide('{{ ride.getFancyTitle() }}', '{{ ride.description|e('js') }}', {{ ride.latitude }}, {{ ride.longitude }}, '{{ ride.location() }}', '{{ ride.dateTime.format('d.m.Y') }}', '{{ ride.dateTime.format('H:i') }}', '{{ weatherForecast }}');
        {% else %}
        ridePage.addCity('{{ city.title }}', '{{ city.city }}', '{{ city.getMainSlugString() }}', '{{ city.description|e('js') }}', {{ city.latitude }}, {{ city.longitude }});
        {% endif %}

        {% for track in tracks %}
        ridePage.addTrack({{ track.id }}, {{ track.getLatLngList() }}, {{ track.colorRed }}, {{ track.colorGreen }}, {{ track.colorBlue }});
        {% endfor %}

        {% for photo in photos %}
        {% if photo.hasCoordinates() %}
        ridePage.addPhoto({{ photo.id }}, {{ photo.latitude }}, {{ photo.longitude }}, '{{ photo.description|e('js') }}', '{{ photo.dateTime.format('Y-m-d H:i:s') }}', '{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}');
        {% endif %}
        {% endfor %}

        {% for subride in subrides %}
        ridePage.addSubride({{ subride.id }}, '{{ subride.title }}', '{{ subride.description|e('js') }}', {{ subride.latitude }}, {{ subride.longitude }}, '{{ subride.location }}', '{{ subride.dateTime.format('d.m.Y') }}', '{{ subride.dateTime.format('H:i') }}');
        {% endfor %}

        ridePage.init();

        ridePage.focus();
    });
</script>