{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{{ ride.getFancyTitle() }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_desktop_city_list') }}">
            Städteliste
        </a>
    </li>
    <li>
        <a href="{{ path(city) }}">
            {{ city.city }}
        </a>
    </li>
    <li class="active">
        {{ ride.getFancyTitle() }}
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        {% if ride.date is today %}
        {% include('CalderaCriticalmassSiteBundle:Ride:Includes/_liveHint.html.twig') with { 'city': city } %}
        {% else %}
        {% include('CalderaCriticalmassSiteBundle:Ride:Includes/_registrationHint.html.twig') %}
        {% endif %}

        {% include('CalderaCriticalmassSiteBundle:Ride:Ride.html.twig') with { 'ride': ride, 'tracks': tracks, 'participation': participation } %}

        {% include('CalderaCriticalmassSiteBundle:Ride:Includes/_pagination.html.twig') with { 'previousRide': previousRide, 'nextRide': nextRide } %}
    </div>
{% endblock %}