{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{{ ride.getFancyTitle() }}{% endblock %}

{% block additionalHeaderElements %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

    {% javascripts
    '@CalderaCriticalmassSiteBundle/Resources/public/js/external/leaflet/*.js'
    '@CalderaCriticalmassSiteBundle/Resources/public/js/map/Map.js'
    '@CalderaCriticalmassSiteBundle/Resources/public/js/entity/*.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
    <li><a href="{{ path('caldera_criticalmass_desktop_city_show', { 'citySlug': city.getMainSlugString() }) }}">{{ city.getTitle() }}</a></li>
    <li class="active">{{ ride.getFancyTitle() }}</li>
{% endblock %}

{% block content %}
    <div class="container main-container">
        {% if not app.getUser() %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="alert alert-info" role="alert"><strong>Hej!</strong> Mit einem <a href="{{ path('fos_user_security_login') }}">criticalmass.in-Benutzerkonto</a> könntest du die Daten dieser Tour aktualisieren.</div>
                </div>
            </div>

        {% endif %}

        {% include('CalderaCriticalmassSiteBundle:Ride:Ride.html.twig') with { 'ride': ride } %}

        <ul class="pager">
            {% if previousRide %}
            <li class="previous">
                <a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': previousRide.getCity().getMainSlugString(), 'rideDate': previousRide.getDateTime().format('Y-m-d') }) }}">&larr; Vorige Tour</a>
            </li>
            {% else %}
            <li class="previous disabled"><a href="#">&larr; Vorige Tour</a></li>
            {% endif %}

            {% if nextRide %}
            <li class="next">
                <a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': nextRide.getCity().getMainSlugString(), 'rideDate': nextRide.getDateTime().format('Y-m-d') }) }}">Nächste Tour &rarr;</a>
            </li>
            {% else %}
            <li class="next disabled"><a href="#">Nächste Tour &rarr;</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block additionalFooterElements %}
<script src="https://raw.githubusercontent.com/luis-almeida/unveil/master/jquery.unveil.js"></script>
<script>
    domReadyQueue.push(function($) {

        $('img').unveil();
    });
</script>

{% endblock %}