{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{{ ride.getFancyTitle() }}{% endblock %}


{% block additionalHeaderElements %}
    <link rel="stylesheet" href="" />
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
    <li><a href="{{ path('caldera_criticalmass_desktop_city_show', { 'citySlug': city.getMainSlugString() }) }}">{{ city.getTitle() }}</a></li>
    <li class="active">{{ ride.getFancyTitle() }}</li>
{% endblock %}

{% block content %}
    <div class="container">
        {% include('CalderaCriticalmassSiteBundle:Ride:Includes/_registrationHint.html.twig') %}

        {% include('CalderaCriticalmassSiteBundle:Ride:Ride.html.twig') with { 'ride': ride } %}

        {% include('CalderaCriticalmassSiteBundle:Ride:Includes/_pagination.html.twig') with { 'previousRide': previousRide, 'nextRide': nextRide } %}
    </div>
{% endblock %}

{% block additionalFooterElements %}
<script src="https://raw.githubusercontent.com/luis-almeida/unveil/master/jquery.unveil.js"></script>
<script>
    domReadyQueue.push(function($) {

        $('img').unveil();
    });
</script>

{% endblock %}