{% if dateTime > ride.getDateTime() %}
    {% set pastRide = true %}
{% else %}
    {% set pastRide = false %}
{% endif %}

{% set hasSocialMedia = ride.getUrl() or ride.getFacebook() or ride.getTwitter() %}

<div class="row">
    <div class="col-md-12">
        <h1>{{ ride.getFancyTitle() }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="map" style="height: 350px;"></div>
    </div>
</div>

<div class="row" style="margin-top: 1em;">
    <div class="col-md-12">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#details" aria-controls="home" role="tab" data-toggle="tab">Details</a></li>
                <li role="presentation"><a href="#minimass" aria-controls="settings" role="tab" data-toggle="tab">Mini-Masses <span class="badge">{{ ride.getSubrides|length }}</span></a></li>
                <li role="presentation"><a href="#stats" aria-controls="profile" role="tab" data-toggle="tab">Statistik</a></li>
                <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Kommentare <span class="badge">{{ ride.getPosts|length }}</span></a></li>
                <li role="presentation"><a href="#gallery" aria-controls="settings" role="tab" data-toggle="tab">Galerie <span class="badge">{{ ride.getPhotos|length }}</span></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="details">
                    <div class="row">
                        <div class="col-md-8">
                            {% if app.getUser() %}
                                <div class="btn-group btn-group-xs pull-right" style="margin-top: 24px;">
                                    <a class="btn btn-default" href="{{ path('caldera_criticalmass_desktop_ride_edit', { citySlug: city.getMainSlugString(), rideDate: ride.getDateTime().format('Y-m-d') } ) }}" title="Tour bearbeiten"><i class="halflings uni-wrench"></i></a>
                                </div>
                            {% endif %}

                            <h3>{{ ride.getFancyTitle() }}</h3>

                            {% if ride.getDescription() %}
                            {{ ride.getDescription()|nl2br }}
                            {% endif %}
                        </div>

                        <div class="col-md-4">
                            {% if hasSocialMedia %}
                                <h4>Mehr im Netz</h4>
                                {% if ride.getUrl() %}
                                    <a class="btn btn-default" href="{{ ride.getUrl() }}"><i class="social rss"></i> Homepage</a>
                                {% endif %}

                                {% if ride.getFacebook() %}
                                    <a class="btn btn-default" href="{{ ride.getFacebook() }}"><i class="social facebook"></i> facebook</a>
                                {% endif %}

                                {% if ride.getTwitter() %}
                                    <a class="btn btn-default" href="{{ ride.getTwitter() }}"><i class="social twitter"></i> twitter</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>


                </div>

                <div role="tabpanel" class="tab-pane" id="minimass">
                    <div class="row">
                        <div class="col-md-12">
                            {% if app.getUser() %}
                            <div class="btn-group btn-group-xs pull-right" style="margin-top: 24px;">
                                <a class="btn btn-default" href="{{ path('caldera_criticalmass_desktop_subride_add', { citySlug: city.getMainSlugString(), rideDate: ride.getDateTime().format('Y-m-d') } ) }}" title="Mini-Mass anlegen"><i class="halflings map-marker"></i></a>
                            </div>
                            {% endif %}
                            <h3>Mini-Masses zu dieser Tour</h3>
                        </div>
                    </div>

                    {% if ride.getActiveSubRides() %}
                        {% for subRide in ride.getActiveSubRides() %}
                        <div class="media subride col-md-4">
                            {% if app.getUser() %}<a href="{{ path('caldera_criticalmass_desktop_subride_edit', { subRideId: subRide.getId() } ) }}" class="edit-subride pull-right btn btn-default btn-xs"><i class="halflings uni-wrench"></i></a>{% endif %}
                            <a class="pull-left subride" href="#" data-subrideid="{{ subRide.getId() }}">
                                <img class="media-object" src="/images/marker/marker-blue.png" alt="...">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading">{{ subRide.getDateTime().format('H.i') }} Uhr: {{ subRide.getTitle() }}</h5>
                                <p>{{ subRide.getDescription()|nl2br }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        <script>
                            window.onload = function() {
                                $('.subride').on('click', function () {
                                    var subRideId = $(this).data('subrideid');
                                    var marker = subRideMarkers[subRideId];

                                    map.panTo(marker.getLatLng());
                                    marker.openPopup();
                                });
                            }
                        </script>
                    {% endif %}
                </div>

                <div role="tabpanel" class="tab-pane" id="stats">
                    <div class="row">
                        <div class="col-md-12">
                        {% if pastRide %}
                            <div class="btn-group btn-group-xs pull-right" style="margin-top: 24px;">
                                <a class="btn btn-default" href="#" data-toggle="modal" data-target="#modalEstimate" title="Tour schätzen"><i class="halflings signal"></i></a>
                                <a class="btn btn-default" href="#" data-toggle="modal" data-target="#modalTrackUpload" title="Track hochladen"><i class="halflings cloud_upload"></i></a>
                            </div>
                        {% endif %}

                            <h3>Statistik</h3>
                        </div>
                    </div>

                    <table class="table">
                        <tr>
                            <th>Treffpunkt</th>
                            <td>{{ ride.getLocation() }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Datum</th>
                            <td>{{ ride.getDateTime.format('d.m.Y H:i') }} Uhr</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Teilnehmer</th>
                            <td>{{ ride.getEstimatedParticipants()|round }}</td>
                            <td><a href="#" data-toggle="modal" data-target="#modalEstimate" title="Tour schätzen">Werte schätzen?</a></td>
                        </tr>
                        <tr>
                            <th>Kilometer</th>
                            <td>{{ ride.getEstimatedDistance()|round(2) }}</td>
                            <td><a href="#" data-toggle="modal" data-target="#modalEstimate" title="Tour schätzen">Werte schätzen?</a></td>
                        </tr>
                        <tr>
                            <th>Stunden</th>
                            <td>{{ ride.getEstimatedDuration()|round(2) }}</td>
                            <td><a href="#" data-toggle="modal" data-target="#modalEstimate" title="Tour schätzen">Werte schätzen?</a></td>
                        </tr>
                    </table>
                </div>

                <div role="tabpanel" class="tab-pane" id="comments">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Kommentare zu dieser Tour</h3>
                            {{ render(controller('CalderaCriticalmassTimelineBundle:Post:list', { 'rideId': ride.getId() })) }}

                            {% if app.getUser() %}
                            {{ render(controller('CalderaCriticalmassTimelineBundle:Post:write', { 'rideId': ride.getId() })) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="gallery">...</div>
            </div>
        </div>
    </div>
</div>

{% if app.getUser() %}

{% if pastRide %}
<div class="modal fade" id="modalEstimate" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Tour schätzen</h4>
            </div>
            <div class="modal-body">
                {{ render(controller('CalderaCriticalmassStatisticBundle:Ride:estimateform', { 'rideId': ride.getId() })) }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTrackUpload" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Track zu dieser Tour hochladen</h4>
            </div>
            <div class="modal-body">
                {{ render(controller('CalderaCriticalmassTrackBundle:Track:upload')) }}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endif %}

{% javascripts
'@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
'@CalderaCriticalmassGalleryBundle/Resources/public/js/external/*'
'@CalderaCriticalmassDesktopBundle/Resources/public/js/external/L.Control.Sidebar.js'
'@CalderaCriticalmassDesktopBundle/Resources/public/js/external/leaflet.groupedlayercontrol.js'
'@CalderaCriticalmassDesktopBundle/Resources/public/js/Subride/*'
'@CalderaCriticalmassDesktopBundle/Resources/public/js/City/*'
'@CalderaCriticalmassDesktopBundle/Resources/public/js/Ride/*'
'@CalderaCriticalmassTrackBundle/Resources/public/js/Track/*'
'@CalderaCriticalmassGalleryBundle/Resources/public/js/Photo/Photo.js'
'@CalderaCriticalmassGalleryBundle/Resources/public/js/Photo/*'
'@CalderaCriticalmassCoreBundle/Resources/public/js/Container/Container.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
    /* Map */
    var map = L.map('map');
    
    /* Tilelayer */
    var tileLayer = L.tileLayer('https://{s}.tiles.mapbox.com/v3/maltehuebner.i1c90m12/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        detectRetina: true
    });

    tileLayer.addTo(map);

    /* View */
    map.setView([53.550556, 9.993333], 13);
    
    /* City */
    var city = new City('{{ city.getCity() }}', '{{ city.getTitle() }}', '{{ city.getMainSlugString() }}', '{{ city.getDescription() }}', {{ city.getLatitude() }}, {{ city.getLongitude() }});
    
    /* Rides */
    var rideContainer = new Container();
    //var ride = new Ride(city, 'Critical Mass', 'foo', null, null, '', '{{ ride.getDateTime.format('d.m.Y') }}', '{{ ride.getDateTime.format('H:i') }}', '{{ ride.getWeatherForecast() }}');
    var ride = new Ride(city, 'Critical Mass', 'foo', {{ ride.getLatitude() }}, {{ ride.getLongitude() }}, '{{ ride.getLocation() }}', '{{ ride.getDateTime.format('d.m.Y') }}', '{{ ride.getDateTime.format('H:i') }}', '{{ ride.getWeatherForecast() }}');
    rideContainer.add(ride);
    rideContainer.addTo(map);

    /* Subrides */
    var subrideContainer = new Container();

    {% for subRide in ride.getActiveSubRides() %}
    var subride = new Subride('{% if subRide.getTitle() %}{{ subRide.getTitle() }}{% else %}Mini-Mass{% endif %}', '{% if subRide.getDescription() %}<p>{{ subRide.getDescription()|nl2br|replace({"<br />":"\\"}) }}{% endif %}', '{{ subRide.getDateTime().format('H:i') }}', {{ subRide.getLatitude() }}, {{ subRide.getLongitude() }}, '{{ subRide.getLocation() }}');
    subrideContainer.add(subride);
    {% endfor %}

    subrideContainer.addTo(map);
    
    /* Tracks */
    var trackContainer = new Container();

    {% for track in ride.getActiveTracks() %}
    var track = new Track();
    track.setPolyline({{ track.getPreviewJsonArray() }}, {{ track.getUser().getColorRed() }}, {{ track.getUser().getColorGreen() }}, {{ track.getUser().getColorBlue() }});
    trackContainer.add(track);
    {% endfor %}

    trackContainer.addTo(map);

    /* Photos */
    var photoContainer = new Container();
    
    {% for photo in ride.getPhotos() %}
    var photo = new Photo({{ photo.getId() }}, {{ photo.getLatitude() }}, {{ photo.getLongitude() }}, 'Photo {{ photo.getId() }}');
    photoContainer.add(photo);
    {% endfor %}
    
    photoContainer.addTo(map);
    
    /* LayerControl */
    var layers = [];

    rideContainer.addControl(layers, 'Tour');
    subrideContainer.addControl(layers, 'Mini-Masses');
    trackContainer.addControl(layers, 'Tracks');
    photoContainer.addControl(layers, 'Fotos');
    
    var layerControl = L.control.groupedLayers({}, {
        'Critical Mass': layers
    }, {
        collapsed: false
    });

    layerControl.addTo(map);

    {% if pastRide and ride.getActiveTracks()|length > 0 %}
    map.fitBounds(trackContainer.getBounds());
    {% elseif ride.getActiveSubRides()|length > 0 %}
    map.fitBounds(subrideContainer.getBounds());
    //locationMarker.openPopup();
    {% else %}
    map.fitBounds(rideContainer.getBounds());
    //locationMarker.openPopup();
    {% endif %}
</script>