{% if dateTime > ride.getDateTime() %}
    {% set pastRide = true %}
{% else %}
    {% set pastRide = false %}
{% endif %}

{% set hasSocialMedia = ride.getUrl() or ride.getFacebook() or ride.getTwitter() %}

<div class="row">
    <div class="col-md-12">
        {% if app.getUser() %}
        <div class="btn-group  pull-right" style="margin-top: 24px;">
            <a class="btn btn-default" href="#" data-toggle="modal" data-target="#modalComment" title="Kommentieren"><i class="fa fa-pencil"></i></a>
            {% if pastRide %}
            <a class="btn btn-default" href="#" data-toggle="modal" data-target="#modalEstimate" title="Tour schätzen"><i class="fa fa-signal"></i></a>
            <a class="btn btn-default" href="#" data-toggle="modal" data-target="#modalTrackUpload" title="Track hochladen"><i class="fa fa-cloud-upload"></i></a>
            {% endif %}
            <a class="btn btn-default" href="{{ path('caldera_criticalmass_desktop_ride_edit', { citySlug: city.getMainSlugString(), rideDate: ride.getDateTime().format('Y-m-d') } ) }}" title="Tour bearbeiten"><i class="fa fa-wrench"></i></a>
            <a class="btn btn-default" href="{{ path('caldera_criticalmass_desktop_subride_add', { citySlug: city.getMainSlugString(), rideDate: ride.getDateTime().format('Y-m-d') } ) }}" title="Mini-Mass anlegen"><i class="glyphicon glyphicon-map-marker"></i></a>
        </div>
        {% endif %}
        <h1>{{ ride.getFancyTitle() }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="map" style="height: 350px;"></div>
    </div>
</div>

{% javascripts
'@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
    var map = L.map('map');
    var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        detectRetina: true
    });

    tileLayer.addTo(map);

    var popupContent = '<dl class="dl-horizontal">';
    popupContent += '<dt>Datum:</dt><dd>{{ city.getCurrentRide().getDateTime.format('d.m.Y') }}</dd>';
    popupContent += '<dt>Uhrzeit:</dt><dd>{{ city.getCurrentRide().getDateTime.format('H:i') }}</dd>';

    {% if city.getCurrentRide().getWeatherForecast() %}
        popupContent += '<dt>Wetter:</dt><dd>{{ city.getCurrentRide().getWeatherForecast() }}</dd>';
        {% endif %}

        {% if city.getCurrentRide().hasLocation() %}
            popupContent += '<dt>Treffpunkt:</dt><dd>{{ city.getCurrentRide().getLocation() }}</dd>';

            var mapCenter = L.latLng({{ city.getCurrentRide().getLatitude() }}, {{ city.getCurrentRide().getLongitude() }});

        var locationIcon = L.icon({
            iconUrl: '/images/marker/marker-red.png',
            iconRetinaUrl: '/images/marker/marker-red-2x.png',
            iconSize: [25, 41],
            iconAnchor: [13, 41],
            popupAnchor: [0, -36],
            shadowUrl: '/images/marker/defaultshadow.png',
            shadowSize: [41, 41],
            shadowAnchor: [13, 41]
        });

        var marker = L.marker(mapCenter, { icon: locationIcon });
        {% else %}
        popupContent += '<dt>Treffpunkt:</td><dd>Der Treffpunkt ist leider noch nicht bekannt</dd>';

        var mapCenter = L.latLng({{ city.getLatitude() }}, {{ city.getLongitude() }});

    var cityIcon = L.icon({
        iconUrl: '/images/marker/marker-gray.png',
        iconRetinaUrl: '/images/marker/marker-gray-2x.png',
        iconSize: [25, 41],
        iconAnchor: [13, 41],
        popupAnchor: [0, -36],
        shadowUrl: '/images/marker/defaultshadow.png',
        shadowSize: [41, 41],
        shadowAnchor: [13, 41]
    });

    var marker = L.marker(mapCenter, { icon: cityIcon });
    {% endif %}

    popupContent += '</dl>';

    marker.addTo(map);
    marker.bindPopup(popupContent);

    map.setView(mapCenter, 15);
    marker.openPopup();

    var subRideIcon = L.icon({
        iconUrl: '/images/marker/marker-blue.png',
        iconRetinaUrl: '/images/marker/marker-blue-2x.png',
        iconSize: [25, 41],
        iconAnchor: [13, 41],
        popupAnchor: [0, -36],
        shadowUrl: '/images/marker/defaultshadow.png',
        shadowSize: [41, 41],
        shadowAnchor: [13, 41]
    });

    var subRideMarkers = new Array();
    var subRideMarker = null;

    {% for subRide in city.getCurrentRide().getSubRides() %}
        subRideMarker = L.marker([{{ subRide.getLatitude() }}, {{ subRide.getLongitude() }}], { icon: subRideIcon });
    subRideMarker.addTo(map);
    subRideMarker.bindPopup('<h5>{% if subRide.getTitle() %}{{ subRide.getTitle() }}{% else %}Mini-Mass{% endif %}</h5><dl class="dl-horizontal"><dt>Uhrzeit:</dt><dd>{{ subRide.getDateTime().format('H:i') }}</dd><dt>Treffpunkt:</dt> <dd>{{ subRide.getLocation() }}</dd></dl>{% if subRide.getDescription() %}<p>{{ subRide.getDescription() }}</p>{% endif %}');
    subRideMarkers.push(subRideMarker);
    {% endfor %}
</script>
{% if pastRide %}
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-6">Treffpunkt:<br />{{ ride.getLocation() }}</div>
    <div class="col-md-3 col-sm-6 col-xs-6">{{ ride.getDateTime.format('d.m.Y') }}<br />{{ ride.getDateTime.format('H:i') }} Uhr</div>
    <div class="col-md-2 col-sm-4 col-xs-4"><span style="font-size: 20px;">{{ ride.getEstimatedParticipants()|round }}</span><br />Teilnehmer</div>
    <div class="col-md-2 col-sm-4 col-xs-4"><span style="font-size: 20px;">{{ ride.getEstimatedDistance()|round(2) }}</span><br />Kilometer</div>
    <div class="col-md-2 col-sm-4 col-xs-4"><span style="font-size: 20px;">{{ ride.getEstimatedDuration()|round(2) }}</span><br />Stunden</div>
</div>
{% endif %}
<div class="row">
    {% if hasSocialMedia %}
    <div class="col-lg-8">
    {% else %}
    <div class="col-lg-12">
    {% endif %}

        {% if ride.getDescription() %}
        <div class="row">
            <div class="col-md-12">{{ ride.getDescription()|nl2br }}</div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <h4>Kommentare zu dieser Tour</h4>
                {{ render(controller('CalderaCriticalmassTimelineBundle:Post:list', { 'rideId': ride.getId() })) }}
            </div>
        </div>
    </div>

    {% if hasSocialMedia %}
    <div class="col-lg-4">
        {% if hasSocialMedia %}
        <h4>Mehr im Netz</h4>

        {% if ride.getUrl() %}
        <a class="btn btn-link" href="{{ ride.getUrl() }}">Homepage</a>
        {% endif %}

        {% if ride.getFacebook() %}
        <a class="btn btn-link" href="{{ ride.getFacebook() }}">facebook</a>
        {% endif %}

        {% if ride.getTwitter() %}
        <a class="btn btn-link" href="{{ ride.getTwitter() }}">twitter</a>
        {% endif %}
        {% endif %}

    </div>
    {% endif %}
</div>

{% if app.getUser() %}
<div class="modal fade" id="modalComment" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Kommentar zu dieser Tour verfassen</h4>
            </div>
            <div class="modal-body">
                {{ render(controller('CalderaCriticalmassTimelineBundle:Post:write', { 'rideId': ride.getId() })) }}
            </div>
        </div>
    </div>
</div>

{% if pastRide %}
<div class="modal fade" id="modalEstimate" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Tour schätzen</h4>
            </div>
            <div class="modal-body">
                {{ render(controller('CalderaCriticalmassStatisticBundle:Ride:estimateform', { 'rideId': ride.getId() })) }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTrackUpload" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Track zu dieser Tour hochladen</h4>
            </div>
            <div class="modal-body">
                {{ render(controller('CalderaCriticalmassStatisticBundle:Track:upload')) }}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endif %}