{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}{{ 'photo.management.censor_title'|trans }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>
                {{ 'photo.management.censor_heading'|trans }}
            </h2>

            <p class="lead">
                {{ 'photo.management.censor_lead'|trans }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <img id="photo" class="img-responsive" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}"/>
        </div>
    </div>

    <div class="row margin-top-medium">
        <div class="col-md-12">
            <div class="btn-group pull-right" role="group">
                <a href="javascript:window.location=document.referrer;" class="btn btn-secondary">
                    {{ 'common.cancel'|trans }}
                </a>
                <button id="save" class="btn btn-primary">
                    {{ 'common.save'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
