{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'photo.management.manage_title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item(ride.city.title, object_path(ride.city)) }}
    {{ breadcrumb.item(ride.title, object_path(ride)) }}
    {{ breadcrumb.active('photo.management.manage_breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <a href="{{ object_path(ride, 'caldera_criticalmass_gallery_photos_upload_ride') }}"
                       class="btn btn-success">
                        <i class="far fa-camera"></i>
                        {{ 'photo.management.upload_more'|trans }}
                    </a>

                    {#<a href="{{ object_path(ride, 'caldera_criticalmass_photo_relocate') }}"
                       class="btn btn-success">
                        <i class="far fa-map-marker"></i>
                        Fotos verschieben
                    </a>#}
                </div>


                <h2>
                    {{ 'photo.management.manage_heading'|trans }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    {% for photo in pagination %}
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="img-responsive img-thumbnail{% if not photo.enabled %} bg-danger{% endif %}"
                                         src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}"/>
                                </div>
                            </div>

                            <div class="row margin-top-10">
                                <div class="col-md-12">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-secondary btn-xs dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ 'photo.management.dropdown_edit'|trans }}                                        </button>
                                        <ul class="dropdown-menu">
                                            <li class="disabled">
                                                <a href="#">
                                                    {{ 'photo.management.capture_date'|trans }} <br/>
                                                    {{ photo.exifCreationDate.format('d.m.Y H:i:s') }}
                                                </a>
                                            </li>

                                            <li><hr class="dropdown-divider"></li>

                                            <li>
                                                <a href="{{ object_path(photo, 'caldera_criticalmass_photo_delete') }}">
                                                    <i class="far fa-trash-alt"></i>
                                                    {{ 'common.delete'|trans }}
                                                </a>
                                            </li>

                                            {#<li>
                                                <a href="{{ object_path(photo, 'caldera_criticalmass_photo_censor') }}">
                                                    <i class="far fa-eraser"></i>
                                                    Zensieren
                                                </a>
                                            </li>#}

                                            {% if photo.enabled %}
                                                <li>
                                                    <a href="{{ object_path(photo, 'caldera_criticalmass_photo_toggle') }}">
                                                        <i class="far fa-eye-slash"></i>
                                                        {{ 'photo.management.deactivate'|trans }}
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="{{ object_path(photo, 'caldera_criticalmass_photo_toggle') }}">
                                                        <i class="far fa-eye"></i>
                                                        {{ 'photo.management.activate'|trans }}
                                                    </a>
                                                </li>
                                            {% endif %}

                                            <li><hr class="dropdown-divider"></li>

                                            {#<li>
                                                <a href="{{ object_path(photo, 'caldera_criticalmass_photo_place_single') }}">
                                                    <i class="far fa-location-arrow"></i>
                                                    verorten
                                                </a>
                                            </li>#}

                                            <li><hr class="dropdown-divider"></li>

                                            <li>
                                                <a href="{{ object_path(photo, 'caldera_criticalmass_photo_rotate') }}?direction=left">
                                                    <i class="far fa-undo"></i>
                                                    {{ 'photo.management.rotate_left'|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ object_path(photo, 'caldera_criticalmass_photo_rotate') }}?direction=right">
                                                    <i class="far fa-redo"></i>
                                                    {{ 'photo.management.rotate_right'|trans }}
                                                </a>
                                            </li>

                                            <li><hr class="dropdown-divider"></li>

                                            {% if photo.ride.featuredPhoto == photo %}
                                                <li>
                                                    <a href="{{ object_path(photo, 'caldera_criticalmass_photo_featured') }}">
                                                        <i class="far fa-flag"></i>
                                                        {{ 'photo.management.unset_featured'|trans }}
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="{{ object_path(photo, 'caldera_criticalmass_photo_featured') }}">
                                                        <i class="far fa-flag"></i>
                                                        {{ 'photo.management.set_featured'|trans }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
