{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% set previous_photo = previous_entity(photo) %}
{% set next_photo = next_entity(photo) %}

{% block title %}Foto platzieren{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Städteliste', path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(photo.ride.city.title, object_path(photo.ride.city)) }}
    {{ breadcrumb.item(photo.ride.title, object_path(photo.ride)) }}
    {{ breadcrumb.active('Foto platzieren') }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Foto platzieren
                </h1>

                <p class="lead">
                    Hier kannst du das folgende Foto auf der Karte platzieren oder verschieben.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 text-center">
                <img class="img-responsive img-thumbnail"
                     src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}"/>
            </div>

            <div class="col-md-9">
                <div id="map-photo"
                     class="map"
                     data-controller="map--form-map"
                     style="height: 50vh;"

                     data-map--form-map-center-latitude-value="{{ photo.latitude }}"
                     data-map--form-map-center-longitude-value="{{ photo.longitude }}"
                     data-map--form-map-zoom-value="13"

                     data-map--form-map-marker-latitude-target-value="{{ form.latitude.vars.id }}"
                     data-map--form-map-marker-longitude-target-value="{{ form.longitude.vars.id }}"

                     data-map--form-map-marker-icon-value="fa-camera"
                     data-map--form-map-marker-color-value="yellow"
                     data-map--form-map-marker-shape-value="square"
                     data-map--form-map-marker-prefix-value="fas"
                ></div>

            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_widget(form.latitude) }}
                {{ form_widget(form.longitude) }}

                <div class="btn-group pull-right" role="group" aria-label="...">
                    <a href="javascript:window.location=document.referrer;" class="btn btn-default">
                        Abbrechen
                    </a>
                    <button type="submit" class="btn btn-success">
                        Speichern
                    </button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="pager">
                    {% if previous_photo %}
                        <li class="previous">
                            <a href="{{ object_path(previous_photo) }}">
                                &larr; Voriges Foto
                            </a>
                        </li>
                    {% else %}
                        <li class="previous disabled">
                            <a href="#">
                                &larr; Voriges Foto
                            </a>
                        </li>
                    {% endif %}

                    {% if next_photo %}
                        <li class="next">
                            <a href="{{ object_path(next_photo) }}">
                                Nächstes Foto &rarr;
                            </a>
                        </li>
                    {% else %}
                        <li class="next disabled">
                            <a href="#">
                                Nächstes Foto &rarr;
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
