{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Fotos ausrichten{% endblock %}

{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block breadcrumb %}
    {{ bootstrap.breadcrumb_item('Städteliste', path('caldera_criticalmass_city_list')) }}
    {{ bootstrap.breadcrumb_item(ride.city.title, objectPath(ride.city)) }}
    {{ bootstrap.breadcrumb_item(ride.title, objectPath(ride)) }}
    {{ bootstrap.breadcrumb_item('Fotos verwalten', path('caldera_criticalmass_photo_manage')) }}
    {{ bootstrap.breadcrumb_item('Fotos ausrichten', '', true) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Fotos ausrichten</h1>
            </div>
        </div>

        {% if track %}
        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 350px;">
                </div>
            </div>
            {% else %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">
                            <strong>Kein Track gefunden!</strong> Bitte lade erst einen GPX-Track deiner Tour hoch, um
                            anschließend Fotos zu verorten.
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
