{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'photo.management.relocate_title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item(ride.city.title, object_path(ride.city)) }}
    {{ breadcrumb.item(ride.title, object_path(ride)) }}
    {{ breadcrumb.item('photo.management.relocate_manage_breadcrumb'|trans, object_path(ride, 'caldera_criticalmass_photo_manage')) }}
    {{ breadcrumb.active('photo.management.relocate_breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'photo.management.relocate_heading'|trans }}</h1>
            </div>
        </div>

        {% if track %}
        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 350px;">
                </div>
            </div>
            {% else %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">
                            {{ 'photo.management.relocate_no_track'|trans|raw }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
