{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Fotos ausrichten{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ object_path(ride.city) }}">
            {{ ride.city.title }}
        </a>
    </li>
    <li>
        <a href="{{ object_path(ride) }}">
            {{ ride.title }}
        </a>
    </li>
    <li>
        <a href="{{ object_path(ride, 'caldera_criticalmass_photo_manage') }}">
            Fotos verwalten
        </a>
    </li>
    <li class="active">
        Fotos ausrichten
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Fotos ausrichten</h1>
            </div>
        </div>

        {% if track %}
            <div class="row mt-3">
                <div class="col-md-12">
                    <div id="map" style="height: 350px;"></div>
                </div>
            </div>
        {% else %}
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        <strong>Kein Track gefunden!</strong>
                        Bitte lade erst einen GPX-Track deiner Tour hoch, um anschließend Fotos zu verorten.
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
