{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Deine Fotos{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>
    <li>
        <a href="{{ object_path(ride.city) }}">
            {{ ride.city.city }}
        </a>
    </li>
    <li>
        <a href="{{ object_path(ride) }}">
            {{ ride.title }}
        </a>
    </li>
    <li class="active">
        Fotos
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if app.getUser() %}
                    <div class="btn-group btn-group pull-right" style="margin-top: 16px;">
                        <a class="btn btn-success" href="{{ object_path(ride, 'caldera_criticalmass_gallery_photos_upload_ride') }}" title="Fotos hochladen">
                            <i class="far fa-camera"></i>
                            Fotos hochladen
                        </a>
                    </div>
                {% endif %}

                <h1>
                    Fotos von {{ ride.title }}
                </h1>
            </div>
        </div>

        {% if pagination|length == 0 %}
            {% if not app.getUser() %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert">
                            <strong>
                                Schade!
                            </strong>
                            Bislang hat noch niemand Fotos von dieser Tour hochgeladen. Mit einem <a
                                    href="{{ path('login') }}">criticalmass.in-Benutzerkonto</a>
                            könntest du deine Fotos hochladen.
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert">
                            <strong>
                                Hej!
                            </strong>
                            Du kannst der Erste sein, der hier seine Fotos hochlädt!
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="row">
                <div class="photo-list">
                    {% for photo in pagination %}
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                            <div class="photo-thumb margin-bottom-medium text-center">
                                <a href="{{ object_path(photo) }}">
                                    <img src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}"/>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
