{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'gallery.user_list_title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('photo.show.breadcrumb_city_list'|trans, path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(ride.city.city, object_path(ride.city)) }}
    {{ breadcrumb.item(ride.title, object_path(ride)) }}
    {{ breadcrumb.active('gallery.ride_list_breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if app.getUser() %}
                    <div class="btn-group btn-group pull-right" style="margin-top: 16px;">
                        <a class="btn btn-success" href="{{ object_path(ride, 'caldera_criticalmass_gallery_photos_upload_ride') }}" title="{{ 'gallery.ride_list_upload_button'|trans }}">
                            <i class="far fa-camera"></i>
                            {{ 'gallery.ride_list_upload_button'|trans }}
                        </a>
                    </div>
                {% endif %}

                <h1>
                    {{ 'gallery.ride_list_heading'|trans({'%ride%': ride.title}) }}
                </h1>
            </div>
        </div>

        {% if pagination|length == 0 %}
            {% if not app.getUser() %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert">
                            <strong>
                                {{ 'gallery.ride_list_no_photos_guest_label'|trans }}
                            </strong>
                            {{ 'gallery.ride_list_no_photos_guest'|trans({'%login_url%': path('login')})|raw }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert">
                            <strong>
                                {{ 'gallery.ride_list_no_photos_user_label'|trans }}
                            </strong>
                            {{ 'gallery.ride_list_no_photos_user'|trans }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="row">
                <div class="photo-list">
                    {% for photo in pagination %}
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                            <div class="photo-thumb margin-bottom-medium text-center">
                                <a href="{{ object_path(photo) }}">
                                    <img src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}"/>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
