{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}Fotos sortieren{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.active('Fotos sortieren') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Fotos sortieren</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Stadt</th>
                        <th>Tour</th>
                        <th>Anzahl</th>
                        <th>Optionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in result %}
                        {% set photo = row[0] %}
                        {% set counter = row[1] %}
                        <tr>
                            <td>
                                {{ photo.ride.dateTime.format('d. m. Y') }}
                            </td>
                            <td>
                                <a href="{{ object_path(photo.ride.city) }}">
                                    {{ photo.ride.city.city }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ object_path(photo.ride) }}">
                                    {{ photo.ride.title }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ object_path(photo.ride, 'caldera_criticalmass_photo_manage') }}">
                                    {{ counter }}
                                </a>
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="...">
                                    <a class="btn btn-secondary btn-xs" title="Herunterladen"
                                       href="{{ object_path(photo.ride, 'caldera_criticalmass_photo_manage') }}">
                                        <i class="far fa-images"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    {% if result|length == 0 %}
                        <tr>
                            <td colspan="7">
                                <div class="alert alert-info">
                                    <strong>Schade:</strong> Du hast bislang keine Fotos hochgeladen. Du kannst auf der
                                    Übersichtsseite einer Tour Fotos hochladen.
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
