<!DOCTYPE html>
<html lang="de">
<head>
    <title>criticalmass.in</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
    {% javascripts '@CalderaCriticalmassMobileBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if app.session.get('currentCitySlug') %}
        <script>
            var citySlugString = '{{ app.session.get('currentCitySlug') }}';
        </script>
    {% endif %}
    <script>
        $(function() { $( "body>[data-role='panel']" ).panel().enhanceWithin(); });
    </script>
    {% stylesheets '@CalderaCriticalmassMobileBundle/Resources/public/css/*.css' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
</head>
<body>

<!-- Menü -->
<section data-role="panel" id="mainpanel" data-position="left" data-qa-ta="mainpanel">
    <ul data-role="listview" data-theme="a">
        <li data-icon="delete"><a href="#" data-rel="close" data-qa-ta="mobile-mainpanel-close">Menü schließen</a></li>
        {% if app.session.get('currentCitySlug') %}
            <li data-role="list-divider" data-qa-ta="mainpanel-city-title">{{ app.session.get('city').getTitle }}</li>
            <li><a href="{{ url('caldera_criticalmass_city', {'citySlug': app.session.get('currentCitySlug'), 'host': mobile_host }) }}" data-ajax="false" data-qa-ta="mobile-mainpanel-cityoverview">Übersicht</a></li>
            <li data-role="list-divider">Neuigkeiten</li>
            {% if app.session.get('city').getUrl %}
                <li><a href="{{ app.session.get('city').getUrl }}" data-qa-ta="mobile-mainpanel-webpage">Website</a></li>
            {% endif %}

            {% if app.session.get('city').getFacebook %}
                <li><a href="{{ app.session.get('city').getFacebook }}" data-qa-ta="mobile-mainpanel-facebook">facebook</a></li>
            {% endif %}

            {% if app.session.get('city').getTwitter %}
                <li><a href="{{ app.session.get('city').getTwitter }}" data-qa-ta="mobile-mainpanel-twitter">Twitter</a></li>
            {% endif %}

        {% endif %}
        <li data-role="list-divider">criticalmass.in</li>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ url('admin_ride') }}" data-ajax="false" data-qa-ta="mobile-mainpanel-administration">Administration</a></li>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ url('fos_user_security_logout') }}" data-ajax="false" data-qa-ta="mobile-mainpanel-logout">Logout</a></li>
            <li><a href="{{ url('fos_user_profile_edit') }}" data-qa-ta="mobile-mainpanel-settings">Einstellungen</a></li>
            <li><a href="{{ url('fos_user_change_password') }}" data-qa-ta="mobile-mainpanel-changepassword">Kennwort ändern</a></li>
            <li><a href="{{ url('caldera_criticalmass_pushnotificationsettings', { 'host': mobile_host }) }}" data-qa-ta="mobile-mainpanel-pushsettings">Push-Nachrichten</a></li>
        {% else %}
            <li><a href="{{ url('fos_user_registration_register') }}" data-qa-ta="mobile-mainpanel-register">Registrierung</a></li>
            <li><a href="#loginPage" data-qa-ta="mobile-mainpanel-login">Login</a></li>
            <li><a href="{{ url('fos_user_resetting_request') }}" data-qa-ta="mobile-mainpanel-resetpassword">Kennwort vergessen?</a></li>
        {% endif %}

        <li><a href="#impressPage" data-qa-ta="mobile-mainpanel-impress">Impressum</a></li>
        <li><a href="#privacyPage" data-qa-ta="mobile-mainpanel-privacy">Datenschutz</a></li>
    </ul>
</section>

<!-- Impressum -->
<section data-role="page" id="impressPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Impressum</h1>
    </header>
    <section class="menu"></section>
    <section data-role="content" id="content">
        <h2>Impressum</h2>

        <p>Angaben nach § 5 TMG:</p>
        <p>Malte Hübner<br />Fritz-Reuter-Straße 57<br />24782 Büdelsdorf</p>
        <p><a href="mailto:malte@criticalmass.in">malte@criticalmass.in</a><br />0700 11 864 833</p>
    </section>
</section>

<!-- Datenschutz -->
<section data-role="page" id="privacyPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Datenschutz</h1>
    </header>
    <section class="menu"></section>
    <section data-role="content" id="content">
        <h2>Datenschutz</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
</section>

<!-- Login -->
<section data-role="page" id="loginPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Login</h1>
    </header>
    <section data-role="content" id="content">
        <form action="{{ path("fos_user_security_check") }}" method="post" data-ajax="false">

            <label for="username">Dein Benutzername</label>
            <input type="text" id="username" name="_username" value="" required="required" data-qa-ta="mobile-loginform-username" />

            <label for="password">Dein Kennwort</label>
            <input type="password" id="password" name="_password" required="required" data-qa-ta="mobile-loginform-password" />

            <input type="checkbox" id="remember_me" name="_remember_me" value="on" data-qa-ta="mobile-loginform-rememberme" />
            <label for="remember_me">Erinnere dich an mich</label>

            <input type="submit" id="_submit" name="_submit" value="Login" data-qa-ta="mobile-loginform-submit" />
        </form>    </section>
</section>




<section data-role="page" id="privacyPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Datenschutz</h1>
    </header>
    <section class="menu"></section>
    <section data-role="content" id="content">
        <h2>Datenschutz</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
</section>




<section data-role="page" id="privacyPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Datenschutz</h1>
    </header>
    <section class="menu"></section>
    <section data-role="content" id="content">
        <h2>Datenschutz</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
</section>
</body>
</html>
