{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}{{ promotion.title }}{% endblock %}

{% block content %}
    <div class="container">
        {% if rideList|length > 0 and promotion.hasMap %}
            <div class="row">
                <div class="col-md-12">
                    <div
                        class="map"
                        id="promotion-map"
                        data-controller="map--query-map"
                        data-map--query-map-popup-template-id-value="ride-popup"
                        data-map--query-map-api-type-value="ride"
                        data-map--query-map-api-query-value="{{ path('caldera_criticalmass_rest_ride_list') ~ '?' ~ promotion.query|raw }}&extended=true"
                        style="height: 350px;"
                    ></div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <h2>
                    {{ promotion.title }}
                </h2>
            </div>
        </div>

        {% if promotion.description %}
            <div class="row">
                <div class="col-md-12">
                    {{ promotion.description|markdown }}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <table class="table" id="ride-table" data-controller="datatable">
                    <thead>
                    <tr>
                        <th>{{ 'promotion.col_date'|trans }}</th>
                        <th>{{ 'promotion.col_time'|trans }}</th>
                        <th>{{ 'promotion.col_city'|trans }}</th>
                        <th>{{ 'promotion.col_title'|trans }}</th>
                        <th>{{ 'promotion.col_location'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ride in rideList %}
                        <tr>
                            <td>
                                {{ ride.dateTime|date('d.m.Y') }}
                            </td>

                            <td>
                                {{ ride.dateTime|date('H:i') }}&nbsp;{{ 'common.time_suffix'|trans }}
                            </td>

                            <td>
                                <a href="{{ object_path(ride.city) }}" title="{{ 'promotion.to_city_page'|trans({'%city_name%': ride.city.city}) }}">
                                    {{ ride.city.city }}
                                </a>
                            </td>

                            <td>
                                <a href="{{ object_path(ride) }}" title="{{ 'promotion.to_ride_page'|trans }}">
                                    {{ ride.title }}
                                </a>
                            </td>

                            <td>
                                {{ ride.location }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<template id="ride-popup">
  <div class="popup">
    <h3 class="popup__title">{% verbatim %}{{title}}{% endverbatim %}</h3>

    <div class="popup__meta">
      <div><strong>{{ 'promotion.popup.date'|trans }}</strong> {% verbatim %}{{formatDateLocal this}}{% endverbatim %}</div>
      <div><strong>{{ 'promotion.popup.time'|trans }}</strong> {% verbatim %}{{formatTimeLocal this}}{% endverbatim %}</div>
      {% verbatim %}{{#if location}}{% endverbatim %}
        <div><strong>{{ 'promotion.popup.location'|trans }}</strong> {% verbatim %}{{location}}{% endverbatim %}</div>
      {% verbatim %}{{/if}}{% endverbatim %}
    </div>

    <div class="popup__actions" style="margin-top: .5rem;">
      <a class="btn btn-primary" href="{% verbatim %}{{rideUrl this}}{% endverbatim %}">{{ 'promotion.popup.to_ride'|trans }}</a>
    </div>
  </div>
</template>
{% endblock %}
