{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Blog{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_blog_overview') }}">
            Blog
        </a>
    </li>

    <li class="active">
        {{ blog_post.title }}
    </li>
{% endblock %}

{% block bodyClass %}blog-post{% endblock %}

{% block content %}
    <div class="container blog-post">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <article class="blog-post" data-blog-post-slug="{{ blog_post.slug }}">
                    <div class="row">
                        <div class="col-md-12">
                            {% if blog_post.imageName %}
                                <div class="jumbotron" id="city-jumbotron" style="height: 250px; background-image: url({{ vich_uploader_asset(blog_post, 'imageFile')|imagine_filter('blogpost_teaser') }});">

                                </div>

                                <div class="author-box">
                                    <img class="media-object round-media-object img-responsive img-fluid" src="{{ vich_uploader_asset(blog_post.user, 'imageFile')|imagine_filter('user_profile_photo_small') }}" />

                                    <p>
                                        von
                                        <br />
                                        <strong>
                                            {{ blog_post.user.username }}
                                        </strong>
                                        <br>
                                        <time>
                                            {{ blog_post.createdAt|time_ago_in_words }}
                                        </time>
                                    </p>
                                </div>

                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="blog-post-title text-center">
                                {{ blog_post.title }}
                            </h2>

                            {% if blog_post.intro %}
                                <div class="blog-post-intro">
                                    {{ blog_post.intro|markdown }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 blog-post-content">
                            {{ blog_post.text|markdown }}
                        </div>
                    </div>

                    <a name="comments" />
                    <div class="row">
                        <div class="col-md-12">
                            {% if app.getUser() %}
                                <button type="button" class="btn btn-success pull-right" data-toggle="modal"
                                        data-target="#modal-add-post">
                                    Kommentar hinzufügen
                                </button>
                            {% else %}
                                <span class="btn btn-success pull-right modal-hint" data-modal-hint-title="{{ 'hint_modal.ride.post_write_button.title'|trans }}" data-modal-hint-text="{{ 'hint_modal.ride.post_write_button.text'|trans }}" data-hint-modal-size="md">
                                    Kommentar hinzufügen
                                </span>
                            {% endif %}

                            <h3>
                                Kommentare zu diesem Beitrag
                            </h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller('App\\Controller\\PostController::listAction', { 'blogPostId': blog_post.id })) }}

                            {% if app.getUser() %}
                                {{ render(controller('App\\Controller\\PostController::writeBlogPostAction', { 'blogPostId': blog_post.id, 'noButton': true })) }}
                            {% endif %}
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
