{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Blog{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Blog
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12">
                        {% if blog_post.imageName %}
                            <div class="jumbotron" id="city-jumbotron" style="height: 250px; background-image: url({{ vich_uploader_asset(blog_post, 'imageFile')|imagine_filter('blogpost_teaser') }});">

                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            {{ blog_post.title }}
                        </h2>

                        {% if blog_post.intro %}
                            <p class="lead">
                                {{ blog_post.intro }}
                            </p>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        {{ blog_post.text|markdown }}
                    </div>

                    <div class="col-md-3 text-center">
                        {% if blog_post.user.imageName %}
                            <img class="media-object round-media-object img-responsive img-fluid"
                                 src="{{ vich_uploader_asset(blog_post.user, 'imageFile')|imagine_filter('user_profile_photo_small') }}" style="margin: 10px auto;"/>
                        {% endif %}

                        <p>
                            <strong>
                                {{ blog_post.user.username }}
                            </strong>
                            <br />
                            <small>
                                <time>
                                    {{ blog_post.createdAt|time_ago_in_words }}
                                </time>
                            </small>
                        </p>

                        <p>
                            <a href="#comments">
                                {% if blog_post.comments|length == 1 %}
                                1 Kommentar
                                {% else %}
                                {{ blog_post.comments|length }} Kommentare
                                {% endif %}
                            </a>
                        </p>
                    </div>
                </div>

                <a name="comments" />
                <div class="row">
                    <div class="col-md-12">
                        {% if app.getUser() %}
                            <button type="button" class="btn btn-success pull-right" data-toggle="modal"
                                    data-target="#modal-add-post">
                                Kommentar hinzufügen
                            </button>
                        {% else %}
                            <span class="btn btn-success pull-right modal-hint" data-modal-hint-title="{{ 'hint_modal.ride.post_write_button.title'|trans }}" data-modal-hint-text="{{ 'hint_modal.ride.post_write_button.text'|trans({'%city%': ride.city.city, '%dateTime%': ride.dateTime|date('d.m.Y')}) }}" data-hint-modal-size="md">
                                Kommentar hinzufügen
                            </span>
                        {% endif %}

                        <h3>
                            Kommentare zu diesem Beitrag
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ render(controller('App\\Controller\\PostController::listAction', { 'blogPostId': blog_post.id })) }}

                        {% if app.getUser() %}
                            {{ render(controller('App\\Controller\\PostController::writeBlogPostAction', { 'blogPostId': blog_post.id, 'noButton': true })) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
