<!DOCTYPE html>
<html lang="en">
<head>
    {% include('CalderaCriticalmassSiteBundle:Template:Includes/_meta.html.twig') %}

    <title>Fahrradterroristen</title>

    <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/criticalmass.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/bootstrap4/bootstrap.min.css') }}" />

    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />#}
</head>

<body>

<div class="container m-t-3">
    <div class="row">
        <div class="col-md-12 text-md-center">
            <h1 class="display-2">
                Fahrradterroristen
            </h1>
            <p class="lead">
                Das Critical-Mass-Weblog von Caldera
            </p>
        </div>
    </div>

    {% for post in posts %}
    <div class="row m-b-3">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        {{ post.title }}
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    {{ post.text | markdown }}
                </div>

                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12 text-md-center">
                            <img src="{{ gravatarUrl(post.user, 256) }}" class="img-circle img-fluid" />
                        </div>
                    </div>

                    <div class="row m-t-2">
                        <div class="col-md-12 text-md-center">
                            {{ post.user.username }}
                            <br />
                            {{ post.dateTime | date('d.m.Y') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endfor %}
</div>

{% include('CalderaCriticalmassBlogBundle:Includes:_footer.html.twig') %}

<script src="{{ asset('bundles/calderacriticalmasssite/js/external/jquery/jquery-3.1.0.min.js') }}"></script>
<script src="{{ asset('bundles/calderacriticalmasssite/js/external/bootstrap4/bootstrap.min.js') }}"></script>
</body>
</html>

