{% extends 'CalderaCriticalmassBlogBundle:Template:MasterTemplate.html.twig' %}

{% block title %}Fahrradterroristen{% endblock %}

{% block content %}
<div class="blog-index blog container m-t-3">
    <div class="row">
        <div class="col-xs-12 text-xs-center">
            <h1 class="display-2">
                <a href="{{ path('caldera_criticalmass_blog_homepage') }}">
                    {{ blog.title }}
                </a>
            </h1>

            <p class="lead">
                {{ blog.description }}
            </p>
        </div>
    </div>

    {% for post in posts %}
    <div class="row m-t-3">
        <div class="col-xs-12 col-sm-10 offset-sm-1">
            <div class="row">
                <div class="row m-t-3">
                    <div class="col-xs-12 col-sm-10 text-xs-center">
                        <h2>
                            <a href="{{ path(post) }}">
                                {{ post.title }}
                            </a>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row m-t-2">
                <div class="col-xs-12 col-sm-10">
                    {% if post.abstract %}
                    {{ post.abstract | markdown }}

                    <a href="{{ path(post) }}" class="btn btn-secondary m-x-auto" style="width: 150px; display: block;">
                        Weiterlesen
                    </a>
                    {% else %}
                    <article>
                        {{ post.text | markdown }}
                    </article>
                    {% endif %}
                </div>

                <div class="hidden-xs-down col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 text-sm-center">
                            <img src="{{ gravatarUrl(post.user, 256) }}" class="img-circle img-fluid" />
                        </div>
                    </div>

                    <div class="row m-t-2">
                        <div class="col-sm-12 text-sm-center">
                            {{ post.user.username }}
                            <br />
                            {{ post.dateTime | date('d.m.Y') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endfor %}
</div>
{% endblock %}