{% extends 'CalderaCriticalmassBlogBundle:Template:MasterTemplate.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}


{% set currentPath = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block additionalHeaderElements %}
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:type" content="Website" />
    <meta property="og:description" content="{{ post.abstract }}" />
    <meta property="og:url" content="{{ currentPath }}" />
    <meta property="og:locale" content="de_DE" />
    <meta property="og:site_name" content="fahrradterroristen.de" />
    {% if post.featuredPhoto %}
        <meta property="og:image" content="{{ vich_uploader_asset(post.featuredPhoto, 'imageFile')|imagine_filter('blog_featuredphoto_standard') }}" />
    {% endif %}
{% endblock %}

{% block content %}
<div class="blog-view blog container m-t-3">
    <div class="row">
        <div class="col-xs-12 text-xs-center">
            <h1 class="display-2">
                <a href="{{ path('caldera_criticalmass_blog_homepage') }}">
                    Fahrradterroristen
                </a>
            </h1>

            <p class="lead">
                Das Critical-Mass-Weblog von Caldera
            </p>
        </div>
    </div>

    <div class="row m-t-3">
        <div class="col-xs-12">
            <header style="background-image: url({{ vich_uploader_asset(post.featuredPhoto, 'imageFile')|imagine_filter('blog_featuredphoto_standard') }});">

            </header>
        </div>
    </div>
    <div class="row m-t-3">
        <div class="col-xs-12 col-sm-10 offset-sm-1">
            <div class="row">
                <div class="row m-t-3">
                    <div class="col-xs-12 col-sm-10 text-xs-center">
                        <h2>
                            {{ post.title }}
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row m-t-2">
                <div class="col-xs-12 col-sm-10">
                    <article>
                        {{ post.text | markdown }}
                    </article>
                </div>

                <div class="hidden-xs-down col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 text-sm-center">
                            <img src="{{ gravatarUrl(post.user, 256) }}" class="img-circle img-fluid" />
                        </div>
                    </div>

                    <div class="row m-t-2">
                        <div class="col-sm-12 text-sm-center">
                            {{ post.user.username }}
                            <br />
                            {{ post.dateTime | date('d.m.Y') }}
                        </div>
                    </div>

                    {% if post.cities | length > 0 %}
                    <div class="row m-t-3">
                        <div class="col-xs-12 text-xs-center">
                            <p>
                                Tags:
                            </p>

                            <ul class="list-unstyled">
                            {% for city in post.cities %}
                                <li>
                                    <a href="{{ path(city) }}">
                                        #{{ city.slug }}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="row m-t-3">
                <a name="comments"></a>
                <div class="col-md-12">
                    <h3>
                        Kommentare zu diesem Beitrag
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ render(controller('CalderaCriticalmassBlogBundle:Comment:list', { 'blogPost': post })) }}
                </div>
            </div>

            {% if app.user %}
            {{ render(controller('CalderaCriticalmassBlogBundle:Comment:write', { 'blogPost': post })) }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
