<header class="app-header">
    <nav id="navigation" class="navbar navbar-expand-lg">
        <div class="container">
            {{ include('Template/Navigation/_navbar_header.html.twig') }}

            <div class="collapse navbar-collapse" id="main-navbar-collapse">
                {{ knp_menu_render('main_menu') }}

                {{ include('Template/Navigation/_navbar_search.html.twig') }}
            </div>
        </div>
    </nav>
</header>

{# Offcanvas menu for mobile #}
<div class="offcanvas offcanvas-start" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="mobileMenuLabel" style="font-weight:800;background:var(--app-accent-gradient);-webkit-background-clip:text;-webkit-text-fill-color:transparent;background-clip:text;">
            criticalmass.in
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Schliessen"></button>
    </div>
    <div class="offcanvas-body">
        {{ knp_menu_render('main_menu') }}

        <hr/>

        <div class="px-3 pb-3">
            {{ include('Template/Navigation/_navbar_search.html.twig') }}
        </div>
    </div>
</div>
