{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'strava.auth.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.active('strava.mass_import.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ 'strava.auth.heading'|trans }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="{{ authorizationUrl }}">
                        <img src="{{ asset('/images/strava/connect.png') }}" alt="Connect with Strava"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
