{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Tracks importieren{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Wähle eine Aktivität
                </h1>
            </div>
        </div>

        <div class="row">
            {% if list|length %}
                {% for result in list %}
                    {% set proposal = result.activity %}
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    {{ proposal.name }}
                                </h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div id="map-{{ proposal.activityId }}" class="preview-map" style="height: 150px;"
                                     data-polyline="{{ proposal.polyline }}">

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <dl>
                                    <dt>Distanz:</dt>
                                    <dd>{{ (proposal.distance / 1000)|round(2) }}&nbsp;Kilometer</dd>
                                </dl>
                            </div>
                            <div class="col-md-4">
                                <dl>
                                    <dt>Start:</dt>
                                    <dd>{{ proposal.startDateTime|date('H:i') }}&nbsp;Uhr</dd>
                                </dl>
                            </div>
                            <div class="col-md-4">
                                <dl>
                                    <dt>Dauer:</dt>
                                    <dd>{{ (proposal.elapsedTime / 60)|round() }}&nbsp;Minuten</dd>
                                </dl>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <a class="btn btn-success"
                                       href="{{ objectPath(proposal.ride, 'caldera_criticalmass_strava_import') }}?activityId={{ proposal.activityId }}">
                                        {# TODO #}
                                        <i class="fa fa-cloud-download"></i>
                                        Track importieren
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        <strong>Keine Touren gefunden!</strong>
                        Offenbar hast du mit Strava am {{ ride.dateTime.format('d.m.Y') }} keine Touren aufgezeichnet.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <script>
        CriticalMass.loadModule('StravaImportPage');
    </script>
{% endblock %}
