<div role="tabpanel" class="tab-pane" id="tracks">
    <div class="row">
        <div class="col-md-12">
            {% if app.getUser() %}
                <!-- Single button -->
                <div class="btn-group pull-right margin-top-medium">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-map-o"></i>
                        Track hinzufügen
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('caldera_criticalmass_strava_auth', { 'citySlug': ride.city.getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}">
                                <i class="fa fa-map-o"></i>
                                Track von Strava importieren
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('caldera_criticalmass_track_upload', { 'citySlug': ride.city.getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}"
                               title="Track hochladen">
                                <i class="fa fa-upload"></i>
                                GPX-Datei hochladen
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('caldera_criticalmass_track_draw', { 'citySlug': ride.city.getMainSlugString(), 'rideDate': ride.getFormattedDate() }) }}"
                               title="Track manuell zeichnen">
                                <i class="fa fa-map-signs"></i>
                                Track manuell zeichnen
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}

            <h3>GPX-Tracks</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            {% if tracks|length > 0 %}
                <table class="table">
                    <tr>
                        <th>
                            <input type="checkbox" class="allgroups-visibility-toggle" checked="checked"/>
                        </th>
                        <th>Teilnehmer</th>
                        <th>Dauer</th>
                        <th>Länge</th>
                        <th>Durchschnittsgeschwindigkeit</th>
                    </tr>
                    {% set trackNumber = 0 %}
                    {% set userHeadline = false %}
                    {% set glympseHeadline = false %}
                    {% set criticalmapsHeadline = false %}

                    {% for track in tracks %}
                        {% if track.getUser() %}
                            {% if userHeadline == false %}
                                <tr>
                                    <td>
                                        <input type="checkbox" class="trackgroup-visibility-toggle" checked="checked"/>
                                    </td>
                                    <td colspan="4">
                                        von criticalmass.in-Nutzern hochgeladene Tracks
                                    </td>
                                </tr>
                                {% set userHeadline = true %}
                            {% endif %}
                            <tr>
                                <td style="background-color: rgb({{ track.getColorRed() }}, {{ track.getColorGreen() }}, {{ track.getColorBlue() }});">
                                    <input type="checkbox" class="track-visibility-toggle"
                                           data-track-id="{{ track.id }}" checked="checked"/>
                                </td>
                                <td>
                                    {{ track.username }}
                                </td>
                                <td>
                                    {% if track.getDurationInterval() %}
                                        {{ track.getDurationInterval().format('%h:%i') }}&nbsp;Stunden
                                    {% endif %}
                                </td>
                                <td>
                                    {% if track.distance %}
                                        {{ track.distance|round(2) }}&nbsp;Kilometer
                                    {% endif %}
                                </td>
                                <td>
                                    {% if track.getAverageVelocity() %}
                                        {{ track.getAverageVelocity()|round(2) }} Kilometer pro Stunde
                                    {% endif %}
                                </td>
                            </tr>
                            {% set trackNumber = trackNumber + 1 %}
                        {% endif %}
                    {% endfor %}

                    {% for track in tracks %}
                        {% if track.getTicket() %}
                            {% if glympseHeadline == false %}
                                <tr>
                                    <td>
                                        <input type="checkbox" class="trackgroup-visibility-toggle" checked="checked"/>
                                    </td>
                                    <td colspan="4">
                                        über Glympse geteilte Tracks
                                    </td>
                                </tr>
                                {% set glympseHeadline = true %}
                            {% endif %}
                            <tr>
                                <td style="background-color: rgb({{ track.getColorRed() }}, {{ track.getColorGreen() }}, {{ track.getColorBlue() }});">
                                    <input type="checkbox" class="track-visibility-toggle"
                                           data-track-id="{{ track.id }}" checked="checked"/>
                                </td>
                                <td>{{ track.username }}</td>
                                <td>{{ track.getDurationInterval.format('%h:%i') }}&nbsp;Stunden</td>
                                <td>{{ track.distance|round(2) }}&nbsp;Kilometer</td>
                                <td>{{ track.getAverageVelocity()|round(2) }} Kilometer pro Stunde</td>
                            </tr>
                            {% set trackNumber = trackNumber + 1 %}
                        {% endif %}
                    {% endfor %}

                    {% for track in tracks %}
                        {% if track.getCriticalmapsUser() %}
                            {% if criticalmapsHeadline == false %}
                                <tr>
                                    <td>
                                        <input type="checkbox" class="trackgroup-visibility-toggle" checked="checked"/>
                                    </td>
                                    <td colspan="4">
                                        über Criticalmaps geteilte Tracks
                                    </td>
                                </tr>
                                {% set criticalmapsHeadline = true %}
                            {% endif %}
                            <tr>
                                <td style="background-color: rgb({{ track.getColorRed() }}, {{ track.getColorGreen() }}, {{ track.getColorBlue() }});">
                                    <input type="checkbox" class="track-visibility-toggle"
                                           data-track-id="{{ track.id }}" checked="checked"/>
                                </td>
                                <td>{{ track.username }}</td>
                                <td>{{ track.getDurationInterval.format('%h:%i') }}&nbsp;Stunden</td>
                                <td>{{ track.distance|round(2) }}&nbsp;Kilometer</td>
                                <td>{{ track.getAverageVelocity()|round(2) }} Kilometer pro Stunde</td>
                            </tr>
                            {% set trackNumber = trackNumber + 1 %}
                        {% endif %}
                    {% endfor %}
                </table>
            {% else %}
                {% if app.getUser() %}
                    <div class="alert alert-info" role="alert"><strong>Schade!</strong> Bislang hat noch niemand eine
                        GPX-Datei hochgeladen &mdash; <a href="#" data-toggle="modal" data-target="#modalTrackUpload"
                                                         title="Track hochladen">Du kannst noch immer der Erste sein</a>.
                    </div>
                {% else %}
                    <div class="alert alert-info" role="alert"><strong>Schade!</strong> Bislang hat noch niemand eine
                        GPX-Datei hochgeladen. Als <a href="{{ path('fos_user_security_login') }}">angemeldeter
                            Nutzer</a> könntest du hier der Erste sein.
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Timelapse</h3>
                </div>
                <div class="panel-body">
                    <div id="timelapse-control" style="display: none;">
                        <div class="row">
                            <div class="col-md-6">
                                <dl>
                                    <dt>Uhrzeit:</dt>
                                    <dd><span id="timelapse-time-clock">{{ ride.dateTime.format('H:i') }}</span> Uhr
                                    </dd>
                                </dl>
                            </div>

                            <div class="col-md-6">
                                <dl>
                                    <dt>Verstrichene Zeit:</dt>
                                    <dd><span id="timelapse-time-elapsed">0</span> Minuten</dd>
                                </dl>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <div class="btn-group" id="control-buttons" role="group" aria-label="...">
                                        <button type="button" id="step-backward-button" class="btn btn-default">
                                            <i class="fa fa-backward"></i>
                                        </button>
                                        <button type="button" id="pause-button" class="btn btn-default">
                                            <i class="fa fa-pause"></i>
                                        </button>
                                        <button type="button" id="stop-button" class="btn btn-default">
                                            <i class="fa fa-stop"></i>
                                        </button>
                                        <button type="button" id="play-button" class="btn btn-default">
                                            <i class="fa fa-play"></i>
                                        </button>
                                        <button type="button" id="step-forward-button" class="btn btn-default">
                                            <i class="fa fa-forward"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top-medium">
                            <div class="col-md-12">
                                Geschwindigkeit:
                            </div>
                        </div>

                        <div class="row margin-top-medium">
                            <div class="col-md-12">
                                <input id="speed-slider-input" type="text" style="width: 100%;"/>
                            </div>
                        </div>

                        <div class="row margin-top-medium">
                            <div class="col-md-12">
                                Zeitpunkt:
                            </div>
                        </div>

                        <div class="row margin-top-medium">
                            <div class="col-md-12">
                                <input id="time-slider-input" type="text" style="width: 100%;"/>
                            </div>
                        </div>
                    </div>

                    <div id="timelapse-start">
                        <div class="text-center">
                            {% if tracks|length %}
                                <button id="timelapse-start-button" class="btn btn-success">
                                    <i class="fa fa-bicycle"></i>
                                    Timelapse starten
                                </button>
                            {% else %}
                                Die Timelapse-Funktion funktioniert nur, wenn vorher mindestens ein GPX-Track hinzugefügt wurde.
                            {% endif %}
                        </div>
                    </div>

                    <div id="timelapse-loader" style="display: none;">
                        <div class="text-center">
                            Lade Track <span id="timelapse-track-number">0</span> von <span
                                    id="timelapse-track-total">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>