{% extends 'CalderaCriticalmassSiteBundle:Template:FullscreenTemplate.html.twig' %}

{% block title %}Live{% endblock %}

{% block additionalHeaderElements %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

    {% javascripts
    '@CalderaCriticalmassSiteBundle/Resources/public/js/core/Url.js'
    '@CalderaCriticalmassSiteBundle/Resources/public/js/map/Map.js'
    '@CalderaCriticalmassSiteBundle/Resources/public/js/map/MapPositions.js'
    '@CalderaCriticalmassSiteBundle/Resources/public/js/entity/*.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <style>
        #map {
            position: absolute;
            top: 30px;
            bottom: 0;
            width: 100%;
            z-index: 0;

        }
    </style>
{% endblock %}

{% block content %}
    <div id="map">

    </div>


{% endblock %}

{% block additionalFooterElements %}
    <script>
        $(function() {
            $('#map').css('top', $('nav#navigation').css('height'));

            var map = new Map('map', []);
            map.setView([50, 9], 12);
            
            var rideContainer = new Container();
            var cityContainer = new Container();
            
            var ride;
            var city;
            
            {% for ride in rides %}
            city = new City('{{ ride.getCity().getCity() }}', '{{ ride.getCity().getTitle() }}', '{{ ride.getCity().getMainSlugString() }}', '{{ ride.getCity().getDescription() }}', {{ ride.getCity().getLatitude() }}, {{ ride.getCity().getLongitude() }});

            ride = new Ride(
                    null,
                    '{{ ride.getFancyTitle() }}', 
                    '{{ ride.getDescription() }}', 
                    {{ ride.getLatitude() }}, 
                    {{ ride.getLongitude() }}, 
                    '{{ ride.getLocation() }}', 
                    '{{ ride.getDateTime.format('d.m.Y') }}', 
                    '{{ ride.getDateTime.format('H:i') }}', 
                    '{{ ride.getWeatherForecast() }}'
            );
            
            rideContainer.add(ride);
            
            {% if not ride.hasLocation() %}
            cityContainer.add(city);
            {% endif %}
            {% endfor %}
            
            rideContainer.addTo(map);
            cityContainer.addTo(map);

            /* LayerControl */
            var layers = [];

            rideContainer.addControl(layers, 'Tour');
            cityContainer.addControl(layers, 'Städte');
            
            var layerControl = L.control.groupedLayers({}, {
                'Critical Mass': layers
            }, {
                collapsed: false
            });

            layerControl.addTo(map.map);
            
            var mapPositions = new MapPositions();
            mapPositions.addTo(map);
            mapPositions.start();
        });
    </script>
{% endblock %}