{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}criticalmass.in{% endblock %}

{% block breadcrumb %}
    <li class="active">Startseite</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    {% include 'CalderaCriticalmassSiteBundle:Frontpage:Includes/_cityListSort.html.twig' %}
                </div>

                <h2>
                    Ab zur nächsten Masse
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div style="height: 270px; overflow-y: scroll;">
                    <table id="cityList" class="table">
                        <thead>
                            <tr>
                                <th>
                                    Datum
                                </th>
                                <th>
                                    Uhrzeit
                                </th>
                                <th>
                                    Stadt
                                </th>
                                <th>
                                    Titel
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for ride in currentRides %}
                                <tr class="city"
                                    data-cityName="{{ ride.city.city }}"
                                    data-latitude="{{ ride.city.latitude }}"
                                    data-longitude="{{ ride.city.longitude }}"
                                    data-currentRide="{{ ride.dateTime.format('Y-m-d H:i') }}">
                                    <td>
                                        {{ ride.dateTime.format('d.m.Y') }}
                                    </td>
                                    <td>
                                        {{ ride.dateTime.format('H:i') }} Uhr
                                    </td>
                                    <td>
                                        <a href="{{ path(ride.city) }}">
                                            {{ ride.city.city }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path(ride) }}">
                                            {{ ride.getFancyTitle() }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>
                    Freitagnachtfieber
                </h2>

                <p>
                    Eine große Radtour? Eine wilde Demonstration? Ein ganz großer Spaß? Der größte Stau im Feierabendverkehr?
                </p>

                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-success" href="{{ path('caldera_criticalmass_desktop_city_list') }}" role="button">
                        <i class="halflings list"></i>
                        Städte
                    </a>
                    <a class="btn btn-success" href="{{ path('caldera_criticalmass_calendar') }}" role="button">
                        <i class="halflings uni-calendar"></i>
                        Kalender
                    </a>
                </div>
            </div>
            
            <div class="col-md-4">
                <h2>
                    Was ist die Masse?
                </h2>

                <p>
                    Eine große Radtour? Eine wilde Demonstration? Ein ganz großer Spaß? Der größte Stau im Feierabendverkehr?
                </p>
                
                <p class="text-center">
                    <a class="btn btn-success" role="button" href="{{ path('caldera_criticalmass_content_display', { slug: 'what-is-the-mass' }) }}">
                        <i class="halflings road"></i>
                        Mehr darüber
                    </a>
                </p>
            </div>

            <div class="col-md-4">
                <h2>
                    So geht’s: Live-Tracking
                </h2>
                
                <p>
                    Teile deine Position mit anderen Radfahrern während der Tour.
                </p>

                <p class="text-center">
                    <a class="btn btn-success" role="button" href="{{ path('caldera_criticalmass_content_display', { slug: 'glympse' }) }}">
                        <i class="halflings map-marker"></i>
                        Live-Tracking mit Glympse
                    </a>
                </p>
            </div>

        </div>
    </div>
{% endblock %}