{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}criticalmass.in{% endblock %}

{% block breadcrumb %}
    <li class="active">Startseite</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="no-margin-top">
                            Hej, wir fahren Fahrrad!
                        </h1>

                        <p class="lead">
                            In fast jeder großen Stadt treffen sich am letzten Freitag im Monat Radfahrer zu einer gemeinsamen Ausfahrt. Sei mit dabei und schau dir an, was es alles zu entdecken gibt.
                        </p>
                    </div>
                </div>

                <div class="row hidden-xs hidden-sm">
                    <div class="col-md-12">
                        {{ timelineContent|raw }}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Live dabei
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <p>
                                Schau dir an, wo sich die Critical Mass in deiner Stadt gerade aufhält und deine Position mit anderen Radfahrern.
                            </p>

                            <div class="btn-group">
                                <a class="btn btn-default" href="{{ path('caldera_criticalmass_live_frontpage') }}">
                                    criticalmass.live
                                </a>
                                <a class="btn btn-default" href="http://criticalmaps.net/">
                                    Critical Maps
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Was ist Critical Mass?
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <p>
                                Eine große Radtour? Eine wilde Demonstration? Ein ganz großer Spaß? Der größte Stau im Feierabendverkehr?
                            </p>

                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-default" role="button" href="{{ path('caldera_criticalmass_content_display', { slug: 'what-is-the-mass' }) }}">
                                    <i class="fa fa-bicycle"></i>
                                    Mehr darüber
                                </a>

                                <a class="btn btn-default" href="{{ path('caldera_criticalmass_desktop_city_list') }}" role="button">
                                    <i class="fa fa-university"></i>
                                    Städte
                                </a>

                                <a class="btn btn-default" href="{{ path('caldera_criticalmass_calendar') }}" role="button">
                                    <i class="fa fa-calendar"></i>
                                    Kalender
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Bald unterwegs
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                        {% for rideDate, rides in rideList %}
                            <li>
                                <h4>
                                    {{ rideDate|date('d. F Y') }}
                                </h4>

                                <ul>
                                {% for ride in rides %}
                                    <li>
                                        <a href="{{ path(ride) }}">
                                            {{ ride.getFancyTitle() }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}