{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Dein Benutzerprofil{% endblock %}

{% block breadcrumb %}
    <li class="active">Dein Benutzerkonto</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>
                    Hej {{ app.getUser().getUsername() }}, schön, dass du da bist!
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Deine Touren
                    </div>

                    <div class="panel-body">
                        <p>
                            Super: Du hast bislang an {{ participationCounter }} Critical-Mass-Touren teilgenommen.
                        </p>

                        <p class="text-center">
                            <a class="btn btn-default" href="{{ path('criticalmass_user_participation_list') }}">
                                Tourenübersicht
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Deine Tracks
                    </div>
                    <div class="panel-body">
                        <p>
                            Von deinen Critical-Mass-Touren hast du insgesamt {{ trackCounter }} Tracks hochgeladen.
                        </p>

                        <p class="text-center">
                            <a class="btn btn-default" href="{{ path('caldera_criticalmass_track_list') }}">
                                Tracks verwalten
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Deine Fotos
                    </div>
                    <div class="panel-body">
                        <p>
                            Du hast von deinen Touren {{ photoCounter }} Fotos hochgeladen.
                        </p>

                        <p class="text-center">
                            <a class="btn btn-default" href="{{ path('caldera_criticalmass_photo_user_list') }}">
                                Fotos verwalten
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-5">

            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Kennwort ändern
                    </div>
                    <div class="panel-body">
                        <p>
                            Ändere dein Kennwort, das du zum Login bei criticalmass.in nutzt.
                        </p>

                        <p class="text-center">
                            <a class="btn btn-default" href="{{ path('fos_user_change_password') }}">
                                Kennwort ändern
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Benutzername oder E-Mail-Adresse ändern
                    </div>
                    <div class="panel-body">
                        <p>
                            Hier kannst du deine E-Mail-Adresse und deinen Benutzernamen ändern. Bedenke bitte, dass du dich künftig mit deinen neuen Benutzerdaten einloggen musst.
                        </p>

                        <p class="text-center">
                            <a class="btn btn-default" href="{{ path('caldera_criticalmass_photo_user_list') }}">
                                Ändern
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
