{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Mini-Masses kopieren{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_desktop_index') }}">criticalmass.in</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_show', { 'citySlug': newRide.getCity().getMainSlugString() }) }}">{{ newRide.getCity().getTitle() }}</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': newRide.getCity().getMainSlugString(), 'rideDate': newRide.getFormattedDate() }) }}">{{ newRide.getFancyTitle() }}</a></li>
            <li class="active">Mini-Masses kopieren</li>
        </ol>
        
        <h1>Mini-Masses kopieren</h1>
        
        <p>Von der Tour <a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': oldRide.getCity().getMainSlugString(), 'rideDate': oldRide.getFormattedDate() } ) }}">{{ oldRide.getFancyTitle() }}</a> können die folgenden Mini-Masses kopiert werden:</p>
        
        {% for subride in oldRide.getSubrides() %}
        <div class="media subride col-md-4">
            <a class="pull-left subride" href="#">
                <img class="media-object" src="/images/marker/marker-blue.png" alt="...">
            </a>
            <div class="media-body">
                <h5 class="media-heading">{{ subride.getDateTime().format('H.i') }} Uhr: {{ subride.getTitle() }}</h5>
                <p>{{ subride.getDescription()|nl2br }}</p>
            </div>
        </div>
        {% endfor %}
        
        <div class="row">
            <div class="col-md-12">
                <a href="" class="btn btn-success pull-right"><i class="halflings map-marker"></i> Kopieren</a>
            </div>
        </div>
    </div>
{% endblock %}