{% extends 'Template/StandardTemplate.html.twig' %}

{% set bootstrap4 = true %}

{% block title %}Städte-Übersicht{% endblock %}

{% block breadcrumb %}
    <li class="active">Städteliste</li>
{% endblock %}
    
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    Die nächste Masse ist ganz nah
                </h1>

                <p class="lead">
                    Die Critical-Mass-Bewegung ist in beinahe jeder größeren Stadt zu Hause.
                </p>

                <p>
                    Auf den Sattel, fertig, los: Die folgende Liste enthält mittlerweile {{ cityList|length }} Städte. Bitte bedenke, dass die folgenden Informationen aus verschiedenen Quellen im Internet stammen und womöglich veraltet oder schlichtweg falsch sein können. Überprüfe bitte vorher die einschlägigen Quellen wie Facebook oder Twitter, bevor du dich auf den Weg machst.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table id="city-list-table" class="table tablesorter">
                    <thead>
                        <tr>
                            <th>
                                Stadt
                            </th>
                            <th>
                                aktuelle Tour
                            </th>
                            <th>
                                Turnus
                            </th>
                            <th>
                                Touren
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for city in cityList %}
                        <tr>
                            <td>
                                <a href="{{ objectPath(city.city) }}">
                                    {{ city.city.city }}
                                </a>
                            </td>
                            <td>
                                {% if city.currentRide %}
                                    <a href="{{ objectPath(city.currentRide) }}">
                                        {{ city.currentRide.dateTime|format_datetime(null, 'de', city.city.timezone, constant('IntlDateFormatter::LONG'), constant('IntlDateFormatter::SHORT')) }}
                                        &nbsp;Uhr
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for cycle in city.cycles %}
                                        <li>
                                            am {{ ('cycle.event_date.month_week.' ~ cycle.weekOfMonth)|trans }} {{ ('cycle.event_date.day.' ~ cycle.dayOfWeek)|trans }}
                                            um {{ cycle.time|date('H:i', 'UTC') }} Uhr
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <a href="{{ objectPath(city.city, 'caldera_criticalmass_city_listrides') }}">
                                    {{ city.countRides }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block additionalFooterElements %}
    <script>
        CriticalMass.loadModule('SortableTable', '#city-list-table');
    </script>
{% endblock %}
