{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'city.title_overview'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.active('city.breadcrumb_city_list'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ 'city.list_heading'|trans }}
                </h1>

                <p class="lead">
                    {{ 'city.list_lead'|trans }}
                </p>

                <p>
                    {{ 'city.list_intro'|trans({'%count%': cityList|length}) }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="city-list-table" class="table tablesorter">
                    <thead>
                    <tr>
                        <th>
                            {{ 'city.list_col_city'|trans }}
                        </th>
                        <th>
                            {{ 'city.list_col_current_ride'|trans }}
                        </th>
                        <th>
                            {{ 'city.list_col_cycle'|trans }}
                        </th>
                        <th>
                            {{ 'city.list_col_rides'|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for city in cityList %}
                        <tr data-city-slug="{{ city.city.getMainSlugString() }}">
                            <td>
                                <a href="{{ object_path(city.city) }}">
                                    {{ city.city.city }}
                                </a>
                            </td>
                            <td>
                                {% if city.currentRide %}
                                    <a href="{{ object_path(city.currentRide) }}">
                                        {{ city.currentRide.dateTime|format_datetime(null, 'de', city.city.timezone, constant('IntlDateFormatter::LONG'), constant('IntlDateFormatter::SHORT')) }}
                                        &nbsp;{{ 'city.list_time_suffix'|trans }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for cycle in city.cycles %}
                                        <li>
                                            am {{ ('cycle.event_date.month_week.' ~ cycle.weekOfMonth)|trans }} {{ ('cycle.event_date.day.' ~ cycle.dayOfWeek)|trans }}
                                            um {{ cycle.time|date('H:i', 'UTC') }} {{ 'city.list_time_suffix'|trans }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <a href="{{ object_path(city.city, 'caldera_criticalmass_city_listrides') }}">
                                    {{ city.countRides }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
