{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Critical-Mass-Teilnehmerzahlen im {{ dateTime|format_date('MMMM YYYY') }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_statistic_ride_month', { year: dateTime|date('Y'), month: dateTime|date('m') }) }}">
            CCritical-Mass-Teilnehmerzahlen im {{ dateTime|format_date('MMMM YYYY') }}
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Critical-Mass-Teilnehmerzahlen im {{ dateTime|format_date('MMMM YYYY') }}
                </h2>

                <p class="lead">
                    Hier siehst du die Liste der Touren im {{ dateTime|format_date('MMMM YYYY') }}.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Stadt
                        </th>
                        <th>
                            Datum
                        </th>
                        <th>
                            Teilnehmer
                        </th>
                        <th>
                            Distanz
                        </th>
                        <th>
                            Länge
                        </th>
                        <th>
                            Durchschnittsgeschwindigkeit
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ride in rides %}
                        <tr>
                            <td>
                                {{ ride.city.city }}
                            </td>
                            <td>
                                {{ ride.dateTime|date('d.m.Y') }}
                            </td>
                            <td>
                                {{ ride.estimatedParticipants }}
                            </td>
                            <td>
                                {{ ride.estimatedDistance }} Kilometer
                            </td>
                            <td>
                                {{ ride.getDurationInterval.format('%h:%i') }}&nbsp;Stunden
                            </td>
                            <td>
                                {{ ride.getAverageVelocity()|round(2) }} Kilometer&nbsp;pro&nbsp;Stunde
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
