{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}facebook-Teilnehmerstatistiken{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_desktop_city_list') }}">
            Städteliste
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    facebook-Teilnehmerzahlen
                </h1>

                <p class="lead">
                    Hier siehst du, wie sich die Teilnehmerzahlen der Veranstaltung auf facebook entwickelt haben.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Stadt
                        </th>
                        <th>
                            Datum
                        </th>
                        <th>
                            Teilnehmer
                        </th>
                        <th>
                            Distanz
                        </th>
                        <th>
                            Länge
                        </th>
                        <th>
                            Durchschnittsgeschwindigkeit
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ride in rides %}
                        <tr>
                            <td>
                                {{ ride.city.city }}
                            </td>
                            <td>
                                {{ ride.dateTime|date('d.m.Y') }}
                            </td>
                            <td>
                                {{ ride.estimatedParticipants }}
                            </td>
                            <td>
                                {{ ride.estimatedDistance }} Kilometer
                            </td>
                            <td>
                                {{ ride.getDurationInterval.format('%h:%i') }}&nbsp;Stunden
                            </td>
                            <td>
                                {{ ride.getAverageVelocity()|round(2) }} Kilometer&nbsp;pro&nbsp;Stunde
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
