<div id="frontpage-carousel" class="carousel slide" data-interval="120000" data-ride="carousel">
    <div class="carousel-inner">
        {% for frontpageTeaser in frontpageTeaserList %}
            <div class="carousel-item d-block{% if loop.first %} active{% endif %}">
                <img src="{{ vich_uploader_asset(frontpageTeaser, 'imageFile')|imagine_filter('frontpage_teaser_large') }}" class="d-block w-100" alt="{{ frontpageTeaser.headline }}" />

                <div class="carousel-caption d-none d-md-block">
                {% if frontpageTeaser.headline %}
                    <h5>
                        {{ frontpageTeaser.headline }}
                    </h5>
                {% endif %}

                {% if frontpageTeaser.text %}
                    <p class="lead">
                        {{ frontpageTeaser.text }}
                    </p>
                {% endif %}
                </div>

                <div class="btn-group" role="group">
                    {% for button in frontpageTeaser.buttons %}
                        <a class="btn {{ button.class }}" role="button"
                           href="{{ button.link }}">
                            {% if button.icon %}
                                <i class="fa {{ button.icon }}"></i>
                            {% endif %}
                            {% if button.caption %}
                                {{ button.caption }}
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
