{% extends 'Template/MasterTemplate.html.twig' %}

{% block title %}criticalmass.in{% endblock %}

{% block masterContent %}
    {% include('Template/Navigation/_full_navigation.html.twig') %}

    <div class="container-fluid margin-bottom-medium">
        <div class="row">
            <div class="col-md-12">
                {% include 'Frontpage/_carousel.html.twig' with { 'frontpageTeaserList': frontpageTeaserList } %}
            </div>
        </div>
    </div>

    <div class="container margin-top-medium">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="no-margin-top">
                            {{ 'frontpage.heading'|trans }}
                        </h1>

                        <p class="lead">
                            {{ 'frontpage.lead'|trans }}
                        </p>

                        <p class="text-center">
                            <a href="https://criticalmass.blog/criticalmass-one/ueber-criticalmass-in/" class="btn btn-primary">
                                <i class="far fa-bicycle"></i>
                                {{ 'frontpage.learn_more'|trans }}
                            </a>
                        </p>
                    </div>
                </div>

                <div class="row margin-top-medium">
                    <div class="col-md-12">
                        {{ include('Timeline/timeline.html.twig') }}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                {{ render(controller('App\\Controller\\FrontpageController::rideListAction')) }}
            </div>
        </div>
    </div>

    {% include('Template/Includes/_footer.html.twig') %}
{% endblock %}
