{% extends 'Template/StandardTemplate.html.twig' %}

{% set bootstrap4 = true %}

{% block title %}Was ist criticalmass.in?{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1">
                <div class="row">
                    <div class="col-10 offset-1">
                        <h1 class="h3 text-center">
                            Über criticalmass.in
                        </h1>

                        <p class="lead">
                            criticalmass.in ist eine Art deutschlandweites Verzeichnis für Critical-Mass-Touren. Du findest hier Daten- und Städteinformationen, Statistiken und Fotos von der Critical Mass.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h4 class="text-center">
                            Was ist die Masse?
                        </h4>

                        <p>
                            Wenn du noch gar nicht weißt, worum es überhaupt geht, was Critical Mass ist oder du gar
                            kein Fahrrad hast, schau dir am besten den <a
                                    href="{{ path('caldera_criticalmass_help_about') }}">kurzen Überblick</a> zum Thema
                            an. Und wir haben auch Antworten auf <a href="{{ path('caldera_criticalmass_help_faq') }}">häufig
                                gestellte Fragen</a>. Eigentlich ist aber alles ganz einfach, denn Radfahren verlernt
                            man bekanntlich nie.
                        </p>
                    </div>

                    <div class="col-6">
                        <h4 class="text-center">
                            Wo geht’s zur Masse…
                        </h4>

                        <p>
                            In der <a href="{{ path('caldera_criticalmass_city_list') }}">Städteliste</a> findest du den
                            Treffpunkt und weitere Informationen zur Critical Mass in deiner Stadt.
                        </p>
                    </div>

                    <div class="col-6">
                        <h4 class="text-center">
                            … und wo ist die Masse?
                        </h4>

                        <p>
                            Auf <a href="https://criticalmaps.net/">criticalmaps.net</a> kannst du die aktuelle
                            Position der Critical Mass in deiner Stadt finden. Superpraktisch, wenn’s im Bureau doch mal
                            wieder länger gedauert hat oder du noch im Fahrradstau standest.
                        </p>
                    </div>

                    <div class="col-6">
                        <h4 class="text-center">
                            Lege eine Seite für deine Stadt an
                        </h4>

                        <p>
                            Du kannst auf der Städteseite deiner Critical Mass eine Beschreibung hinzufügen: Worum
                            geht’s, sein wann gibt es die Critical Mass in deiner Stadt, was ist in der Vergangenheit
                            passiert? Vielleicht gibt’s ja ein paar Leute, die sich gerelmäßig zum Radfahren abseits der
                            Critical Mass treffen? Oder sogar etwas, das schon den Begriff „Fahrradszene“ verdient?
                        </p>
                    </div>

                    <div class="col-6">
                        <h4 class="text-center">
                            Immer mit dabei
                        </h4>

                        <p>
                            Auf criticalmass.in findest du nicht nur <a
                                    href="{{ path('caldera_criticalmass_calendar') }}">einen Kalender</a> mit den
                            nächsten Touren, sondern kannst deine Teilnahmen direkt verwalten und auflisten.
                        </p>
                    </div>

                    <div class="col-6">
                        <h4 class="text-center">
                            Fotogalerien
                        </h4>

                        <p>
                            Lade Fotos von deiner Tour auf criticalmass.in hoch und teile deine Erlebnisse mit der
                            Critical-Mass-Gemeinschaft. Wenn du vorher einen Track hochgeladen hast, werden deine Fotos
                            automatisch auf der Karte einsortiert.
                        </p>
                    </div>

                    <div class="col-6">
                        <h4 class="text-center">
                            Verwalte deine Tracks
                        </h4>

                        <p>
                            Wenn du deine Teilnahme an einer Critical Mass mit Strava oder einem anderen GPS-Gerät
                            aufzeichnest, kannst du nach jeder Tour deine Aufzeichnung hinzufügen. Aus diesen Daten
                            generiert criticalmass.in Statistiken und Heatmaps, außerdem kannst du immer nachverfolgen,
                            wo die Masse schon einmal entlanggefahren ist.
                        </p>
                    </div>

                    <div class="col-6">
                        <h4 class="text-center">
                            Diskutiere mit
                        </h4>

                        <p>
                            Hier kannst du (fast) alles kommentieren. Schreibe deine Meinung zu Fotos, Touren oder
                            diskutiere im Forum mit Teilnehmern aus anderen Städten.
                        </p>
                    </div>

                    <div class="col-6">
                        <h4 class="text-center">
                            Da kommt Vorfreude auf
                        </h4>

                        <p>
                            Je mehr, desto besser: Du kannst dich schon im Laufe des Fahrradfreitags zu so genannten
                            Mini-Masses verabreden, um gemeinsam aus verschiedenen Stadtteilen zum Treffpunkt zu fahren.
                        </p>
                    </div>

                    <div class="col-6">
                        <h4 class="text-center">
                            Soziale Netzwerke?
                        </h4>

                        <p>
                            Klar, die Critical Mass findet nicht nur auf criticalmass.in statt. Du kannst aber Links zu
                            sozialen Netzwerken wie Facebook, Twitter oder Instagram zu deiner Stadt oder einzelnen
                            Touren hinzufügen. Je nach Art des Netzwerks werden automatisch Links zu aktullen
                            Neuigkeiten übertragen und auf der Startseite angezeigt.
                        </p>
                    </div>

                    <div class="col-6">
                        <h4 class="text-center">
                            Alles ist automatisierbar
                        </h4>

                        <p>
                            criticalmass.in kann dir Arbeit abnehmen und jeden Monat automatisch neue Touren für deine
                            Stadt generieren, ganz egal, an welchem Tag im Monat und an welchem Treffpunkt ihr unterwegs
                            seid. Und wenn ihr mehrmals pro Monat aufs Rad steigt: Umso besser!
                        </p>
                    </div>

                    <div class="col-6">
                        <h4 class="text-center">
                            Zahlen, bitte!
                        </h4>

                        <p>
                            Aus den Teilnehmerzahlen und Streckenlängen generieren wir <a href="{{ path('caldera_criticalmass_statistic_overview') }}">Statistiken</a>, so dass du verschiedene Städte miteinander vergleichen kannst.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
