<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'city.next_tour.title'|trans }}</h3>
    </div>
    <div class="panel-body">
        {% if currentRide %}
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <a href="{{ object_path(currentRide) }}">
                            <h3 class="no-margin-top">
                                {{ currentRide.title }}
                            </h3>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <dl>
                        <dt>{{ 'city.next_tour.date'|trans }}</dt>
                        <dd>{{ currentRide.dateTime|date('d.m.Y', currentRide.city.timezone) }}</dd>
                    </dl>
                </div>

                <div class="col-md-6">
                    <dl>
                        <dt>{{ 'city.next_tour.time'|trans }}</dt>
                        <dd>{{ currentRide.dateTime|date('H:i', currentRide.city.timezone) }} {{ 'common.time_suffix'|trans }}</dd>
                    </dl>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <dl>
                        <dt>{{ 'city.next_tour.location'|trans }}</dt>
                        {% if currentRide.location and currentRide.latitude and currentRide.longitude %}
                            <dd>{{ currentRide.location }}</dd>
                        {% else %}
                            <a href="{{ object_path(currentRide, 'caldera_criticalmass_ride_edit') }}">
                                {{ 'city.next_tour.location_unknown'|trans }}
                            </a>
                        {% endif %}
                    </dl>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        {{ 'city.next_tour.no_ride'|trans }}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row margin-top-medium">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="{{ object_path(city, 'caldera_criticalmass_city_listrides') }}" class="btn btn-success">
                        <i class="far fa-list"></i>
                        {{ 'city.next_tour.show_more'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
