<div class="dropdown" id="cityRideListButton">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="cityListDropdown" data-bs-toggle="dropdown">
        <i class="far fa-sort"></i>
        {{ 'city.ride_list_sort.button'|trans }}
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="cityListDropdown">
        <li role="presentation" class="sortOption" data-sortAttribute="rideDate">
            <a role="menuitem" tabindex="-1" href="#">
                {{ 'city.ride_list_sort.sort_date'|trans }}
            </a>
        </li>
        <li role="presentation" class="sortOption" data-sortAttribute="rideTitle">
            <a role="menuitem" tabindex="-1" href="#">
                {{ 'city.ride_list_sort.sort_title'|trans }}
            </a>
        </li>
        <li role="presentation" class="sortOption" data-sortAttribute="rideLocation">
            <a role="menuitem" tabindex="-1" href="#">
                {{ 'city.ride_list_sort.sort_location'|trans }}
            </a>
        </li>
        <li role="presentation" class="sortOption" data-sortAttribute="rideParticipants">
            <a role="menuitem" tabindex="-1" href="#">
                {{ 'city.ride_list_sort.sort_participants'|trans }}
            </a>
        </li>
        <li role="presentation" class="sortOption" data-sortAttribute="rideDistance">
            <a role="menuitem" tabindex="-1" href="#">
                {{ 'city.ride_list_sort.sort_distance'|trans }}
            </a>
        </li>
        <li role="presentation" class="sortOption" data-sortAttribute="rideDuration">
            <a role="menuitem" tabindex="-1" href="#">
                {{ 'city.ride_list_sort.sort_duration'|trans }}
            </a>
        </li>
    </ul>
</div>
