{% if socialNetworkProfiles|length > 0 %}
    <div class="card mb-3">
        <div class="card-header">
            <h3 class="card-title mb-0">
                Soziale Netze
            </h3>
        </div>

        <div class="card-body text-center">
            <div class="btn-group-vertical">
                {% for profile in socialNetworkProfiles %}
                    {% set network = getNetwork(profile.network) %}

                    <a href="{{ profile.identifier }}"
                       class="btn"
                       style="background-color: {{ network.backgroundColor }}; color: {{ network.textColor }};">
                        <i class="{{ network.icon }}"></i>
                        {{ network.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
