{% if socialNetworkProfiles|length > 0 %}
    <div class="card">
        <div class="card-header">
            Soziale Netze
        </div>
        <div class="card-body text-center">
            <div class="btn-group-vertical">
            {% for profile in socialNetworkProfiles %}
                {% set network = getNetwork(profile.network) %}

                {% if network %}
                <a href="{{ profile.identifier }}" class="btn" style="background-color: {{ network.backgroundColor }}; color: {{ network.textColor }};">
                    <i class="{{ network.icon }}"></i>
                    {{ network.name }}
                </a>
                {% endif %}
            {% endfor %}
            </div>
        </div>

        <div class="card-body text-center">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-share-square"></i>
                in sozialen Netzen teilen
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    {{ shareDropdownLink(city, 'mail') }}
                </li>

                <li>
                    {{ shareDropdownLink(city, 'twitter') }}
                </li>

                <li>
                    {{ shareDropdownLink(city, 'facebook') }}
                </li>

                <li>
                    {{ shareDropdownLink(city, 'google') }}
                </li>

                <li>
                    {{ shareDropdownLink(city, 'xing') }}
                </li>

                <li>
                    {{ shareDropdownLink(city, 'linkedin') }}
                </li>

                <li>
                    {{ shareDropdownLink(city, 'whatsapp') }}
                </li>

                <li>
                    {{ shareDropdownLink(city, 'pinterest') }}
                </li>

                <li>
                    {{ shareDropdownLink(city, 'reddit') }}
                </li>
            </ul>
        </div>
    </div>
{% endif %}
