<div class="card border-0 shadow-sm mb-4">
    <div class="card-header bg-white border-bottom">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link{% if tab == 'city' %} active{% endif %}" href="{{ object_path(city) }}">
                    <i class="far fa-university me-1"></i>
                    <span class="d-none d-sm-inline">{{ city.city }}</span>
                </a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link{% if tab == 'ride_list' %} active{% endif %}" href="{{ object_path(city, 'caldera_criticalmass_city_listrides') }}">
                    <i class="far fa-bicycle me-1"></i>
                    <span class="d-none d-sm-inline">Touren</span>
                </a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link{% if tab == 'statistic' %} active{% endif %}" href="{{ object_path(city, 'caldera_criticalmass_statistic_city') }}">
                    <i class="far fa-chart-bar me-1"></i>
                    <span class="d-none d-sm-inline">Statistik</span>
                </a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link{% if tab == 'socialnetwork_city_list_items' %} active{% endif %}" href="{{ object_path(city, 'criticalmass_socialnetwork_city_list_items') }}">
                    <i class="far fa-newspaper me-1"></i>
                    <span class="d-none d-sm-inline">Neuigkeiten</span>
                </a>
            </li>
        </ul>
    </div>
</div>
