{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ city.title }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Städteliste', path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.active(city.city) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ city.title }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    {{ blocked.description }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
