{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'city.title_overview'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('city.breadcrumb_city_list'|trans, path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(city.city, object_path(city)) }}
    {{ breadcrumb.active('city.breadcrumb_gallery'|trans) }}
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ 'city.gallery_heading'|trans({'%city_name%': city.city}) }}
                </h1>

                <p class="lead">
                    {{ 'city.gallery_lead'|trans({'%city_name%': city.city}) }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="cityRideList" class="table">
                    <thead>
                    <tr>
                        <th>
                            {{ 'city.gallery_col_date'|trans }}
                        </th>
                        <th>
                            {{ 'city.gallery_col_title'|trans }}
                        </th>
                        <th>
                            {{ 'city.gallery_col_photos'|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, ride in result.rides %}
                        <tr class="ride">
                            <td>
                                <a href="{{ object_path(ride) }}">
                                    {{ ride.dateTime.format('d.m.Y') }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ object_path(ride) }}">
                                    {{ ride.title }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ object_path(ride, 'caldera_criticalmass_photo_ride_list') }}">
                                    {{ result.counter[key] }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
