{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Städte-Übersicht{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: 'Städteliste', url: path('caldera_criticalmass_city_list') },
            { label: city.city, url: object_path(city) },
            { label: 'Foto-Galerien' },
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-12">
                <h1>
                    Fotos aus {{ city.city }}
                </h1>

                <p class="lead">
                    Hier siehst du eine Übersicht von Critical-Mass-Touren aus {{ city.city }}, zu denen Fotos
                    hochgeladen wurden.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table id="cityRideList" class="table align-middle">
                    <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Titel</th>
                        <th>Fotos</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, ride in result.rides %}
                        <tr class="ride">
                            <td>
                                <a href="{{ object_path(ride) }}">
                                    {{ ride.dateTime.format('d.m.Y') }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ object_path(ride) }}">
                                    {{ ride.title }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ object_path(ride, 'caldera_criticalmass_photo_ride_list') }}">
                                    {{ result.counter[key] }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
