{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'city.missing_stats.title'|trans({ '%city%': city.city }) }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('city.missing_stats.breadcrumb_city_list'|trans, path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(city.city, object_path(city)) }}
    {{ breadcrumb.active('city.missing_stats.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ 'city.missing_stats.heading'|trans({ '%city%': city.city }) }}
                </h1>

                <p class="lead">
                    {{ 'city.missing_stats.lead'|trans }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            {{ 'city.missing_stats.col_date'|trans }}
                        </th>

                        <th>
                            {{ 'city.missing_stats.col_title'|trans }}
                        </th>

                        <th>
                            {{ 'city.missing_stats.col_participants'|trans }}
                        </th>

                        <th>
                            {{ 'city.missing_stats.col_duration'|trans }}
                        </th>

                        <th>
                            {{ 'city.missing_stats.col_distance'|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ride in rides %}
                        <tr>
                            <td>
                                <a href="{{ object_path(ride) }}">
                                    {{ ride.dateTime|date('d.m.Y') }}
                                </a>
                            </td>

                            <td>
                                <a href="{{ object_path(ride) }}">
                                    {{ ride.title }}
                                </a>
                            </td>

                            <td>
                                {{ ride.estimatedParticipants|default('city.missing_stats.missing'|trans) }}
                            </td>

                            <td>
                                {{ human_duration(ride.getEstimatedDurationInSeconds())|default('city.missing_stats.missing'|trans) }}
                            </td>

                            <td>
                                {{ ride.estimatedDistance|default('city.missing_stats.missing'|trans) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
