{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Städte-Übersicht{% endblock %}

{% block breadcrumb %}

    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>

    <li>
        <a href="{{ objectPath(city) }}">
            {{ city.city }}
        </a>
    </li>

    <li class="active">
        Tour-Übersicht
    </li>
{% endblock %}
    
{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    {% include 'City/Includes/_rideListSort.html.twig' %}
                </div>

                <h1>
                    Touren in dieser Stadt
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="cityRideList" class="table">
                    <thead>
                    <tr>
                        <th data-sortAttribute="rideDate">
                            Datum
                        </th>
                        <th>
                            Uhrzeit
                        </th>
                        <th data-sortAttribute="rideTitle">
                            Titel
                        </th>
                        <th data-sortAttribute="rideLocation">
                            Treffpunkt
                        </th>
                        <th data-sortAttribute="rideParticipants">
                            Teilnehmer
                        </th>
                        <th data-sortAttribute="rideDistance">
                            Distanz
                        </th>
                        <th data-sortAttribute="rideDuration">
                            Dauer
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ride in rides %}
                        <tr class="city ride{% if not ride.enabled %} disabled{% endif %}"
                            data-rideDate="{{ ride.dateTime|date('Y-m-d H-i', 'Europe/Berlin') }}"
                            data-rideTitle="{{ ride.title }}"
                            data-rideLocation="{{ ride.location }}"
                            data-rideParticipants="{{ ride.estimatedParticipants }}"
                            data-rideDistance="{{ ride.estimatedDistance }}"
                            data-rideDuration="{{ ride.estimatedDuration }}"

                        >
                            <td>
                                {{ ride.dateTime|date('d.m.Y', ride.city.timezone) }}
                            </td>
                            <td>
                                {{ ride.dateTime|date('H:i', ride.city.timezone) }}&nbsp;Uhr
                            </td>
                            <td>
                                <a href="{{ objectPath(ride) }}">
                                    {{ ride.title }}
                                </a>
                            </td>
                            <td>
                                {{ ride.location }}
                            </td>
                            <td>
                                {% if ride.estimatedParticipants %}
                                    {{ ride.estimatedParticipants }}
                                {% endif %}
                            </td>
                            <td>
                                {% if ride.estimatedDistance %}
                                    {{ ride.estimatedDistance|round(2) }}&nbsp;Kilometer
                                {% endif %}
                            </td>
                            <td>
                                {% if ride.estimatedDuration %}
                                    {{ human_duration(ride.getEstimatedDurationInSeconds()) }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
