{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'city.title_overview'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('city.breadcrumb_city_list'|trans, path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(city.city, object_path(city)) }}
    {{ breadcrumb.active('city.breadcrumb_ride_list'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">

        {{ include('City/Includes/_tabs.html.twig', { tab: 'ride_list' }) }}

        <div class="row">
            <div class="col-md-12">
                <h2>
                    {{ 'city.ride_list_heading'|trans }}
                </h2>
            </div>
        </div>

        {% for message in app.flashes('success') %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <table id="ride-list-table" class="table">
                    <thead>
                    <tr>
                        <th>
                            {{ 'city.ride_list_col_date'|trans }}
                        </th>
                        <th>
                            {{ 'city.ride_list_col_time'|trans }}
                        </th>
                        <th>
                            {{ 'city.ride_list_col_title'|trans }}
                        </th>
                        <th>
                            {{ 'city.ride_list_col_location'|trans }}
                        </th>
                        <th>
                            {{ 'city.ride_list_col_participants'|trans }}
                        </th>
                        <th>
                            {{ 'city.ride_list_col_distance'|trans }}
                        </th>
                        <th>
                            {{ 'city.ride_list_col_duration'|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ride in rides %}
                    {% include 'Common/Ride/standard_city_ride_table_row.html.twig' with { ride: ride } %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
