{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ city.title }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('city.breadcrumb_city_list'|trans, path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.active(city.city) }}
{% endblock %}

{% block optionsButton %}
    <div class="btn-group float-end">
        {% if app.user %}
            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <i class="far fa-cogs"></i>
                {{ 'city.options_button'|trans }}
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{{ object_path(city, 'caldera_criticalmass_city_edit') }}">
                        <i class="far fa-cogs"></i>
                        {{ 'city.option_edit_city'|trans }}
                    </a>
                </li>

                <li>
                    <a class="dropdown-item" href="{{ object_path(city, 'caldera_criticalmass_ride_add') }}">
                        <i class="far fa-plus"></i>
                        {{ 'city.option_add_ride'|trans }}
                    </a>
                </li>

                <li>
                    <a class="dropdown-item" href="{{ object_path(city, 'caldera_criticalmass_citycycle_list') }}">
                        <i class="far fa-calendar"></i>
                        {{ 'city.option_manage_cycle'|trans }}
                    </a>
                </li>

                <li>
                    <a class="dropdown-item" href="{{ object_path(city, 'criticalmass_socialnetwork_city_list') }}">
                        <i class="far fa-at"></i>
                        {{ 'city.option_manage_social'|trans }}
                    </a>
                </li>
            </ul>
        {% else %}
            <button
                    type="button"
                    class="btn btn-success"
                    data-controller="hint-modal"
                    data-modal-hint-title="{{ 'hint_modal.city.options_button.title'|trans }}"
                    data-modal-hint-text="{{ 'hint_modal.city.options_button.text'|trans({'%city%': city.city}) }}"
                    data-modal-hint-size="md">
                <i class="far fa-cogs"></i>
                {{ 'city.options_button'|trans }}
            </button>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="container" itemscope itemtype="http://schema.org/Organization">
        {{ include('Flash/_flash.html.twig') }}

        {{ include('City/Includes/_tabs.html.twig', { tab: 'city' }) }}

        <div class="row">
            <div class="col-md-12">
                {% if city.imageName %}
                    <div class="jumbotron" id="city-jumbotron"
                         style="height: 250px; background-image: url({{ vich_uploader_asset(city, 'imageFile')|imagine_filter('city_image_wide') }});">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="float-end no-margin-top" itemprop="name">
                                    {{ city.title }}
                                </h1>
                            </div>
                        </div>

                        {% if city.punchline %}
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="lead float-end no-margin-top">
                                        {{ city.punchline }}
                                    </p>
                                </div>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-12">
                                {{ block('optionsButton') }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    {{ block('optionsButton') }}
                    <h1 class="no-margin-top">
                        {{ city.title }}
                    </h1>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        {% if city.longDescription %}
                            {{ city.longDescription|markdown }}
                        {% else %}
                            <div class="alert alert-info">
                                {{ 'city.no_description_heading'|trans|raw }}
                                {{ 'city.no_description_text'|trans({'%city_name%': city.city, '%city_title%': city.title, '%edit_url%': object_path(city, 'caldera_criticalmass_city_edit')})|raw }}

                                <ul>
                                    <li>
                                        {{ 'city.no_description_since'|trans({'%city_name%': city.city}) }}
                                    </li>
                                    <li>
                                        {{ 'city.no_description_duration'|trans }}
                                    </li>
                                    <li>
                                        {{ 'city.no_description_route'|trans }}
                                    </li>
                                    <li>
                                        {{ 'city.no_description_problems'|trans({'%city_name%': city.city}) }}
                                    </li>
                                </ul>

                                <p class="text-center margin-top-medium">
                                    <a href="{{ object_path(city, 'caldera_criticalmass_city_edit') }}"
                                       class="btn btn-primary btn-lg">
                                        {{ 'city.no_description_edit_button'|trans({'%city_name%': city.city}) }}
                                    </a>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if feature('photos') and photos|length > 0 %}
                    <div class="row">
                        <div class="col-md-12">
                            <h2>
                                {{ 'city.photos_heading'|trans({'%city_name%': city.city}) }}
                            </h2>

                            <p>
                                {{ 'city.photos_intro'|trans({'%city_name%': city.city, '%gallery_url%': object_path(city, 'caldera_criticalmass_city_listgalleries')})|raw }}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="photo-list">
                            {% for photo in photos %}
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                    <div class="photo-thumb margin-bottom-medium text-center">
                                        <a href="{{ object_path(photo) }}">
                                            <img class="img-fluid"
                                                 src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}"/>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        {% include 'City/Includes/_nextTour.html.twig' with { 'city': city, 'currentRide': currentRide } %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {% include 'City/Includes/_socialMedia.html.twig' with { 'city': city } %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {% include 'City/Includes/_locations.html.twig' with { 'city': city, 'locations': locations } %}
                    </div>
                </div>

                {% if nearCities and nearCities|length > 0 %}
                    <div class="row">
                        <div class="col-md-12">
                            {% include 'City/Includes/_nearCities.html.twig' with { 'nearCities': nearCities } %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
