{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ city.title }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Städteliste', path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.active(city.city) }}
{% endblock %}

{% block activity_badge %}
    <div class="badge">Aktivität: {{ (activity_index * 100)|number_format(2, ',', '.') }} %</div>
{% endblock %}

{% block optionsButton %}
    <div class="btn-group float-end">
        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <i class="far fa-cogs"></i>
            Optionen
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="{{ object_path(city, 'caldera_criticalmass_city_edit') }}">
                    <i class="far fa-cogs"></i>
                    Stadt editieren
                </a>
            </li>

            <li>
                <a href="{{ object_path(city, 'caldera_criticalmass_ride_add') }}">
                    <i class="far fa-plus"></i>
                    Tour hinzufügen
                </a>
            </li>

            <li>
                <a href="{{ object_path(city, 'caldera_criticalmass_citycycle_list') }}">
                    <i class="far fa-calendar"></i>
                    Turnus verwalten
                </a>
            </li>

            <li>
                <a href="{{ object_path(city, 'criticalmass_socialnetwork_city_list') }}">
                    <i class="far fa-at"></i>
                    soziale Netzwerke verwalten
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="container" itemscope itemtype="http://schema.org/Organization">
        {{ include('Flash/_flash.html.twig') }}

        {{ include('City/Includes/_tabs.html.twig', { tab: 'city' }) }}

        <div class="row">
            <div class="col-md-12">
                {% if city.imageName %}
                    <div class="jumbotron" id="city-jumbotron"
                         style="height: 250px; background-image: url({{ vich_uploader_asset(city, 'imageFile')|imagine_filter('city_image_wide') }});">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="float-end no-margin-top">
                                    <h1 itemprop="name">
                                        {{ city.title }}
                                    </h1> {{ block('activity_badge') }}
                                </div>
                            </div>
                        </div>

                        {% if city.punchline %}
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="lead float-end no-margin-top">
                                        {{ city.punchline }}
                                    </p>
                                </div>
                            </div>
                        {% endif %}

                        {% if app.getUser() %}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ block('optionsButton') }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    {% if app.getUser() %}
                        {{ block('optionsButton') }}
                    {% endif %}
                    <h1 class="no-margin-top">
                        {{ city.title }} {{ block('activity_badge') }}
                    </h1>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        {% if city.longDescription %}
                            {{ city.longDescription|markdown }}
                        {% else %}
                            <div class="alert alert-info">
                                <strong>Huch?</strong>
                                Schade, bislang hat noch niemand Informationen über {{ city.city }} hinterlegt. Wenn du
                                Lust und Zeit hast, kannst du {{ city.title }} <a
                                        href="{{ object_path(city, 'caldera_criticalmass_city_edit') }}">hier
                                    beschreiben</a>:

                                <ul>
                                    <li>
                                        Seit wann gibt es die Critical Mass in {{ city.city }}?
                                    </li>
                                    <li>
                                        Wie lange dauern eure Touren?
                                    </li>
                                    <li>
                                        Wo fahrt ihr ungefähr lang?
                                    </li>
                                    <li>
                                        Welche Probleme gibt es in {{ city.city }} für den Radverkehr?
                                    </li>
                                </ul>

                                <p class="text-center margin-top-medium">
                                    <a href="{{ object_path(city, 'caldera_criticalmass_city_edit') }}"
                                       class="btn btn-primary btn-lg">
                                        {{ city.city }} editieren
                                    </a>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if feature('photos') and photos|length > 0 %}
                    <div class="row">
                        <div class="col-md-12">
                            <h2>
                                Fotos aus {{ city.city }}
                            </h2>

                            <p>
                                Hier siehst du ein paar Fotos aus {{ city.city }}. Schau dir auch die <a href="{{ object_path(city, 'caldera_criticalmass_city_listgalleries') }}">Übersicht über Fotos aus {{ city.city }}</a> an.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="photo-list">
                            {% for photo in photos %}
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                                    <div class="photo-thumb margin-bottom-medium text-center">
                                        <a href="{{ object_path(photo) }}">
                                            <img class="img-fluid"
                                                 src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}"/>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        {% include 'City/Includes/_nextTour.html.twig' with { 'city': city, 'currentRide': currentRide } %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {% include 'City/Includes/_socialMedia.html.twig' with { 'city': city } %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {% include 'City/Includes/_locations.html.twig' with { 'city': city, 'locations': locations } %}
                    </div>
                </div>

                {% if nearCities and nearCities|length > 0 %}
                <div class="row">
                    <div class="col-md-12">
                        {% include 'City/Includes/_nearCities.html.twig' with { 'nearCities': nearCities } %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
