{% extends 'Template/StandardTemplate.html.twig' %}

{% set bootstrap4app = true %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        {{ city.city }}
    </li>
{% endblock %}

{% block optionsButton %}
    <div class="dropdown float-right">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="city-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cogs"></i>
            Optionen
            <span class="caret"></span>
        </button>

        <div class="dropdown-menu" aria-labelledby="city-dropdown">
            <a class="dropdown-item" href="{{ objectPath(city, 'caldera_criticalmass_city_edit') }}">
                <i class="fa fa-cogs"></i>
                Stadt editieren
            </a>

            <a class="dropdown-item" href="{{ objectPath(city, 'caldera_criticalmass_ride_add') }}">
                <i class="fa fa-plus"></i>
                Tour hinzuf체gen
            </a>

            <a class="dropdown-item" href="{{ objectPath(city, 'caldera_criticalmass_citycycle_list') }}">
                <i class="fa fa-calendar-o"></i>
                Turnus
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if city.imageName %}
                <div class="profile-header" style="height: 250px; background-image: url({{ vich_uploader_asset(city, 'imageFile')|imagine_filter('city_image_wide') }});">
                    <div class="container">
                        {% if app.getUser() %}
                            <div class="float-right">
                                {{ block('optionsButton') }}
                            </div>
                        {% endif %}
                        <div class="container-inner">
                            <h3 class="profile-header-user">
                                {{ city.title }}
                            </h3>
                            <p class="profile-header-bio">
                                {{ city.punchline }}
                            </p>
                        </div>
                    </div>
                </div>
                {% else %}
                    {% if app.getUser() %}
                        {{ block('optionsButton') }}
                    {% endif %}
                    <h1 class="no-margin-top">
                        {{ city.title }}
                    </h1>
                {% endif %}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 col-md-8">
                <div class="row mb-3">
                    <div class="col-12">
                        {% if city.longDescription %}
                            <div class="card">
                                <div class="card-header">
                                    {{ city.title }}
                                </div>
                                <div class="card-body readmore">
                                    {{ city.longDescription|markdown }}
                                </div>
                            </div>
                            <script>
                                CriticalMass.loadModule('ReadMore', '.readmore');
                            </script>
                        {% else %}
                            <div class="alert alert-info">
                                <strong>Huch?</strong>
                                Schade, bislang hat noch niemand Informationen 체ber {{ city.city }} hinterlegt. Wenn du
                                Lust und Zeit hast, kannst du {{ city.title }} <a
                                        href="{{ objectPath(city, 'caldera_criticalmass_city_edit') }}">hier
                                    beschreiben</a>:

                                <ul>
                                    <li>
                                        Seit wann gibt es die Critical Mass in {{ city.city }}?
                                    </li>
                                    <li>
                                        Wie lange dauern eure Touren?
                                    </li>
                                    <li>
                                        Wo fahrt ihr ungef채hr lang?
                                    </li>
                                    <li>
                                        Welche Probleme gibt es in {{ city.city }} f체r den Radverkehr?
                                    </li>
                                </ul>

                                <p class="text-center margin-top-medium">
                                    <a href="{{ objectPath(city, 'caldera_criticalmass_city_edit') }}" class="btn btn-primary btn-lg">
                                        {{ city.city }} editieren
                                    </a>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <ul class="list-group media-list media-list-stream mb-4">
                            {% for ride in rides %}
                                <li class="media list-group-item p-4">
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <small class="float-right text-muted">
                                                {{ ride.dateTime|format_datetime(null, 'de', 'Europe/Berlin', constant('IntlDateFormatter::LONG'), constant('IntlDateFormatter::SHORT')) }}&nbsp;Uhr
                                            </small>
                                            <h6>
                                                <a href="{{ objectPath(ride) }}">
                                                    {{ ride.title }}
                                                </a>
                                            </h6>
                                        </div>

                                        {% if ride.description %}
                                        <p>
                                            {{ ride.description }}
                                        </p>
                                        {% endif %}

                                        <div class="media-body-inline-grid" data-grid="images">
                                            {% if ride.featuredPhoto %}
                                                <div style="display: inline-block; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;">
                                                    <img src="{{ vich_uploader_asset(ride.featuredPhoto, 'imageFile')|imagine_filter('ride_image_wide') }}" class="img-fluid" />
                                                </div>
                                            {% endif %}

                                            {% if ride.location and ride.latitude and ride.longitude %}
                                                <div style="display: inline-block; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;">
                                                    <img src="{{ staticmaps(ride, 800, 200, 13) }}" class="img-fluid" />
                                                </div>
                                            {% else %}
                                                <div style="display: inline-block; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;">
                                                    <img src="{{ staticmaps(ride.city, 800, 200, 13) }}" class="img-fluid" />
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>


                <div class="row mb-3">
                    <div class="col-12 text-center">
                        <a href="{{ objectPath(city, 'caldera_criticalmass_city_listrides') }}" class="btn btn-primary">
                            <i class="fa fa-list"></i>
                            weitere Touren anzeigen
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                {% include 'AppBundle:City:Includes/_live.html.twig' with { 'city': city } %}

                {% include 'AppBundle:City:Includes/_statistic.html.twig' with { 'city': city } %}

                {% include 'AppBundle:City:Includes/_photos.html.twig' with { 'city': city, 'photos': photos } %}

                {% include 'AppBundle:City:Includes/_socialMedia.html.twig' with { 'city': city } %}

                {% include 'AppBundle:City:Includes/_locations.html.twig' with { 'city': city, 'locations': locations } %}

                {% include 'AppBundle:City:Includes/_nearCities.html.twig' with { 'nearCities': nearCities } %}
            </div>
        </div>
    </div>
{% endblock %}
