{% extends 'Template/StandardTemplate.html.twig' %}{% block title %}{{ city.title }}{% endblock %}

{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block breadcrumb %}
    {{ bootstrap.breadcrumb_item('Städteliste', path('caldera_criticalmass_city_list')) }}
    {{ bootstrap.breadcrumb_item(city.city, '', true) }}
{% endblock %}

{% block optionsButton %}
    <div class="btn-group pull-right">
        {{ bootstrap.dropdown('<i class="far fa-cogs"></i> Optionen <span class="caret"></span>', [
            { href: objectPath(city, 'caldera_criticalmass_city_edit'), caption: '<i class="far fa-cogs"></i> Stadt editieren' },
            { href: objectPath(city, 'caldera_criticalmass_ride_add'), caption: '<i class="far fa-plus"></i> Tour hinzufügen' },
            { href: objectPath(city, 'caldera_criticalmass_citycycle_list'), caption: '<i class="far fa-calendar"></i> Turnus verwalten' },
            { href: objectPath(city, 'criticalmass_socialnetwork_city_list'), caption: '<i class="far fa-at"></i> soziale Netzwerke verwalten' },
        ], 'btn-primary', false) }}
    </div>
{% endblock %}

{% block content %}
    <div class="container" itemscope itemtype="http://schema.org/Organization">
        {{ include('Flash/_flash.html.twig') }}

        {{ include('City/Includes/_tabs.html.twig', { tab: 'city' }) }}

        <div class="row">
            <div class="col-12">
                {% if city.imageName %}
                    <div class="jumbotron" id="city-jumbotron" style="height: 250px; background-image: url({{ vich_uploader_asset(city, 'imageFile')|imagine_filter('city_image_wide') }});">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="pull-right mt-0" itemprop="name">
                                    {{ city.title }}
                                </h1>
                            </div>
                        </div>

                        {% if city.punchline %}
                            <div class="row">
                                <div class="col-12">
                                    <p class="lead pull-right mt-0">
                                        {{ city.punchline }}
                                    </p>
                                </div>
                            </div>
                        {% endif %}

                        {% if app.getUser() %}
                            <div class="row">
                                <div class="col-12">
                                    {{ block('optionsButton') }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    {% if app.getUser() %}
                        {{ block('optionsButton') }}
                    {% endif %}
                    <h2 class="mt-0">
                        {{ city.title }}
                    </h2>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-9">
                <div class="row">
                    <div class="col-12">
                        {% if city.longDescription %}
                            {{ city.longDescription|markdown }}
                        {% else %}
                            <div class="alert alert-info">
                                <strong>Huch?</strong>
                                Schade, bislang hat noch niemand Informationen über {{ city.city }} hinterlegt. Wenn du
                                Lust und Zeit hast, kannst du {{ city.title }} <a
                                        href="{{ objectPath(city, 'caldera_criticalmass_city_edit') }}">hier
                                    beschreiben</a>:

                                <ul>
                                    <li>
                                        Seit wann gibt es die Critical Mass in {{ city.city }}?
                                    </li>
                                    <li>
                                        Wie lange dauern eure Touren?
                                    </li>
                                    <li>
                                        Wo fahrt ihr ungefähr lang?
                                    </li>
                                    <li>
                                        Welche Probleme gibt es in {{ city.city }} für den Radverkehr?
                                    </li>
                                </ul>

                                <p class="text-center mt-2">
                                    <a href="{{ objectPath(city, 'caldera_criticalmass_city_edit') }}"
                                       class="btn btn-primary btn-lg">
                                        {{ city.city }} editieren
                                    </a>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if feature('photos') and photos|length > 0 %}
                    <div class="row">
                        <div class="col-12">
                            <h2>
                                Fotos aus {{ city.city }}
                            </h2>

                            <p>
                                Hier siehst du ein paar Fotos aus {{ city.city }}. Schau dir auch die <a href="{{ objectPath(city, 'caldera_criticalmass_city_listgalleries') }}">Übersicht über Fotos aus {{ city.city }}</a> an.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="photo-list">
                            {% for photo in photos %}
                                <div class="col-6 col-sm-4 col-md-3 col-lg-3">
                                    <div class="photo-thumb mb-2 text-center">
                                        <a href="{{ objectPath(photo) }}">
                                            <img class="img-fluid img-thumbnail" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}"/>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="col-12">
                        {% include 'City/Includes/_live.html.twig' with { 'city': city } %}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        {% include 'City/Includes/_nextTour.html.twig' with { 'city': city, 'currentRide': currentRide } %}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        {% include 'City/Includes/_statistic.html.twig' with { 'city': city } %}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        {% include 'City/Includes/_socialMedia.html.twig' with { 'city': city } %}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        {% include 'City/Includes/_locations.html.twig' with { 'city': city, 'locations': locations } %}
                    </div>
                </div>

                {% if nearCities|length > 0 %}
                <div class="row mt-2">
                    <div class="col-12">
                        {% include 'City/Includes/_nearCities.html.twig' with { 'nearCities': nearCities } %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
