{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'city.title_track_list'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('city.breadcrumb_city_list'|trans, path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(city.city, object_path(city)) }}
    {{ breadcrumb.active('city.breadcrumb_track_list'|trans) }}
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    {{ 'city.track_list_heading'|trans }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% for track in pagination %}
                    {% include('Track/_track_list_item.html.twig') with { 'track': track, 'show_city': false } %}
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'city.track_list_delete_modal_title'|trans }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'common.close'|trans }}"></button>
                    </div>
                    <div class="modal-body">
                        <span id="trackIdLabel"></span>
                        <p>{{ 'city.track_list_delete_confirm'|trans }}</p>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group" role="group" aria-label="...">
                            <a id="deleteButton" href="#" class="btn btn-success">{{ 'city.track_list_delete_yes'|trans }}</a>
                            <button id="cancelButton" class="btn btn-secondary">{{ 'city.track_list_delete_no'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
