{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Suchergebnisse{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Suchergebnisse für „{{ query }}“
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#cityResults" aria-controls="cityResults" role="tab" data-toggle="tab">
                            Städte
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#rideResults" aria-controls="rideResults" role="tab" data-toggle="tab">
                            Touren
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#contentResults" aria-controls="contentResults" role="tab" data-toggle="tab">
                            Inhalte
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="cityResults">
                        {% for city in cityResults %}
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{{ path(city) }}">
                                        {{ city.title }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="rideResults">
                        {% for ride in rideResults %}
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{{ path(ride) }}">
                                        {{ ride.title }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="contentResults">
                        {% for content in contentResults %}
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{{ path(content) }}">
                                        {{ content.title }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
