{% extends 'Template/MasterTemplate.html.twig' %}

{% block title %}{% endblock title %}

{% block masterContent %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    {{ 'estimate.heading'|trans }}
                </h3>

                <p>
                    {{ 'estimate.question'|trans({
                        '%city%': ride.city.city,
                        '%date%': ride.dateTime|format_date(null, 'de', ride.city.timezone, constant('IntlDateFormatter::LONG'))
                    })|raw }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form_start(estimateForm) }}

                <div class="row">
                    <div class="col-md-12">
                        <label for="">
                            {{ 'estimate.label'|trans }}
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ form_widget(estimateForm.estimatedParticipants) }}
                    </div>
                </div>

                <div class="row margin-top-medium">
                    <div class="col-md-12">
                        <button class="btn btn-primary" type="submit">
                            {{ 'estimate.submit'|trans }}
                        </button>
                    </div>
                </div>
                {{ form_end(estimateForm) }}
            </div>
        </div>
    </div>
{% endblock masterContent %}
