{% extends 'Template/MasterTemplate.html.twig' %}

{% block title %}{% endblock title %}

{% block masterContent %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Teilnehmerzahl ergänzen
                </h3>

                <p>
                    Wie viele Teilnehmer sind an der Critical Mass in <strong>{{ ride.city.city }}</strong> am
                    <strong>{{ ride.dateTime|format_datetime(dateFormat='long', timeFormat='none', locale='de', timezone=ride.city.timezone) }}</strong>
                    mitgefahren?
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form_start(estimateForm) }}

                <div class="row">
                    <div class="col-md-12">
                        <label for="">
                            Teilnehmerzahl:
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ form_widget(estimateForm.estimatedParticipants) }}
                    </div>
                </div>

                <div class="row margin-top-medium">
                    <div class="col-md-12">
                        <button class="btn btn-primary" type="submit">
                            Absenden
                        </button>
                    </div>
                </div>
                {{ form_end(estimateForm) }}
            </div>
        </div>
    </div>
{% endblock masterContent %}
