{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Farbe wählen{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li class="active">
        Farbe wählen
    </li>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2>
                    Dein Profilfoto
                </h2>
            </div>
        </div>

        {{ form_start(profileColorForm) }}
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div id="colorpicker" style="display: inline-block">
                </div>

                {{ form_widget(profileColorForm.colorRed) }}
                {{ form_widget(profileColorForm.colorGreen) }}
                {{ form_widget(profileColorForm.colorBlue) }}
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="btn-group">
                    {{ form_widget(profileColorForm.submit, { label: 'Speichern', attr: { class: 'btn btn-primary'}}) }}

                    <a href="{{ path('criticalmass_user_usermanagement') }}" class="btn btn-default">
                        Abbrechen
                    </a>
                </div>
            </div>
        </div>
        {{ form_end(profileColorForm) }}
    </div>


    <script>
        CriticalMass.loadModule('ProfileColorPage');
    </script>
{% endblock %}
