{% extends 'Template/StandardTemplate.html.twig' %}

{% set bootstrap4 = true %}

{% block title %}Farbe w채hlen{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li class="active">
        Farbe w채hlen
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 text-center">
                <h2>
                    Deine Benutzerfarbe
                </h2>

                <p class="lead">
                    Hier kannst du eine Farbe w채hlen, mit der dein Benutzerkonto auf criticalmass.in repr채sentiert wird. Beispielsweise werden von dir hochgeladene Tracks in dieser Farbe angezeigt.
                </p>
            </div>
        </div>

        {{ form_start(profileColorForm) }}
        <div class="row">
            <div class="col-12 col-md-4 offset-md-4 text-center">
                <div id="colorpicker" class="input-group colorpicker-component">
                    <input type="text" value="{{ rgb_to_hex(user.colorRed, user.colorGreen, user.colorBlue) }}" class="form-control" />
                    <span class="input-group-addon"><i></i></span>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 col-md-6 offset-md-3 text-center">
                <div class="btn-group">
                    {{ form_widget(profileColorForm.submit, { label: 'Speichern', attr: { class: 'btn btn-primary'}}) }}

                    <a href="{{ path('criticalmass_user_usermanagement') }}" class="btn btn-secondary">
                        Abbrechen
                    </a>
                </div>
            </div>
        </div>
        {{ form_end(profileColorForm) }}
    </div>


    <script>
        CriticalMass.loadModule('ProfileColorPage');
    </script>
{% endblock %}
