{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Farbe w채hlen{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: 'Dein Benutzerkonto', url: path('criticalmass_user_usermanagement') },
            { label: 'Farbe w채hlen' },
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h2>
                    Deine Benutzerfarbe
                </h2>

                <p>
                    Hier kannst du eine Farbe w채hlen, mit der dein Benutzerkonto auf criticalmass.in repr채sentiert wird.
                    Beispielsweise werden von dir hochgeladene Tracks in dieser Farbe angezeigt.
                </p>
            </div>
        </div>

        {{ form_start(profileColorForm) }}

        <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
                {{ form_row(profileColorForm.color) }}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="btn-group" role="group" aria-label="Farbe speichern oder abbrechen">
                    {{ form_widget(profileColorForm.submit, {
                        label: 'Speichern',
                        attr: { class: 'btn btn-primary' }
                    }) }}

                    <a href="{{ path('criticalmass_user_usermanagement') }}" class="btn btn-secondary">
                        Abbrechen
                    </a>
                </div>
            </div>
        </div>

        {{ form_end(profileColorForm) }}
    </div>
{% endblock %}
