{% extends 'CalderaCriticalmassLiveBundle:Template:MasterTemplate.html.twig' %}

{% block content %}
<div class="container m-t-5">
    <div class="row">
        <div class="col-xs-6 offset-xs-3">
            {% if rides | length > 0 %}
            <form name="" class="form-inline">
                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <h2>
                            Auf den Sattel, fertig los
                        </h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <p class="lead">
                            Wo bist du heute unterwegs?
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <select class="form-control" id="select-ride">
                            {% for ride in rides %}
                                {% if (ride.hasLocation() and ride.latitude and ride.longitude) %}
                                {% set latitude = ride.latitude %}
                                {% set longitude = ride.longitude %}
                                {% else %}
                                {% set latitude = ride.city.latitude %}
                                {% set longitude = ride.city.longitude %}
                                {% endif %}
                                <option data-city-slug="{{ ride.city.slug }}" data-latitude="{{ latitude }}" data-longitude="{{ longitude }}">
                                    {{ ride.city.city }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row m-t-1">
                    <div class="col-xs-12 text-xs-center">
                        <div class="btn-group">
                            <button id="ride-on" type="submit" class="btn btn-primary">
                                Ride on
                            </button>
                            <button id="auto-select" type="button" class="btn btn-secondary">
                                Autoselect
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            {% else %}
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h2>
                        Nichts los auf den Straßen
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <p class="lead">
                        Leider ist momentan keine kritische Masse unterwegs. Schau dir die <a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Liste weltweiter Critical-Mass-Touren</a> an, um eine Tour in deiner Nähe zu finden.
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row m-t-5">
        <div class="col-xs-10 offset-xs-1 text-xs-center">
            <h4>
                Critical Mass?
            </h4>

            <p class="lead">
                Worum geht es eigentlich? Was soll das alles?
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 offset-xs-1">
            <p>
                Fahrradfahren! Freunde treffen! Die Critical Mass ist eine weltweite Bewegung: Rund um den Globus steigen am letzten Freitag im Monat Menschen auf ihr Fahrrad und rollen gemeinsam durch die Stadt.
            </p>

            <p>
                Was das soll? Keine Ahnung: Das muss jeder für sich selbst entscheiden. Für manche ist es nur eine Radtour mit vielen, vielen Freunden. Für andere ein Statement für alternative Mobilität, für wiederum andere eine Demonstration, für manche einfach nur ein ganz großer Spaß. Jeder Teilnehmer hat seine eigene Definition.
            </p>
        </div>
    </div>

    <div class="row m-t-5">
        <div class="col-xs-10 offset-xs-1 text-xs-center">
            <h4>
                Live Tracking?
            </h4>

            <p class="lead">
                Wozu?
            </p>
        </div>
    </div>

    <div class="row m-t-5">
        <div class="col-xs-10 offset-xs-1 text-xs-center">
            <h4>
                Critical Mass Live Tracking?
            </h4>

            <p class="lead">
                Hier sind die am häufigsten nachgefragten Städte:
            </p>
        </div>
    </div>

    {% set ridesPerCol = (popularRides | length / 3) | round(0, 'floor') %}

    <div class="row">
        <div class="col-xs-10 offset-xs-1">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        {% for ride in popularRides|slice(0, ridesPerCol) %}
                            <li>
                                {{ ride.city.title }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        {% for ride in popularRides|slice(ridesPerCol, ridesPerCol) %}
                            <li>
                                {{ ride.city.title }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        {% for ride in popularRides|slice(2 * ridesPerCol, ridesPerCol + 1) %}
                            <li>
                                {{ ride.city.title }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    CriticalMass.loadModule('LiveFrontPage');
</script>
{% endblock  %}