{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Städte-Übersicht{% endblock %}

{% block breadcrumb %}
        <li class="active">Städteliste</li>
{% endblock %}
    
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Die nächste Masse ist ganz nah.
                </h1>
                
                <p class="lead">
                    Die Critical-Mass-Bewegung ist in beinahe jeder größeren Stadt zu Hause.
                </p>

                <div class="pull-right">
                    {% include 'CalderaCriticalmassSiteBundle:City:Includes/_cityListSort.html.twig' %}
                </div>

                <p>
                    Auf den Sattel, fertig, los: Die folgende Liste enthält mittlerweile {{ result|length }} Städte. Bitte bedenke, dass die folgenden Informationen aus verschiedenen Quellen im Internet stammen und womöglich veraltet oder schlichtweg falsch sein können. Überprüfe bitte vorher die einschlägigen Quellen wie facebook oder twitter, bevor du dich auf den Weg machst.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <table id="cityList" class="table sortableCityRideList">
                    <thead>
                        <tr>
                            <th>
                                Stadt
                            </th>
                            <th>
                                aktuelle Tour
                            </th>
                            <th>
                                Turnus
                            </th>
                            <th>
                                Touren
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in result %}
                            {% set city = row.city %}
                            {% set currentRide = row.currentRide %}
                            {% set countRides = row.countRides %}
                        <tr class="city"
                            data-cityName="{{ city.city }}"
                            data-cityslug="{{ city.slug }}"
                            data-latitude="{{ city.latitude }}"
                            data-longitude="{{ city.longitude }}"
                            data-currentRide="{% if currentRide %}{{ currentRide.dateTime|date('Y-m-d H:i', 'Europe/Berlin') }}{% else %}9999-99-99 99:99{% endif %}"
                        >
                            <td>
                                <a href="{{ path(city) }}">
                                    {{ city.city }}
                                </a>
                            </td>
                            <td>
                            {% if currentRide %}
                                <a href="{{ path(currentRide) }}">
                                    {{ currentRide.dateTime|date('l, d. M, H:i', 'Europe/Berlin') }}&nbsp;Uhr
                                </a>
                            {% endif %}
                            </td>
                            <td>
                                {{ city.getEventDateTimeString() }}
                            </td>
                            <td>
                                <a href="{{ path('caldera_criticalmass_desktop_city_listrides', { citySlug: city.slug }) }}">
                                    {{ countRides }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}