{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Städte-Übersicht{% endblock %}

{% block breadcrumb %}
        <li class="active">Städteliste</li>
{% endblock %}
    
{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                <h1>Die nächste Masse ist ganz nah.</h1>
                
                <p class="lead">Die Critical-Mass-Bewegung ist in beinahe jeder größeren Stadt zu Hause.</p>

                <div class="dropdown pull-right">
                    {% include 'CalderaCriticalmassSiteBundle:City:Includes/_cityListSort.html.twig' %}
                </div>

                <p>Auf den Sattel, fertig, los: Die folgende Liste enthält mittlerweile {{ cities|length }} Städte. Bitte bedenke, dass die folgenden Informationen aus verschiedenen Quellen im Internet stammen und womöglich veraltet oder schlichtweg falsch sein können. Überprüfe bitte vorher die einschlägigen Quellen wie facebook oder twitter, bevor du dich auf den Weg machst.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <table id="cityList" class="table">
                    <tr id="tableHeaderRow">
                        <th>Stadt</th>
                        <th>aktuelle Tour</th>
                        <th>Turnus</th>
                        <th>Touren</th>
                    </tr>
                    {% for city in cities %}
                    <tr class="city" data-cityName="{{ city.getCity() }}" data-cityslug="{{ city.getMainSlugString() }}" data-latitude="{{ city.getLatitude() }}" data-longitude="{{ city.getLongitude() }}" data-currentRide="{% if city.getCurrentRide() %}{{ city.getCurrentRide().getDateTime().format('Y-m-d H:i') }}{% else %}9999-99-99 99:99{% endif %}">
                        <td><a href="{{ path('caldera_criticalmass_desktop_city_show', {'citySlug': city.getMainSlugString() }) }}">{{ city.getCity() }}</a></td>
                        <td>{% if city.getCurrentRide() %}
                                <a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': city.getMainSlugString(), 'rideDate': city.getCurrentRide().getDateTime().format('Y-m-d') } ) }}">{{ city.getCurrentRide().getDateTime().format('l, d. M, H:i') }} Uhr</a>
                        {% endif %}</td>
                        <td>{{ city.getEventDateTimeString() }}</td>
                        <td>{{ city.countRides() }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}