{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{{ city.title }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
    <li class="active">{{ city.city }}</li>
{% endblock %}

{% set currentPath = 'https://criticalmass.in' ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block additionalHeaderElements %}
    <meta property="og:title" content="{{ city.title }}" />
    <meta property="og:type" content="Website" />
    <meta property="og:description" content="{{ city.description }}" />
    <meta property="og:url" content="{{ currentPath }}" />
    <meta property="og:locale" content="de_DE" />
    <meta property="og:site_name" content="criticalmass.in" />
    {% if city.imageName %}
    <meta property="og:image" content="{{ vich_uploader_asset(city, 'imageFile')|imagine_filter('city_image_wide') }}" />
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if city.imageName %}
                <div class="jumbotron" id="city-jumbotron" style="height: 250px; background-image: url({{ vich_uploader_asset(city, 'imageFile')|imagine_filter('city_image_wide') }});">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="pull-right no-margin-top">
                                {{ city.title }}
                            </h1>
                        </div>
                    </div>

                    {% if city.punchline %}
                    <div class="row">
                        <div class="col-md-12">
                            <p class="lead pull-right no-margin-top">
                                {{ city.punchline }}
                            </p>
                        </div>
                    </div>
                    {% endif %}

                    {% if app.getUser() %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group pull-right">
                                <a class="btn btn-success" href="{{ path('caldera_criticalmass_desktop_city_edit', { citySlug: city.getMainSlugString() } ) }}">
                                    <i class="fa fa-cogs"></i>
                                    Stadt editieren
                                </a>
                                <a class="btn btn-success" href="{{ path('caldera_criticalmass_desktop_ride_add', { citySlug: city.getMainSlugString() } ) }}">
                                    <i class="fa fa-plus"></i>
                                    Tour hinzufügen
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% else %}
                    {% if app.getUser() %}
                    <a class="btn btn-success pull-right" href="{{ path('caldera_criticalmass_desktop_city_edit', { citySlug: city.getMainSlugString() } ) }}">
                        <i class="fa fa-cogs"></i>
                        Stadt editieren
                    </a>
                    {% endif %}
                    <h1 class="no-margin-top">
                        {{ city.title }}
                    </h1>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                {{ city.longDescription|markdown }}
            </div>

            <div class="col-md-3">
                {% include 'CalderaCriticalmassSiteBundle:City:Includes/_currentTime.html.twig' with { 'city': city, 'dateTime': dateTime } %}
                {% include 'CalderaCriticalmassSiteBundle:City:Includes/_nextTour.html.twig' with { 'city': city, 'currentRide': currentRide } %}
                {% include 'CalderaCriticalmassSiteBundle:City:Includes/_socialMedia.html.twig' with { 'city': city } %}
                {% include 'CalderaCriticalmassSiteBundle:City:Includes/_nearCities.html.twig' with { 'nearCities': nearCities } %}
            </div>
        </div>
    </div>
{% endblock %}
