{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{{ city.getTitle }}{% endblock %}

{% block additionalHeaderElements %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
    <li class="active">{{ city.getCity() }}</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if app.getUser() %}
                    <div class="btn-group pull-right" style="margin-top: 24px;">
                        <a class="btn btn-success" href="{{ path('caldera_criticalmass_desktop_city_edit', { citySlug: city.getMainSlugString() } ) }}">
                            <i class="fa fa-cogs"></i>
                            Stadt editieren
                        </a>
                    </div>
                {% endif %}

                <h1>{{ city.title }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                {{ city.getLongDescription()|nl2br }}
            </div>

            <div class="col-md-3">
                {% include 'CalderaCriticalmassSiteBundle:City:_nextTour.html.twig' with { 'currentRide': currentRide } %}
                {% include 'CalderaCriticalmassSiteBundle:City:_socialMedia.html.twig' with { 'city': city } %}
            </div>
        </div>
    </div>
{% endblock %}

{#


        <ul class="nav nav-tabs" id="cityModalTabs">
            {% if hasCurrentRide %}
            <li><a href="#cityInfoTab" data-toggle="tab"><i class="halflings flag"></i> {{ city.getCity() }}</a></li>
            <li class="active"><a href="#nextRideTab" data-toggle="tab"><i class="halflings calendar"></i> Nächste Tour</a></li>
            {% else %}
            <li class="active"><a href="#cityInfoTab" data-toggle="tab"><i class="halflings info-sign"></i> {{ city.getCity() }}</a></li>
            {% endif %}
            {% if hasRides %}
            <li><a href="#recentRidesTab" data-toggle="tab"><i class="halflings road"></i> Tourübersicht <span class="badge">{{ rides|length }}</span></a></li>
            {% endif %}
            <li><a href="#timelineTab" data-toggle="tab"><i class="halflings pencil"></i> Kommentare <span class="badge">{{ city.getPosts()|length }}</span></a></li>
        </ul>

        <div class="tab-content" id="cityModalTabsContent" style="padding-top: 10px;">
            {% include('CalderaCriticalmassSiteBundle:Common/City:CityTab.html.twig') with { 'city': city } %}
            {% include('CalderaCriticalmassSiteBundle:Common/City:CurrentRideTab.html.twig') with { 'city': city } %}
            {% include('CalderaCriticalmassSiteBundle:Common/City:RidesTab.html.twig') with { 'city': city } %}
            {% include('CalderaCriticalmassSiteBundle:Common/City:CommentsTab.html.twig') with { 'city': city } %}
        </div>

        #}