{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{{ city.getTitle }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
    <li class="active">{{ city.city }}</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if city.imageFile %}
                <div class="jumbotron" id="city-jumbotron" style="height: 250px; background-image: url({{ vich_uploader_asset(city, 'imageFile')|imagine_filter('city_image_wide') }});">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="pull-right no-margin-top">
                                {{ city.title }}
                            </h1>
                        </div>
                    </div>

                    {% if city.punchline %}
                    <div class="row">
                        <div class="col-md-12">
                            <p class="lead pull-right no-margin-top">
                                {{ city.punchline }}
                            </p>
                        </div>
                    </div>
                    {% endif %}

                    {% if app.getUser() %}
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success pull-right" href="{{ path('caldera_criticalmass_desktop_city_edit', { citySlug: city.getMainSlugString() } ) }}">
                                <i class="fa fa-cogs"></i>
                                Stadt editieren
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% else %}
                    {% if app.getUser() %}
                    <a class="btn btn-success pull-right" href="{{ path('caldera_criticalmass_desktop_city_edit', { citySlug: city.getMainSlugString() } ) }}">
                        <i class="fa fa-cogs"></i>
                        Stadt editieren
                    </a>
                    {% endif %}
                    <h1 class="no-margin-top">
                        {{ city.title }}
                    </h1>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                {{ city.getLongDescription()|nl2br }}
            </div>

            <div class="col-md-3">
                {% include 'CalderaCriticalmassSiteBundle:City:Includes/_nextTour.html.twig' with { 'city': city, 'currentRide': currentRide } %}
                {% include 'CalderaCriticalmassSiteBundle:City:Includes/_socialMedia.html.twig' with { 'city': city } %}
            </div>
        </div>
    </div>
{% endblock %}