<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head {{ sonata_seo_head_attributes() }}>

    {% if block('title') %}
        <title>{% block title %}{% endblock %} — criticalmass.in</title>
    {% else %}
        {{ sonata_seo_title() }}
    {% endif %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}

    {% if bootstrap4 is defined and bootstrap4 == true %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/criticalmass-bootstrap4.css') }}" />
    {% elseif bootstrap4app is defined and bootstrap4app == true %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/external/bootstrap-app-4/toolkit.css') }}" />
    {% else %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/criticalmass.css') }}"/>
    {% endif %}

    <link rel="stylesheet" href="{{ asset('bundles/app/css/external/leaflet/leaflet-0.7.7.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/external/leaflet/extramarkers.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/external/fontawesome/fa-4.6.3.css') }}"/>
    <link rel="stylesheet"
          href="{{ asset('bundles/app/css/external/bootstrap-datepicker/bootstrap-datepicker.min.css') }}"/>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script src="{{ asset('bundles/app/js/external/requirejs/require.js') }}"></script>
    <script src="{{ asset('bundles/app/js/CriticalMass.js') }}"></script>

    {% block additionalHeaderElements %}{% endblock %}
</head>

<body class="{% block bodyClass %}{% endblock %} with-top-navbar">
{% if not app.user %}
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ render(controller('AppBundle:Security:loginFormModal' )) }}
            </div>
        </div>
    </div>
{% endif %}

{% block masterContent %}{% endblock %}

{% if bootstrap4 is defined and bootstrap4 == true %}
<script>
    CriticalMass.loadModule('initBootstrap');
</script>
<script src="{{ asset('bundles/app/js/external/jquery/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/external/bootstrap4/bootstrap.min.js') }}"></script>
{% elseif bootstrap4app is defined and bootstrap4app == true %}
<script>
    CriticalMass.loadModule('initBootstrap');
</script>
<script src="{{ asset('bundles/app/js/external/jquery/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/external/bootstrap-app-4/toolkit.min.js') }}"></script>
{% else %}
    <script src="{{ asset('bundles/app/js/external/jquery/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/external/bootstrap3/bootstrap.min.js') }}"></script>
{% endif %}
{% block additionalFooterElements %}{% endblock %}
<script>
    CriticalMass.loadModule('CookieNotice');
</script>
</body>
</html>
