<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head {{ sonata_seo_head_attributes() }}>
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
    
    <link rel="stylesheet" href="{{ asset('bundles/app/css/criticalmass.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/external/leaflet/leaflet-0.7.7.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/external/leaflet/extramarkers.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/external/fontawesome/fa-4.6.3.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/external/bootstrap-datepicker/bootstrap-datepicker.min.css') }}" />

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script src="{{ asset('bundles/app/js/external/requirejs/require.js') }}"></script>
    <script src="{{ asset('bundles/app/js/CriticalMass.js') }}"></script>

    {% block additionalHeaderElements %}{% endblock %}
</head>

<body class="{% block bodyClass %}{% endblock %}">
{% if not app.user %}
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ render(controller('UserBundle:Security:loginFormModal' )) }}
            </div>
        </div>
    </div>
{% endif %}

{% block masterContent %}{% endblock %}

<script src="{{ asset('bundles/app/js/external/jquery/jquery-2.1.4.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/external/bootstrap3/bootstrap.min.js') }}"></script>

{% block additionalFooterElements %}{% endblock %}
</body>
</html>
