{% extends 'CalderaCriticalmassBundle:Default:layout.html.twig' %}

{% block body %}
	<h1>Tour-Übersicht</h1>

	<ul data-role="listview" data-inset="true">
	{% for entity in entities %}
		<li class=""><a href="{{ path('admin_ride_show', { 'id': entity.id }) }}">
			<p class="ui-li-aside ui-li-desc"><strong>{{ entity.time|date('H:i') }}</strong></p>
			<h3 class="ui-li-heading">{{ entity.date|date('Y-m-d') }}</h3>
			<p class="ui-li-desc"><strong>{{ entity.location }}</strong></p></a>
		</li>
	{% endfor %}
	</ul>

	<ul>
		<li><a href="{{ path('admin_ride_new') }}">Neue Fahrt anlegen</a></li>
	</ul>
{% endblock %}
