{% extends 'CalderaCriticalmassDesktopBundle::BaseTemplate.html.twig' %}

{% block body %}
    <script>
        function sortCityList(sortFunction)
        {
            var headRowContent = $('#participantTable tr:first-child').html();
            $('#participantTable tr:first-child').remove();

            $('#participantTable tr.sortable').sort(sortFunction).map(function () {
                return $(this).closest('#participantTable tr.sortable');
            }).each(function (_, container) {
                $(container).parent().append(container);
            });

            $('#participantTable').prepend('<tr>' + headRowContent + '</tr>');
        }

        window.onload = function() {
            $('#sortByCity').on('click', function()
            {
                var sortFunction = function(a, b)
                {
                    return ($(a).data('cityname') > $(b).data('cityname') ? 1 : -1);
                };

                sortCityList(sortFunction);
            });

            $('#sortByParticipants').on('click', function()
            {
                var sortFunction = function(a, b)
                {
                    return $(b).data('participants') - $(a).data('participants');
                };

                sortCityList(sortFunction);
            });

            $('#sortByRide').on('click', function()
            {
                var sortFunction = function(a, b)
                {
                    return $(b).data('ridedatetime') - $(a).data('ridedatetime');
                };

                sortCityList(sortFunction);
            });
        }
    </script>
    <div class="container">
        <h1>Zahlen, bitte!</h1>

        <h2>Teilnehmer im Juni 2014</h2>
        <p>Im Juni 2014 waren bundesweit {{ totalParticipants }} Radfahrer unterwegs.</p>

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                Sortierung
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li id="sortByCity" role="presentation"><a role="menuitem" tabindex="-1" href="#">Stadt</a></li>
                <li id="sortByParticipants" role="presentation"><a role="menuitem" tabindex="-1" href="#">Teilnehmerzahl</a></li>
                <li id="sortByRide" role="presentation"><a role="menuitem" tabindex="-1" href="#">Datum</a></li>
                <li class="divider"></li>
                <li><a href="#">Städte ohne Tour anzeigen</a></li>
                <li><a href="#">Städte ohne Zahlenmaterial anzeigen</a></li>
            </ul>
        </div>

        <table id="participantTable" class="table table-striped">
            <tr>
                <th>#</th>
                <th>Stadt</th>
                <th>Datum</th>
                <th>Teilnehmer</th>
                <th style="width: 50%;"></th>
            </tr>
            {% for city in cities %}
            <tr class="sortable" data-ridedatetime="{% if city.getMainSlugString() in rides|keys %}{{ rides[city.getMainSlugString()].getDateTime().format('U') }}{% else %}0{% endif %}" data-cityname="{{ city.getcity() }}" data-participants="{% if city.getMainSlugString() in rides|keys %}{{ rides[city.getMainSlugString()].getEstimatedParticipants() }}{% else %}0{% endif %}">
                <td></td>
                <td><a href="{{ path('caldera_criticalmass_desktop_city_show', {'citySlug': city.getMainSlugString() }) }}">{{ city.getCity() }}</a></td>
                <td>
                    {% if city.getMainSlugString() in rides|keys %}
                        <a href="{{ path('caldera_criticalmass_ride_show', {'citySlug': city.getMainSlugString(), 'rideId': rides[city.getMainSlugString()].getId() }) }}">{{ rides[city.getMainSlugString()].getDateTime().format('d.m.Y') }}</a>
                    </td>
                    <td>
                        {{ rides[city.getMainSlugString()].getEstimatedParticipants() }}
                    </td>
                    <td>
                    <div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="{{ rides[city.getMainSlugString()].getEstimatedParticipants() }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (100 / maxParticipants  * rides[city.getMainSlugString()].getEstimatedParticipants()) }}%;"></div></div>
                    {% else %}
                        </td>
                        <td></td>
                <td>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>


    </div>
{% endblock %}