{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Kalender{% endblock %}

{% block breadcrumb %}
    <li class="active">Kalender</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Hic sunt birotarii
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            {% for day, rides in days %}
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            {{ day|date('l, d. F Y') }}
                        </h2>
                    </div>
                </div>

                <div class="row">
                    {% for ride in rides %}
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h4>
                                        <a href="{{ objectPath(ride) }}">
                                            {{ ride.city.title }}
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <dl>
                                    <dt>Datum:</dt>
                                    <dd>{{ ride.dateTime.format('d.m.Y') }}</dd>
                                </dl>
                            </div>

                            <div class="col-md-6">
                                <dl>
                                    <dt>Uhrzeit:</dt>
                                    <dd>{{ ride.dateTime.format('H:i') }}&nbsp;Uhr</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}