{% extends 'CalderaCyclewaysBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{{ incident.title }}: Foto {{ photo.id }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('caldera_cycleways_incident_list_city', { citySlug: incident.city.mainSlugString }) }}">
            {{ incident.city.city }}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('caldera_cycleways_incident_show', { citySlug: incident.city.mainSlugString, slug: incident.slug }) }}">
            {{ incident.title }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        Foto {{ photo.id }}
    </li>
{% endblock %}

{% block navigation %}
    <div class="row mt-1 mb-1">
        <div class="col-md-12">
            {% if previousPhoto %}
                <a href="{{ path('caldera_cycleways_incident_photo_show', { slug: incident.slug, photoId: previousPhoto.id }) }}" class="btn btn-secondary pull-left">
                    Voriges Foto
                </a>
            {% else %}
                <a href="#" class="btn btn-secondary pull-left disabled">
                    Voriges Foto
                </a>
            {% endif %}

            {% if nextPhoto %}
                <a href="{{ path('caldera_cycleways_incident_photo_show', { slug: incident.slug, photoId: nextPhoto.id }) }}" class="btn btn-secondary pull-right">
                    Nächstes Foto
                </a>
            {% else %}
                <a href="#" class="btn btn-secondary pull-right disabled">
                    Nächstes Foto
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    {{ block('navigation') }}

    <div class="row">
        <div class="col-md-12">
            <img id="photo" class="img-fluid" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}"/>
        </div>
    </div>

        {{ block('navigation') }}
    </div>


    {% endblock %}
