{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'board.add_thread.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('board.breadcrumb_discussions'|trans, path('caldera_criticalmass_board_overview')) }}
    {{ breadcrumb.item(board.title, object_path(board)) }}
    {{ breadcrumb.active('board.add_thread.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    {{ form_errors(form) }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ 'board.add_thread.heading'|trans }}
                </h1>
            </div>
        </div>

        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="">{{ 'board.add_thread.label_title'|trans }}</label>
                    {{ form_widget(form.title, { 'attr' : { 'class': 'form-control'} }) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="">{{ 'board.add_thread.label_message'|trans }}</label>
                    {{ form_widget(form.message, { 'attr' : { 'class': 'form-control', 'rows': 10 } }) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <a href="{{ object_path(board) }}" class="btn btn-secondary">
                        {{ 'common.cancel'|trans }}
                    </a>

                    <button type="submit" class="btn btn-success">
                        {{ 'common.save'|trans }}
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
