{% extends 'Template/StandardTemplate.html.twig' %}{% block title %}Neues Thema eröffnen{% endblock %}

{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block breadcrumb %}
    {{ bootstrap.breadcrumb_item('Diskussionen', path('caldera_criticalmass_board_overview')) }}
    {{ bootstrap.breadcrumb_item(board.title, objectPath(board)) }}
    {{ bootstrap.breadcrumb_item('neues Thema beginnen', '', true) }}
{% endblock %}

{% block content %}
    {{ form_errors(form) }}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h1>
                    Neues Thema beginnen
                </h1>
            </div>
        </div>

        {{ form_start(form) }}

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="form-group">
                    <label class="control-label" for="">Titel deines Themas:</label>
                    {{ form_widget(form.title, { 'attr' : { 'class': 'form-control'} }) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="form-group">
                    <label class="control-label" for="">Dein Beitrag:</label>
                    {{ form_widget(form.message, { 'attr' : { 'class': 'form-control', 'rows': 10 } }) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="btn-group pull-right">
                    <a href="{{ object_path(board) }}" class="btn btn-secondary">
                        Abbrechen
                    </a>

                    <button type="submit" class="btn btn-primary">
                        Speichern
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
