{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Neues Thema beginnen{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: 'Diskussionen', url: path('caldera_criticalmass_board_overview') },
            { label: board.title, url: object_path(board) },
            { label: 'neues Thema beginnen', active: true }
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}


{% block content %}
    {{ form_errors(form) }}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    Neues Thema beginnen
                </h1>
            </div>
        </div>

        {{ form_start(form) }}

        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label" for="">Titel deines Themas:</label>
                    {{ form_widget(form.title, { 'attr' : { 'class': 'form-control'} }) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label" for="">Dein Beitrag:</label>
                    {{ form_widget(form.message, { 'attr' : { 'class': 'form-control', 'rows': 10 } }) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-end">
                <div class="btn-group">
                    <a href="{{ object_path(board) }}" class="btn btn-outline-secondary">
                        Abbrechen
                    </a>

                    <button type="submit" class="btn btn-primary">
                        Speichern
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
