{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Neues Thema beginnen{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_board_overview') }}">
            Diskussionen
        </a>
    </li>

    <li>
        <a href="{{ object_path(board) }}">
            {{ board.title }}
        </a>
    </li>

    <li>
        neues Thema beginnen
    </li>
{% endblock %}

{% block content %}
    {{ form_errors(form) }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Neues Thema beginnen
                </h1>
            </div>
        </div>

        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="">Titel deines Themas:</label>
                    {{ form_widget(form.title, { 'attr' : { 'class': 'form-control'} }) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="">Dein Beitrag:</label>
                    {{ form_widget(form.message, { 'attr' : { 'class': 'form-control', 'rows': 10 } }) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <a href="{{ object_path(board) }}" class="btn btn-default">
                        Abbrechen
                    </a>

                    <button type="submit" class="btn btn-success">
                        Speichern
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
