{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}Neues Thema beginnen{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Diskussionen', path('caldera_criticalmass_board_overview')) }}
    {{ breadcrumb.item(board.title, object_path(board)) }}
    {{ breadcrumb.active('neues Thema beginnen') }}
{% endblock %}

{% block content %}
    {{ form_errors(form) }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Neues Thema beginnen
                </h1>
            </div>
        </div>

        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="">Titel deines Themas:</label>
                    {{ form_widget(form.title, { 'attr' : { 'class': 'form-control'} }) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="">Dein Beitrag:</label>
                    {{ form_widget(form.message, { 'attr' : { 'class': 'form-control', 'rows': 10 } }) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    <a href="{{ object_path(board) }}" class="btn btn-secondary">
                        Abbrechen
                    </a>

                    <button type="submit" class="btn btn-success">
                        Speichern
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
