{% extends 'Template/StandardTemplate.html.twig' %}

{% set bootstrap4 = true %}

{% block title %}{{ board.title }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_board_overview') }}">
            Diskussionen
        </a>
    </li>

    <li class="active">
        {{ board.title }}
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if app.getUser() %}
                    <a href="{{ newThreadUrl }}" class="btn btn-primary pull-right margin-top-medium">
                        neues Thema eröffnen
                    </a>
                {% endif %}
                <h2>
                    {{ board.title }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% if threads|length %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                Titel
                            </th>
                            <th>
                                Autor
                            </th>
                            <th>
                                Antworten
                            </th>
                            <th>
                                Ansichten
                            </th>
                            <th>
                                letzter Beitrag
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for thread in threads %}
                            <tr>
                                <td>
                                    <a href="{{ objectPath(thread) }}">
                                        {{ thread.title }}
                                    </a>
                                </td>
                                <td>
                                    <img class="pull-left img-fluid" style="margin-right: 5px; height: 40px;" src="{{ vich_uploader_asset(thread.firstPost.user, 'imageFile')|imagine_filter('user_profile_photo_small') }}" alt="..."/>
                                    von <strong>{{ thread.firstPost.user.username }}</strong>
                                </td>
                                <td>
                                    {{ thread.postNumber }}
                                </td>
                                <td>
                                    {{ thread.views }}
                                </td>
                                <td>
                                    {% if thread.lastPost %}
                                        <img class="pull-left img-fluid" style="margin-right: 5px; height: 40px;" src="{{ vich_uploader_asset(thread.lastPost.user, 'imageFile')|imagine_filter('user_profile_photo_small') }}" alt="..."/>
                                        von <strong>{{ thread.lastPost.user.username }}</strong><br/>
                                        {{ thread.lastPost.dateTime|date('d.m.Y H:i', 'Europe/Berlin') }}&nbsp;Uhr
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        <strong>
                            Hier gibt es nichts zu sehen!
                        </strong>
                        Bislang hat leider noch niemand einen Beitrag in diesem Forum geschrieben.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
