{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ board.title }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('board.breadcrumb_discussions'|trans, path('caldera_criticalmass_board_overview')) }}
    {{ breadcrumb.active(board.title) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if app.getUser() %}
                    <a href="{{ newThreadUrl }}" class="btn btn-success pull-right margin-top-medium">
                        {{ 'board.list_threads.new_thread'|trans }}
                    </a>
                {% endif %}
                <h1>
                    {{ board.title }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if threads|length %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                {{ 'board.list_threads.col_title'|trans }}
                            </th>
                            <th>
                                {{ 'board.list_threads.col_author'|trans }}
                            </th>
                            <th>
                                {{ 'board.list_threads.col_replies'|trans }}
                            </th>
                            <th>
                                {{ 'board.list_threads.col_views'|trans }}
                            </th>
                            <th>
                                {{ 'board.list_threads.col_last_post'|trans }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for thread in threads %}
                            <tr>
                                <td>
                                    <a href="{{ object_path(thread) }}">
                                        {{ thread.title }}
                                    </a>
                                </td>
                                <td>
                                    <img class="pull-left img-fluid" style="margin-right: 5px; height: 40px;" src="{{ vich_uploader_asset(thread.firstPost.user, 'imageFile')|imagine_filter('user_profile_photo_small') }}" alt="..."/>
                                    {{ 'board.list_threads.by_author'|trans({'%username%': thread.firstPost.user.username})|raw }}
                                </td>
                                <td>
                                    {{ thread.postNumber }}
                                </td>
                                <td>
                                    {{ thread.views }}
                                </td>
                                <td>
                                    {% if thread.lastPost %}
                                        <img class="pull-left img-fluid" style="margin-right: 5px; height: 40px;" src="{{ vich_uploader_asset(thread.lastPost.user, 'imageFile')|imagine_filter('user_profile_photo_small') }}" alt="..."/>
                                        {{ 'board.list_threads.by_author'|trans({'%username%': thread.lastPost.user.username})|raw }}<br/>
                                        {{ thread.lastPost.dateTime|date('d.m.Y H:i', 'Europe/Berlin') }}&nbsp;{{ 'board.list_threads.time_suffix'|trans }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        <strong>
                            {{ 'board.list_threads.empty_heading'|trans }}
                        </strong>
                        {{ 'board.list_threads.empty_text'|trans }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
