{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'board.overview_title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.active('board.overview_title'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            {{ 'board.col_description'|trans }}
                        </th>
                        <th>
                            {{ 'board.col_topics'|trans }}
                        </th>
                        <th>
                            {{ 'board.col_posts'|trans }}
                        </th>
                        <th>
                            {{ 'board.col_last_post'|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="4">
                            <h4>
                                {{ 'board.section_general'|trans }}
                            </h4>
                        </td>
                    </tr>
                    {% for board in boards %}
                        <tr>
                            <td>
                                <a href="{{ object_path(board) }}">
                                    <h5 class="no-margin-top">
                                        {{ board.title }}
                                    </h5>
                                </a>

                                <small>
                                    {{ board.description }}
                                </small>
                            </td>
                            <td>
                                {{ board.threadNumber }}
                            </td>
                            <td>
                                {{ board.postNumber }}
                            </td>
                            <td>
                                {% if board.lastThread %}
                                    <img class="pull-left img-fluid" style="margin-right: 5px; height: 60px;"
                                         src="{{ vich_uploader_asset(board.lastThread.lastPost.user, 'imageFile')|imagine_filter('user_profile_photo_small') }}" alt="..."/>
                                    <a href="{{ object_path(board.lastThread) }}">
                                        <strong>{{ board.lastThread.title }}</strong>
                                    </a>
                                    <br/>
                                    {{ 'board.by_author'|trans({'%username%': board.lastThread.lastPost.user.username})|raw }}<br/>
                                    {{ board.lastThread.lastPost.dateTime|date('d.m.Y H:i', 'Europe/Berlin') }}&nbsp;{{ 'common.time_suffix'|trans }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="4">
                            <h4>
                                {{ 'board.section_cities'|trans }}
                            </h4>
                        </td>
                    </tr>
                    {% for city in cities %}
                        <tr>
                            <td>
                                <a href="{{ object_path(city, 'caldera_criticalmass_board_listcitythreads') }}">
                                    <h5 class="no-margin-top">
                                        {{ city.title }}
                                    </h5>
                                </a>

                                <small>
                                    {{ city.punchline }}
                                </small>
                            </td>
                            <td>
                                {{ city.threadNumber }}
                            </td>
                            <td>
                                {{ city.postNumber }}
                            </td>
                            <td>
                                {% if city.lastThread %}
                                    <img class="pull-left img-fluid" style="margin-right: 5px; height: 60px;"
                                         src="{{ vich_uploader_asset(city.lastThread.lastPost.user, 'imageFile')|imagine_filter('user_profile_photo_small') }}" alt="..."/>
                                    <a href="{{ object_path(city.lastThread) }}">
                                        <strong>{{ city.lastThread.title }}</strong>
                                    </a>
                                    <br/>
                                    {{ 'board.by_author'|trans({'%username%': city.lastThread.lastPost.user.username})|raw }}<br/>
                                    {{ city.lastThread.lastPost.dateTime|date('d.m.Y H:i', 'Europe/Berlin') }}&nbsp;{{ 'common.time_suffix'|trans }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
