{% extends 'Template/StandardTemplate.html.twig' %}

{% set bootstrap4 = true %}

{% block title %}Diskussionen{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Diskussionen
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Beschreibung
                        </th>
                        <th>
                            Themen
                        </th>
                        <th>
                            Beiträge
                        </th>
                        <th>
                            letzter Beitrag
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="4">
                            <h5>
                                Allgemeines
                            </h5>
                        </td>
                    </tr>
                    {% for board in boards %}
                        <tr>
                            <td>
                                <a href="{{ objectPath(board) }}">
                                    <h6 class="mt-0">
                                        {{ board.title }}
                                    </h6>
                                </a>

                                <small>
                                    {{ board.description }}
                                </small>
                            </td>
                            <td>
                                {{ board.threadNumber }}
                            </td>
                            <td>
                                {{ board.postNumber }}
                            </td>
                            <td>
                                {% if board.lastThread %}
                                    <img class="pull-left img-fluid" style="margin-right: 5px; height: 60px;"
                                         src="{{ vich_uploader_asset(board.lastThread.lastPost.user, 'imageFile')|imagine_filter('user_profile_photo_small') }}" alt="..."/>
                                    <a href="{{ objectPath(board.lastThread) }}">
                                        {{ board.lastThread.title }}
                                    </a>
                                    <br/>
                                    von <strong>{{ board.lastThread.lastPost.user.username }}</strong><br/>
                                    {{ board.lastThread.lastPost.dateTime|date('d.m.Y H:i', 'Europe/Berlin') }}&nbsp;Uhr
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="4">
                            <h5>
                                Städte
                            </h5>
                        </td>
                    </tr>
                    {% for city in cities %}
                        <tr>
                            <td>
                                <a href="{{ objectPath(city, 'caldera_criticalmass_board_listcitythreads') }}">
                                    <h6 class="mt-0">
                                        {{ city.title }}
                                    </h6>
                                </a>

                                <small>
                                    {{ city.punchline }}
                                </small>
                            </td>
                            <td>
                                {{ city.threadNumber }}
                            </td>
                            <td>
                                {{ city.postNumber }}
                            </td>
                            <td>
                                {% if city.lastThread %}
                                    <img class="pull-left img-fluid" style="margin-right: 5px; height: 60px;"
                                         src="{{ vich_uploader_asset(city.lastThread.lastPost.user, 'imageFile')|imagine_filter('user_profile_photo_small') }}" alt="..."/>
                                    <a href="{{ objectPath(city.lastThread) }}">
                                        {{ city.lastThread.title }}
                                    </a>
                                    <br/>
                                    von <strong>{{ city.lastThread.lastPost.user.username }}</strong><br/>
                                    {{ city.lastThread.lastPost.dateTime|date('d.m.Y H:i', 'Europe/Berlin') }}&nbsp;Uhr
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
