{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ thread.title }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('Diskussionen', path('caldera_criticalmass_board_overview')) }}
    {{ breadcrumb.item(board.title, object_path(board)) }}
    {{ breadcrumb.active(thread.title) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="h3 mb-0">
                <i class="far fa-comment-alt text-muted me-2"></i>
                {{ thread.title }}
            </h1>
            {% if app.getUser() %}
                <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modal-add-post">
                    <i class="far fa-comment me-1"></i>
                    <span class="d-none d-sm-inline">Antwort hinzuf&uuml;gen</span>
                </button>
            {% endif %}
        </div>

        {% for post in posts %}
            {% include('Post/post.html.twig') with { 'post': post } %}
        {% endfor %}

        {% if posts is empty %}
            <div class="text-center py-5">
                <i class="far fa-comments fa-3x text-muted mb-3"></i>
                <h5 class="text-muted">Noch keine Beitr&auml;ge vorhanden</h5>
                <p class="text-muted mb-0">Sei der Erste und schreibe einen Beitrag zu diesem Thema.</p>
            </div>
        {% endif %}

        {% if app.getUser() %}
            {{ render(controller('App\\Controller\\PostController::writeThreadAction', { 'threadSlug': thread.slug, 'noButton': true })) }}
        {% endif %}
    </div>
{% endblock %}
