{% extends 'Template/StandardTemplate.html.twig' %}

{% set bootstrap4 = true %}

{% block title %}{{ thread.title }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_board_overview') }}">
            Diskussionen
        </a>
    </li>

    <li>
        <a href="{{ objectPath(board) }}">
            {{ board.title }}
        </a>
    </li>

    <li class="active">
        {{ thread.title }}
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if app.getUser() %}
                    <button type="button" class="btn btn-primary pull-right margin-top-medium" data-toggle="modal"
                            data-target="#modal-add-post">
                        <i class="fa fa-comment"></i>
                        Antwort hinzufügen
                    </button>
                    {{ render(controller('App\\Controller\\PostController::writeThreadAction', { 'threadId': thread.id, 'noButton': true })) }}
                {% endif %}
                <h2>
                    {{ thread.title }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="post-list">
                    {% for post in posts %}
                        {% include('Post/post.html.twig') with { 'post':  post } %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
