{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}{{ 'post.write.page_title'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>
                    {{ 'post.write_failed.heading'|trans }}
                </h1>

                <p class="lead">
                    {{ 'post.write_failed.lead'|trans }}
                </p>
            </div>
        </div>

        {% if app.user %}

        {{ form_start(form, {'attr': {'id': 'form-post', 'role': 'form'}}) }}

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group{% if form_errors(form.message) %} has-error has-feedback{% endif %}">
                    <label for="" class="control-label">{{ 'post.write.label_comment'|trans }}</label>
                    {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 10}}) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <input type="checkbox" id="form-post-share-location" checked="checked"/> {{ 'post.write.share_location'|trans }}
                </div>
            </div>
        </div>

        {{ form_widget(form._token) }}
        {{ form_widget(form.latitude) }}
        {{ form_widget(form.longitude) }}

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        {{ 'common.cancel'|trans }}
                    </button>
                    <button type="submit" id="button-submit-post" class="btn btn-success">
                        <i class="far fa-pencil"></i>
                        {{ 'common.save'|trans }}
                    </button>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}
