{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'strava.auth.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('city.list.title'|trans, path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(ride.city.city, object_path(ride.city)) }}
    {{ breadcrumb.item(ride.title, object_path(ride)) }}
    {{ breadcrumb.active('strava.auth.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ 'strava.auth.heading'|trans }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ 'strava.auth.intro'|trans|raw }}
                </p>

                <p>
                    {{ 'strava.auth.privacy'|trans({ '%date%': ride.dateTime.format('d.m.Y') })|raw }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="{{ authorizationUrl }}">
                        <img src="{{ asset('/images/strava/connect.png') }}" alt="Connect with Strava"/>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="{{ object_path(ride) }}" class="btn btn-secondary pull-right">
                    {{ 'common.cancel'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
