{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Verbinde dich mit Strava{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>
    <li>
        <a href="{{ object_path(ride.city) }}">
            {{ ride.city.city }}
        </a>
    </li>
    <li>
        <a href="{{ object_path(ride) }}">
            {{ ride.title }}
        </a>
    </li>
    <li class="active">
        Track importieren
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Verbinde dich mit Strava
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    Mit <a href="http://www.strava.com/">Strava</a> kannst du nicht nur Critical-Mass-Touren, sondern
                    sämtliche deiner sportlichen Aktivitäten aufzeichnen und verwalten. Wenn du deine Tour mit Strava
                    aufgezeichnet hast, kannst du deine Strecke mit zwei Mausklicks importieren. Klicke auf „Connect
                    with Strava“, um eine Liste deiner Aktivitäten anzuzeigen und eine Strecke zu importieren.
                </p>

                <p>
                    Nach einem Klick auf den Button „Connect with Strava“ wirst du zu der Strava-Webseite
                    weitergeleitet, auf der du gebeten wirst, criticalmass.in gewisse Zugriffsrechte auf dein Profil
                    einzuräumen. criticalmass.in erhält Zugriff auf dein Profil sowie deine Aktivitätsdaten;
                    criticalmass.in kann auch auf deine als privat markierten Aktivitäten zugreifen. Anschließend wirst
                    du zurück zu criticalmass.in geleitet, wo dir eine Liste deiner abgespeicherten Radtouren
                    vom {{ ride.dateTime.format('d.m.Y') }} angezeigt wird. Von diesen Touren kannst du anschließend
                    eine zum Importieren auswählen. Ein weiterer Zugriff, etwa auf andere Aktivitäten oder dein Profil,
                    findet nicht statt.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="{{ authorizationUrl }}">
                        <img src="{{ asset('/images/strava/connect.png') }}" alt="Connect with Strava"/>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="{{ object_path(ride) }}" class="btn btn-default pull-right">
                    Abbrechen
                </a>
            </div>
        </div>
    </div>
{% endblock %}
