{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Verbinde dich mit Strava{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: 'Städteliste', url: path('caldera_criticalmass_city_list') },
            { label: ride.city.city, url: object_path(ride.city) },
            { label: ride.title, url: object_path(ride) },
            { label: 'Track importieren' },
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h1 class="mb-4">
                    Verbinde dich mit Strava
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <p>
                    Mit <a href="https://www.strava.com/" target="_blank" rel="noopener">Strava</a> kannst du nicht nur
                    Critical-Mass-Touren, sondern sämtliche deiner sportlichen Aktivitäten aufzeichnen und verwalten.
                    Wenn du deine Tour mit Strava aufgezeichnet hast, kannst du deine Strecke mit zwei Klicks importieren.
                    Klicke auf „Connect with Strava“, um deine Aktivitäten einzusehen und eine Strecke zu importieren.
                </p>

                <p>
                    Nach dem Klick wirst du zu Strava weitergeleitet und gibst criticalmass.in Zugriff auf dein Profil
                    und deine Aktivitätsdaten (inkl. privater Aktivitäten). Anschließend gelangst du wieder hierher zurück
                    und siehst eine Liste deiner Radtouren vom {{ ride.dateTime.format('d.m.Y') }} — davon kannst du eine
                    direkt importieren. Ein Zugriff auf andere Daten erfolgt nicht.
                </p>

            </div>
        </div>

        <div class="row my-4">
            <div class="col-12 text-center">
                <a href="{{ authorizationUrl }}">
                    <img src="{{ asset('/images/strava/connect.png') }}"
                         alt="Connect with Strava"
                         class="img-fluid" />
                </a>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 text-end">
                <a href="{{ object_path(ride) }}" class="btn btn-secondary">
                    Abbrechen
                </a>
            </div>
        </div>

    </div>
{% endblock %}
