{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Track von Strava importieren{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>
    <li>
        <a href="{{ objectPath(ride.city) }}">
            {{ ride.city.city }}
        </a>
    </li>
    <li>
        <a href="{{ objectPath(ride) }}">
            {{ ride.title }}
        </a>
    </li>
    <li class="active">
        Track importieren
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Wähle eine Aktivität
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    Am <strong>{{ ride.dateTime.format('d.m.Y') }}</strong> hast du die folgenden Aktivitäten mit Strava
                    aufgezeichnet. Bitte wähle die Aktivität aus, die du als Track importieren möchtest.
                </p>
            </div>
        </div>

        <div class="row">
            {% if activities is iterable and activities|length > 0 %}
                {% for activity in activities %}
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    {{ activity.name }}
                                </h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div id="map-{{ activity.id }}" class="map" style="height: 150px;"
                                     data-polyline="{{ activity.map.summary_polyline }}"
                                     data-polyline-color="{{ app.user.color }}">

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <dl>
                                    <dt>Distanz:</dt>
                                    <dd>{{ (activity.distance / 1000)|round(2) }}&nbsp;Kilometer</dd>
                                </dl>
                            </div>
                            <div class="col-md-4">
                                <dl>
                                    <dt>Start:</dt>
                                    <dd>{{ activity.start_date|date('H:i') }}&nbsp;Uhr</dd>
                                </dl>
                            </div>
                            <div class="col-md-4">
                                <dl>
                                    <dt>Dauer:</dt>
                                    <dd>{{ (activity.elapsed_time / 60)|round() }}&nbsp;Minuten</dd>
                                </dl>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <a class="btn btn-success" href="{{ objectPath(ride, 'caldera_criticalmass_strava_import') }}?activityId={{ activity.id }}">
                                        {# TODO #}
                                        <i class="far fa-download"></i>
                                        Track importieren
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% elseif activities is iterable %}
                <div class="col-md-12">
                    <div class="alert alert-warning" role="alert">
                        <strong>Keine Touren gefunden!</strong>
                        Offenbar hast du mit Strava am {{ ride.dateTime.format('d.m.Y') }} keine Touren aufgezeichnet.
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        <strong>Hoppla!</strong>
                        Leider können wir momentan keine Touren von Strava auslesen — bitte versuche es später noch einmal.
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="{{ objectPath(ride) }}" class="btn btn-default pull-right">
                    Abbrechen
                </a>
            </div>
        </div>
    </div>
{% endblock %}
