{% extends 'Template/StandardTemplate.html.twig' %}{% block title %}Track von Strava importieren{% endblock %}

{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block breadcrumb %}
    {{ bootstrap.breadcrumb_item('Städteliste', path('caldera_criticalmass_city_list')) }}
    {{ bootstrap.breadcrumb_item(ride.city.city, objectPath(ride.city)) }}
    {{ bootstrap.breadcrumb_item(ride.title, objectPath(ride)) }}
    {{ bootstrap.breadcrumb_item('Track importieren', '', true) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Wähle eine Aktivität
                </h2>

                <p>
                    Am <strong>{{ ride.dateTime|date('d.m.Y', ride.city.timezone) }}</strong> hast du die folgenden Aktivitäten mit Strava aufgezeichnet. Bitte wähle die Aktivität aus, die du als Track importieren möchtest.
                </p>
            </div>
        </div>

        <div class="row">
            {% if activities is iterable and activities|length > 0 %}
                {% for activity in activities %}
                    <div class="col-12 col-md-4">
                        <div class="row">
                            <div class="col-12">
                                <h5>
                                    {{ activity.name }}
                                </h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div id="map-{{ activity.id }}" class="preview-map" style="height: 150px;" data-polyline="{{ activity.map.summary_polyline }}"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <dl>
                                    <dt>Distanz:</dt>
                                    <dd>{{ (activity.distance / 1000)|round(2) }}&nbsp;km</dd>
                                </dl>
                            </div>
                            <div class="col-4">
                                <dl>
                                    <dt>Start:</dt>
                                    <dd>{{ activity.start_date|date('H:i') }}&nbsp;Uhr</dd>
                                </dl>
                            </div>
                            <div class="col-4">
                                <dl>
                                    <dt>Dauer:</dt>
                                    <dd>{{ (activity.elapsed_time / 60)|round() }}&nbsp;min</dd>
                                </dl>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-center">
                                <a class="btn btn-primary" href="{{ objectPath(ride, 'caldera_criticalmass_strava_import') }}?activityId={{ activity.id }}">
                                    {# TODO #}
                                    <i class="far fa-download"></i>
                                    Track importieren
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% elseif activities is iterable %}
                <div class="col-md-12">
                    <div class="alert alert-warning" role="alert">
                        <strong>Keine Touren gefunden!</strong>
                        Offenbar hast du mit Strava am {{ ride.dateTime.format('d.m.Y') }} keine Touren aufgezeichnet.
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                        <strong>Keine Touren gefunden!</strong>
                        Offenbar hast du mit Strava am <strong>{{ ride.dateTime|date('d.m.Y', ride.city.timezone) }}</strong> keine Touren aufgezeichnet.
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <a href="{{ objectPath(ride) }}" class="btn btn-secondary pull-right">
                    Abbrechen
                </a>
            </div>
        </div>
    </div>

    <script>
        CriticalMass.loadModule('StravaImportPage');
    </script>
{% endblock %}
