{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
    <li><a href="{{ path(city) }}">{{ city.city }}</a></li>
    <li class="active">{{ event.title }}</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ event.title }}
                </h1>
            </div>
        </div>

        <div class="row" style="margin-top: 1em;">
            <div class="col-md-12">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#details" aria-controls="home" role="tab" data-toggle="tab">
                                <i class="fa fa-flag"></i>
                                Details
                            </a>
                        </li>

                        <li role="presentation">
                            <a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">
                                <i class="fa fa-pencil"></i>
                                Kommentare
                            </a>
                        </li>

                        <li role="presentation">
                            <a href="{{ path('caldera_criticalmass_photo_event_list', { 'citySlug': event.city.slug, 'eventSlug': event.slug }) }}">
                                <i class="fa fa-camera"></i>
                                Galerie
                                <span class="badge">
                                    {{ photoCounter }}
                                </span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                {{ event.description|markdown }}
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Details</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <dl>
                                    <dt>Datum</dt>
                                    <dd>{{ event.dateTime.format('d.m.Y') }}</dd>
                                    <dt>Uhrzeit</dt>
                                    <dd>{{ event.dateTime.format('H:i') }} Uhr</dd>
                                    <dt>Ort</dt>
                                    {% if event.hasLocation() %}
                                        <dd>{{ event.location }}</dd>
                                    {% else %}
                                        <dd>noch nicht bekannt</dd>
                                    {% endif %}
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}