{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ 'gallery.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('photo.show.breadcrumb_city_list'|trans, path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.active('gallery.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ 'gallery.heading'|trans }}
                </h1>
            </div>
        </div>

        {% set cityString = '' %}
        {% for city in cities %}
            {% set cityString = cityString ~ '<a href="' ~ object_path(city) ~ '">' ~ city.city|e ~ '</a>' %}

            {% if loop.revindex0 > 1 %}
                {% set cityString = cityString ~ ', ' %}
            {% endif %}

            {% if loop.revindex0 == 1 %}
                {% set cityString = cityString ~ 'gallery.conjunction'|trans %}
            {% endif %}
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                    {{ 'gallery.example_lead'|trans({'%cities%': cityString})|raw }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="photo-list">
                {% for photo in photos %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 text-center margin-bottom-medium">
                        <a href="{{ object_path(photo) }}">
                            <img class="img-thumbnail img-fluid"
                                 src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}"/>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
