{% extends 'Template/StandardTemplate.html.twig' %}

{% set city = ride.city %}

{% block title %}Fotos hochladen{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>

    <li>
        <a href="{{ objectPath(city) }}">
            {{ city.title }}
        </a>
    </li>

    <li>
        <a href="{{ objectPath(ride) }}">
            {{ ride.title }}
        </a>
    </li>

    <li class="active">
        Fotos hochladen
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>
                    Fotos hochladen
                </h1>
                <p>
                    Hier kannst du einzelne Fotos zu einer Tour hochladen. Wenn du vorher einen GPX-Track deiner Tour
                    hochlädst oder deine Fotos GPS-Koordinaten
                    enthalten, werden deine Fotos automatisch auf der Karte verortet.
                </p>
                <p>
                    <strong>
                        Mit dem Hochladen von Foto-Dateien bestätigst du, dass du der Urheber dieser Fotos bist. Bitte
                        lade keine Fotos hoch, an denen du keine Urheberrechte besitzt!
                    </strong>
                </p>

                <p>
                    Um mehrere Fotos auf einmal hochzuladen, probiere bitte <a
                            href="{{ objectPath(ride, 'caldera_criticalmass_gallery_photos_upload_ride') }}">Multi-Uploader</a>
                    aus.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <form action="{{ objectPath(ride, 'caldera_criticalmass_gallery_legacy_photos_upload_ride') }}"
                          method="post" enctype="multipart/form-data">
                        {{ form_widget(form.imageFile) }}
                        <input type="submit" value="Datei hochladen" class="btn btn-success margin-top-medium">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
