{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% set city = ride.city %}

{% block title %}{{ 'photo.upload.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('photo.show.breadcrumb_city_list'|trans, path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(city.title, object_path(city)) }}
    {{ breadcrumb.item(ride.title, object_path(ride)) }}
    {{ breadcrumb.active('photo.upload.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>
                    {{ 'photo.upload.heading'|trans }}
                </h1>
                <p>
                    {{ 'photo.upload.legacy_intro'|trans }}
                </p>
                <p>
                    <strong>
                        {{ 'photo.upload.legacy_copyright'|trans }}
                    </strong>
                </p>

                <p>
                    {{ 'photo.upload.legacy_multi_hint'|trans({'%multi_upload_url%': object_path(ride, 'caldera_criticalmass_gallery_photos_upload_ride')})|raw }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    {{ form_start(form, {'action': object_path(ride, 'caldera_criticalmass_gallery_legacy_photos_upload_ride'), 'attr': {'enctype': 'multipart/form-data'}}) }}
                        {{ form_widget(form.imageFile) }}
                        <input type="submit" value="{{ 'photo.upload.legacy_submit'|trans }}" class="btn btn-success margin-top-medium">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
