{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% set city = ride.city %}

{% block title %}{{ 'photo.upload.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item('photo.show.breadcrumb_city_list'|trans, path('caldera_criticalmass_city_list')) }}
    {{ breadcrumb.item(city.title, object_path(city)) }}
    {{ breadcrumb.item(ride.title, object_path(ride)) }}
    {{ breadcrumb.active('photo.upload.breadcrumb'|trans) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ 'photo.upload.heading'|trans }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ 'photo.upload.multi_intro'|trans }}
                </p>

                <p>
                    {{ 'photo.upload.multi_fallback'|trans({'%legacy_upload_url%': object_path(ride, 'caldera_criticalmass_gallery_legacy_photos_upload_ride')})|raw }}
                </p>
                <p>
                    <strong>
                        {{ 'photo.upload.multi_copyright'|trans }}
                    </strong>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <form action="{{ object_path(ride, 'caldera_criticalmass_gallery_photos_upload_ride') }}" class="dropzone" id="photo-dropzone">
                        <input type="hidden" name="_token" value="{{ csrf_token('photo_upload') }}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
