<!DOCTYPE html>
<html lang="de">
<head>
	<title>{{ city.getTitle }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=320,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<style type="text/css">
	body
	{
		font: 1em Helvetica, Arial, Sans-Serif;
		margin: 0;
		padding: 0;
	}

	header, section#content, footer
	{
		margin: 0 auto;
		width: 300px;
		padding: 10px;
	}

	header
	{
		background: black;
	}

	header h1
	{
		color: white;
		font-size: 25px;
		text-align: center;
	}
	</style>
</head>
<body>
	<header><h1>{{ city.getTitle }}</h1></header>
	<section id="content">
		<h2>Nächste Tour</h2>
		<p>Datum: {{ city.getCurrentRide.getDate|date('d.m.Y') }}</p>
		<p>Uhrzeit: {{ city.getCurrentRide.getTime|date('H:i') }}</p>
		<p>Treffpunkt: {{ city.getCurrentRide.getLocation }}</p>
	</section>
</body>
</html>