{% extends 'CalderaCriticalmassBundle:Default:layout.html.twig' %}

{% block title %}{{ city.getTitle }}{% endblock %}

{% block body %}
<div data-role="header">
	<a href="#mainpanel" data-icon="settings">Menü</a>
	<h1>{{ city.getTitle }}</h1>
</div>
	<section id="content" data-role="content">
		<h2>Nächste Tour</h2>
		<p>Datum: {{ ride.getDate|date('d.m.Y') }}</p>
		<p>Uhrzeit: {{ ride.getTime|date('H:i') }}</p>
		{% if ride.getLocation == "tba" %}
			<p class="locationunknown">Der Treffpunkt ist noch nicht bekannt :( Schau später noch mal vorbei.</p>
		{% else %}
			<p>Treffpunkt: {{ ride.getLocation }}</p>
			{{ ride.getMap|raw }}
		{% endif %}
	</section>
	<section id="content2"><div id="map-canvas" style="width: 300px; height: 300px; margin: 10px auto;"></div></section>
	<footer>
		{% if city.getUrl %}<a href="{{ city.getUrl }}"><img class="icon" src="{{ asset('bundles/calderacriticalmass/images/rss.png') }}" alt="RSS-Feed" /></a>{% endif %}
		{% if city.getTwitter %}<a href="{{ city.getTwitter }}"><img class="icon" src="{{ asset('bundles/calderacriticalmass/images/twitter.png') }}" alt="Twitter" /></a>{% endif %}
		{% if city.getFacebook %}<a href="{{ city.getFacebook }}"><img class="icon" src="{{ asset('bundles/calderacriticalmass/images/facebook.png') }}" alt="faebook" /></a>{% endif %}
	</footer>
{% endblock %}