{% extends 'CalderaCriticalmassBundle:Default:layout.html.twig' %}

{% block title %}{{ city.getTitle }}{% endblock %}

{% block body %}

	{% if ride %}
		<h2>N채chste Tour</h2>
		<p>Datum: {{ ride.getDate|date('d.m.Y') }}</p>

		{% if ride.hasTime and ride.hasLocation %}
		<p>Uhrzeit: {{ ride.getTime|date('H:i') }}</p>
		<p>Treffpunkt: {{ ride.getLocation }}</p>
		<div id="information-map" style="width: 300px; height: 300px; margin: 10px auto;"></div>
		{% elseif ride.hasTime and ride.hasLocation == false %}
		<p>Uhrzeit: {{ ride.getTime|date('H:i') }}</p>
		<p class="locationunknown">Der Treffpunkt ist noch nicht bekannt :( Schau sp채ter noch mal vorbei.</p>
		{% else %}
		<p class="locationunknown">Uhrzeit und Treffpunkt sind noch nicht bekannt :( Schau sp채ter noch mal vorbei.</p>
		{% endif %}
	{% else %}
		<p class="locationunknown">F체r diese Stadt sind keine Touren bekannt :(</p>
	{% endif %}

{% endblock %}
