{% extends 'CalderaCriticalmassBundle:Default:layout.html.twig' %}

{% block title %}{{ city.getTitle }}{% endblock %}

{% block body %}
		<h2>Nächste Tour</h2>
		<p>Datum: {{ ride.getDate|date('d.m.Y') }}</p>
		<p>Uhrzeit: {{ ride.getTime|date('H:i') }}</p>
		{% if ride.getLocation == "tba" %}
			<p class="locationunknown">Der Treffpunkt ist noch nicht bekannt :( Schau später noch mal vorbei.</p>
		{% else %}
			<p>Treffpunkt: {{ ride.getLocation }}</p>
			{{ ride.getMap|raw }}
		{% endif %}
	<section id="content2"><div id="map-canvas" style="width: 300px; height: 300px; margin: 10px auto;"></div></section>
{% endblock %}
