<!DOCTYPE html>
<html lang="de">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
{% stylesheets '@CalderaCriticalmassBundle/Resources/public/css/*.css' filter="cssrewrite" %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
{% javascripts
    '@CalderaCriticalmassBundle/Resources/public/js/scripts.js'
    '@CalderaCriticalmassBundle/Resources/public/js/geolocation.js'
    '@CalderaCriticalmassBundle/Resources/public/js/map.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

</head>
<body>
	<div data-role="page">
		{% block fos_user_content %}{% endblock %}
		{% block body %}{% endblock %}
		<div data-role="panel" id="mainpanel" data-position="left">
			<ul data-role="listview" data-theme="d">
				<li data-icon="delete"><a href="#" data-rel="close">Menü schließen</a></li>
				<li data-role="list-divider">Critical Mass Hamburg</li>
				<li><a href="#demo-intro">Termine</a></li>
				<li><a href="#demo-intro">Live</a></li>
				<li><a href="{{ url('caldera_criticalmass_listcomments', {'citySlug': 'hamburg'}) }}">Kommentare</a></li>
				<li><a href="#demo-intro">Hinweise</a></li>
				<li data-role="list-divider">Neuigkeiten</li>
				<li><a href="#demo-intro">Website</a></li>
				<li><a href="#demo-intro">facebook</a></li>
				<li><a href="#demo-intro">Twitter</a></li>
				<li data-role="list-divider">criticalmass.in</li>
				{% if is_granted('ROLE_USER') %}
					<li><a href="{{ url('fos_user_security_logout') }}">Logout</a></li>
				{% else %}
					<li><a href="{{ url('fos_user_registration_register') }}">Registrierung</a></li>
					<li><a href="{{ url('fos_user_security_login') }}">Login</a></li>
				{% endif %}
				
				<li><a href="{{ url('caldera_criticalmass_staticpage', {'page': 'impress'}) }}">Impressum</a></li>
				<li><a href="{{ url('caldera_criticalmass_staticpage', {'page': 'privacy'}) }}">Datenschutz</a></li>
				<li><a href="http://blog.criticalmass.in/">Blog</a></li>
			</ul>
		</div>
		<div data-role="panel" id="rightpanel" data-position="right">
		</div>
</body>
</html>