<script>
    var photoList = new Array();

    function addPhoto(id, title, description, path)
    {
        photoList[id] = { id: id, title: title, description: description, path: path};
    }

    function getPhoto(id)
    {
        return photoList[id];
    }
</script>

<div class="row">
    {% for photo in photos %}
        <script>
               addPhoto('{{ photo.getId() }}', 'Penis', '{{ photo.getDescription() }}', '{{ photo.getFilePath() }}');
        </script>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="#" id="photoOpen" class="thumbnail" data-photoid="{{ photo.getId() }}">
                <img src="{{ photo.getFilePath() }}" alt="{{ photo.getDescription() }}" img="img-responsive">
            </a>
        </div>
    {% endfor %}
</div>

<div class="modal fade" id="modalPhoto" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <img id="bigPhoto" src="">
                <p id="photoDescription"></p>
                <a href="#" id="photoEdit"><i class="fa fa-wrench"></i></a>
                <a href="#" id="photoOpen" data-photo="" data-description="" data-photoid="">Voriges</a>
                <a href="#" id="nextPhoto">Nächstes</a>
            </div>
        </div>
    </div>
</div>

{% javascripts
'@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
     window.onload = function() {
     $('a.thumbnail').click(function (event) {
     event.preventDefault();

     var photoId = $(this).data('photoid');

     var photo = getPhoto(photoId);

     $('#bigPhoto').prop('src', photo.path);
     $('#photoDescription').text(photo.description);
     $('#photoEdit').prop('href', 'http://beta.criticalmass.cm/app_dev.php/photos/edit/' + photo.id);

     $('#modalPhoto').modal('show');

     });
     }

</script>