{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block content %}

    <div class="container">
        <img src="{{ photo.getFilePathByDepth(3) }}">
        <br>
        {% if app.getUser().getId() == photo.getUser().getId() %}
            <a class="btn btn-default" href="#" title="Löschen" data-toggle="modal" data-target="#modalDelete"><i class="fa fa-trash"></i></a>
            <a class="btn btn-default" href="{{ path ('criticalmass_gallery_photos_edit', {'photoId' : photo.getId()}) }}" title="Bearbeiten"><i class="fa fa-trash"></i></a>
        {% else %}
            <a class="btn btn-default" href="#" title="Melden" data-toggle="modal" data-target="#modalReport"><i class="fa fa-trash"></i></a>
        {% endif %}
            <p>{{ photo.getDescription() }}</p>

        {{ render(controller('CalderaCriticalmassTimelineBundle:Post:write', { 'photoId': photo.getId() })) }}

        {{ render(controller('CalderaCriticalmassTimelineBundle:Post:list', { 'photoId': photo.getId() })) }}
    </div>

    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Kommentar löschen</h4>
                </div>
                <div class="modal-body">
                    <span id="trackIdLabel"></span>
                    <p>Willst Du dieses Bild wirklich löschen?</p>

                    <a id="deleteButton" href="{{ path ('criticalmass_gallery_photos_delete', {'photoId' : photo.getId()}) }}" class="btn btn-success">Ja, löschen</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalReport" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Bild melden</h4>
                </div>
                <div class="modal-body">
                    <span id="trackIdLabel"></span>
                    <p>Willst Du dieses Bild melden?</p>

                    <a id="deleteButton" href="{{ path ('criticalmass_gallery_photos_report', {'photoId' : photo.getId()}) }}" class="btn btn-success">Ja, löschen</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
