<!DOCTYPE html>
<html lang="de">
<head>
	<title>criticalmass.in</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
    {% javascripts '@CalderaCriticalmassMobileBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if app.session.get('currentCitySlug') %}
    <script>
    var citySlugString = '{{ app.session.get('currentCitySlug') }}';
    </script>
    {% endif %}
    {% stylesheets '@CalderaCriticalmassMobileBundle/Resources/public/css/*.css' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
</head>
<body>
	<div data-role="page">
		<div data-role="header">
			<a href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mainpanel-button-open">Menü</a>
			<h1>{% block title %}{% endblock %}</h1>
			<a href="#rightpanel" data-icon="home" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="rightpanel-button-open">Städte</a>
		</div>

		<section data-role="content" id="content">{% block fos_user_content %}{% endblock %}
		{% block body %}{% endblock %}
		</section>
		<div data-role="panel" id="mainpanel" data-position="left" data-qa-ta="mainpanel">
			<ul data-role="listview" data-theme="d">
				<li data-icon="delete"><a href="#" data-rel="close" data-qa-ta="mainpanel-button-close">Menü schließen</a></li>
				{% if app.session.get('currentCitySlug') %}
				<li data-role="list-divider" data-qa-ta="mainpanel-city-title">{{ app.session.get('city').getTitle }}</li>
				<li><a href="{{ url('caldera_criticalmass_city', {'citySlug': app.session.get('currentCitySlug') }) }}" data-ajax="false" data-qa-ta="mainpanel-menu-city-overview">Übersicht</a></li>
				<li data-role="list-divider">Neuigkeiten</li>
				{% if app.session.get('city').getUrl %}
				<li><a href="{{ app.session.get('city').getUrl }}" data-qa-ta="mainpanel-menu-city-webseite">Website</a></li>
				{% endif %}

				{% if app.session.get('city').getFacebook %}
				<li><a href="{{ app.session.get('city').getFacebook }}" data-qa-ta="mainpanel-menu-city-facebook">facebook</a></li>
				{% endif %}

				{% if app.session.get('city').getTwitter %}
				<li><a href="{{ app.session.get('city').getTwitter }}" data-qa-ta="mainpanel-menu-city-twitter">Twitter</a></li>
				{% endif %}

				{% endif %}
				<li data-role="list-divider">criticalmass.in</li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ url('admin_ride') }}" data-ajax="false" data-qa-ta="mainpanel-menu-administration">Administration</a></li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                <li><a href="{{ url('fos_user_security_logout') }}" data-ajax="false" data-qa-ta="mainpanel-menu-logout">Logout</a></li>
                <li><a href="{{ url('fos_user_profile_edit') }}" data-qa-ta="mainpanel-menu-settings">Einstellungen</a></li>
                <li><a href="{{ url('fos_user_change_password') }}" data-qa-ta="mainpanel-menu-changepassword">Kennwort ändern</a></li>
                <li><a href="{{ url('caldera_criticalmass_pushnotificationsettings') }}" data-qa-ta="mainpanel-menu-pushsettings">Push-Nachrichten</a></li>
                {% else %}
                <li><a href="{{ url('fos_user_registration_register') }}" data-qa-ta="mainpanel-menu-register">Registrierung</a></li>
                <li><a href="{{ url('fos_user_security_login') }}" data-qa-ta="mainpanel-menu-login">Login</a></li>
                <li><a href="{{ url('fos_user_resetting_request') }}" data-qa-ta="mainpanel-menu-resetpassword">Kennwort vergessen?</a></li>
				{% endif %}
				
				<li><a href="{{ url('caldera_criticalmass_staticpage', {'page': 'impress'}) }}" data-qa-ta="mainpanel-menu-impress">Impressum</a></li>
				<li><a href="{{ url('caldera_criticalmass_staticpage', {'page': 'privacy'}) }}" data-qa-ta="mainpanel-menu-privacy">Datenschutz</a></li>
				<li><a href="http://blog.criticalmass.in/">Blog</a></li>
			</ul>
		</div>
		<div data-role="panel" id="rightpanel" data-position="right">
		</div>
</body>
</html>
