{% extends 'Template/StandardTemplate.html.twig' %}

{% if city != null %}
    {% set title = 'Stadt editieren' %}
{% else %}
    {% set title = 'Neue Stadt hinzufügen' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
    {% if city %}
        <li>
            <a href="{{ objectPath(city) }}">
                {{ city.city }}
            </a>
        </li>

        <li class="active">
            {{ title }}
        </li>
    {% else %}
        <li>
            <a href="{{ path('caldera_criticalmass_region_world') }}">
                Verzeichnis
            </a>
        </li>

        {% if (region.parent and region.parent.parent and region.parent.parent.parent and not region.parent.parent.parent.isWorld()) %}
            <li>
                <a href="{{ objectPath(region.parent.parent.parent) }}">
                    {{ region.parent.parent.parent.name }}
                </a>
            </li>
        {% endif %}

        {% if (region.parent and region.parent.parent and not region.parent.parent.isWorld()) %}
            <li>
                <a href="{{ objectPath(region.parent.parent) }}">
                    {{ region.parent.parent.name }}
                </a>
            </li>
        {% endif %}


        {% if (region.parent and not region.parent.isWorld()) %}
            <li>
                <a href="{{ objectPath(region.parent) }}">
                    {{ region.parent.name }}
                </a>
            </li>
        {% endif %}

        <li>
            <a href="{{ objectPath(region) }}">
                {{ region.name }}
            </a>
        </li>

        <li class="active">
            Stadt hinzufügen
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_errors(form) }}
    <div class="container">
        {{ include('Flash/_flash.html.twig') }}

        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-12">
                <h1>{{ title }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 250px;"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Städte-Informationen</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.region) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="">Region:</label>
                            {{ form_widget(form.region, { 'attr' : { 'class': 'form-control'} }) }}
                            <p class="help-block">Wähle das Bundesland, den Kanton oder das County dieser Stadt aus.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.title) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="">Titel:</label>
                            {{ form_widget(form.title, { 'attr' : { 'class': 'form-control'} }) }}
                            <p class="help-block">Gib hier den Titel der Stadt ein, beispielsweise „Critical Mass
                                Hamburg“ oder „Fahrradfreitag Rendsburg“.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.city) %} has-error has-feedback{% endif %}">
                            <button id="search-city-button" class="btn btn-default btn-xs pull-right" type="button">
                                <i class="fa fa-map-marker"></i>
                            </button>
                            <label class="control-label" for="">Name:</label>
                            {{ form_widget(form.city, { 'attr' : { 'class': 'form-control'} }) }}
                            <p class="help-block">Name der Stadt, etwa Hamburg oder Rendsburg.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.description) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="">Beschreibung:</label>
                            {{ form_widget(form.description, { 'attr' : { 'class': 'form-control', 'rows': '10' } }) }}
                            <p class="help-block">Eine kurze, aufs Wesentliche reduzierte Beschreibung der Stadt.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.punchLine) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="">Punchline:</label>
                            {{ form_widget(form.punchLine, { 'attr' : { 'class': 'form-control'} }) }}
                            <p class="help-block">Hier kann ein ganz einprägsamer Satz hin. Sowas wie „We are traffic“
                                oder „Reclaim the streets“ ist ja schon fast Standard.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group{% if form_errors(form.longDescription) %} has-error has-feedback{% endif %}">
                            <label class="control-label" for="">Lange Beschreibung:</label>
                            {{ form_widget(form.longDescription, { 'attr' : { 'class': 'form-control', 'rows': '10' } }) }}
                            <p class="help-block">Hier ist Platz für eine längere und ausführlichere Beschreibung.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Technisches</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="">Forum anzeigen:</label>
                            {{ form_widget(form.enableBoard, { 'attr' : { 'class': 'form-control'} }) }}
                            <p class="help-block">Aktiviere diese Checkbox, um ein Diskussionsforum für diese Stadt zu
                                aktivieren.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2>Header-Grafik</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="">Datei:</label>
                            {{ form_widget(form.imageFile, { 'attr' : { 'class': 'form-control'} }) }}
                            <p class="help-block">Lade hier ein Foto für diese Stadt hoch. <strong>Bitte beachte, dass
                                    du das Urheber- oder Nutzungsrecht an dieser Datei besitzt.</strong> Am besten sind
                                Bildabmessungen von 2.280 mal 500 Pixel.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    {% if city %}
                        <a href="{{ objectPath(city) }}" class="btn btn-default">
                            Abbrechen
                        </a>
                    {% else %}
                        <a href="{{ objectPath(region) }}" class="btn btn-default">
                            Abbrechen
                        </a>
                    {% endif %}
                    <button type="submit" class="btn btn-success">
                        Speichern
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <script type="text/javascript">
        var options = {
            country: '{{ country }}',
            state: '{{ state }}'
        };

        CriticalMass.loadModule('EditCityPage', options, null);
    </script>
{% endblock %}
