{% extends 'Template/StandardTemplate.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% if city != null %}
    {% set title = 'Stadt editieren' %}
{% else %}
    {% set title = 'Neue Stadt hinzufügen' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block breadcrumb %}
    {% if city %}
        {{ bootstrap.breadcrumb_item(city.city, objectPath(city)) }}
        {{ bootstrap.breadcrumb_item(title, '', true) }}
    {% else %}
        {{ bootstrap.breadcrumb_item('Verzeichnis', path('caldera_criticalmass_region_world')) }}

        {% if (region.parent and region.parent.parent and region.parent.parent.parent and not region.parent.parent.parent.isWorld()) %}
            {{ bootstrap.breadcrumb_item(region.parent.parent.parent.name, objectPath(region.parent.parent.parent)) }}
        {% endif %}

        {% if (region.parent and region.parent.parent and not region.parent.parent.isWorld()) %}
            {{ bootstrap.breadcrumb_item(region.parent.parent.name, objectPath(region.parent.parent)) }}
        {% endif %}

        {% if (region.parent and not region.parent.isWorld()) %}
            {{ bootstrap.breadcrumb_item(region.parent.name, objectPath(region.parent)) }}
        {% endif %}

        {{ bootstrap.breadcrumb_item(region.name, objectPath(region)) }}
        {{ bootstrap.breadcrumb_item('Stadt hinzufügen', '', true) }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_errors(form) }}
    <div class="container">
        {{ include('Flash/_flash.html.twig') }}

        {{ form_start(form) }}

        <div class="row">
            <div class="col-12">
                <h2>
                    {{ title }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div id="map" style="height: 250px;"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <h4>
                            Städte-Informationen
                        </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.region) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.title) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button id="search-city-button" class="btn btn-outline-secondary btn-sm pull-right" type="button">
                            <i class="far fa-map-marker"></i>
                        </button>

                        {{ form_row(form.city) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.description) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.punchLine) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.longDescription) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button id="fetch-population-button" class="btn btn-outline-secondary btn-sm pull-right" type="button">
                            <i class="fa fa-users"></i>
                        </button>

                        {{ form_row(form.cityPopulation) }}
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <h4>
                            Technisches
                        </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.enableBoard) }}
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <h4>
                            Header-Grafik
                        </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.imageFile) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="btn-group pull-right">
                    {% if city %}
                        <a href="{{ objectPath(city) }}" class="btn btn-secondary">
                            Abbrechen
                        </a>
                    {% else %}
                        <a href="{{ objectPath(region) }}" class="btn btn-secondary">
                            Abbrechen
                        </a>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">
                        Speichern
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <script type="text/javascript">
        var options = {
            country: '{{ country }}',
            state: '{{ state }}'
        };

        CriticalMass.loadModule('EditCityPage', options, null);
    </script>
{% endblock %}
