{% extends 'Template/StandardTemplate.html.twig' %}

{% if city != null %}
    {% set title = 'Stadt editieren' %}
{% else %}
    {% set title = 'Neue Stadt hinzufügen' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: city.city, url: object_path(city) },
            { label: title },
            { label: 'Verzeichnis', url: path('caldera_criticalmass_region_world') },
            { label: region.parent.parent.parent.name, url: object_path(region.parent.parent.parent) },
            { label: region.parent.parent.name, url: object_path(region.parent.parent) },
            { label: region.parent.name, url: object_path(region.parent) },
            { label: region.name, url: object_path(region) },
            { label: 'Stadt hinzufügen' },
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}

{% block content %}
    {{ form_errors(form) }}
    <div class="container">
        {{ include('Flash/_flash.html.twig') }}

        {{ form_start(form) }}

        <div class="row">
            <div class="col-12">
                <h1>{{ title }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div
                        id="map-city"
                        class="map"
                        style="height:250px;"
                        data-controller="map--form-map"
                        data-map--form-map-center-latitude-value="{{ city.latitude }}"
                        data-map--form-map-center-longitude-value="{{ city.longitude }}"
                        data-map--form-map-zoom-value="10"
                        data-map--form-map-marker-latitude-target-value="{{ form.latitude.vars.id }}"
                        data-map--form-map-marker-longitude-target-value="{{ form.longitude.vars.id }}"
                        data-map--form-map-marker-icon-value="fa-university"
                        data-map--form-map-marker-color-value="blue"
                        data-map--form-map-marker-shape-value="circle"
                        data-map--form-map-marker-prefix-value="fas"
                ></div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12">
                        <h2>Städte-Informationen</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="mb-3{% if form_errors(form.region) %} {% endif %}">
                            <label class="form-label" for="">Region:</label>
                            {{ form_widget(form.region, { 'attr' : { 'class': 'form-control'} }) }}
                            <p class="form-text">Wähle das Bundesland, den Kanton oder das County dieser Stadt aus.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="mb-3{% if form_errors(form.title) %} {% endif %}">
                            <label class="form-label" for="">Titel:</label>
                            {{ form_widget(form.title, { 'attr' : { 'class': 'form-control'} }) }}
                            <p class="form-text">
                                Gib hier den Titel der Stadt ein, beispielsweise „Critical Mass
                                Hamburg“ oder „Fahrradfreitag Rendsburg“.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="mb-3{% if form_errors(form.city) %} {% endif %}">
                            <button
                                    class="btn btn-outline-secondary btn-sm float-end geocode"
                                    type="button"
                                    data-geocoding-query-selector="#city_city"
                                    data-geocoding-query-part-selector="#city_region"
                            >
                                <i class="far fa-map-marker"></i>
                            </button>
                            <label class="form-label" for="">Name:</label>
                            {{ form_widget(form.city, { 'attr' : { 'class': 'form-control'} }) }}
                            <p class="form-text">Name der Stadt, etwa Hamburg oder Rendsburg.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="mb-3{% if form_errors(form.description) %} {% endif %}">
                            <label class="form-label" for="">Beschreibung:</label>
                            {{ form_widget(form.description, { 'attr' : { 'class': 'form-control', 'rows': '10' } }) }}
                            <p class="form-text">Eine kurze, aufs Wesentliche reduzierte Beschreibung der Stadt.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="mb-3{% if form_errors(form.punchLine) %} {% endif %}">
                            <label class="form-label" for="">Punchline:</label>
                            {{ form_widget(form.punchLine, { 'attr' : { 'class': 'form-control'} }) }}
                            <p class="form-text">
                                Hier kann ein ganz einprägsamer Satz hin. Sowas wie „We are traffic“
                                oder „Reclaim the streets“ ist ja schon fast Standard.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="mb-3{% if form_errors(form.longDescription) %} {% endif %}">
                            <label class="form-label" for="">Lange Beschreibung:</label>
                            {{ form_widget(form.longDescription, { 'attr' : { 'class': 'form-control', 'rows': '10' } }) }}
                            <p class="form-text">Hier ist Platz für eine längere und ausführlichere Beschreibung.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12">
                        <h2>Technisches</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label" for="">Forum anzeigen:</label>
                            {{ form_widget(form.enableBoard, { 'attr' : { 'class': 'form-control'} }) }}
                            <p class="form-text">
                                Aktiviere diese Checkbox, um ein Diskussionsforum für diese Stadt zu
                                aktivieren.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <h2>Header-Grafik</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label" for="">Datei:</label>
                            {{ form_widget(form.imageFile, { 'attr' : { 'class': 'form-control'} }) }}
                            <p class="form-text">
                                Lade hier ein Foto für diese Stadt hoch.
                                <strong>Bitte beachte, dass du das Urheber- oder Nutzungsrecht an dieser Datei besitzt.</strong>
                                Am besten sind Bildabmessungen von 2.280 mal 500 Pixel.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <div class="btn-group float-end">
                    {% if city and city.mainSlug %}
                        <a href="{{ object_path(city) }}" class="btn btn-outline-secondary">
                            Abbrechen
                        </a>
                    {% else %}
                        <a href="{{ object_path(region) }}" class="btn btn-outline-secondary">
                            Abbrechen
                        </a>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">
                        Speichern
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
