{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    {% if city %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>
                    {{ 'city.management.missing_heading'|trans({'%city_name%': city.city}) }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="map" class="map" style="height: 150px;"
                     data-map-center-latitude="{{ city.latitude }}"
                     data-map-center-longitude="{{ city.longitude }}"
                     data-map-zoomlevel="13"
                     data-lock-map="true"
                     data-marker-latitude="{{ city.latitude }}"
                     data-marker-longitude="{{ city.longitude }}"
                     data-marker-type="city"
                ></div>
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    {{ 'city.management.missing_no_info'|trans({'%city_name%': city.city}) }}
                </p>

                <p>
                    {{ 'city.management.missing_add_prompt'|trans({'%city_name%': city.city}) }}
                </p>

                <p class="text-center">
                    <a href="{{ path('caldera_criticalmass_city_add_slug', { citySlug: citySlug }) }}" class="btn btn-primary">
                        {{ 'city.management.missing_add_button'|trans({'%city_name%': city.city}) }}
                    </a>
                </p>
            </div>
        </div>
    </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>
                        {{ 'city.management.missing_not_found_heading'|trans }}
                    </h2>
                </div>
            </div>

            <div class="row margin-top-medium">
                <div class="col-md-8 col-md-offset-2">
                    <p>
                        {{ 'city.management.missing_not_found_text'|trans({'%slug%': citySlug})|raw }}
                    </p>

                    <p>
                        {{ 'city.management.missing_try_directory'|trans }}
                    </p>

                    <p class="text-center">
                        <a href="{{ path('caldera_criticalmass_region_world') }}" class="btn btn-primary">
                            {{ 'city.management.missing_to_directory'|trans }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
