{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    {% if city %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>
                    Critical Mass {{ city.city }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="map"
                     data-lock-map="true"
                     style="height: 150px;"
                     data-map-center-latitude="{{ city.latitude }}"
                     data-map-center-longitude="{{ city.longitude }}"
                     data-map-zoomlevel="13"
                     data-map-marker-latitude="{{ city.latitude }}"
                     data-map-marker-longitude="{{ city.longitude }}"
                     data-map-marker-color="red"
                     data-map-marker-shape="circle"
                     data-map-marker-icon="fa-university"
                >
                </div>
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    Es tut uns leid, aber wir haben keine Informationen zu einer Critical Mass in {{ city.city }} in unserer Datenbank.
                </p>

                <p>
                    Du kannst aber jetzt eine Critical Mass für {{ city.city }} hinzufügen:
                </p>

                <p class="text-center">
                    <a href="{{ path('caldera_criticalmass_city_add_slug', { citySlug: citySlug }) }}" class="btn btn-primary">
                        {{ city.city }} hinzufügen
                    </a>
                </p>
            </div>
        </div>
    </div>

        <script type="text/javascript">
            CriticalMass.loadModule('AutoMap', 'map');
        </script>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>
                        Keine Masse gefunden
                    </h2>
                </div>
            </div>

            <div class="row margin-top-medium">
                <div class="col-md-8 col-md-offset-2">
                    <p>
                        Es tut uns leid, aber wir konnten keine Stadt zu deiner Suche nach <code>{{ citySlug }}</code>
                        finden.
                    </p>

                    <p>
                        Bitte versuche, die gesuchte Stadt im Verzeichnis zu finden.
                    </p>

                    <p class="text-center">
                        <a href="{{ path('caldera_criticalmass_region_world') }}" class="btn btn-primary">
                            zum Verzeichnis
                        </a>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
