{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    {% if city %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>
                    Critical Mass {{ city.city }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="map"
                     data-controller="map--map"
                     style="height: 150px;"
                     data-map--map-center-latitude-value="{{ city.latitude }}"
                     data-map--map-center-longitude-value="{{ city.longitude }}"
                     data-map--map-zoom-value="13"
                     data-map--map-lock-map-value="true"
                     data-map--map-marker-latitude-value="{{ city.latitude }}"
                     data-map--map-marker-longitude-value="{{ city.longitude }}"
                     data-map--map-marker-type-value="city"
                ></div>
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    Es tut uns leid, aber wir haben keine Informationen zu einer Critical Mass in {{ city.city }} in unserer Datenbank.
                </p>

                <p>
                    Du kannst aber jetzt eine Critical Mass für {{ city.city }} hinzufügen:
                </p>

                <p class="text-center">
                    <a href="{{ path('caldera_criticalmass_city_add_slug', { citySlug: citySlug }) }}" class="btn btn-primary">
                        {{ city.city }} hinzufügen
                    </a>
                </p>
            </div>
        </div>
    </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>
                        Keine Masse gefunden
                    </h2>
                </div>
            </div>

            <div class="row margin-top-medium">
                <div class="col-md-8 col-md-offset-2">
                    <p>
                        Es tut uns leid, aber wir konnten keine Stadt zu deiner Suche nach <code>{{ citySlug }}</code>
                        finden.
                    </p>

                    <p>
                        Bitte versuche, die gesuchte Stadt im Verzeichnis zu finden.
                    </p>

                    <p class="text-center">
                        <a href="{{ path('caldera_criticalmass_region_world') }}" class="btn btn-primary">
                            zum Verzeichnis
                        </a>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
