{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ride</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Hastime</th>
                <td>{{ entity.hasTime }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ entity.time|date('H:i') }}</td>
            </tr>
            <tr>
                <th>Haslocation</th>
                <td>{{ entity.hasLocation }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ entity.location }}</td>
            </tr>
            <tr>
                <th>Map</th>
                <td>{{ entity.map }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_ride') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_ride_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_ride_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
