{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% if city != null %}
    {% set title = 'Stadt editieren' %}
{% else %}
    {% set title = 'Neue Stadt hinzufügen' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        {% if city != null %}
        <ol class="breadcrumb">
            <li><a href="#">criticalmass.in</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_show', { citySlug: city.getMainSlugString() }) }}">{{ city.getCity() }}</a></li>
            <li class="active">Stadt editieren</li>
        </ol>
        {% else %}
        <ol class="breadcrumb">
            <li><a href="#">criticalmass.in</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
            <li class="active">Stadt hinzufügen</li>
        </ol>
        {% endif %}

        {{ form_start(form) }}

        <div class="row">
            <h1>{{ title }}</h1>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 250px;"></div>
            </div>
            {% javascripts
            '@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script>
                window.onload = function()
                {
                    {% if city != null %}
                    var mapCenter = L.latLng({{ city.getLatitude() }}, {{ city.getLongitude() }});
                    {% else %}
                    var mapCenter = L.latLng(51.163375, 10.447683);
                    {% endif %}

                    var map = L.map('map');
                    var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    });

                    tileLayer.addTo(map);

                    {% if city != null %}
                    map.setView(mapCenter, 12);
                    {% else %}
                    map.setView(mapCenter, 6);
                    {% endif %}

                    var locationIcon = L.icon({
                        iconUrl: '/images/marker/marker-red.png',
                        iconRetinaUrl: '/images/marker/marker-red-2x.png',
                        iconSize: [25, 41],
                        iconAnchor: [13, 41],
                        popupAnchor: [0, -36],
                        shadowUrl: '/images/marker/defaultshadow.png',
                        shadowSize: [41, 41],
                        shadowAnchor: [13, 41]
                    });


                    var standardLocationIcon = L.icon({
                        iconUrl: '/images/marker/marker-yellow.png',
                        iconRetinaUrl: '/images/marker/marker-yellow-2x.png',
                        iconSize: [25, 41],
                        iconAnchor: [13, 41],
                        popupAnchor: [0, -36],
                        shadowUrl: '/images/marker/defaultshadow.png',
                        shadowSize: [41, 41],
                        shadowAnchor: [13, 41]
                    });

                    var locationMarker = L.marker(mapCenter, { draggable: 'true', icon: locationIcon });
                    locationMarker.addTo(map);
                    locationMarker.bindPopup('Schieb mich auf den Mittelpunkt der Stadt!');
                    locationMarker.openPopup();

                    locationMarker.on('dragend', function(event){
                        var marker = event.target;
                        var position = marker.getLatLng();

                        $('#city_latitude').val(position.lat);
                        $('#city_longitude').val(position.lng);
                    });

                    var standardLocationMarker = null;

                    function addStandardLocationMarker() {
                        var standardLocation = L.latLng($('#city_standardLatitude').val(), $('#city_standardLongitude').val());

                        standardLocationMarker = L.marker(standardLocation, {
                            draggable: 'true',
                            icon: standardLocationIcon
                        });
                        standardLocationMarker.addTo(map);
                        standardLocationMarker.bindPopup('Schieb mich auf den Treffpunkt der Touren!');
                        standardLocationMarker.openPopup();

                        standardLocationMarker.on('dragend', function (event) {
                            var marker = event.target;
                            var position = marker.getLatLng();

                            $('#city_standardLatitude').val(position.lat);
                            $('#city_standardLongitude').val(position.lng);
                        });
                    }

                    function removeStandardLocationMarker()
                    {
                        map.removeLayer(standardLocationMarker);
                    }

                    {% if city.getIsStandardable() %}
                    addStandardLocationMarker();
                    {% endif %}

                    $('#city_isStandardable').on('click', function()
                    {
                        if ($(this).prop('checked'))
                        {
                            addStandardLocationMarker();
                        }
                        else
                        {
                            removeStandardLocationMarker();
                        }
                    });
                };
            </script>
        </div>

        <div class="row">
             <h2>Städte-Informationen</h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group{% if form_errors(form.title) %} has-error has-feedback{% endif %}">
                        <label class="control-label" for="">Titel:</label>
                        {{ form_widget(form.title, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group{% if form_errors(form.city) %} has-error has-feedback{% endif %}">
                        <label class="control-label" for="">Name:</label>
                        {{ form_widget(form.city, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group{% if form_errors(form.description) %} has-error has-feedback{% endif %}">
                        <label class="control-label" for="">Beschreibung:</label>
                        {{ form_widget(form.description, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group{% if form_errors(form.punchLine) %} has-error has-feedback{% endif %}">
                        <label class="control-label" for="">Punchline:</label>
                        {{ form_widget(form.punchLine, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group{% if form_errors(form.longDescription) %} has-error has-feedback{% endif %}">
                        <label class="control-label" for="">Lange Beschreibung:</label>
                        {{ form_widget(form.longDescription, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="form-group{% if form_errors(form.url) %} has-error has-feedback{% endif %}">
                        <label class="control-label" for="">Webseite:</label>
                        {{ form_widget(form.url, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group{% if form_errors(form.facebook) %} has-error has-feedback{% endif %}">
                        <label class="control-label" for="">Seite auf facebook:</label>
                        {{ form_widget(form.facebook, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group{% if form_errors(form.twitter) %} has-error has-feedback{% endif %}">
                        <label class="control-label" for="">twitter:</label>
                        {{ form_widget(form.twitter, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group{% if form_errors(form.cityPopulation) %} has-error has-feedback{% endif %}">
                        <label class="control-label" for="">Einwohnerzahl:</label>
                        {{ form_widget(form.cityPopulation, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2>Tour-Informationen</h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group{% if form_errors(form.isStandardable) %} has-error has-feedback{% endif %}">
                        <label class="control-label" for="">Hat regelmäßige Touren:</label>
                        {{ form_widget(form.isStandardable, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group{% if form_errors(form.standardDayOfWeek) %} has-error has-feedback{% endif %}">
                        <label class="control-label" for="">Wochentag der Touren:</label>
                        {{ form_widget(form.standardDayOfWeek, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group{% if form_errors(form.standardWeekOfMonth) %} has-error has-feedback{% endif %}">
                        <label class="control-label" for="">Woche der Touren:</label>
                        {{ form_widget(form.standardWeekOfMonth, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group{% if form_errors(form.standardTime) %} has-error has-feedback{% endif %}">
                        <label class="control-label" for="">Uhrzeit der Touren:</label>
                        {{ form_widget(form.standardTime, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group{% if form_errors(form.standardLocation) %} has-error has-feedback{% endif %}">
                        <label class="control-label" for="">Treffpunkt der Touren:</label>
                        {{ form_widget(form.standardLocation, { 'attr' : { 'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-success pull-right">Speichern</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}