{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Städte-Übersicht{% endblock %}
{% block content %}
    <script>
        function sortCityList(sortFunction)
        {
            $('#cityList li').sort(sortFunction).map(function () {
                return $(this).closest('#cityList li');
            }).each(function (_, container) {
                $(container).parent().append(container);
            });
        }

        window.onload = function() {
            $('#sortByCity').on('click', function()
            {
                var sortFunction = function(a, b)
                {
                    return ($(a).data('cityname') > $(b).data('cityname') ? 1 : -1);
                };

                sortCityList(sortFunction);
            });


            $('#sortByParticipants').on('click', function()
            {
                alert('jo!');
            });


            $('#sortByDistance').on('click', function()
            {
                function successCallback(geolocationResult)
                {
                    var latitude = geolocationResult.coords.latitude;
                    var longitude = geolocationResult.coords.longitude;

                    var sortFunction = function(a, b)
                    {
                        var distanceA = Math.sqrt(Math.pow(latitude - $(a).data('latitude'), 2) + Math.pow(longitude - $(a).data('longitude'), 2));
                        var distanceB = Math.sqrt(Math.pow(latitude - $(b).data('latitude'), 2) + Math.pow(longitude - $(b).data('longitude'), 2));

                        return distanceA - distanceB;
                    };

                    sortCityList(sortFunction);
                }

                navigator.geolocation.getCurrentPosition(successCallback);
            });


            $('#sortByNextRide').on('click', function()
            {
                alert('jo!');
            });
        }
    </script>
    <div class="container">
        <h1>Die nächste Masse ist ganz nah.</h1>
        <p class="lead">Die Critical-Mass-Bewegung ist in beinahe jeder größeren Stadt zu Hause.</p>

        <p>Auf den Sattel, fertig, los: Die folgende Liste enthält mittlerweile {{ cities|length }} Städte. Bitte bedenke, dass die folgenden Informationen aus verschiedenen Quellen im Internet stammen und womöglich veraltet oder schlichtweg falsch sein können. Überprüfe bitte vorher die einschlägigen Quellen wie facebook oder twitter, bevor du dich auf den Weg machst.</p>

        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                Sortierung
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li id="sortByCity" role="presentation"><a role="menuitem" tabindex="-1" href="#">Stadt</a></li>
                <li id="sortByParticipants" role="presentation"><a role="menuitem" tabindex="-1" href="#">Teilnehmerzahl</a></li>
                <li id="sortByDistance" role="presentation"><a role="menuitem" tabindex="-1" href="#">Entfernung</a></li>
                <li id="sortByNextRide" role="presentation"><a role="menuitem" tabindex="-1" href="#">nächster Tour</a></li>
            </ul>
        </div>

        {#
        <div id="cityList">
            {% for city in cities %}
                <div class="col-md-4 city" data-cityName="{{ city.getCity() }}" data-cityslug="{{ city.getMainSlugString() }}" data-latitude="{{ city.getLatitude() }}" data-longitude="{{ city.getLongitude() }}">
                    <a href="{{ path('caldera_criticalmass_desktop_city_show', {'citySlug': city.getMainSlugString() }) }}"><h2>{{ city.getCity() }}</h2></a>
                    <p>{{ city.getDescription() }}</p>
                    <p><small>{{ city.getEventDateTimeString() }}</small></p>
                </div>
            {% endfor %}
        </div>
        #}
        <table class="table">
            <tr>
                <th>Stadt</th>
                <th>Tourplan</th>
                <th>Touren</th>
            </tr>
            {% for city in cities %}
            <tr class="city" data-cityName="{{ city.getCity() }}" data-cityslug="{{ city.getMainSlugString() }}" data-latitude="{{ city.getLatitude() }}" data-longitude="{{ city.getLongitude() }}">
                <td><a href="{{ path('caldera_criticalmass_desktop_city_show', {'citySlug': city.getMainSlugString() }) }}">{{ city.getCity() }}</a></td>
                <td>{{ city.getEventDateTimeString() }}</td>
                <td>{{ city.countRides() }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}