{% extends 'CalderaCriticalmassDesktopBundle::BaseTemplate.html.twig' %}

{% block body %}
    <div class="bg"></div>
    <div class="jumbotron" id="cityListJumbotron">
        <h1>Critical Mass in Deutschland</h1>
        <p>Die Critical Mass findet überall statt. Auch in deiner Nähe.</p>
    </div>

    <div class="container">
        <ul class="row">
            {% for city in cities %}
                <li class="col-md-4" data-cityslug="{{ city.getMainSlugString() }}" data-latitude="{{ city.getLatitude() }}" data-longitude="{{ city.getLongitude() }}">
                    <a href="#"><h2>{{ city.getCity() }}</h2></a>
                    <p>{{ city.getDescription() }}</p>
                    <p>{{ city.getEventDateTimeLocationString() }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}