{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}{{ city.getTitle }}{% endblock %}
{% block content %}
    <div class="container">

        <ul class="nav nav-tabs" id="cityModalTabs">
            <li class="active"><a href="#cityInfoTab" data-toggle="tab"><i class="fa fa-question-circle"></i> {{ city.getCity() }}</a></li>
            <li><a href="#recentRidesTab" data-toggle="tab"><i class="fa fa-envelope"></i> Vergangene Touren</a></li>
        </ul>

        <div class="tab-content" id="cityModalTabsContent" style="padding-top: 10px;">
            <div class="tab-pane fade active in" id="cityInfoTab">
                <div class="jumbotron">
                    <h1>{{ city.getTitle() }}</h1>
                    <p>{{ city.getDescription() }}</p>
                </div>

                {% if currentRide.getTitle() %}
                    <h1>{{ currentRide.getTitle() }}</h1>
                {% else %}
                    <h1>{{ currentRide.getCity().getTitle() }}</h1>
                {% endif %}
                {% if currentRide.getDescription() %}
                    <p>{{ currentRide.getDescription() }}</p>
                {% endif %}

                <h2>Nächste Tour</h2>

                <div class="row">
                    <div class="col-lg-12">
                        <label>Datum:</label>
                        <span>{{ currentRide.getDateTime.format('d.m.Y') }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Uhrzeit:</label>
                        <span>{{ currentRide.getDateTime.format('H:i') }}</span>
                    </div>
                </div>
                <div class="row">
                    <div id="map" style="width: 100%; height: 300px;"></div>
                    {% javascripts
                    '@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
                    %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                    <script>
                        {% if currentRide.hasLocation() %}
                        var mapCenter = L.latLng({{ currentRide.getLatitude() }}, {{ currentRide.getLongitude() }});
                        {% else %}
                        var mapCenter = L.latLng({{ currentRide.getCity().getLatitude() }}, {{ currentRide.getCity().getLongitude() }});
                        {% endif %}
                        var map = L.map('map');
                        var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                        });

                        tileLayer.addTo(map);
                        map.setView(mapCenter, 10);

                        var marker = L.marker(mapCenter);
                        marker.addTo(map);
                        marker.bindPopup('<strong>Treffpunkt:</strong> {{ currentRide.getLocation() }}');
                        marker.openPopup();
                    </script>
                </div>
            </div>
            <div class="tab-pane fade in" id="recentRidesTab">
                <h2>Vergangene Touren</h2>

                <table class="table">
                    <tr>
                        <th>Datum</th>
                        <th>Titel</th>
                    </tr>
                    {% for ride in rides %}
                    <tr>
                        <td><a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': city.getMainSlugString(), 'rideDate': ride.getDateTime().format('Y-m-d') } ) }}">{{ ride.getDateTime.format('d. m. Y') }}</a></td>
                        <td>{{ ride.getTitle() }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}