{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% set hasSocialMedia = city.getUrl() or city.getFacebook() or city.getTwitter() %}
{% set hasCurrentRide = city.getCurrentRide() != null %}

{% block title %}{{ city.getTitle }}{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">criticalmass.in</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">St채dteliste</a></li>
            <li class="active">{{ city.getCity() }}</li>
        </ol>

        <ul class="nav nav-tabs" id="cityModalTabs">
            {% if hasCurrentRide %}
            <li><a href="#cityInfoTab" data-toggle="tab"><i class="fa fa-question-circle"></i> {{ city.getCity() }}</a></li>
            <li class="active"><a href="#nextRideTab" data-toggle="tab"><i class="fa fa-calendar"></i> N채chste Tour</a></li>
            {% else %}
            <li class="active"><a href="#cityInfoTab" data-toggle="tab"><i class="fa fa-question-circle"></i> {{ city.getCity() }}</a></li>
            {% endif %}
            <li><a href="#recentRidesTab" data-toggle="tab"><i class="fa fa-road"></i> Vergangene Touren <span class="badge">{{ rides|length }}</span></a></li>
            <li><a href="#timelineTab" data-toggle="tab"><i class="fa fa-pencil"></i> Kommentare <span class="badge">{{ city.getPosts()|length }}</span></a></li>
        </ul>

        <div class="tab-content" id="cityModalTabsContent" style="padding-top: 10px;">
            {% if hasCurrentRide %}
            <div class="tab-pane fade in" id="cityInfoTab">
            {% else %}
            <div class="tab-pane fade in active" id="cityInfoTab">
            {% endif %}
                <div class="jumbotron">
                    <h1>{{ city.getTitle() }}</h1>
                    <p>{{ city.getDescription() }}</p>
                </div>

                <div class="row">
                    {% if hasSocialMedia %}
                    <div class="col-lg-8">
                    {% else %}
                    <div class="col-lg-12">
                    {% endif %}
                    {% if city.getLongDescription() %}
                        {{ city.getLongDescription()|nl2br }}
                    {% else %}
                        <div class="alert alert-info" role="alert">Hier fehlen noch einige kluge Worte 체ber diese Stadt.</div>
                    {% endif %}
                    </div>
                    {% if hasSocialMedia %}
                    <div class="col-lg-4">
                        <h2>Mehr im Netz</h2>

                        {% if city.getUrl() %}
                        <a class="btn btn-link" href="{{ city.getUrl() }}">Homepage</a>
                        {% endif %}

                        {% if city.getFacebook() %}
                        <a class="btn btn-link" href="{{ city.getFacebook() }}">facebook</a>
                        {% endif %}

                        {% if city.getTwitter() %}
                        <a class="btn btn-link" href="{{ city.getTwitter() }}">twitter</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if hasCurrentRide %}
            <div class="tab-pane fade in active" id="nextRideTab">
                {% if city.getCurrentRide().getTitle() %}
                    <h1>{{ city.getCurrentRide().getTitle() }}</h1>
                {% else %}
                    <h1>{{ city.getCurrentRide().getCity().getTitle() }}</h1>
                {% endif %}
                {% if city.getCurrentRide().getDescription() %}
                    <p>{{ city.getCurrentRide().getDescription() }}</p>
                {% endif %}

                <div class="row">
                    <div class="col-lg-12">
                        <label>Datum:</label>
                        <span>{{ city.getCurrentRide().getDateTime.format('d.m.Y') }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Uhrzeit:</label>
                        <span>{{ city.getCurrentRide().getDateTime.format('H:i') }}</span>
                    </div>
                </div>
                {% if city.getCurrentRide().getWeatherForecast() %}
                <div class="row">
                    <div class="col-lg-12">
                        <label>Wetter:</label>
                        <span>{{ city.getCurrentRide().getWeatherForecast() }}</span>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div id="map" class="col-md-12" style="height: 300px;"></div>
                    {% javascripts
                    '@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
                    %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                    <script>
                        var map = L.map('map');
                        var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                        });

                        tileLayer.addTo(map);

                        {% if city.getCurrentRide().hasLocation() %}
                        var mapCenter = L.latLng({{ city.getCurrentRide().getLatitude() }}, {{ city.getCurrentRide().getLongitude() }});

                        var locationIcon = L.icon({
                            iconUrl: '/images/marker/marker-red.png',
                            iconRetinaUrl: '/images/marker/marker-red-2x.png',
                            iconSize: [25, 41],
                            iconAnchor: [13, 41],
                            popupAnchor: [0, -36],
                            shadowUrl: '/images/marker/defaultshadow.png',
                            shadowSize: [41, 41],
                            shadowAnchor: [13, 41]
                        });

                        var marker = L.marker(mapCenter, { icon: locationIcon });
                        marker.addTo(map);
                        marker.bindPopup('<strong>Treffpunkt:</strong> {{ city.getCurrentRide().getLocation() }}');
                        marker.openPopup();
                        {% else %}
                        var mapCenter = L.latLng({{ city.getLatitude() }}, {{ city.getLongitude() }});

                        var cityIcon = L.icon({
                            iconUrl: '/images/marker/marker-gray.png',
                            iconRetinaUrl: '/images/marker/marker-gray-2x.png',
                            iconSize: [25, 41],
                            iconAnchor: [13, 41],
                            popupAnchor: [0, -36],
                            shadowUrl: '/images/marker/defaultshadow.png',
                            shadowSize: [41, 41],
                            shadowAnchor: [13, 41]
                        });

                        var marker = L.marker(mapCenter, { icon: cityIcon });
                        marker.addTo(map);
                        marker.bindPopup('<p>Der Treffpunkt ist leider noch nicht bekannt :(');
                        marker.openPopup();
                        {% endif %}

                        map.setView(mapCenter, 15);
                    </script>
                </div>
            </div>
            {% endif %}
            <div class="tab-pane fade in" id="recentRidesTab">
                <h1>Vergangene Touren</h1>

                <table class="table">
                    <tr>
                        <th>Datum</th>
                        <th>Titel</th>
                        <th>Teilnehmer</th>
                        <th>Streckenl채nge</th>
                    </tr>
                    {% for ride in rides %}
                    <tr>
                        <td><a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': city.getMainSlugString(), 'rideDate': ride.getDateTime().format('Y-m-d') } ) }}">{{ ride.getDateTime.format('d. m. Y') }}</a></td>
                        <td><a href="{{ path('caldera_criticalmass_desktop_ride_show', { 'citySlug': city.getMainSlugString(), 'rideDate': ride.getDateTime().format('Y-m-d') } ) }}">{% if ride.getTitle() %}{{ ride.getTitle() }}{% else %}{{ city.getTitle() }}{% endif %}</a></td>
                        <td>{% if ride.getEstimatedParticipants() > 0 %}{{ ride.getEstimatedParticipants() }}{% endif %}</td>
                        <td>{% if ride.getEstimatedDistance() > 0 %}{{ ride.getEstimatedDistance() }} Kilometer{% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="tab-pane fade in" id="timelineTab">
                <h1>Kommentare</h1>
                {{ render(controller('CalderaCriticalmassTimelineBundle:Post:write', { 'cityId': city.getId() })) }}

                {{ render(controller('CalderaCriticalmassTimelineBundle:Post:list', { 'cityId': city.getId() })) }}

            </div>
        </div>
    </div>
{% endblock %}