{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}{{ city.getTitle }}{% endblock %}

{% set hasSocialMedia = city.getUrl() or city.getFacebook() or city.getTwitter() %}
{% set hasCurrentRide = city.getCurrentRide() != null %}
{% set hasRides = rides|length > 0 %}

{% block additionalFooterElements %}
    {% javascripts
    '@CalderaCriticalmassGalleryBundle/Resources/public/js/external/*.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_desktop_index') }}">criticalmass.in</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
            <li class="active">{{ city.getCity() }}</li>
        </ol>

        <ul class="nav nav-tabs" id="cityModalTabs">
            {% if hasCurrentRide %}
            <li><a href="#cityInfoTab" data-toggle="tab"><i class="halflings flag"></i> {{ city.getCity() }}</a></li>
            <li class="active"><a href="#nextRideTab" data-toggle="tab"><i class="halflings calendar"></i> Nächste Tour</a></li>
            {% else %}
            <li class="active"><a href="#cityInfoTab" data-toggle="tab"><i class="halflings info-sign"></i> {{ city.getCity() }}</a></li>
            {% endif %}
            {% if hasRides %}
            <li><a href="#recentRidesTab" data-toggle="tab"><i class="halflings road"></i> Tourübersicht <span class="badge">{{ rides|length }}</span></a></li>
            {% endif %}
            <li><a href="#timelineTab" data-toggle="tab"><i class="halflings pencil"></i> Kommentare <span class="badge">{{ city.getPosts()|length }}</span></a></li>
        </ul>

        <div class="tab-content" id="cityModalTabsContent" style="padding-top: 10px;">
            {% include('CalderaCriticalmassDesktopBundle:Common/City:CityTab.html.twig') with { 'city': city } %}
            {% include('CalderaCriticalmassDesktopBundle:Common/City:CurrentRideTab.html.twig') with { 'city': city } %}
            {% include('CalderaCriticalmassDesktopBundle:Common/City:RidesTab.html.twig') with { 'city': city } %}
            {% include('CalderaCriticalmassDesktopBundle:Common/City:CommentsTab.html.twig') with { 'city': city } %}
        </div>
    </div>
{% endblock %}