<div id="frontpage-carousel" class="carousel slide" data-interval="4000" data-ride="carousel">
    <div class="carousel-inner">
        {% for frontpageTeaser in frontpageTeaserList %}
            <div class="item{% if loop.first %} active{% endif %}"
                 style="background-image: url({{ vich_uploader_asset(frontpageTeaser, 'imageFile')|imagine_filter('frontpage_teaser_large') }})">
                <div class="carousel-caption">
                    {% if frontpageTeaser.headline %}
                        <h2>
                            {{ frontpageTeaser.headline }}
                        </h2>
                    {% endif %}

                    {% if frontpageTeaser.text %}
                        <p class="lead">
                            {{ frontpageTeaser.text }}
                        </p>
                    {% endif %}

                    <div class="btn-group" role="group">
                        {% for button in frontpageTeaser.buttons %}
                            <a class="btn {{ button.class }}" role="button"
                               href="{{ button.link }}">
                                {% if button.icon %}
                                    <i class="fa {{ button.icon }}"></i>
                                {% endif %}
                                {% if button.caption %}
                                    {{ button.caption }}
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <a class="left carousel-control" href="#frontpage-carousel" data-slide="prev"></a>
    <a class="right carousel-control" href="#frontpage-carousel" data-slide="next"></a>
</div>
