{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% if app2 != null %}
    {% set title = 'App editieren' %}
{% else %}
    {% set title = 'Neue App hinzuf端gen' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {{ form_errors(form) }}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_desktop_index') }}">criticalmass.in</a></li>
            <li><a href="{{ path('sonata_user_profile_show') }}">Dein Benutzerkonto</a></li>
            <li><a href="{{ path('caldera_criticalmass_api_app_list') }}">Deine Apps</a></li>
            {% if app2 != null %}
            <li class="active">App editieren</li>
            {% else %}
            <li class="active">App hinzuf端gen</li>
            {% endif %}
        </ol>

        <div class="row">
            <div class="col-md-12">
                <h1>{{ title }}</h1>
            </div>
        </div>

        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-12">
                <div class="form-group{% if form_errors(form.title) %} has-error has-feedback{% endif %}">
                    <label class="control-label" for="">Titel:</label>
                    {{ form_widget(form.title, { 'attr' : { 'class': 'form-control'} }) }}
                    <p class="help-block">Gib hier den Titel deiner App ein. Das kann auch einfach die Bezeichnung einer Webseite oder dein eigener Name sein.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group{% if form_errors(form.description) %} has-error has-feedback{% endif %}">
                    <label class="control-label" for="">Beschreibung:</label>
                    {{ form_widget(form.description, { 'attr' : { 'class': 'form-control'} }) }}
                    <p class="help-block">Beschreibe kurz, worum es in deiner App geht.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group{% if form_errors(form.url) %} has-error has-feedback{% endif %}">
                    <label class="control-label" for="">Webseite:</label>
                    {{ form_widget(form.url, { 'attr' : { 'class': 'form-control'} }) }}
                    <p class="help-block">Wenn du eine Webseite betreibst oder deine App 端ber eine Webseite verbreitest, gib bitte hier deren Adresse ein.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group{% if form_errors(form.enabled) %} has-error has-feedback{% endif %}">
                    <label class="control-label" for="">Aktivierung:</label>
                    {{ form_widget(form.enabled, { 'attr' : { 'class': 'form-control'} }) }}
                    <p class="help-block">Schalte hier den Zugriff auf die Api ein oder aus. Wenn du den Zugriff abschaltest, kannst du mit deinem Zugriffsschl端ssel nicht mehr auf die Api zugreifen.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success pull-right">Speichern</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
