{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Deine Apps{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-success pull-right" href="{{ path('caldera_criticalmass_api_app_add') }}" style="margin-top: 24px;"><i class="halflings plus"></i>&nbsp;&nbsp;App hinzufügen</a>
                <h1>Alles ist aus Crowd gemacht.</h1>
                <p class="lead">ad</p>
            </div>
        </div>

        <table id="cityList" class="table">
            <tr id="tableHeaderRow">
                <th>Titel</th>
                <th>Erstellt</th>
                <th>Zugriffsschlüssel</th>
                <th>Aufrufe</th>
                <th>Status</th>
                <th></th>
            </tr>
            {% for app in apps %}
            <tr>
                {% if app.getUrl() %}
                <td><a href="{{ app.getUrl() }}">{{ app.getTitle() }}</a></td>
                {% else %}
                <td>{{ app.getTitle() }}</td>
                {% endif %}
                <td>{{ app.getCreationDateTime().format('Y-m-d H:i') }}</td>
                <td><code class="hidden">{{ app.getToken() }}</code><button class="showTokenButton btn btn-xs btn-default">anzeigen</button></td>
                <td>{{ app.getApiCalls() }}</td>
                <td>{% if app.getApproved() == 1 %}{% if app.getEnabled == 1 %}aktiv{% else %}inaktiv{% endif %}{% else %}Warten auf Freischaltung{% endif %}</td>
                <td><a href="{{ path('caldera_criticalmass_api_app_edit', { 'appId': app.getId() }) }}" class="btn btn-default btn-xs"><i class="halflings uni-wrench"></i></a></td>
            </tr>
            {% endfor %}
        </table>
        <script type="text/javascript">
            window.onload = function()
            {
                $('.showTokenButton').on('click', function()
                {
                    $(this).prev().removeClass('hidden');
                    $(this).hide();
                });
            };
        </script>
    </div>
{% endblock %}